[2017-06-08 18:13] ace-n opened #2368 "@google-cloud/dlp: event-based scanning snippet doesn't return findings"
[This snippet](https://github.com/swcloud/api-client-staging/blob/nodejs-dlp/generated/nodejs/dlp/src/v2beta1/dlp_service_client.js#L355-L377) doesn't return any findings.

[2017-06-08 19:10] ofrobots commented on #2251
@travi Thanks for the feedback. That is very useful. The state of docs is indeed not as great as it ought to be and we are taking a look at making it better.

A question for the specific issue for request logging for `hapi` at hand: If we provided a `hapi` plugin (rather than a `good` plugin), would that be useful?

[2017-06-09 01:34] swcloud opened #2370 "Add GCS bucket labels feature"

[2017-06-09 01:35] swcloud opened #2371 "Add GCS Requester Pays feature"

[2017-06-09 08:02] oshalygin opened #2372 "Attaching event handlers to a writeable stream?"
Thanks for stopping by to let us know something could be better!

#### Environment details

  - OS: OSX
  - Node.js version: 8.0.0
  - npm version: using yarn
  - google-cloud-node version:  1.1.1

#### Steps to reproduce

It doesn't appear that the writeStream exposes an event handler via the `.on` function.  Any plans or am I doing something wrong?

[code]
This is the Node API for writeable stre

[2017-06-09 08:03] MarkHerhold commented on #1974
@lukesneeringer @stephenplusplus
Any progress or new estimates?

[2017-06-09 10:52] stephenplusplus commented on #1974
A redesign is currently in progress. Expect a PR within the coming week or so.

[2017-06-09 11:34] stephenplusplus commented on #2372
Hello @oshalygin! I'm not sure exactly what's going on there, but we use and support the native Stream APIs. I put this script together to try to reproduce, and couldn't:

[code]

😆

[2017-06-09 18:38] JoshFerge commented on #2356
@stephenplusplus I am also seeing this error in our production environment. let me know if there's any more info you need that would be helpful.

[2017-06-10 02:24] kilianc opened #2373 "data integrity validation fails in container w/ node 7.10"
#### Environment details

  - OS: alpine *(official `node:7.10.0-alpine` image)*
  - Node.js version: 7.10
  - npm version: n/a
  - google-cloud-node version: 1.1.1

#### Steps to reproduce

  1. require `google-cloud`
  2. upload a file (from both API or console) and then `await file.download()`

N.B.

[code]

Will correctly download the file.

--- edit ---

The correct string is `crc32c` not `cr

[2017-06-10 13:12] richardowright opened #2374 "Extreme Latency when Using Google Cloud Functions and Cloud Datastore"
#### Environment details

  - OS: Google Cloud Functions
  - Region: US Central
  - google-cloud-node version: 1.0.2

#### Steps to reproduce
I experience high latency (~1 to 2 seconds) with pretty much every action.

Simple example  (runs through bable prior to deploy) -

[code]

[2017-06-10 13:26] stephenplusplus commented on #2374
Can you see if subsequent calls also have a lag? The first request has to sort out the authentication details, so it's known to be slower.

[2017-06-10 13:28] stephenplusplus commented on #2373
I haven't been able to reproduce this with the same versions, but Windows. Can you be sure to clear out the node_modules directory and do a full re-install of all dependencies? This may be related to a problem that was fixed recently in a sub-dependency.

[2017-06-10 14:20] richardowright commented on #2374
If I call the datastore API within the same function call, I do see a reduction in subsequent call time -

[code]

I've also discovered that using a key file (i.e. creating a service account and specifying keyFilename) decreases the first call time from ~1.4 seconds to 0.85 s.

However, I'm still at about 0.8s per HTTP call which is still quite high.

[2017-06-10 23:20] kilianc commented on #2373
@stephenplusplus I did try a fresh install with yarn and this is the tree:

[code]

Still no luck. Should I push an image with a failing case?

[2017-06-11 10:06] zyma opened #2375 "ctytttctyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyedx54sxw3 cgtcxgxcxcxcxgxcg,...gkkkkkkkkkkkkkkkkkkkkkkkkkkkksxlg"
Thanks for stopping by to let us know something could be better!

Please run down the following list and make sure you've tried the usual "quick fixes":

  - Search the issues already opened: https://github.com/GoogleCloudPlatform/google-cloud-node/issues
  - Search StackOverflow: http://stackoverflow.com/questions/tagged/google-cloud-platform+node.js
  - Check our Troubleshooting guide: https://g

[2017-06-11 11:09] #2375 closed

[2017-06-11 18:26] kilianc commented on #2373
@stephenplusplus also I just edited the post the base image is: `node:7.10-alpine`

[2017-06-12 12:37] stephenplusplus commented on #2373
That would be great. I have tried again inside a Docker container, using that base image, and it succeeds.

[2017-06-12 12:40] stephenplusplus commented on #2374
Yes, unfortunately. I'll close the issue, as we can't do anything within the client library. If any ideas come to mind for how this can be addressed, feel free to discuss.

[2017-06-12 12:41] stephenplusplus commented on #2367
This issue was moved to googleapis/gax-nodejs#141

[2017-06-12 12:41] #2367 closed

[2017-06-12 13:25] stephenplusplus commented on #1889
We're about to have a pretty big overhaul to the Pub/Sub API. This feature will not be implemented as originally planned. Please stay tuned for the PR / release of the new API.

[2017-06-12 13:25] #1889 closed

[2017-06-12 13:28] stephenplusplus commented on #1942
We're about to have a pretty big overhaul to the Pub/Sub API. This feature will not be implemented as originally planned. Please stay tuned for the PR / release of the new API.

[2017-06-12 13:28] #1942 closed

[2017-06-12 13:30] stephenplusplus commented on #1943
If you can find a way to show a comparison and fault towards this library, please let us know. Thanks for the time you've spent on this, @OrlandoCo.

[2017-06-12 13:30] #1943 closed

[2017-06-12 13:32] stephenplusplus commented on #1974
I'm going to close as the new PR is about to be sent. The Pub/Sub team was behind the entire redesign, so it will be using the best practices, following their recommendations.

[2017-06-12 13:34] #2105 closed

[2017-06-12 13:49] stephenplusplus commented on #2372
I'm going to close, but please let me know if you can show further evidence we have a bug, and we will re-open promptly. Thank you for helping.

[2017-06-12 13:49] #2372 closed

[2017-06-12 13:52] MarkHerhold commented on #1974
What's the PR #?

[2017-06-12 15:07] stephenplusplus commented on #2312
@lukesneeringer since Speech is about to go through the same process as [Vision Partial Veneer](https://github.com/GoogleCloudPlatform/google-cloud-node/pull/2298), is this feature request relevant?

[2017-06-12 15:22] stephenplusplus commented on #1913
@lukesneeringer since Speech is about to go through the same process as [Vision Partial Veneer](https://github.com/GoogleCloudPlatform/google-cloud-node/pull/2298), is this feature request relevant?

[2017-06-12 15:43] stephenplusplus commented on #2370
We currently support setting any property of the  [Bucket resource](https://cloud.google.com/storage/docs/json_api/v1/buckets) in `storage.createBucket()`:

[code]

If a user wants to update the labels, they can use `bucket.setMetadata()`:

[code]

Do we need more than this?

[2017-06-12 16:39] oshalygin commented on #2372
Yeah I was blowing something up in my code when I was trying to test some of the functionality and the tests were passing but for some reason the application code wasn't working.  Classic case :(

Thanks @stephenplusplus this helped alot!

[2017-06-12 17:58] stephenplusplus commented on #2370
Got an update on what is wanted:

- `bucket.deleteLabels([labelName, ...], function(err) {})`
- `bucket.getLabels(function(err, labels) {})`
- `bucket.setLabels({ labelName: 'labelValue' }, function(err) {})`

@danoscarmike does this look correct?

[2017-06-12 18:03] ofrobots opened #2379 "Add {debug,trace}-agent to the docs"
We want to add [@google-cloud/debug-agent](https://npm.im/@google-cloud/debug-agent) and [@google-cloud/trace-agent](https://npm.im/@google-cloud/trace-agent) to the docs page. These provide background daemons that work with the Stackdriver Trace and Debug APIs. Other languages ([ruby example here]( https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud-debugger/v0.25.0/google

[2017-06-12 19:30] stephenplusplus commented on #1974
The PR has been sent: #2380. Thanks for your patience, everyone.

[2017-06-12 20:17] Splaktar commented on #1974
Awesome that the PR is here! But it seems premature to close this as the PR still has a number of TODOs and a 'do not merge' tag. Thanks for your hard work on this issue and it's great news that the Pub/Sub team was involved!

[2017-06-12 20:30] MarkHerhold commented on #1974
I agree with @Splaktar . It is unfair to customers when issues get closed before they are actually resolved. Please consider keeping this open until the PR is merged for tracking and visibility purposes.

[2017-06-12 20:40] stephenplusplus commented on #1974
Thanks for the feedback! I will re-open, with a quick explanation. Our APIs are shifting towards using a generated layer, meaning it would be the fault of that, or a child layer if this problem persisted. Keeping this open makes a lot of sense, and closing it wouldn't guarantee a resolution. Thanks for keeping us doing the right things-- always feel free to speak your mind if we head down the wron

[2017-06-12 21:28] startupandrew opened #2381 "GCS getSignedUrl() fails when run from Cloud Functions"
Summary: when using Cloud Functions, calls to getSignedUrl() fail, with an error pointing to bad credentials. If I supply my own p12 credentials, rather than relying on application default credentials from Cloud Functions, it works, but that's a bad user experience.

#### Environment details

  - OS: Cloud Functions
  - Node.js version: whatever the default for Cloud Functions is.
  - npm version:

[2017-06-12 21:54] stephenplusplus commented on #2381
Unfortunately, we are not able to implement this. There is an issue discussing this problem on the centralized repo for all google-cloud client libraries: https://github.com/GoogleCloudPlatform/gcloud-common/issues/180

[2017-06-12 21:54] #2381 closed

[2017-06-12 22:59] startupandrew commented on #2381
Ok, can we leave this bug open, even if it's blocked by another issue? It's still a bug.

[2017-06-12 23:02] stephenplusplus commented on #2381
I'd rather track it upstream, since as it stands now, it's not technically possible. If and when it is, we will use that centralized issue as the starting point for all of the client library repos to take action from.

[2017-06-12 23:28] zbjornson opened #2382 "Writing to resumable GCS writestream throws errors"
#### Environment details

  - OS: Win 10
  - Node.js version: 6.10.3
  - npm version: 4
  - google-cloud-node version: 1.1.1

#### Steps to reproduce

[code]

throws these errors:

[code]

The error does not happen if the write stream is created with `{resumable: false}`. This is such a simple case to be failing that I feel like I must be doing something wrong...

[2017-06-12 23:49] aggubin opened #2383 "Vision API pixelFractions don't add up"
I am evaluating Vision API for color detection and ran into this issue:

I've uploaded an image of a rainbow to https://cloud.google.com/vision/docs/drag-and-drop
![rainbow](https://user-images.githubusercontent.com/2379482/27059914-4984ec4c-4f8e-11e7-9dc2-39042cbbe15b.jpg)

and got the following for image properties:

[code]
things I've noticed:
pixelFractions add up to  1.0, but rather to 0.5637

[2017-06-13 15:16] stephenplusplus commented on #2382
This should all come down to these lines in `gcs-resumable-upload`:

- gcs-resumable-upload: request stream is almost over. We stop the user's stream from finishing until we get the "complete" event by calling `cork()`: https://github.com/stephenplusplus/gcs-resumable-upload/blob/227726dd7c77f232aea0af3bc6b901c0f1c64146/index.js#L162

- gcs-resumable-upload: No error. Looks good. Emit `metadata`:

[2017-06-13 16:30] lukesneeringer commented on #2383
Hello @aggubin,
That's definitely an API issue, and this repo is only the client library for it (sorry about that).

@xinjiez, can you provide thoughts here?

[2017-06-13 18:11] ace-n commented on #2368
FYI - we're hoping to have something that depends on this completed by the end of the month. @stephenplusplus would it be possible to have this fixed by June 24th?

[2017-06-13 18:14] zbjornson commented on #2382
Thanks for digging through that. This seems to be a fatal combination of allowed dependency versions. In a fresh directory, if I `npm install @google-cloud/storage` and then `npm install duplexify@3.4.3`, I get the errors. Version 3.5.0 works, so I think the storage module's package.json just needs to be updated. It still allows duplexify back to 3.2.0. Does that repro the problem for you?

[2017-06-13 19:39] stephenplusplus commented on #2382
Sounds like this commit could be addressing the underlying problem, which was fixed in 3.4.4: https://github.com/mafintosh/duplexify/commit/acf662f9f4bfbb2dd045bc168210ea9425375ee6

Thanks for discovering that-- impressive! PR sent: #2385

[2017-06-13 20:24] stephenplusplus commented on #2368
Would you be able to provide the snippet you're working with, I assume it includes

[2017-06-13 20:35] stephenplusplus commented on #2379
As it is now, we would need JSON files to live in this repo, so anytime the API changes upstream, we'd need a PR here with the updates (or some type of automation to push them here). We'd likely also need a placeholder directory, and some additions to various configuration files that are used by the docs site.

It looks like the JSDocs used over there should be pretty compatible with our system he

[2017-06-13 20:36] stephenplusplus opened #2386 "Circle: OS X failures"
Builds are currently failing on OS X:

[code]

[2017-06-13 20:54] besummering commented on #1967
I encounter the same issue with node v6.9.5. Can I know how this issue was resolved ?

[2017-06-13 21:35] aggubin commented on #2383
Hi @lukesneeringer, I can repost somewhere else, please let me know where

[2017-06-13 22:11] JayGoldberg commented on #1916
Just piping in that I'd opened an issue for this internally several days ago, but I'd routed it to the wrong place. Corrected, and looks like @stephenplusplus is aware.

[2017-06-14 01:42] lukesneeringer commented on #2386
With a nice and useless error!

[2017-06-14 15:00] stephenplusplus commented on #2386
I've disabled OS X testing temporarily.

[2017-06-14 15:29] danoscarmike commented on #2370
Yes, looks right to me.  @jskeet for vis.

[2017-06-14 20:25] vkedia opened #2388 "Cloud Spanner Session Pool should rate limit initial session creations."
Cloud Spanner Session pool upon construction would start creating sessions eagerly upto the minimum number of sessions. It will essentially fire all the create requests in parallel. We should instead rate limit the session creation so that it creates at most X number of sessions at a time (X=10 would be a reasonable value).
I realize that this behavior is manged by the underlying pooling library w

[2017-06-14 22:28] JustinBeckwith opened #2389 "Error reporting returns wrong module name in error"
Using @google-cloud/error-reporting, and I get this error:

[code]

Really confused me for a second until I realized that we left a hard coded string in the error reporting module :)

cc @ofrobots

[2017-06-15 01:16] ace-n commented on #2368
This must've been an issue on the API side - looks like everything's been fixed. :)

[2017-06-15 01:16] #2368 closed

[2017-06-15 02:35] ofrobots commented on #2389
Fix here: https://github.com/GoogleCloudPlatform/google-cloud-node/pull/2391

[2017-06-15 12:27] #2389 closed

[2017-06-15 12:30] #2382 closed

[2017-06-15 12:34] stephenplusplus commented on #1967
@besummering can you open a new issue with a new description of the code you're using and the expected/actual outcomes? The issue template will also ask for environment details which will be helpful when debugging as well.

[2017-06-15 14:08] stephenplusplus commented on #2224
@swcloud - would you please look into this? Our system tests are also unable to delete the files in the buckets we create during the tests.

[2017-06-15 15:01] zbjornson commented on #2382
Thanks for the fast fix! :)

[2017-06-16 00:47] swcloud opened #2397 "System test failures on spanner"
There are 4 failures in spanner

[code]

[2017-06-16 00:56] chrishiestand commented on #2359
Oops, guess I didn't look at these API calls closely enough to see that they map onto existing functions. Your solution looks like it will work just fine, thank you very much for taking the time to map those.

I don't think that it is necessary to add a convenience method, though if not it would be good to document these steps somewhere in the google-cloud-node docs <https://googlecloudplatform.gi

[2017-06-16 20:27] pamelafox opened #2398 "@google-cloud/bigquery API is not obeying useLegacySql parameter"
I have npm installed big-query, and have this in my package.json:
`@google-cloud/bigquery": "^0.9.5",`

I then use this code to issue a standard SQL query that works fine in the Web UI:
[code]
However, when I run that code, I get:

[code]

It appears to me that it is not obeying useLegacySql parameter. I've attempted variations on it, like 'false' instead of false, but no difference.

It works fin

[2017-06-18 20:08] intralizee opened #2399 "node-pre-gyp ERR! stack TypeError: Cannot read property 'version' of null"
Hi,

I'm having issue with the latest google-cloud version in my node.js project.
Also encountering this error on my Ubuntu 16.04.2 LTS server on google cloud.

#### Environment details

  - OS: macOS Sierra 10.12.6 Beta
  - Node.js version: v8.1.2
  - npm version: 5.0.3
  - google-cloud-node version: 0.55.0

#### Steps to reproduce

  1. require `google-cloud`
  2. npm install
  3. see output bel

[2017-06-19 11:57] stephenplusplus commented on #2399
I believe the problem has to do with google-cloud being a shrinkwrapped module, and there being an npm@5 bug: https://github.com/npm/npm/issues/16728

For now, downgrading to an older version of npm, or individually installing the google-cloud modules that you need, i.e. @google-cloud/storage, would be best.

[2017-06-19 11:58] intralizee commented on #2399
Thanks I'll give it a try.

[2017-06-19 19:39] jmdobry commented on #1746
We've been using Yarn in all our Node.js samples since Yarn was version 0.16. The Google App Engine docs have a section on using Yarn. I think it's worth at least mentioning Yarn.

[2017-06-20 08:04] jgeewax opened #2400 "Why is "dlp" in the left-nav in lower case?"
<img width="273" alt="screen shot 2017-06-20 at 10 03 57 am" src="https://user-images.githubusercontent.com/112928/27322859-d614956a-559f-11e7-9f79-c53eebc0d81a.png">

This looks totally inconsistent with the rest of the UI....

/cc @omaray

[2017-06-20 08:06] jgeewax commented on #2400
It's also basically empty of comments on how to use this. Can we either take it away until it has useful content or fix it and add content that helps people to use the API?

[2017-06-20 08:07] jgeewax commented on #2131
The docs still say that this is deprecated... Can we fix that?

(https://googlecloudplatform.github.io/google-cloud-node/#/docs/google-cloud/v0.55.0/language)

[2017-06-20 11:38] stephenplusplus commented on #2131
`google-cloud` is deprecated on npm. What do we want it to say?

[2017-06-20 13:08] jgeewax commented on #2131
Then why do we have that as the docs on the main page ? E.g. if I click
into reading the docs, I'm brought to those.... I thought this ticket said
we weren't going to deprecate ... Did I misread?

[2017-06-20 18:20] stephenplusplus commented on #2131
Yeah, the package is deprecated, but @lukesneeringer says we still want to make new releases of it. I would prefer we stop making releases, since we are discouraging its use. But as it stands now, `require('google-cloud')` is still an accurate way to use the module, if you are looking for the all-in-one package.

[2017-06-20 18:27] stephenplusplus commented on #2399
I'm going to close, since I think that will be the best resolution we can suggest for now. Let me know if it didn't work, and we will have to figure out another way. Sorry for the trouble.

[2017-06-20 18:27] #2399 closed

[2017-06-20 18:33] stephenplusplus commented on #2398
Hello, thank you for reporting. Would you try placing those options on the API call itself? I believe that will clear up the issue:

[code]

Sorry for the slow response. I think this will sort out the problem, but let me know if there are still any issues, and we will try again!

[2017-06-21 01:47] bjwatson commented on #2361
@swcloud Can you help @stephenplusplus and @vkedia figure out how to fix this problem for Node Spanner? It's Beta blocking.

[2017-06-21 02:50] JoshFerge opened #2402 "logging: best practices for batching log entries"
Hello, I am working on implementing a logging solution, and have a few questions that I could use help with. Here is some context:

* We would like to log every request that our nodejs server processes to stackdriver logging.
* This request is in JSON format and contains many fields.
* Each server we have processes a large amount of RPS.
* Time and performance is crucial to the service.
* The docu

[2017-06-21 04:47] fixermark opened #2403 "pubsub: topic.publish string payloads sent wrapped with quotation marks"
#### Environment details

  - OS: (Google Cloud Function)
  - Node.js version: (Google Cloud Function default)
  - npm version:  (Google Cloud Function)
  - google-cloud-node version: ~0.10.0

#### Steps to reproduce

  1. const pubsub = require("`@google-cloud/pubsub`")();
  2. const topic = pubsub.topic('my-topic');
  3. topic..publish('hello!', (err) => console.log(err));

Expected result:
topi

[2017-06-21 05:03] fixermark commented on #2403
As per the documentation,

All messages not provided as `Buffer` will be published in JSON format.
If your receiving end uses another library, make sure it parses the
message properly.

... however, this is surprising in the raw string case, that the output is a JSON-ified string.

[2017-06-21 06:48] mikamaunula opened #2404 "High CPU usage with Cloud Storage"
Hi,

We are using Cloud storage to store small images. There are average one or two images(~75KB) posted per second.

When we update the latest Cloud Storage module we see that CPU usage goes up after a time.

![grab](https://user-images.githubusercontent.com/2577909/27370552-bb842398-5665-11e7-8ba3-a65021259e88.png)

Using older version of google-cloud@0.47.0 bundle CPU usage is fine.

#### Envir

[2017-06-21 12:56] stephenplusplus commented on #2404
One thing that should help is disabling resumable uploads. They are enabled by default with write streams. To disable:

[code]

If the problem persists, would it be possible for you to supply a test script that doesn't have any external dependencies, and simulates as many requests as it takes to reproduce the issue?

Thanks for reporting the issue, and sorry for the trouble.

[2017-06-21 13:03] stephenplusplus commented on #2403
Yes, this was done so that the user would have a consistent way of handling the data. `JSON.parse()` (or its equivalent on the receiving end) should always work off the assumption google-cloud-node published something it can handle:

[code]

The Pub/Sub API is under a big re-factor that will force the users of google-cloud-node to only publish Buffer objects. This means you will be in charge of pr

[2017-06-21 13:03] #2403 closed

[2017-06-21 13:04] stephenplusplus commented on #2402
Hey @JoshFerge, thanks for asking. @ofrobots are you able to help with any of these questions?

[2017-06-21 14:33] travi commented on #2251
sorry for the delayed response. i lost track of the notification and just remembered this morning that i still owed you a response on this.

i dont think i follow exactly what you mean by a `hapi` plugin over a `good` plugin. are you suggesting a plugin that would be used in place of `good`?

my first reaction is that that would be less ideal since i still use `good` (with `good-console`) for loca

[2017-06-21 17:29] ofrobots commented on #2251
The question is about the integration point for structured logs. As you have noticed, by default `good` and/or `bunyan` logs aren't structured enough for Stackdriver to provide you an App Engine Standard -like user experience. I am thinking about how we can make that better, and one way to do that would be to provide middleware/plugins for web frameworks: `express`, `restify`, `hapi`, etc. The mid

[2017-06-21 17:53] swcloud commented on #2361
With a requirement to make the solution future proof, this is even harder. Adding @ofrobots to see if he has some idea.

[2017-06-21 19:26] travi commented on #2251
Thanks for the follow up explanation. Knowing your goal gives me enough info that I might be able to help you understand the `hapi`/`good` relationship a bit better.

The main thing to be aware of with good is that it is not only useful for logging. `good` by itself is a process monitor that listens to the event stream produced by the hapi server. It is very common to use `good` for logging, but t

[2017-06-22 05:51] ofrobots commented on #2361
What we really need here is tracking of asynchronous context, similar to what we do in Stackdriver Trace through the use of [`continuation-local-storage`](https://www.npmjs.com/package/continuation-local-storage). Then, at the time `Database.runTransaction` was called you could ask the question whether the 'current execution context' has a pending transaction and throw an error if so.

The main pr

[2017-06-22 06:20] ofrobots commented on #2402
Hi @JoshFerge.

The first thing to note is that the google-cloud/logging library already does perform batching of requests internally. Specifically, here's the [relevant section of config](https://github.com/GoogleCloudPlatform/google-cloud-node/blob/a8ee79e390b29360957576e36ba14abbbb3b2a7a/packages/logging/src/v2/logging_service_v2_client_config.json#L41):

[code]

What this means is that, by def

[2017-06-22 06:59] mikamaunula commented on #2404
Setting resumable to false worked. CPU usage is now in normal.

Big thanks!

[2017-06-22 06:59] #2404 closed

[2017-06-22 09:28] matthewloring commented on #2361
I think the `vm.runInNewContext` approach could be made to work. However, I don't think we want to run the callback passed to `runTransaction` in a new context because this would prevent valid serial transactions of the form:

[code]

One alternative would be for `runTransaction` to take two callbacks: `executeTransaction` and `continuation`. The `executeTransaction` callback could have the transa

[2017-06-22 09:37] matthewloring commented on #2361
To clarify, is the callback passed to `transaction.end` only invoked after the transaction succeeds or could it also be invoked multiple times if the transaction aborts?

[2017-06-22 10:02] MichaelTSS commented on #2061
According to the [docs](https://googlecloudplatform.github.io/google-cloud-node/#/docs/google-cloud/0.50.0/spanner/database?method=Database), the keepAlive option has no default parameter. So you probably want to do something like this
```const db = instance.database(databaseId, { keepAlive: 5 }); // pings Spanner every 5 minutes```
Be aware not to create a new connection for each request though!

[2017-06-22 12:31] stephenplusplus commented on #2402
*closing the issue as there is no bug to fix, but feel free to continue discussing*

[2017-06-22 12:42] stephenplusplus commented on #2361
I actually had `vm.runInNewContext` in mind when I suggested "sandboxing"-- the thought being, the user has a pre-defined collection of variables they have access to within it, but can't get out. I believe that is the only technical solution available, but I think the complexity of it, and the surprises that go along with it, are a cost that is too high.

That is what I'd lean towards. Something l

[2017-06-22 15:00] ofrobots commented on #2361
@stephenplusplus how would you prevent one from writing something like this:

[code]

[2017-06-22 15:05] stephenplusplus commented on #2361
Can't, I mentioned that at the bottom. The goal was to make that API use feel disconnected to the point the user would intuitively feel wrong about it. But, if I didn't hit the mark, maybe @matthewloring could show the code that supports his suggestion.

[2017-06-22 15:20] ofrobots commented on #2361
Ah. My browser wasn't showing the edited version of your comment.

[2017-06-22 15:25] ofrobots commented on #2361
I am not sure if the possibility of accidental nested transactions is acceptable. In real world cases, I suspect it would happen somewhat like this:

[code]

I don't think we should give the user an API that requires them to prove correctness of their program at a non-local level.

[2017-06-22 15:42] stephenplusplus commented on #2361
We're in a battle with an API requirement that doesn't suit the language. This means our solutions will be a battle of the lesser evil. In a new context, the user can't use their project's own dependencies or even their own functions they've defined, etc. That's a very restricting environment we are forcing on *all users*, and one that will inevitably be a cause of confusion, resulting in SO/GH is

[2017-06-22 17:04] JoshFerge commented on #2402
@ofrobots thanks for the awesome and thorough response! If my understanding is correct then, the statement in the documentation under write (https://googlecloudplatform.github.io/google-cloud-node/#/docs/logging/1.0.0/logging/log?method=write)

is erroneous?

[2017-06-23 01:35] bjwatson commented on #2361
I setup a meeting for all of us to discuss this issue. The earliest time I could find available on our calendars is next Tuesday at 4:30p PST. Does that work for either of you @stephenplusplus or @callmehiphop?

[2017-06-23 05:24] ofrobots commented on #2361
I see a spectrum of options here, in order of increasing guarantees of correctness:

1. Do nothing, and provide warnings documentation that users should not call `runTransaction` from the code reachable from the callback function. The onus is on the user to read the docs and to prove to themselves that they are not going to accidentally start a nested transaction. I don't think any of us would lik

[2017-06-23 05:30] ofrobots commented on #2361
Actually thinking a bit more about 3, I think we may be able to *detect* the cases where we might be in a blind spot.

Specifically, when `transaction.end` is called, and we detect that we have lots the CLS/Zones context, we can warn the user about that our automatic detection of nested transactions is unable to function due to the programming patterns in use by their application. This might actua

[2017-06-23 05:40] ofrobots commented on #2402
I would agree that it is misleading. Quotas are at a project-level. If you have many applications running in the same project, all with very high QPS, it may still be possible to deplete your quota.

@stephenplusplus is it worth rewording this?

[2017-06-23 09:07] matthewloring commented on #2361
If we stored the current transaction or some flag on the CLS/Zone context there are a few possible behaviors:

1) At the start of a `runTransaction` we do not observe a current transaction in the context. If context is correct, we correctly start a transaction. If context is "confused" we incorrectly start a nested transaction that may be re-run.

2) At the start of a `runTransaction` we observe a

[2017-06-23 12:41] stephenplusplus commented on #2402
Yes, sounds good. PR welcome to remove the line altogether 👍

[2017-06-23 14:41] ofrobots commented on #2361
You listed two scenarios in how context can be 'confused'. Let's call them 'context loss' and 'context misattribution' res. I'll make a few assertions:

1. In cases where we observe a current (misattributed) transaction, and the transaction has already ended, we can immediately detect this to be a misattributed context. There will be cases where context only gets misattributed truly concurrently –

[2017-06-23 14:42] stephenplusplus commented on #2397
PR sent: #2406

[2017-06-23 17:35] swcloud commented on #2224
Please try again.

[2017-06-23 18:06] bjwatson commented on #2361
Great discussion. If we can settle this issue here, then I'll cancel the meeting for next week.

I agree with the principle that we should err on the side of negative errors (i.e. not catching a nested transaction, rather than erroneously catching a non-nested transaction). It's probably okay if positive errors (the latter case) occur due to some really unusual design pattern, but if we can detect

[2017-06-23 18:52] vkedia commented on #2361
+1 to what @bjwatson said. We should never erroneously prevent non nested transaction. And letting some nested transaction slip through the crack is ok. Intent here is not to strictly prohibit nested transactions but to prevent it in the common cases.

[2017-06-23 21:53] jackzampolin opened #2408 "@google-cloud/speech Operation not returning."
#### Environment details

  - OS: google-cloud-functions
  - Node.js version: ?
  - npm version: ?
  - google-cloud-node version: ?

#### Steps to reproduce

I'm trying to use the node.js speech api client to return text using google cloud functions. I have the following in my `index.js`:

[code]
Uploading and transcribing shorter audio (~5m) works just fine, however when I try longer audio (~30m)

[2017-06-24 00:34] stephenplusplus commented on #2402
Fixed in #2409. Thanks @JoshFerge!

[2017-06-24 00:35] #2402 closed

[2017-06-25 00:02] ximus commented on #2312
as a followup to to @mfkenson's snippet in the issue summary:

the base64 string found at `metadata.response.value` isn't usable data. It is the protocol buffers representation of the results. To get the result data, I am doing the following contortion:

[code]

there may be a pretty way of doing this, but i've invested enough time in this for now.
This remains brittle solution as it relies on a d

[2017-06-25 00:07] ximus commented on #2312
I'd like to note that the use case it caters to (`startRecognition` in one process, poll for results in another) is an important use-case in my opinion.
Longer audio files can take real long to process by the speech API. I'm using Cloud Functions to `startRecognition` and I can't afford to have a function sit around waiting for the promise to resolve. Also, I just run into the max runtime quota fo

[2017-06-26 13:13] stephenplusplus commented on #2397
Looks like we're still seeing a failure:

[code]

@callmehiphop could you take a look and see what the correct value for this would be? I explained why I set the assertion to `2` here: https://github.com/GoogleCloudPlatform/google-cloud-node/pull/2406/files#r123763844 -- but now we're getting 3.

[2017-06-26 17:58] #2370 closed

[2017-06-26 17:59] #2152 closed

[2017-06-26 19:59] stephenplusplus commented on #2361
@ofrobots @matthewloring given these points above, which solution sounds like the best path?

[2017-06-27 06:41] jscinoz opened #2411 "spanner: Unable to insert multiple rows in a single table.insert/transaction.insert call when some rows lack a value for nullable columns"
In [transaction-request.js](https://github.com/GoogleCloudPlatform/google-cloud-node/blob/ca0d96cb94f7ef4e176edf221f9ee154dcf8c850/packages/spanner/src/transaction-request.js#L687-L695), there is the following (L687-695):

[code]

There are at least two bugs here:

1. When an array is provided to table.insert(), if some objects do not have a given key (which is perfectly valid if the column said k

[2017-06-27 08:59] jgeewax commented on #2400
@lukesneeringer : We're showing ugliness on our docs for over a week now... can we get this fixed?

[2017-06-27 09:14] jgeewax opened #2412 "DLP link to docs is broken"
In the readme (on https://github.com/GoogleCloudPlatform/google-cloud-node/tree/master/packages/dlp) we link to https://googlecloudplatform.github.io/google-cloud-node/#/docs/dlp

This shows a 404....

[2017-06-27 09:18] jgeewax opened #2413 "Instantiating DLP without default credentials logs 10 times instead of 1"
If you don't have default credentials set, you get the same error 10 times in your console... Can we just make this a single error?

[code]

[2017-06-27 09:21] jgeewax opened #2414 "DLP docs don't list common auth credentials in the docs"
DLP docs for the constructor (https://googlecloudplatform.github.io/google-cloud-node/#/docs/google-cloud/v0.55.0/dlp) lists a port and servicePath, but not the auth credentials...

That is, the following works:

[code]

Can we update the docs so that these fields are listed as available? Otherwise it's not clear whether this client is somehow different from the others...

/cc @stephenplusplus

[2017-06-27 12:46] stephenplusplus commented on #2411
Thanks for reporting, @jscinoz! Would you be willing to send a PR?

[2017-06-27 13:09] stephenplusplus commented on #2413
We ran into that in #2086, and https://github.com/googleapis/gax-nodejs/issues/121 was opened as a result.

[2017-06-27 13:23] stephenplusplus commented on #2412
Fixed in https://github.com/GoogleCloudPlatform/google-cloud-node/commit/fbcb81d9ad824fdc3a99cfc7b8bae4ae42b0ff40

[2017-06-27 13:23] #2412 closed

[2017-06-27 15:46] quentin-sommer opened #2415 "Can I specify big query table table decorators using this library ?"
Hi,

In this page https://cloud.google.com/bigquery/streaming-data-into-bigquery it is specified that i need to use
this syntax `table$20170301` to stream to a custom partition. Is is available in this library ?

[2017-06-27 15:55] stephenplusplus commented on #2415
Yes, it should work. Have you tried?

[2017-06-27 16:00] quentin-sommer commented on #2415
I have no idea how to do that!
using get https://googlecloudplatform.github.io/google-cloud-node/#/docs/bigquery/0.9.2/bigquery/table?method=get with a tableId+partition as id?

[2017-06-27 16:04] stephenplusplus commented on #2415
Haha, let's figure it out! I think you just need to reference a table like:

[code]

Let me know if this works.

[2017-06-27 16:06] quentin-sommer commented on #2415
Gotta wait the `streamingBuffer` flush... I'll keep it you updated!

Thanks :)

[2017-06-27 19:29] danoscarmike commented on #2292
As this is not blocking an imminent release perhaps we should consider P1?  Unless I am misunderstanding and there is a critical nature to the issue - security or similar?

[2017-06-27 20:41] bmenasha opened #2416 "Logging is holding up the request thread?"
- Node.js version: v8.1.1
  - npm version: 5.04
  - google-cloud-node version: 0.4.1   (@google-cloud/logging-winston)
#### Steps to reproduce

[code]

when I examine the requests in cloud trace it's clear that the request is being held up by calls to the logging API, worse, there are MULTIPLE calls to the cloud logging api in a single request.  This results in some pretty poor performance.  Consi

[2017-06-28 00:25] jscinoz commented on #2411
Sure thing, I will implement a fix and send through a PR today.

[2017-06-28 00:33] bjwatson commented on #2361
I rescheduled this meeting for tomorrow morning so that @matthewloring can attend.

[2017-06-28 01:48] jscinoz commented on #2411
PR created: #2417

[2017-06-28 08:27] nalbion commented on #677
Does this work from Cloud Functions?

[2017-06-28 08:29] quentin-sommer commented on #2415
Back with infos!

So the decorator things works! However I ran into another issue, the `insertId` example in the docs yields this error:
[code]

The format I'm giving to `insert` is this:
[code]
Query is valid because when I use this it inserts without problems
[code]
(reference: https://googlecloudplatform.github.io/google-cloud-node/#/docs/bigquery/0.9.2/bigquery/table?method=insert)

[2017-06-28 11:10] biozork commented on #1173
@eduardo-tenorio-guiabolso I had the same challenge with hosting on Heroku, I needed to store the private key in environment variable, and your fix saved my day (doing the newline .replace on the key)

Thank you so much :)

[2017-06-28 18:27] quentin-sommer commented on #2415
@stephenplusplus

[2017-06-28 23:17] pamelafox commented on #2398
Yep, that does indeed seem to work. I'm not sure if I misread stuff or something, but thanks for the help!

[2017-06-28 23:17] #2398 closed

[2017-06-28 23:21] swcloud commented on #1916
@stephenplusplus This issue may be related to a fixed issue in python:

https://github.com/GoogleCloudPlatform/google-cloud-python/issues/1206

[2017-06-29 04:54] alejomendoza opened #2418 "Pub Sub - Illegal value for maxMessagesvalue element: 1000 (undefined type [object Object])"
#### Environment details

  - OS: OSX 10.11.5
  - Node.js version: v7.10.0
  - yarn version: v0.24.6
  - google-cloud-node version: 0.13.3

#### Steps to reproduce

  1. Subscribe to a topic   `topic.subscribe(subscriptionName .. etc`
  2. Publish more than 100 messages.
 3.  You will get the error `protobuf.js [sm]:1930 Uncaught Error: [INTERNAL] Illegal value for maxMessagesvalue element: 1000 (

[2017-06-29 11:40] LeonLiber commented on #1916
For me, it happens in the web console as well - is that related or am I missing something?

[2017-06-29 22:55] jgeewax opened #2419 "datastore.save() with upsert should allow get-or-create"
Ideally, datastore's upsert would be one of those "get or create" type methods, but I can't figure out how to make it act like get or create...

That is, what I want to do is:

[code]

Turns out that the data coming back in the promise is ... some mutation results?

[code]

spits out:

[code]

Which is lovely to know, but doesn't really help me at all.

Can we please make this method actually usef

[2017-06-29 23:10] #2371 closed

[2017-06-29 23:12] #2224 closed

[2017-06-29 23:27] stephenplusplus commented on #2419
I'm probably the crazy one, but "upsert" doesn't seem like it should "get" at all. We return the raw response from the API (those super-cool stats). We could return the entity, but it would just be us giving back what the user gave us when they called `upsert`. Let me know if I'm missing something.

[2017-06-29 23:32] jgeewax commented on #2419
Right -- what we don't have is an atomic way of saying "update" (merge) this data with whatever is stored already, and treat it as `{}` if missing, then return me the results.

That makes me sad -- it seems super useful.

So yes, if the `.save()` method only ever "sets" (overwrites) the value, then there's no point in it returning what you just sent.

Does it make sense to add support for a "getOr

[2017-06-29 23:38] stephenplusplus commented on #2419
Gotcha, I would agree that would be nice. Would we take "options.merge" to .update() and .upsert()?

[2017-06-29 23:51] stephenplusplus commented on #2419
Or maybe only put the option on .save(), so the pure definitions of the other mutation methods remain?

[2017-06-30 10:41] mfkenson commented on #2312
@ximus Even I could afford to sit and wait, there will be timeout exception (grpc)

[2017-06-30 13:34] #1492 closed

[2017-06-30 14:11] stephenplusplus commented on #1492
@swcloud @callmehiphop

We're live with:

- Datastore: https://googlecloudplatform.github.io/google-cloud-node/#/docs/datastore/master/v1
- Logging: https://googlecloudplatform.github.io/google-cloud-node/#/docs/logging/master/v2
- Pub/Sub: https://googlecloudplatform.github.io/google-cloud-node/#/docs/pubsub/master/v1
- Spanner: https://googlecloudplatform.github.io/google-cloud-node/#/docs/spann

[2017-06-30 16:39] swcloud commented on #1492
@stephenplusplus Looks amazing! We finally did it!! Really appreciate your great work!!!

[2017-06-30 18:37] jcsvwinston opened #2424 "datastore.delete return same response when delete non-existent entity"
Try to delete one entity deleted recently, you will always get the same response from the API. err Object ramains null.

Thanks.

[2017-06-30 19:17] vkedia commented on #2411
@swcloud @bjwatson This would be a beta blocking issue since this can cause incorrect data to be stored in spanner.

[2017-06-30 19:18] stephenplusplus commented on #2411
I'm working on it now.

[2017-06-30 19:19] vkedia commented on #2411
Thanks!

[2017-06-30 19:55] stephenplusplus commented on #2411
New PR in #2426.

[2017-07-03 11:07] jgeewax commented on #2419
I think we should be careful not to dirty up the official methods with trickery like this (since not everyone will want it at first).

When calling this method, it will require:

1. Create a transaction
2. Try getting the entity
3. If it does exist, `let merged = Object.assign({}, remoteData, localData);`
4. Update the entity
5. Commit the transaction

That's quite a bit to do in a single call, an

[2017-07-03 11:08] jgeewax commented on #2424
@jcsvwinston : What would you prefer? Are you hoping to delete and get some signal about whether the delete operation actually happened vs when it was a no-op? Can you share a bit more about your use case?

[2017-07-03 11:09] jgeewax commented on #2418
Thanks for reporting @alejomendoza

@stephenplusplus : Is this a low-level protobuf bug? or gRPC? or something we're doing wrong?

[2017-07-03 11:18] jgeewax commented on #2408
@jackzampolin : I'll double check, but I believe that recognizing text is expected to take about as long as the audio file, so a 30m file should be done in ~30 minutes. I'm going to ping the speech team to be sure.

Either way, with things like this it's probably best to structure the app to think of speech recognition as a "background processing" task rather than a synchronous one. That is, this

[2017-07-03 11:44] jgeewax opened #2430 "Add easy link from docs to the code"
For the methods we have in our docs, is it possible to add a link to the code so that we don't have to click around trying to navigate from the docs for (say) datastore.save -> code for the method?

[2017-07-03 11:47] jgeewax opened #2431 "Datastore insert/upsert/update methods aren't documented?"
@stephenplusplus mentioned this in a comment, so I went looking for some code...

Seems like `insert` is here: https://github.com/GoogleCloudPlatform/google-cloud-node/blob/master/packages/datastore/src/request.js#L464

Why are these methods not documented ? (I'm looking at https://googlecloudplatform.github.io/google-cloud-node/#/docs/datastore/1.0.0/datastore)

[2017-07-03 11:49] jgeewax commented on #2383
This is probably best for StackOverflow with the `google-cloud-vision` tag: https://stackoverflow.com/questions/tagged/google-cloud-vision

Feel free to paste a link so we can direct people there in the future.

[2017-07-03 11:49] #2383 closed

[2017-07-03 14:05] quentin-sommer commented on #2415
@stephenplusplus Did you get a chance to see this?

[2017-07-03 15:53] stephenplusplus commented on #2415
It sounds like maybe the options object specifying a raw request wasn't used:

[code]

[2017-07-03 16:09] stephenplusplus commented on #2419
I like `merge()` 👍, but I don't think we should have the dual-mode where it acts like `get()` -- I would rather we just let `datastore.get()` be the recommended path for... getting, but let me know if that's not cool.

What were you thinking? Potential confusion of how JS objects would be merged? I think "merge" should imply to the user we'd do a deep extend, so even a deeply-nested object wouldn'

[2017-07-04 05:37] kilianc opened #2432 "ERROR:@google/cloud-errors prints to stdout instead of stderr"
[code]

I didn't catch this for a long time because it is being printed to stdout instead of stderr.

[2017-07-04 15:58] ericmcgregor opened #2434 "Unable to install @google-cloud/language from npm"
Can not install google cloud language from npm.  I was able to successfully install other parts of the google cloud node package like storage, but for some reason the language hangs on installation.

The last message it prints out before hanging is:

fetchMetadata: sill pickManifestFromRegistryMetadata spec >=0.9.1 <0.10.0 tag latest versions [ '0.1.0'

Please advise.  am i the only one with this

[2017-07-04 19:48] quentin-sommer commented on #2415
That's it worked! Silly me.. Thanks for your help

[2017-07-04 19:48] #2415 closed

[2017-07-05 03:34] alejomendoza commented on #2418
I'm using electron (devtool) to debug and test my code. Not sure if I'm doing something wrong.

[2017-07-05 10:27] jcsvwinston commented on #2424
Sorry I think that I did't explain correctly. Let me show you with an example:

The result of a query get the next list of entities IDs:

- 5644406560391168
- 5664248772427776
- 5672749318012928
- 5682617542246400
- 5692462144159744
- 5720147234914304
- 5739407210446848

If I delete the entity with ID#5739407210446848, using this code:

[code]

the response show:

If I get the entities key list, y

[2017-07-05 10:33] jgeewax commented on #2424
I think I follow what you're saying, but I'm trying to figure out what you would like to happen instead?

The idea here is when you call `datastore.delete(key)`, it returns a result (and potentially an error). If the error is blank, that key (at this point in time) no longer exists.

This could be because it never existed in the first place, or it could be because you deleted it, but it's gone now

[2017-07-05 11:18] LeonLiber commented on #625
I might have missed something but the referenced articles do not provide any progress on the matter and the suggested solution from above - using atob doesn't work for me.

Are there any news regarding the ability to query datastore using the URL-safe key in Node?

[2017-07-05 12:16] stephenplusplus commented on #2434
@callmehiphop can you try this out?

[2017-07-05 12:34] stephenplusplus commented on #2418
I was able to publish 100+ messages:

[code]

So, I have a feeling its the integration with electron, which is not something we explicitly support. I'm happy to take a look, however, if you can provide an easy way that I can reproduce the error.

[2017-07-05 12:44] ericmcgregor commented on #2434
was able to get this working today.  Not sure what the issue was with NPM yesterday.  sorry for the post.

[2017-07-05 12:44] stephenplusplus commented on #2434
No problem, glad it's working now!

[2017-07-05 12:44] #2434 closed

[2017-07-05 14:33] jmkrimm commented on #716
The magical hash in Google Cloud Storage has been updated with email address. Will this library be updated to also return the email address?
I am seeing the below returned for getting acl.

`{ entity: 'user-00b4903a9789bd9a7c7e3ba01e6f5eeb40503bc3318102a6fdd2f', role: 'OWNER' }`

[2017-07-05 15:05] lukesneeringer commented on #2418
`maxMessagesvalue` is an odd spelling. Why is it not `maxMessages` or `maxMessagesValue`? Maybe that is the issue?

[2017-07-05 15:07] lukesneeringer commented on #2414
@landrito, could we add this to the documentation for `options` in autogen?

[2017-07-05 15:09] lukesneeringer commented on #2413
@stephenplusplus Can you help me understand why there are 10 rejections here? Are 10 different GRPC threads being opened?

[2017-07-05 15:10] lukesneeringer commented on #2400
Sorry, I was OOO when you filed this.

@stephenplusplus Does the @name field need to be added to autogen?

[2017-07-05 15:12] lukesneeringer commented on #2430
This would be a really nice feature. It does not look like something JSDoc supports out of the box. We could use `@see` but the GitHub links would have constantly changing line numbers, which would make maintenance tough.

I think we could write a plugin that could do this, however. The JSDoc AST already has enough information.

[2017-07-05 15:14] stephenplusplus commented on #2400
Yep, it does.

[2017-07-05 15:14] lukesneeringer commented on #2416
@bmenasha Thank you for reporting this (and sorry it took so long to get back to you on it).

I am guessing `delay_threshold_millis` should have been 10,000 instead of 10, but I am not the most familiar with this module. Would that make sense in your mind?

I also agree that this should not block.

[2017-07-05 15:17] stephenplusplus commented on #2430
I think we have what you're looking for, but let me know if I misunderstand:

![image](https://user-images.githubusercontent.com/723048/27871314-497839c4-6173-11e7-895c-4ff8568f8338.png)
https://googlecloudplatform.github.io/google-cloud-node/#/docs/google-cloud/v0.55.0/datastore?method=save

[2017-07-05 15:18] stephenplusplus commented on #2413
That's a good @landrito question -- this code is all from gax. My original investigation was here: https://github.com/GoogleCloudPlatform/google-cloud-node/issues/2086#issuecomment-286796408

[2017-07-05 15:27] stephenplusplus commented on #2418
Thanks for letting us know!

[2017-07-05 15:27] #2418 closed

[2017-07-05 15:33] lukesneeringer commented on #2408
My understanding matches @jgeewax's. The processing time increases roughly linearly with the length of the file.

Note that `Operations` are basically wrappers that let you say "Are we there yet? Are we there yet?". You _can_ make them block for up to 10 minutes while you wait, but it might be more useful to consider using them for polling. So, start a new function every minute, ask quickly if it

[2017-07-05 15:34] lukesneeringer commented on #2413
Summoning @landrito!

[2017-07-05 15:35] lukesneeringer commented on #2430
So we do. I did not see that.

Would it be possible to change our template to have that be next to the header, rather than at the very bottom of a very long and drawn out explanation with multiple examples?

I am thinking along the lines of having it right-aligned right next to the name of the method.

[2017-07-05 15:39] lukesneeringer commented on #2424
In SQL, if you issue a `DELETE` statement, you get back the number of rows that were deleted.

Say you have `my_table` with a bunch of rows (including one with an `id` of `42`). If you issue:

[code]

...the first statement will return `1`, and the second table will return `0`.

My inclination would be to do that, since it maps to the SQL standard.

[2017-07-05 15:43] lukesneeringer commented on #2419
Most ORMs I have used have the concept of `get_or_create` and `update_or_create` (see [here][1] in Django, for example). The reason is because it is a _really_ common pattern: I need this thing to be in the database. It may or may not be there, and these are some sensible defaults for other things (the stuff I am not actually querying on) to set if not.

This is needed all the time, e.g. for boots

[2017-07-05 15:43] stephenplusplus commented on #2430
Historic reason: https://github.com/GoogleCloudPlatform/google-cloud-node/pull/790#issuecomment-130470583

[2017-07-05 15:45] lukesneeringer commented on #2400
Okay, I can do that.

[2017-07-05 15:55] stephenplusplus commented on #2419
I think I'm getting mixed up between this method acting like a "merge" vs a "get or create" vs a "get or merge". Could you please whip up what the ideal additions to our API looks like, and what they're doing behind the scenes?

[2017-07-05 16:15] kilianc opened #2435 "Running containers on GKE ignores serviceContext and shows "gke_instances""
#### Environment details

  - OS: Alpine 3.4
  - Node.js version: 7.10
  - npm version: N/A
  - google-cloud-node version: latest

#### Steps to reproduce

Running in a GKE Cluster with `GOOGLE_APPLICATION_CREDENTIALS` and `GCLOUD_PROJECT` correctly set (can access other APIs) with the following code:

[code]

will report errors coming from `gke_instances` ignoring the `serviceContext`

[2017-07-05 16:24] landrito commented on #2413
I'll take a look this week!

[2017-07-05 16:51] landrito commented on #2414
Yep, will look work on it this week.

[2017-07-05 16:55] stephenplusplus commented on #2431
This is indeed strange. Looking into it.

[2017-07-05 18:19] royalpeasantry commented on #716
I don't believe this is the library as it wouldn't be able to translate the email into a hash if the server returned the email.  My guess is that you are not making exactly the same request as the library is, as we still have a few paths server side that are returning the hash that I am working on fixing.

[2017-07-05 19:31] #2411 closed

[2017-07-06 02:46] deremer opened #2438 "Error: Endpoint read failed at /user_code/node_modules/@google-cloud/logging/node_modules/grpc/src/node/src/client.js:569:15"
We are using Stack Driver to log errors for Firebase functions. We unpredictably get the error in the title. Typically it happens the first to we try to log an error after a function re-deploys. Subsequent error log writes will go through to StackDriver without issue, but occasionally we'll get the error again.

We're using `"@google-cloud/logging": "^1.0.2",` and deployed via Firebase Functions.

[2017-07-06 03:08] danoscarmike commented on #2361
@stephenplusplus @bjwatson ping.  What's the status of this issue?

[2017-07-06 03:48] bmenasha commented on #2416
Sure.

[2017-07-06 06:45] Chipintoza commented on #2356
@stephenplusplus @vkedia I delate all @google-cloud/ all packages and update spanner to v.0.5.0
and run my data importe.

**After certain quantity of data export, the following error kept occurring constantly:**

**and later:**

**It looks like the same problems :(**

[2017-07-06 14:04] bjwatson commented on #2361
We decided that the best we can do in Node is warn the user about nested transactions when we believe one has occurred. We cannot block it, because it's too hard / impossible to avoid false positives (i.e. a transaction that appears to be nested, but really isn't).

Since adding warnings is not really a breaking change, we're not blocking Beta on this issue.

[2017-07-06 15:45] danoscarmike commented on #2361
Ack.  TY.

[2017-07-06 17:15] kirankumar-mahi commented on #1976
Hi ,

I am using latest 'aws-java-sdk-s3', version: '1.11.158'.  I am getting below error when uploading the files. I am able to list the buckets.  Is there any signature setting I have do.?

**The request signature we calculated does not match the signature you provided. Check your Google secret key and signing method.
com.amazonaws.services.s3.model.AmazonS3Exception: The request signature we ca

[2017-07-06 17:17] kirankumar-mahi opened #2439 ""The request signature we calculated does not match the signature you provided.""
Hi,

I am using latest aws-java-sdk-s3', version: '1.11.158'. I am getting SignatureDoesNotMatch error. I am using below code.

**The request signature we calculated does not match the signature you provided. Check your Google secret key and signing method. com.amazonaws.services.s3.model.AmazonS3Exception: The request signature we calculated does not match the signature you provided. Check your G

[2017-07-06 19:38] stephenplusplus commented on #2439
Can you walk me through how I can reproduce this?

[2017-07-07 00:18] kilianc commented on #2435
@DominicKramer @ofrobots this is due to a race condition in the report client / our setup. The error was triggered before the keys and the context was setup (weird) and it was using default permission that comes with GKE.

I would expect this not to be the default behavior but at least now I know why it's happening.

Could this be happening while the node client is talking to the auth API ?

[2017-07-07 02:36] sabrehagen opened #2440 "200 in development, 404 in production"
#### Environment details

  - OS: Alpine 3.4
  - Node.js version: 8.1.3
  - npm version: 5.0.3
  - google-cloud-node version: latest

In development the application is containerised with the above configuration. In production the app is running the same container on GKE.

#### Symptoms

Running the same user-land code of `storage.createReadStream('a5bfd28d-b914-497e-91d5-33d9fd43e47f.png')` in dev

[2017-07-07 02:41] stephenplusplus commented on #2440
The second URL structure is new in the latest release of the @google-cloud/storage module. You can replicate it locally by upgrading. The problem seems to be a leading slash in the image resource name. Could you double check that your code looks like "bucket.file('uploads/...')" and not "bucket.file('/uploads')"?

[2017-07-07 05:03] kirankumar-mahi commented on #2439
Hi Stephen,

I am attaching the sample gradle project. Please unzip and run the project with your access,  secret key and file.

[aws-sdk-test.zip](https://github.com/GoogleCloudPlatform/google-cloud-node/files/1130037/aws-sdk-test.zip)

[2017-07-07 08:00] sabrehagen commented on #2440
Hi, thanks for pointing out the version differences. That would explain the different functionality - doh! I've removed preceding slashes from all paths. This change might catch out many users like me who relied on this functionality previously. Should the library be modified to strip preceding slashes?

[2017-07-07 11:02] dazraf commented on #1237
I just installed the latest release of gcloud beta tools - this problem is still an issue. Why is it closed?

[2017-07-07 11:52] jgeewax opened #2441 "datastore: document unit testing with the emulator"
After ... far too long trying to figure out how to do testing, I stumbled upon `google-datastore-emulator`, which makes life way easier.

Can we document that a nice test runner if you use datastore would look something like...

[code]

[2017-07-07 15:45] mhirsch commented on #1922
I see something like this when trying to write to a location where a previous file existed, even once the previous file has been deleted from the storage console. It seems specific to this one file path. I haven't been able to replicate it with other files, but I still have this one file location in my google cloud storage that no account can write to.

[2017-07-07 16:10] lbeeon commented on #1922
@mhirsch , you are right. To my experience, GCS seems to cache the file that you delete. If you want to rewrite/re-upload an existing file, you need to grant your credentials with delete permission.

[2017-07-07 16:34] mhirsch commented on #1922
That makes sense, but I've tried creating multiple service accounts, with the full "Editor" role or with the "Storage Object Admin" role, both of which contain the `storage.objects.delete` permission, and I still get

[code]

[2017-07-07 16:59] lbeeon commented on #1922
I think you could try grant you permission to "Storage Admin". If it works well, then the errors definitely related to this.

[2017-07-07 17:11] mhirsch commented on #1922
The permissions in Storage Admin are a subset of Editor, so I don't see how that would give any more information.

[2017-07-07 17:48] lbeeon commented on #1922
I know what you means, but I think the IAM sometimes might not work as what we expected. I have meet several times that the credentials already have high level permission like you said "Storage Admin are a subset of Editor", but it just doesn't work. However, after I check the permissions independently then it went back to normal.

[2017-07-07 18:21] DominicKramer commented on #2435
Thank you for your feedback.  Yes, the expected behavior is that the service context provided to the error-reporting client will be the context used to report errors.

Were the errors first being reported under the `gke_instances` service and then, after some time, began being reported under the `APP_NAME` service?

[2017-07-07 18:54] vkedia opened #2442 "Spanner client should provide a way for users to specify timeouts"
Currently it seems that there is no way for users to override the default timeouts for Spanner rpc calls. We should add such a way especially since Spanner rpc calls like ExecuteStreamingSql can take arbitrarily long based on how much data one is streaming and other parameters. So there is really no good default value except for unlimited or something really large.

[2017-07-07 18:56] kilianc commented on #2435
In our case we had `errorreporting.writer` missing from the service accounts roles so what I think was happening is:

* start server with correct ENVs
* start auth with `GOOGLE_APPLICATION_CREDENTIALS` and `GCLOUD_PROJECT`
* error in db connection
* report error with default auth (since GKE comes with `errorreporting.writer` by default)
* finish `GOOGLE_APPLICATION_CREDENTIALS` auth
* doesn't repo

[2017-07-07 20:33] DominicKramer commented on #2432
It appears that the `log-driver` module that we use for outputting messages always uses `console.log` to output messages.

To address your issue, I've created a `log-driver` PR (https://github.com/cainus/logdriver/pull/6) to add support for specifying a log level at which `console.error` will be used instead of `console.log` for outputting messages.

[2017-07-07 21:30] ShahNewazKhan commented on #1916
I followed the following steps to exclude from index for indexed properties of an Embedded Entity type from datastore:

[code]

However when I look at the Entities overview page, each of the properties of the Embedded Entity are still indexed even after the update, is this the right behavior?

From the docs for excluding indexes it mentions "The index entries for any existing entities with that pr

[2017-07-07 21:52] kilianc commented on #2432
@DominicKramer that's funny, the headline of the repo is `node logger that only logs to stdout` 🤣

[2017-07-08 12:17] jaumard opened #2443 "Google common-grpc/speech crash on slow network connexion because of gRPC"
#### Environment details

  - OS: Max
  - Node.js version: 7
  - Yarn version: 0.24.6
  - google-cloud-node version:0.9.4

#### Steps to reproduce

  1. require `google-cloud/speech`
  2. just run google speech with a slow internet connexion

This is related to https://github.com/grpc/grpc/issues/11514.

In my opinion it's urgent to fix as it make the all node project to crash when the error occur

[2017-07-08 17:44] stephenplusplus commented on #2443
Thank you for reporting! Because of our dependency on `grpc@^1.3.1` (https://github.com/GoogleCloudPlatform/google-cloud-node/blob/ac8967c92035f469c745995af61f261e9c37e427/packages/common-grpc/package.json#L46), new and re-installations of `@google-cloud/speech` will pick up `grpc@1.4.1` automatically.

[2017-07-08 17:44] #2443 closed

[2017-07-08 17:47] stephenplusplus commented on #2373
@kilianc I'm going to close, as I can't reproduce. Let me know if there's more I can do to see what you're seeing, and I will happily re-open and continue the investigation.

[2017-07-08 17:47] #2373 closed

[2017-07-08 17:50] stephenplusplus commented on #2440
I agree, we should do that. And we actually tried to in #2269! Looks like we overlooked a code path, and ended up without a full fix. I'll PR it!

[2017-07-08 17:55] stephenplusplus commented on #1930
These are coming in as we're bringing in the partial APIs and full-GAPIcs. I'm not sure this issue is necessary, but to any interested parties, please re-open if that's an incorrect assumption.

[2017-07-08 17:55] #1930 closed

[2017-07-08 17:57] stephenplusplus commented on #2442
This is actually tracked in #1859, which I agree is important, and affects many of our APIs.

[2017-07-08 17:57] #2442 closed

[2017-07-08 18:04] stephenplusplus commented on #1859
To do a re-cap on what this issue is about, each API in the opening post has 4 tasks (defined below):

**Generated files are in repo**
Is the gapic layer in the repo?

**Handwritten API is using generated API**
Once the gapic layer made it into the repo, are we using it from the handwritten layer?

**Passing through `gaxOptions` is available on all requests**
GAX accepts a group of options that ca

[2017-07-08 18:06] stephenplusplus commented on #2439
Is there a way to reproduce this error outside of the AWS environment?

[2017-07-08 18:08] stephenplusplus commented on #2438
@ofrobots ever run into anything like this before?

[2017-07-08 18:17] stephenplusplus commented on #2431
@callmehiphop do you have any ideas for what could be excluding these, or why? We had them in 0.8.0: https://googlecloudplatform.github.io/google-cloud-node/#/docs/datastore/0.8.0/datastore?method=upsert, but lost them by 1.0.0: https://googlecloudplatform.github.io/google-cloud-node/#/docs/datastore/1.0.0/datastore?method=upsert

[2017-07-08 18:19] kirankumar-mahi commented on #2439
I am storing the files in the  google cloud s3 bucket (Google cloud S3 environment) using aws sdk S3. As google lets Cloud Storage interoperate with tools written for other cloud storage systems like aws sdk. I am using latest aws sdk s3.

[2017-07-08 18:38] stephenplusplus commented on #2439
@lukesneeringer is it clear to you how we should debug this issue?

[2017-07-09 05:00] DominicKramer commented on #2435
Since you said that there was a db connection error, I have another possible explanation, and I wanted to get your input.  In particular, was the error in the db connection an `Error` that was thrown or an `Error` that was printed (along with its stack trace) to standard out or standard error?

That is, I created a GKE hello world app and made sure the cluster I created had the `https://www.google

[2017-07-09 07:02] yonathan06 opened #2444 "Datastore apiResponse starcture"
Not a bug, just something missing from the docs (or very hard to find)
Where can I see the apiResponse starcture coming from the Datastore?
It doesn't appear in the API: [https://googlecloudplatform.github.io/google-cloud-node/#/docs/datastore/1.0.3/datastore](https://googlecloudplatform.github.io/google-cloud-node/#/docs/datastore/1.0.3/datastore )

Thanks

[2017-07-09 19:39] ryanlinnane commented on #1513
Is there any reason the backends can't be shared? I would guess that operating a full systems with all of its parts would be a more comfortable local experience if the datastore could be shared between devappserver and other programs.

[2017-07-09 21:50] kilianc commented on #2435
I have this on my code:

[code]

What you said makes sense, I just checked and even the DB erroring on bootstrap are being reported correctly. So maybe default behavior kicked in.

[2017-07-10 02:45] DominicKramer commented on #2435
I just want to make sure I'm understanding correctly.  Did your original code not have an `uncaughtException` handler, but when you added one, the errors started being reported under the correct service. I want to make sure the problem was caused by thrown Errors being handled outside the error-reporting library. Thanks.

[2017-07-10 09:34] alejomendoza commented on #2230
<img width="1134" alt="screen shot 2017-07-10 at 11 32 57 am" src="https://user-images.githubusercontent.com/5351127/28011727-93efcffa-6563-11e7-8b76-9908c10f0304.png">
I still get this error, I'm publishing a lot of messages at once (more than 1000 per second), not sure if it throws the error because of this. Thanks!

[2017-07-10 13:49] kirankumar-mahi commented on #2439
@lukesneeringer - if you require more information, please let me know.
Is there any thing that I need to check at signature version. In my code- i commented out signature version code . I tried various possibilities and could not get through.

[2017-07-10 14:02] steren opened #2445 "datastore.update is not documented in the reference"
According to [this Datastore documentation page](https://cloud.google.com/datastore/docs/concepts/entities#updating_an_entity), `datastore.update(entity)` exists and can be used to update an entity.

However, the reference of the node module is mot documenting this method: https://googlecloudplatform.github.io/google-cloud-node/#/docs/google-cloud/0.56.0/datastore

[2017-07-10 14:04] steren commented on #2445
Either the sample should be updated, or the method should be documented.

[2017-07-10 14:06] steren commented on #2445
This is the sample in question: https://github.com/GoogleCloudPlatform/nodejs-docs-samples/blob/master/datastore/concepts.js#L323

[2017-07-10 14:14] deremer commented on #2438
As an update, it seems to be more of an issue the first time a call is made to Stackdriver after a Firebase function is updated and restarted. Subsequent requests seem to go through ok. Although it does re-emerge sporadically. We really haven't been able to get to the bottom of it.

Unfortunately, this causes the functions to timeout and throw an "Unhandled Exception", which is not going to work f

[2017-07-10 14:58] lukesneeringer commented on #2441
@stephenplusplus This seems reasonable. How long would it take to add a page like this?

[2017-07-10 15:01] lukesneeringer commented on #2444
Hi @yonathan06,
Thanks for reporting this. We will see about getting this added.

[2017-07-10 15:07] lukesneeringer commented on #2439
Hi @kirankumar-mahi,
Thanks for reporting.

This repository is for the Node.js client libraries, which I am fairly certain is not what you are after, since as best as I can tell, you are writing Java code. I would recommend opening an issue on [google-cloud-java][].

Sorry...I know it is frustrating to be redirected, but none of the folks who maintain this repo are going to know how to help you. :

[2017-07-10 15:07] #2439 closed

[2017-07-10 15:10] lukesneeringer commented on #2438
I too am hoping @ofrobots will have an idea. :-)

@deremer Can you provide the actual stack trace?

[2017-07-10 15:28] deremer commented on #2438
Here is one log entry where we see this...

[code]

[2017-07-10 15:30] deremer commented on #2438
I've been wondering if we're setting metadata incorrectly or something because of the `metadata: Metadata { _internal_repr: {} } } undefined`

But here's another one where it doesn't have that...
[code]

[2017-07-10 17:27] bjwatson commented on #1859
Thanks for explaining the current context for this issue @stephenplusplus.

IIUC, the automatic projectId insertion is bound up with this issue raised by @ofrobots: https://github.com/googlecloudplatform/google-cloud-node/issues/1891. Correct?

[2017-07-10 18:09] vkedia commented on #2356
@danoscarmike @lukesneeringer @callmehiphop can we please get this resolved asap. This is causing customers to get locked out of spanner for upto an hour.

[2017-07-10 20:50] ofrobots commented on #1859
I am worried about automatic text insertion as it could do data corruption if the user data happens to contain strings that happen to match the pattern.

Could we use promises to deal with async initialization, something like:

[code]

[2017-07-10 21:47] ofrobots commented on #2438
/cc @GoogleCloudPlatform/node-team @mlumish

[2017-07-10 21:50] ofrobots commented on #2438
The error indicates a TCP read error – which suggests that sporadically there are some network issues in the environment?

[2017-07-10 21:54] ofrobots commented on #2438
@swalkowski @jasonpolites: any ideas if this could be an issue on Functions?

[2017-07-10 21:54] deremer commented on #2438
@ofrobots Just so future readers are 100% clear on this... This code is being run as Firebase Functions, so it's 100% within the Google Cloud environment.

[2017-07-10 21:58] murgatroid99 commented on #2438
Note: the part with the metadata is probably irrelevant. That is trailing response metadata, which is often empty.

[2017-07-10 23:01] murgatroid99 commented on #2438
It seems like the gRPC client successfully establishes a TCP connection (if it didn't, the error would say "Connect failed"), then the first attempt to read from that TCP connection fails for some reason, and the request it was a part of failed.

It might help to see more details of the TCP error, but that doesn't propagate far enough up the stack. It is possible to see it (along with a torrent of

[2017-07-10 23:04] deremer commented on #2438
@murgatroid99 any idea how to set an env var like that with Firebase Functions...or through the Cloud Function console?

Put it in runtime.config.json?

[2017-07-10 23:57] murgatroid99 commented on #2438
I am not familiar with Cloud Functions, but you should just be able to do `process.env.GRPC_TRACE='tcp';` and `process.env.GRPC_VERBOSITY=DEBUG';` in the JS file before loading the logging module.

[2017-07-11 08:01] Chipintoza commented on #2356
@danoscarmike @lukesneeringer @callmehiphop @vkedia  look at [comment](https://github.com/GoogleCloudPlatform/google-cloud-node/pull/2362#issuecomment-314364243)

[2017-07-11 09:05] xbill82 opened #2446 "bigquery table.exists is documented to return a boolean, but it returns an Array instead"
#### Environment details

  - OS: Linux
  - Node.js version: v6.9.4
  - npm version: 5.1.0
  - google-cloud-node version: ^0.9.5

#### Steps to reproduce

  1. require `@google-cloud/bigquery`
  2. `bigQuery.dataset(this.dataSet).table(tableName).exists().then(exists => {return Array.isArray(exists})`
  3. check it returns `true`

But [the doc](https://googlecloudplatform.github.io/google-cloud-no

[2017-07-11 17:51] bjwatson commented on #2356
@callmehiphop @lukesneeringer What's the ETA for fixing this issue?

[2017-07-11 20:52] jgeewax commented on #2441
We should also note that you need to install the Cloud SDK, and the beta commands, and the datastore emulator :)

[2017-07-11 21:00] deremer commented on #2438
We were experimenting with a few things and one thing we try is moving `const logging = Logging();` inside the `log()` function. Since we've done that we haven't seen the error.

If ok, can we leave this open for a couple of days so that I can report back on if that fixed it or not?

If that is in fact the issue, then Firebase may want to update their docs: https://firebase.google.com/docs/functio

[2017-07-11 23:52] beaulac opened #2447 "Datastore - Queries created by Transaction don't fall back to Datastore namespace"
Queries created in a transaction without an explicitly specified namespace do not fall back to the datastore's constructor-specified namespace.

Because of this, the namespace must always be explicitly specified for ancestor queries created within a transaction.

This is probably not desired behaviour, since the docs for Transaction#createQuery provide a namespace-less example (`transaction.create

[2017-07-12 01:07] beaulac commented on #2424
@jcsvwinston If you really want to throw an error if nothing was deleted, look at the `apiResponse.indexUpdates` property.

Note that the second time you deleted that key, `indexUpdates` is `0`.

You could satisfy your requirement with a small wrapper function:
[code]

[2017-07-12 08:28] steren commented on #2445
@jmdobry

[2017-07-12 10:36] callmehiphop commented on #2447
Thanks for reporting! We'd be more than happy to accept a pull request if you'd like to contribute, otherwise I think this is something we can easily tackle within the week.

[2017-07-12 10:40] callmehiphop commented on #2446
For the callback mode, the value is indeed a boolean, however for promisified versions we always return an array (since promises can only resolve with a single argument). Something we need to improve on is highlighting the promise docs, because as it is now we simple show its usage in the last example.

Sorry for any confusion this caused you!

[2017-07-12 10:40] #2446 closed

[2017-07-12 10:43] callmehiphop commented on #2445
Thanks for reporting! This is a duplicate of #2431, which we're currently looking into!

[2017-07-12 10:43] #2445 closed

[2017-07-12 10:44] callmehiphop commented on #2431
Looking into this now, but those methods are part of `DatastoreRequest` so for some reason the mixin methods have disappeared.

[2017-07-12 11:13] callmehiphop commented on #2431
Looks like we added a filter to check if a dox block was a method by checking for a `typedef` tag. However as a side-effect, any methods that have 0 tags (params, examples, etc.) also were considered non-methods.

I went ahead and documented the parameters for the missing methods, which fixes the issue, however we may want to consider refactoring that filter as well?

[2017-07-12 11:17] callmehiphop commented on #2441
Where would something like this live on the site? My initial thought would be to add some kind of guide to the `Getting Started` section that gives a general overview of unit testing for any module with a list of emulator modules (where applicable) per API?

[2017-07-12 11:21] callmehiphop commented on #2430
@stephenplusplus I think @lukesneeringer's suggestion is good, we can still put other links (upstream docs, etc.) at the bottom but maybe some smaller text next to the method name that says `view source` or similar.

[2017-07-12 11:38] callmehiphop commented on #2356
@bjwatson working on this right now. For anyone experiencing a similar issue, you'll want to check that you're not creating multiple Database instances for the same Database. Everytime an instance is created it creates a new session pool (hence why we saw the number of sessions get really high).

The PR I'm working on is going to cache the pools, that way users don't have to be bothered with cachi

[2017-07-12 11:41] beaulac commented on #2447
Hi! I've opened #2448 that fixes this. I'm not sure why the CI is failing, though; I ran the tests before creating the PR and everything was fine.

[2017-07-12 11:41] callmehiphop commented on #2447
Oh hey, I didn't realize you already sent one over :)

[2017-07-12 11:44] callmehiphop commented on #2447
@stephenplusplus can you take a peek at why CI is failing? It looks like code coverage went up, but I think that's the reason the build is failing.

[2017-07-12 12:13] beaulac commented on #2447
All the tests passed on v4, but then it bailed out when calling `nvm use v6`. I noticed that `nvm install v4` is run in the Circle dependencies phase, but not `nvm install v6`. I added it to test.sh in the same manner as v7 and v8. I'll revert this if you'd prefer this change be done in the Circle CI dependencies config.

[2017-07-12 12:56] jmkrimm commented on #716
@royalpeasantry any ideas on when all paths to the storage API will return email address?

[2017-07-12 13:21] xbill82 commented on #2446
Oh, I understand. Is this documented somewhere?

[2017-07-12 13:28] Chipintoza commented on #2356
@stephenplusplus with one database instance there is also much problems, i was waiting you to finish caching process.
When there is only one Database instance, it looks @google-cloud/spanner v0.5.0 not include [PR 2358](https://github.com/GoogleCloudPlatform/google-cloud-node/pull/2358)
and this error happened
[code]

**because of this retry process not happened and many data is lost**

when i upd

[2017-07-12 13:37] callmehiphop commented on #2446
Well, if you go to the link you provided, the second example shows how to use that method with a promise. I don't think we explicitly state that promises return arrays anywhere.. but that is standard for every method in the library.

[2017-07-12 14:29] JoshFerge commented on #2356
We're also experiencing the `TypeError: this.stream.end is not a function` in our system now.

[2017-07-12 19:20] lukesneeringer commented on #2441
I would be fine with that. I would probably be okay making this something that happens after the repo reorg; we could do Datastore early.

[2017-07-12 21:58] stephenplusplus commented on #2446
This is a similar issue as #2167-- we plan to add docs that explain the basics of how promises work across the library. Sorry for the confusion!

[2017-07-12 22:00] stephenplusplus commented on #2430
I'm fine with it that way, or the way it is!

[2017-07-12 22:02] stephenplusplus commented on #2447
Yeah, Circle is just an error fest right now. As long as AppVeyor is passing, this is "as good as green" until we have time to dig into Circle (probably when we revisit #2386)

[2017-07-12 22:03] #2447 closed

[2017-07-12 22:09] stephenplusplus commented on #2431
Can you link the code you found that / if there was a related issue it was solving? I think it would be better to do the refactor, so we can be sure we're not accidentally omitting other parts of the docs we haven't realized yet.

[2017-07-12 22:14] DominicKramer commented on #2432
@stephenplusplus The `log-driver` module only outputs to standard out.  A logdriver PR [#6](cainus/logdriver#6) was not accepted since the path is to keep that module using only standard out.  What is your perspective on addressing the fact that errors are not printed to standard error?

[2017-07-12 22:23] stephenplusplus commented on #2432
My instincts say they should print to `stderr`, but I'd defer to what you and @ofrobots think / have seen in the wild.

[2017-07-13 00:11] ofrobots commented on #2432
Agree with printing to `stderr` – that is more reasonable for libraries. Perhaps we can switch to a different logger, e.g. [npmlog](https://npm.im/npmlog), etc.

[2017-07-13 06:53] lantiaiot commented on #2424
This solution solves my problem at the moment. I wasn't sure if IndexUpdates when 0 means that any entity was deleted.

But It would be more interesting as comment @lukesneeringer , if the method returns the number of deleted entities.

Thanks for your support.

[2017-07-13 15:07] svsh227 opened #2455 "Auth error:Error: invalid_grant on windows 7"
I am using @google-cloud/speech but while doing node app.js I am getting  Auth error: Error: invalid_grant.
I am searching on google but I couldn't get my solutions. Please tell me how to remove this error.
My code is:

[code]

On linux its working fine. But on windows i got error.

[2017-07-13 15:57] stephenplusplus commented on #1859
Yes, we can do that, however two things to consider:

- A solution without any changes to the string replacement pattern was already discussed in https://github.com/googleapis/gax-nodejs/issues/134, without any additional voices of concern raised. I think randomizing the string further (`{{projectId}}${uuid}`, or something similar) would make the GCN codebase simpler, and push more menial tasks to

[2017-07-13 16:29] stephenplusplus commented on #2400
@lukesneering can the generated layer add a sample snippet in the `@example` block? That is what is required to resolve:

[2017-07-13 18:32] landrito commented on #2413
Hm. I am not able to recreate the rejection warning happening 10 times.

Heres my testing method:

1. Create a simple docker container to ensure no default credentials are set.

[code]
[code]

2. Run the node repl in the docker image
[code]

3. Instantiate a client
[code]

[2017-07-13 19:46] hosusan6 opened #2456 "auth error: Caller does not have storage.buckets.create access to project"
running the basic storage example, have followed the auth instructions as well and get the error as listed below. Have googled it but very few comments on it and no suggestions as to where the problem might be?

[code]

errors:
   [ { domain: 'global',
       reason: 'forbidden',
       message: 'Caller does not have storage.buckets.create access to project*********.' } ],
  response: undefined,

[2017-07-13 19:58] bensimian commented on #1755
Has this been updated to provide an API org option to increase the size?

[2017-07-14 00:11] ofrobots commented on #1859
I am still fairly strongly opposed to string replacement patterns - even with more randomization. We ought to be able to guarantee that we will not clobber user data under any conditions.

[2017-07-14 00:19] stephenplusplus commented on #2456
That is an error related to IAM permissions. You will have to grant the appropriate permissions to the service account you are using to authenticate with `@google-cloud/storage`. The IAM page in the console is here: https://console.cloud.google.com/iam-admin/iam/project

[2017-07-14 00:19] #2456 closed

[2017-07-14 06:44] callmehiphop commented on #2356
@JoshFerge do you have an error stack you could share?

[2017-07-14 06:48] callmehiphop commented on #2431
Sure it was [parser.js#L48](https://github.com/GoogleCloudPlatform/google-cloud-node/blob/master/scripts/docs/parser.js#L48). This function makes an assumption that if there are no tags associated with the JSDoc (params, examples, returns etc.) then it probably is not a method.

[2017-07-14 09:26] caccialdo opened #2457 "Support for batch upload"
From reading [this section](https://cloud.google.com/storage/docs/json_api/v1/how-tos/batch) of the REST API documentation for GCS, it seems the service supports batch uploads.

Looking at the [code](https://github.com/GoogleCloudPlatform/google-cloud-node/blob/master/packages/common/src/util.js#L235) generating the request, it doesn't look like there is any way to leverage that feature.

Our team

[2017-07-14 09:51] diiiego83 commented on #1346
any update? i really need to set my access token  but i can't find a solution.

[2017-07-14 14:15] JoshFerge commented on #2356
here is the error stack. @callmehiphop
[code]

[2017-07-14 15:57] deremer commented on #2438
Update: since we moved `const logging = Logging();` inside the `log()` function, we have not seen this error.

So I believe we have enough sample data to declare that a fix. Now whether or not that TCP error should in fact happen, is up to you guys to determine :-)

I'm good to close this, but I'll let you guys at Google decide if it should be closed, since you probably want to get the Firebase gu

[2017-07-14 17:45] stephenplusplus commented on #2431
It looks like that change was made to properly parse the `error-reporting` docs. Can you recall why that change was necessary from this PR: https://github.com/GoogleCloudPlatform/google-cloud-node/pull/2181/files? Maybe we can find another way to solve the problem that line was correcting.

[2017-07-14 18:04] stephenplusplus commented on #2457
I saw a little notice on that page:

We don't support the batch API for the other calls (updating metadata, deleting objects, etc), and I'm not sure if that's something that we intend to support (cc @lukesneeringer to make the call).

I would recommend disabling resumable uploads for the small files you are uploading, which would look like:

[code]

[2017-07-14 18:09] stephenplusplus commented on #2455
The `invalid_grant` error is a notoriously difficult one to debug. I would try removing these lines:

[code]

By providing those paths during the Speech instantiation, the API client has all it needs.

As far as it working on Windows and not Linux, that is hard for me to come up with an explanation. Is there anything unique/worth mentioning about how you are running the program? Are you running pa

[2017-07-14 21:37] caccialdo commented on #2457
@stephenplusplus My bad for misreading this note. I didn't really batching was only supporting for metadata or actions on files.

I'm sure there's a reason for such limitation. Would be curious to know the reason behind it though.

[2017-07-14 23:14] stephenplusplus commented on #2457
No problem. I'm going to close, since we don't have any changes to make in this library. If we decide to support batching on the API calls that can handle it, we can re-open. If anyone happens to see this who can chime in with an answer on why, feel free :)

[2017-07-14 23:14] #2457 closed

[2017-07-15 00:56] ivanseidel commented on #2302
Same problem here. This is really bad, because it seems it's not even attempting to report errors (watched requests from Charles, and none was to `https://clouderrorreporting.clients6.google.com/v1beta1/projects/<myproj>/services?key=...`.

It seems that it's validating OAuth before sending, but not being able to "check" the token, because there isn't none.

[2017-07-15 02:21] jasonpolites commented on #2438
There are some related issues with other GCP node modules related to auth tokens expiring, which fits with the "fix" of moving initialization to function-scope, but does not fit with the "we only see if after re-deploy".  On the other hand, network issues experienced at startup only might be related to slower-than-expected spool up of network resources, but that doesn't fit with the behavior of th

[2017-07-15 21:20] sthielen commented on #2087
I've been having the same issue starting yesterday (7/14), specifically with passing the URL of an image being served from AWS Cloudfront (something like: `https://screenshots.cdn.gometa.io/A5A74799-8D42-44E4-8D5D-D54BA1B92CD9.jpg`). The problem is intermittent & I cannot consistently reproduce. Sometimes it works for an hour, then goes back to failing with that `500` error.

Temporarily solved on

[2017-07-17 09:47] jniemin commented on #1916
I just pumped in to this issue. We have data structure where under main entity there is embedded entity (or actually array of entities) that has a property that is longer than 1500 bytes. As we can't exclude this >1500b property from indexing, we can't store even the main entity.

Is there any progress on this? Basically datastore is unusable for us at this point

[2017-07-17 10:45] iankit3 opened #2460 "Problem with speechRecognition response"
#### Environment details

  - OS: Ubuntu 16.04
  - Node.js version: 6.9.2
  - npm version: 4.0.5
  - google-cloud-node version:
  - google-cloud/speech : 0.6.0

#### Steps to reproduce

  1. require `google-cloud`
  2.  .....

Basically it is not an issue (NOT A ISSUE)
Need some help.
I am using the speechToText node apis

I have a function
[code]
The results that i am getting is like below attach

[2017-07-17 14:04] #2460 closed

[2017-07-17 14:06] iankit3 commented on #2460
Closing it as it is working by adding `interimResults": true` instead of `interim_results`
I am very sorry  :)   :(

[2017-07-17 15:38] lukesneeringer commented on #2460
Hi @iankit3,
Glad you got everything working! :-)

[2017-07-17 17:01] #2356 closed

[2017-07-17 17:10] stephenplusplus commented on #2356
The final fix (we hope!) is out under `@google-cloud/spanner@0.6.0` -- please let us know if there are any issues.

[2017-07-17 19:13] callmehiphop commented on #2431
Honestly, no I don't remember :(. I'm guessing the logging stuff uses JSDoc tags differently than us?

[2017-07-17 19:21] callmehiphop commented on #2061
@chown9835 @stephenthoma is this still something you are seeing?

[2017-07-17 19:52] #2431 closed

[2017-07-17 20:04] stephenplusplus commented on #2431
Yay: https://googlecloudplatform.github.io/google-cloud-node/#/docs/datastore/1.0.6/datastore?method=update

[2017-07-18 00:47] bjwatson commented on #2356
@Chipintoza If there are other problems in https://github.com/GoogleCloudPlatform/google-cloud-node/issues/2356#issuecomment-314768751 that are still present in the `0.6.0` release, can you create separate issue(s) for them, and tag me and @lukesneeringer. Thanks!

[2017-07-18 02:17] 8357753 commented on #2438
For me 'Error: "Endpoint read failed"' is often reported in Stackdriver when I call the Spanner API from a GCP Function which has been erroneously deployed with local node_modules from my computer (instead of allowing GCP to create the dependencies).

[2017-07-18 14:38] deremer commented on #2438
We are deploying via Firebase and accoriding to [this link](https://cloud.google.com/functions/docs/writing/dependencies), "If you are deploying through the Firebase CLI, the local node_modules folder will be ignored, and you must specify your dependencies in package.json"

[2017-07-18 14:59] stephenplusplus opened #2462 "docs: (google-cloud) gapic versions acting as first class APIs"
The nav bar on the docs site:

![image](https://user-images.githubusercontent.com/723048/28323856-f6e7b952-6ba7-11e7-8a5b-3a80b3876741.png)

These are all from the packages _inside_ of google-cloud, e.g. `v1` is from `@google-cloud/datastore` (https://googlecloudplatform.github.io/google-cloud-node/#/docs/datastore/1.0.6/v1). We need to find a way to stuff them back inside of their proper parent,

[2017-07-18 15:01] stephenplusplus opened #2463 "docs: dlp v2beta1 link is a 404"
#### Steps to reproduce
1. https://googlecloudplatform.github.io/google-cloud-node/#/docs/dlp/master/dlp
2. Click "v2beta1" in nav bar

#### Expected
It shows the generated documentation.

#### Actual
It redirects to the home API documentation page, https://googlecloudplatform.github.io/google-cloud-node/#/docs/google-cloud/0.56.0/not-found

[2017-07-18 16:01] stephenplusplus commented on #2463
Fixed by https://github.com/GoogleCloudPlatform/google-cloud-node/commit/e3c9e13107bedf17f3e91f1d705659f0bf2f437a

Docs: http://googlecloudplatform.github.io/google-cloud-node/#/docs/dlp/0.1.1/v2beta1

The "Data Types" link doesn't work, since there aren't any dummy JS files generated for DLP. PR that intends to eventually include them: #2465

[2017-07-18 16:01] #2463 closed

[2017-07-18 19:24] 8357753 commented on #2438
I get the error occasionally even with the correct deps. Yesterday was especially bad. This morning the error has been replaced with '"Function execution took 242 ms, finished with status: 'connection error'"' and the last log before that is the call to database.runTransaction. I do some more investigation and post the results here

[2017-07-19 01:22] danoscarmike opened #2466 "Video Intelligence (Alpha) is missing from README"
Please update README to indicate Video Intelligence released at Alpha.

[2017-07-19 03:09] danoscarmike commented on #2466
Actually, according to [cloud.google.com](https://cloud.google.com/video-intelligence/docs/reference/libraries#client-libraries-install-nodejs) this client should be in Beta

[2017-07-19 14:45] callmehiphop commented on #2400
This appears to be resolved.

[2017-07-19 14:45] #2400 closed

[2017-07-19 15:15] #2342 closed

[2017-07-19 15:16] stephenplusplus opened #2468 "speech: coverage 57%"
The helpers.js files is a little short on coverage.

[2017-07-19 18:03] stephenplusplus commented on #2440
PR sent in #2470 -- sorry for the delay!

[2017-07-19 22:51] frankyn opened #2471 "[Storage-request] Provide an example of setting the default storage class for a bucket."
Hi,

This is a request to provide an example of setting the default storage class for a Storage bucket. The current method for updating the storageClass isn't clear or visible in the documentation. Although, I'm not sure if it makes sense for the Nodejs community to have this documented. I'm open to interpretation!

[code]

[2017-07-20 09:31] LeonLiber commented on #1916
@jniemin I had the same issue and found 2 workarounds: One is utilizing the hierarchy supported in Datastore - one entity can be a child of another so if the embedded entity is complex - I suggest you take it out into a new entity where the parent of it is the original one.

Another (sort of) workaround I used is just simplifying the embedded entity by taking some properties back to the parent its

[2017-07-20 12:42] #2440 closed

[2017-07-20 13:06] stephenplusplus commented on #2471
PR sent to add a method "bucket.setStorageClass()"! #2473

[2017-07-20 14:39] stephenplusplus opened #2474 "library coverage: 25%"
nyc is reporting 25% coverage after I merged #2458. Only a subset of our tests are being run during the coverage report:

<details>
<pre>

  Bigtable/Cluster
    instantiation
      √ should inherit from GrpcServiceObject

  Bigtable/Family
    instantiation
      √ should inherit from GrpcServiceObject

  Bigtable
    instantiation
      √ should inherit from GrpcService

  Bigtable/Instance

[2017-07-20 14:56] #2474 closed

[2017-07-20 15:21] frankyn commented on #2471
Thanks @stephenplusplus! I'll follow-up with comments to that PR.

[2017-07-20 16:09] #2471 closed

[2017-07-20 16:32] #2468 closed

[2017-07-20 18:28] frankyn commented on #2322
Hi, I'm just pinging the issue as I was trying to use the File.copy method to rotate customer-supplied encryption keys using node.

I tried the following, but I didn't have any luck.

[code]

[2017-07-20 21:04] #2180 closed

[2017-07-20 21:43] stephenplusplus commented on #2322
Maybe we should have a method:

``js
file.rotateEncryptionKey(newKey, function(err) {});
[code]

[2017-07-20 21:46] frankyn commented on #2322
+1 I agree can we move forward with this feature request? Ruby has this helper method in its client library. ([Documentation](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud/v0.35.0/google/cloud/storage#customer-supplied-encryption-keys)).

[2017-07-20 21:47] stephenplusplus commented on #2322
Sounds good to me, and thanks for the reference.

[2017-07-21 05:41] kwent opened #2479 "bigquery: timestamp return format is off"
Hi,

**Issue:** I'm not sure timestamp type are detected correctly and returned with the right format.

#### Google BigQuery Console is good:

<img width="984" alt="screen shot 2017-07-20 at 10 26 24 pm" src="https://user-images.githubusercontent.com/879780/28450233-d4a43db2-6d9a-11e7-9509-6925adc5689d.png">

Just to validate the type of time_ts, here is the schema:

<img width="952" alt="screen s

[2017-07-21 11:04] cpl-no-takahashi opened #2480 "table.import fails with an error that says "not a query job" with code 400"
Hello

I am having an issue with `table.import(...)`.
I am trying to import a csv data file to my table, but it errors out and the error says that it is not a valid query.
Now I am not trying to run a query so this error really confuses me and I cannot seem to find anything related to this issue on the official doc either.
It would be really awesome, if you could point me to the right direction.

[2017-07-21 14:05] deltaepsilon opened #2481 "Docs example -> Storage -> File -> createReadStream"
The example for [file.createReadStream](https://googlecloudplatform.github.io/google-cloud-node/#/docs/google-cloud/0.41.2/storage/file?method=createReadStream) calls the event ```response``` when it should be ```data```.

Current:
[code]

Current:
[code]

[2017-07-21 15:55] stephenplusplus commented on #2481
We emit `response` with the HTTP response. The docs show:

[code]

The `pipe` call with another stream channels the `data` events to it automatically, which is why we don't document it specifically.

[2017-07-21 15:55] #2481 closed

[2017-07-21 18:06] chrisabrams opened #2482 "Cannot install @google-cloud/storage"
#### Environment details

  - OS: OS X 10.12.4
  - Node.js version: 8.2.1
  - npm version: 5.3.0
  - google-cloud-node version: dunno?

#### Steps to reproduce

  1. `npm install @google-cloud/storage`

Results in:

[code]

[2017-07-21 18:18] #2482 closed

[2017-07-22 19:57] lukesneeringer commented on #2462
@stephenplusplus Poke on this (on Monday). I really, really want to get this to disappear. It looks really awful.

[2017-07-22 20:06] stephenplusplus commented on #2462
Many hours went to this last week, and it's unfortunately quite a lift. I might need to rethink my approach, with some guidance from @callmehiphop.

A quick fix that came to mind would be linking directly to the sub-module's API documentation page. UX takes a hit in this case, because the context of viewing docs in the umbrella mode would be lost.

[2017-07-22 22:14] lukesneeringer commented on #2462
Let's discuss in the standup on Monday (after we get through the common stuff since we are combining the languages). I would be okay with a stopgap solution considering we only need to get through a month or two. I just want something that does not look embarrassing. :-)

[2017-07-23 23:04] 8357753 commented on #2438
I have issues using GCP Functions and Spanner with JS client 0.7.1. I sometimes receive errors invoking GCP Functions through Postman or using the testing screen from within the GCP Functions web console. The same Function works fine if I invoke it locally during periods when errors are occurring with the remote code. This happens around 5-10% of the time but it is not consistent, sometimes there

[2017-07-24 08:47] jwgoh opened #2484 "Logging Winston Monitored Resource"
#### Environment details

  - OS: Ubuntu 16.04
  - Node.js version: v4.8.4
  - npm version: 2.15.11
  - google-cloud/logging-winston: 0.5.0

Hi there. 2 things that I noticed when trying out the Stackdriver transport for winston.

1. The auto detection of monitored resource is not accurate. My node app is running on Google Compute Engine (GCE), but my logs appear in Google Container Engine (GKE).

[2017-07-24 13:08] stephenplusplus commented on #2480
Hi @cpl-no-takahashi, sorry for the trouble. I haven't been able to reproduce. When you use a local file path with `table.import`, it is using a different method, `table.createWriteStream` behind the scenes. In case you want to see if you have different results using that method, the code should look something like this:

[code]

Since I can't reproduce, could you provide a gist or repo that I can

[2017-07-24 13:09] stephenplusplus commented on #2455
@svsh227 Please let me know if you are still having problems getting this working.

[2017-07-24 13:09] #2455 closed

[2017-07-24 15:45] stephenplusplus opened #2486 "Missing dummy docs JS files"
@lukesneeringer Would you mind generating the dummy doc JS files for these APIs?:

- [x] Language
- [x] Monitoring
- [x] Video Intelligence
- [x] Vision

Thanks!

[2017-07-24 16:49] cabeza-melon opened #2487 "Problem with queriying for kind 'Order' (undocumented reserved word?)"
#### Environment details

  - OS: Ubuntu 16.04
  - Node.js version: v7.8.0
  - npm version: yarn 0.23.4
  - google-cloud-node version: @google-cloud/datastore 1.03

#### Steps to reproduce
**Preparation:**
Create an entity, or some more, with kind "Order" and some well-defined properties.
Create an index with a selection of the existing properties for doing a projection query.

**a)**
Run a projec

[2017-07-24 17:09] stephenplusplus commented on #2487
This issue was moved to GoogleCloudPlatform/google-cloud-datastore#177

[2017-07-24 17:09] #2487 closed

[2017-07-24 17:10] stephenplusplus commented on #2487
Hey @cabeza-melon, thank you for filing. I moved this over to the general Datastore repo. After they have a chance to look into it, if there's anything we need to do in Node (or the other languages), we will file further issues to get that work done. The new issue is here: https://github.com/GoogleCloudPlatform/google-cloud-datastore/issues/177

[2017-07-24 17:48] cabeza-melon commented on #2487
Thanks.
I think now my issue was mistaken. I was just going to edit and rewrite it.
The GQL query works in principle by using backticks. However, it complains in the console that no index is defined for the specified properties. But the index is defined and runs in Node.js (with empty result).
I will try to be clearer on what happens and use the appropriate place to describe any problems that pers

[2017-07-24 18:57] cabeza-melon commented on #2487
Okay, it seems that this here is my actual problem:
https://stackoverflow.com/questions/40514708/gql-projection-query-on-embedded-entity

In the mentioned projection query I had some properties of embedded entity type. Maybe should have thought of that myself that this might not be possible, even if the only intended use was to project the embeded entity and not filter or sort on it.

Sorry for sp

[2017-07-24 20:52] 8357753 opened #2489 "Spanner node.js client used with GCP Functions generates errors when GCP Function is cold"
#### Environment details

  - OS:  GCP Functions
  - Node.js version:  GCP Functions
  - npm version: 5.0.3
  - google-cloud-node version: google-cloud/spanner 0.7.1

#### Steps to reproduce

  1. Deploy a GCP Function that uses the Spanner node.js client to run transactions against a Spanner database
  2. Invoke the function and ensure that the function correctly issues the transaction
  3. Wait

[2017-07-24 20:54] stephenplusplus commented on #2489
I believe this is a duplicate of #2438, which I see you've posted in. I mean duplicate in the sense that a resolution to that will also resolve this. I'm going to close under that assumption, but please let me know if I'm mistaken and we will re-open.

[2017-07-24 20:57] 8357753 commented on #2489
Yep I opened this because the other issue concerned logging so I thought I should make the issue clearer.

[2017-07-24 22:32] 8357753 commented on #2489
But this may not be a duplicate, I don't really know. We use Stackdriver logging in other GCP functions without issue and even with this issue we don't always receive "Endpoint read failed" we sometimes get "Session not found". I was thinking that the connection to Spanner was made but perhaps using an orphaned session i.e. an old one passivated with the container when it went cold. Having said th

[2017-07-24 23:41] 8357753 commented on #2489
Also if I delete the Spanner database and then re-create it I get similar errors and these can only be fixed by re-deploying the GCP Function.

[2017-07-25 04:55] cpl-no-takahashi commented on #2480
Hello @stephenplusplus

Thank you for the response. I don't have to repository at the moment, but I am pasting the test code that I was using. I hope this helps.

[code]

[2017-07-25 11:25] maephisto opened #2490 "Node Vision SDK underperforming in simple case when compared to the GCloud Vision demo"
#### Environment details

  - OS: MacOS
  - Node.js version: 8.1.4
  - npm version: 5.0.3
  - @google-cloud/vision version: 0.11.4

#### Steps to reproduce

1. download the sample image
![sample](https://user-images.githubusercontent.com/3056582/28569874-fe84c01c-713b-11e7-8cb7-dce5e0cb10f0.png)

As it is pretty clear, you'd expect it to return the capital letter "M" in the text detection field.

[2017-07-25 11:36] victusfate commented on #1683
Can anyone recommend something like geofire for cloud Datastore? (Geohash calc plus region lookups in nodejs)

It sounds like we'll need to write this ourselves migrating from Firebase

[2017-07-25 13:27] stephenplusplus commented on #2490
This is interesting, indeed. Thanks for reporting.

Here is the request and response payload:

[code]

@lukesneeringer any ideas?

[2017-07-25 13:37] stephenplusplus commented on #2480
Thanks for the snippet, I think I see the issue now. Instead of the `job.getQueryResults` line, just use the returned job's event emitter:

[code]

Let me know if there are any issues with this!

[2017-07-25 13:37] #2480 closed

[2017-07-25 13:38] stephenplusplus commented on #2489
I'll re-open and maybe @vkedia / @callmehiphop can weigh in.

[2017-07-25 13:46] #2462 closed

[2017-07-25 13:55] stephenplusplus commented on #2462
The docs are fixed. Here's [master](https://googlecloudplatform.github.io/google-cloud-node/#/docs/google-cloud/master/google-cloud) and the latest release, [0.56.0](https://googlecloudplatform.github.io/google-cloud-node/#/docs/google-cloud/0.56.0/google-cloud).

[2017-07-25 15:43] callmehiphop commented on #2489
We have an open issue for the Session not found (#2061). However if you're redeploying, I don't think it would use sessions from an earlier deployment.

I haven't seen any errors involving re-creating databases, could you post any error messages you get when trying to do so?

[2017-07-25 19:55] 8357753 commented on #2489
This morning I came in and ran the functions a few times via Postman and had no problems i.e. they ran fine from cold. I continued and eventually received:

Error: Endpoint read failed","error_code":14

I then redeployed and immediately ran the functions and had no problems. I then manually ran the functions several times and eventually received:

textPayload:  "Function execution took 55 ms, fini

[2017-07-25 20:13] 8357753 commented on #2489
Looked at #2061 but we are using GCP Functions so keep alive is not relevant. But I realise I need to call database.close to stop orphaned sessions being used by a cold function.

[2017-07-25 20:22] vkedia commented on #2489
When the GCP function is invoked multiple times does it recreate the spanner client each time (specifically the `instance` object) or can it reuse them?
Also note that when a database is deleted all its sessions get invalidated. A general advise will be to redeploy your code in that case.

[2017-07-25 22:56] 8357753 commented on #2489
Well we could cache the Spanner client (we do so with other logic) but I imagine that would cause issues when the function is cold since the session would be orphaned.

Using Spanner 0.5.0 (downgraded from 0.7.1 but will test that later) with require('@google-cloud/spanner') at the top of the module but the client, instance and database initialized in the code just before calling 'database.runTran

[2017-07-25 23:06] 8357753 commented on #2489
Makes me think that perhaps a transactional store is not a good fit for GCP Functions/AWS Lambdas (at least ones used infrequently) because of the natural overhead of the session, a session that is not needed when using a NoSQL database, horses for courses I guess...

[2017-07-25 23:19] 8357753 commented on #2489
Well I spoke too soon, just received a 500 error from the function that seemed to have become reliable and nothing reported in Stackdriver just after the function started. I waited 5 min before running it again and see the entry 'Function execution started' for the new invocation but no 'Function execution took 678 ms, finished with status' entry for the previous function that failed.

[2017-07-26 00:07] 8357753 commented on #2489
Random errors seem to be the following i.e. don't see "Endpoint read failed" anymore:
payload:  "Function execution took 3137 ms, finished with status: 'connection error'"

[2017-07-26 01:11] cpl-no-takahashi commented on #2480
Awesome. Thank you for the help!

[2017-07-26 03:17] 8357753 commented on #2489
If I use 'database.close' it causes all subsequent calls to the function to fail with the following error but only for transactions involving several inserts:

payload: "Function execution took 3137 ms, finished with status: 'connection error'"

[2017-07-26 08:38] 8357753 commented on #2489
So I moved all the Spanner initialization code to a module which caches the logic and removed the 'database.close' calls. Now Spanner is only initialized once for as long as the container is re-used. I still get the occasional 'connection error' after the function has been cold for along time but only in a function that runs several inserts in a transaction, other functions that do simpler calls t

[2017-07-26 12:24] maephisto commented on #2490
Thank you for verifying the issue @stephenplusplus.
Looking forward to any ideas on how to overcome this issue.

[2017-07-27 16:02] ofrobots opened #2494 "Logging resource labels use snake_case rather than camelCase"
*Originally reported by @jwgoh in https://github.com/GoogleCloudPlatform/google-cloud-node/issues/2484*

I tried specifying the monitored resource manually. The keys for labels seems to only take snake_case i.e. project_id and NOT camelCase projectId.

[code]

I referred to the documentations [here](https://github.com/GoogleCloudPlatform/google-cloud-node/blob/a64518e80742429dd3b4021a6f74c8235faa0

[2017-07-27 16:10] ofrobots commented on #2484
Hi @jwgoh. Thanks for the detailed bug report. I have split the snake_case issue into a separate one (https://github.com/GoogleCloudPlatform/google-cloud-node/issues/2494) and we can keep this issue for diagnosing the incorrect resource identification of GCE as GKE.

Is there any chance you might be setting the `cluster_name` as a metadata attribute on your GCE instance?

We detect the environment

[2017-07-28 15:14] stephenplusplus commented on #1916
Thanks for your patience, everyone. There are a couple of solutions we've talked about, but I'd like to get feedback on one more that might be the most simple. Can you see any "gotchas" using an "excludeFromIndexes" array on the top level to define where the unindexed properties are?

(cc @bedeoverend)

[code]

This seems like it would also be more simple than the current "data"/verbose definition

[2017-07-28 15:29] lukesneeringer commented on #1916
Summoning @JayGoldberg for feedback also. We can implement this if there are no objections to @stephenplusplus's proposed solution.

[2017-07-28 15:56] stephenplusplus commented on #1916
Small amendment to the above suggestion, since `subjects` is an array:

[code]

[2017-07-28 16:02] lukesneeringer commented on #1916
Is that amendment necessary? It is unambiguous even in your previous construction.

[2017-07-28 16:05] stephenplusplus commented on #1916
I think it follows standard embedded property notation, to differentiate between "property of an object" and "property of an object inside of an array". I've also seen this in API response documentation on the Google Docs site. So no, not necessary, but should be more familiar. Willing to be downvoted on that assumption.

[2017-07-28 17:45] adostal opened #2496 "Have you any plans for add App Engine?"
I would like use automatic deploy via cloud functions. But now is not very ussefull because this client doesn't have API for App Engine.

Have you any plans for add App Engine?

[2017-07-28 23:17] stephenplusplus commented on #1916
PR sent in #2497. Please take a look!

[2017-07-29 02:07] bedeoverend commented on #1916
@stephenplusplus thanks for this suggestion! Looks good to me, I like the general concept.

So two potential things:

1. Is your proposed solution also allowing for exclusion for all nested properties? e.g. Will excluding `metadata` exclude all properties / nested entities beneath it? Alternatively could a `metadata.*` be also supported?

2. Suppose you hold an array of values which don't all foll

[2017-07-29 20:50] lukesneeringer commented on #2496
Hi @adostal,
Right now, we do not have any short-term plans to add the App Engine API, although this is something it would be interesting to do in the future.

Thank you for asking, and we will keep this request in mind!

[2017-07-29 20:50] #2496 closed

[2017-07-31 14:43] lukesneeringer commented on #1916
I am pretty sure that trying to do `data.0.foo` sounds not great:

1. It is ambiguous in JavaScript because `data = {'0': { 'foo': ... }}` is distinct from `data = [{'foo': ... }]`.
2. In the case of differing schemas, @stephenplusplus's current solution still works, since `data[].bar` just does not match.

I do agree that some concept of `*` and `**` would be useful, but it is technically orthogo

[2017-07-31 14:44] lukesneeringer commented on #1916
Prior art, got it. I am convinced.

[2017-07-31 14:51] stephenplusplus commented on #2416
@lukesneeringer should we go ahead and update this value, or is there someone we need to ping first?

[2017-07-31 14:52] stephenplusplus commented on #2430
This issue was moved to GoogleCloudPlatform/gcloud-common#229

[2017-07-31 14:52] #2430 closed

[2017-07-31 14:53] stephenplusplus commented on #2430
The positioning issue can be resolved in the common repo-- that's where the change would be made, and it would affect all of our libraries.

[2017-07-31 15:45] stephenplusplus commented on #2397
@callmehiphop could you see if you can reproduce this locally now? We merged a Spanner PR (#2450) this morning, and [CI has been failing](https://circleci.com/gh/GoogleCloudPlatform/google-cloud-node/1537):

[code]

[2017-07-31 22:33] bedeoverend commented on #1916
Fair enough - I guess there could be the scenario of similar / same schemas, but wanting to exclude only one item from being indexed. But, I think that's a big edge case, and I think it would be a bad pattern regardless, so happy to ignore that.

Sounds good to me 👍

[2017-07-31 22:36] anotheri commented on #1424
It looks like API key auth doesn't work for `@google-cloud/language` as well.
could you fix it please?

[2017-07-31 22:59] anotheri opened #2498 "API key authentication doesn't work for Cloud Natural Language"
#### Environment details

  - OS: `Ubuntu`
  - Node.js version: `8.1.4`
  - npm version: `5.0.3`
  - `"@google-cloud/language": "^0.11.0"`

#### Steps to reproduce

[code]

It throws:
[code]

It works with `credentials` object and with config json file, but it fails with API key.
Please advise or fix.

[2017-07-31 23:09] anotheri commented on #2498
And it looks like API key auth doesn't work for other packages as well, see: https://github.com/GoogleCloudPlatform/google-cloud-node/issues/1424

[2017-08-01 17:33] lukesneeringer commented on #2490
Poking to say I have seen this and want to look at it ASAP.

[2017-08-01 17:41] #1916 closed

[2017-08-02 01:24] HuyJokezy opened #2500 "Very slow Datastore query from Cloud Function"
I'm experiencing questionably slow query time. I'm using Google Cloud Function with google-cloud/datastore modules, region: us-central1 My data is structured like this with only 1000 entities, indexed on all properties ![datastructure](https://user-images.githubusercontent.com/29818418/28809359-2fb0c3c2-76ad-11e7-9522-27a12ccf7947.PNG) My query is: ![query](https://user-images.githubusercontent.co

[2017-08-02 06:30] HuyJokezy commented on #2500
Turn out I should declare my datastore first in the function, not right before I need to use it.

[2017-08-02 06:30] #2500 closed

[2017-08-02 18:48] darciusal commented on #2139
I have similar problem with the auth-library.
Set up a google cloud function to monitor a bucket with frequent file changes every hour.
The error: Could not load the default credentials. Broswer to https://developers..... randomly showed up once a while.

Not sure what the problem is.

[2017-08-02 18:58] darciusal opened #2501 "Error: Could not load the default credentials shows up randomly once a day"
I have set up a google cloud function to monitor a bucket with frequent file changes.
The function reads files starting with a specific prefix and later generate new files to another bucket base on the files it reads, otherwise it will ignore the file and finish execution.
The function uses service account json to access/write files.
Those files starting with a specific prefix are updated only onc

[2017-08-02 22:11] pashaseliverstov opened #2503 "instanceof Datastore.Double"
How to get access to entity.Double or entity.GeoPoint for instanceof ?

https://github.com/GoogleCloudPlatform/google-cloud-node/blob/master/packages/datastore/src/index.js#L549-L551

It would be good to have Datastore.Double =  entity.Double; Datastore.GeoPoint =  entity.GeoPoint;

#### Environment details

  - OS:
  - Node.js version:
  - npm version:
  - google-cloud-node version:

#### Steps t

[2017-08-02 22:19] darciusal commented on #2501
I believe it's triggered by logging-winston which leads to the code here
https://github.com/google/google-auth-library-nodejs/blob/bd13376281a3af6e73fb729ea867950739c3c899/ts/lib/auth/googleauth.ts

[2017-08-02 22:23] stephenplusplus commented on #2503
We have those up a little bit in the file. Can you check them out and see if that's what you need?

[2017-08-02 22:27] stephenplusplus commented on #2503
Sorry, I think I get it. You need to type check against the raw entity. Off hand, I don't have a solution, but I agree that we need to figure something out.

[2017-08-02 22:28] pashaseliverstov commented on #2503
Here is code example
const nonIndexed = ['field1'];
  const doubleFields = ['field2', 'field3'];

  function fromDatastore(obj) {
    obj.id = obj[ds.KEY].id.toString();
    Object.keys(obj).forEach(function(key) {
      if (obj[key] && obj[key].value && obj[key] instanceof Datastore.Double){
        obj[key] = obj[key].value;
      }
    });
    delete obj[ds.KEY];
    return obj;
  }

  function

[2017-08-02 22:39] pashaseliverstov commented on #2503
or you could add methods to Datastore to check if Double or GeoPoint

Datastore.isDouble(obj.doublefield) // returns true or false
Datastore.isGeoPoint(obj.geopointfield) // returns true or false

[2017-08-02 22:55] degroote22 opened #2504 "Stop auto authentication if gcloud is installed"
This is really bothering me...
I'm using Cloud Datastore with no credentials config because I'm deploying to Firebase Functions and using the Emulator locally.
The issue is that gcloud is auto-authenticating Cloud Datastore for me.
If I forget to set the environment variable "DATASTORE_EMULATOR_HOST" it will auto authenticate and the changes I think I'm making locally will be done to my production

[2017-08-02 23:09] degroote22 commented on #2504
I found it out:
`gcloud auth application-default revoke`

I think this shouldn't be enabled by default...

[2017-08-02 23:09] #2504 closed

[2017-08-03 04:02] hung-phan opened #2505 "Translate API usage"
#### Environment details

OS: Mac OS 10.12.6
Node.js version: 6.11.0
npm version: 3.10.10
google-cloud-node version: 1.0.0

#### Steps to reproduce

[code]

https://github.com/GoogleCloudPlatform/google-cloud-node/blob/translate-1.0.0/packages/translate/src/index.js#L371 and https://github.com/GoogleCloudPlatform/google-cloud-node/blob/translate-1.0.0/packages/translate/src/index.js#L410

This is

[2017-08-03 16:22] frankyn commented on #2322
@stephenplusplus is there a status on this request?

[2017-08-03 16:25] bkoski commented on #1502
This isn't immediately clear from most examples, but the `topic.subscribe()` call attempts to create a new subscription each time it runs (see discussion here: https://github.com/GoogleCloudPlatform/google-cloud-node/issues/1257).

Here's a pattern that worked for me based on [this comment](https://github.com/GoogleCloudPlatform/google-cloud-node/issues/1257#issuecomment-213506717) after adding "P

[2017-08-03 16:45] stephenplusplus commented on #2322
@lukesneeringer has GCS on a code freeze while we are doing some code/repo re-organization. He can address the timeline aspect of this request.

[2017-08-03 21:22] lukesneeringer commented on #2505
Hmm. I agree that this is a bug. We probably need to store whether we got a string or an array originally so that we can send back the right thing even if we get an array with a length of 1.

[2017-08-03 23:16] stephenplusplus commented on #2505
Agree as well. To fix would be a breaking change, forcing us to go to `2.0.0`.

[2017-08-04 02:01] hung-phan commented on #2505
The same problem apply for `detect` https://github.com/GoogleCloudPlatform/google-cloud-node/blob/master/packages/translate/src/index.js#L179 and https://github.com/GoogleCloudPlatform/google-cloud-node/blob/master/packages/translate/src/index.js#L154

[2017-08-04 09:07] MDSLKTR opened #2507 "[Storage API] Content-Disposition Header can't be passed on upload"
If you are still having issues, please be sure to include as much information as possible:

#### Environment details

  - OS: Debian Jessie
  - Node.js version: 6.11.1
  - npm version: 3.10.10
  - google-cloud-storage: 1.2.1

#### Steps to reproduce

have these CORS settings:
[code]
have these options to pass on upload
[code]
Upload a file to the bucket with above options:
[code]

As you can see i

[2017-08-04 15:26] lukesneeringer commented on #2505
@stephenplusplus I am of two minds about that. I agree that it is different, but it is not clear to me whether it is _breaking_. The current behavior does the flatly wrong thing. I expect not many users use arrays with a length of 1 (the case where you do is when it is dynamically populated).

[2017-08-04 15:34] lukesneeringer commented on #2498
This is something that just got a decent bit of discussion internally on the Python side, where we _did_ have support and [actively removed it](https://github.com/GoogleCloudPlatform/google-cloud-python/pull/2823/). Essentially, API keys are a discouraged form of authentication at this point, and we do not intend to support them in client libraries.

[2017-08-04 15:34] #2498 closed

[2017-08-04 15:38] lukesneeringer commented on #2490
Hey @maephisto,
I went to troubleshoot this just now, and realized you are on an old version. We actually changed this API pretty drastically in 0.12.0; can you try it and see if you still have this problem?

[2017-08-04 15:42] anotheri commented on #2498
@lukesneeringer thanks for the answer; that'd be super helpful to add a clear note that API key auth is not supported in the documentation then.

[2017-08-04 16:35] maephisto commented on #2490
Thanks for the tip @lukesneeringer did not know that 0.12 is already available!

I've upgraded and re-tested.
Using `textDetection` has the same empty result.
But now, using `documentTextDetection` successfully detects the text `M\n`

Below is the tested code:
[code]

[2017-08-04 16:50] stephenplusplus commented on #2505
I can see that side, and that would be a more convenient side to lean to, so we don't have to bump the major. However, I think the right thing is to mark it as breaking-- it is indeed a bug, but the user wasn't using our API incorrectly. When they upgrade and try to use the same code, they're going to be dealing with a different type of argument than they were before. That's my justification for w

[2017-08-04 21:23] stephenplusplus commented on #2507
Thanks for filing. I'm having luck with all of this, actually. Would you mind putting together a sample repo that I clone and run? I've set the metadata on a bucket as you did, uploaded the file with the settings as you did, and `curl -I {publicUrl}` and saw the disposition header returned.

And just a quick note, the way to set the header is just in the metadata:

[code]

[2017-08-04 21:33] stephenplusplus commented on #2501
@ofrobots any thoughts on this one?

[2017-08-04 23:01] MDSLKTR commented on #2507
Turns out i had completly ignored the case that for this specific file type where  i was using `createWriteStream` which was lacking the options object completly. So setting up a testcase actually made me look closer again 👍. Thanks for the clarification on the settings and the quick support!

[2017-08-04 23:01] #2507 closed

[2017-08-06 13:56] lostpebble opened #2510 "[datastore] new excludeFromIndexes syntax should allow for a catch-all on object properties"
Playing around with this today (after seeing this issue #1916 has been resolved) and I'm noticing that you have to define each and every embedded object property that you would like unindexed, instead of being able to just define a single "catch all" `excludeFromIndexes` option.

This works (actually it doesn't really, see edit below...):

[code]

But this does not:

[code]

In the second example

[2017-08-07 03:31] jwgoh commented on #2484
@ofrobots Hey there, sorry for the late reply. Thanks for splitting up the *snake_case* issue into a separate one.

No, I am not setting any metadata attribute, just adding the winston transport directly.

[code]

This can be confirmed from an example log entry that has the following `resource` JSON content. Only `project_id` is present.

![screen shot 2017-08-07 at 11 25 21 am](https://user-image

[2017-08-07 10:45] ro-savage commented on #2374
@stephenplusplus - We are running into the same issue. Datastore and Functions seem like the perfect combination, paying only a per-request cost. However the latency is much too high to be usable in real-world.

As was mentioned, it is related to the Auth.

This problem must be solvable, as other similar systems such as Lambda + DynamoDB don't under into this issue.

It seems unlikely to be implem

[2017-08-07 12:56] stephenplusplus commented on #2510
Thanks for the detailed issue. Anything is technically possible, but I believe our discussion is turning more towards "what would the average user want?" and I'm not sure enough to make the call on this. It would be nice to get an opinion from the Datastore team behind the `excludeFromIndexes` API structure, and if they see the catchall behavior as problematic in any way-- @lukesneeringer can you

[2017-08-07 12:59] #1913 closed

[2017-08-07 13:01] stephenplusplus commented on #1993
@lpercifield would you mind seeing if this is still an issue? `@google-cloud/speech` version 0.10.2 is out, which uses a much thinner surface underneath (docs: https://googlecloudplatform.github.io/google-cloud-node/#/docs/speech/0.10.2/speech)

Thank you for your patience.

[2017-08-07 13:04] stephenplusplus commented on #2408
I don't believe there is anything to address in the client library, so I will close the issue. Please correct me if I'm wrong and we will re-open. Thanks for the question @jackzampolin!

[2017-08-07 13:04] #2408 closed

[2017-08-07 13:28] #2413 closed

[2017-08-07 13:33] stephenplusplus commented on #2444
We have recently pushed the raw API responses to the docs site: https://googlecloudplatform.github.io/google-cloud-node/#/docs/datastore/1.0.3/datastore/v1/data_types

We don't link between the API method documentation and these full responses, so that's still a TODO, but I thought this might be helpful in the meantime.

[2017-08-07 13:34] lostpebble commented on #2510
Personally, I've come from using the Objectify datastore library for Java (https://github.com/objectify/objectify).

I found it's interface to be very intuitive, so much so that I've created my own Datastore library in JavaScript to try emulate it's behaviour  as much as possible ([Pebblebed](https://github.com/lostpebble/pebblebed)).

My understanding of the Datastore has always been that embedde

[2017-08-07 13:35] stephenplusplus commented on #2486
Just `Monitoring` is left to be generated.

[2017-08-07 14:17] vic3lord commented on #2435
Having the same issue, also I cannot state `serviceContext` Object in logging-winston directly without using error-reporting.

https://github.com/GoogleCloudPlatform/google-cloud-node/blob/master/packages/logging-winston/src/index.js#L174

Let me know if I can do anything to help, even to provide info.

[2017-08-07 15:34] stephenplusplus opened #2511 "bigquery: API improvements"
### TODOs

#### Querying

- [x] Change high-level query to use jobs.
- [x] Auto-generate Job IDs on client
- [x] Allow for user specified prefix for Job IDs

#### Jobs

- [ ] Media upload support
- [ ] Fields
- [ ] Labels
- [ ] "all" flag for job.list

#### Tables

- [x] Partitioning
- [x] Views
- [x] Labels
- [x] Expiration
- [x] etag Support

#### Datasets

- [ ] ACL support
- [x] Labels
- [x] D

[2017-08-07 20:05] landrito commented on #2511
@stephenplusplus can you update this issue with a little bit more detail for documentation purposes.

[2017-08-07 20:05] stephenplusplus commented on #2511
*redirects request to @callmehiphop*

[2017-08-07 20:15] landrito commented on #2510
I have requested for some input from the datastore team internally.

[2017-08-07 20:25] eoogbe commented on #2068
Thanks for filing this issue. We agree that this would be a good issue to fix, and we invite you or another community member to contribute a pull request (PR), which we would be happy to review.

[2017-08-07 20:44] landrito commented on #2489
@vkedia Do you have an idea what could be causing this to happen?

[2017-08-07 20:52] pcostell commented on #2510
Somewhat of a long answer, I'll break it down into (1) why did we decide to do this and (2) why it's different from objectify. Hope this clarifies a bit why the API is defined like it is.

(1)
The rational for requiring `excludeFromIndexes` for each relevant property is that we want the entire embedded entity to still be valid (i.e. convertible to a top-level, complete entity). The `excludeFromInd

[2017-08-07 20:55] 8357753 commented on #2489
These errors are also still happening and not just when the Functions are cold.

1) connection error
2) Error: Endpoint read failed","error_code":14"
3) "error":"Error: Database not found: projects/REDACTED/instances/REDACTED/databases/REDACTED","error_code":5

[2017-08-07 21:02] stephenplusplus commented on #2361
I just want to get a clear "TODO" for this issue. I think it was settle that a warning would be our only action here, but in a Node.js application, are we talking about printing to `console.log` or adding something to our documentation? With `console.log`, it's generally not a good practice to interrupt a terminal's output from a low-level library like ours. Let me know if I misunderstood!

[2017-08-07 21:12] landrito commented on #2435
@kilianc any updates on this?

[2017-08-07 21:18] landrito commented on #2424
Looks like this issue was resolved. I am closing.  Feel free to reopen. Thanks for filing this bug!

[2017-08-07 21:18] #2424 closed

[2017-08-07 22:03] eoogbe commented on #2206
@callmehiphop Is this still relevant?

[2017-08-07 22:07] eoogbe commented on #2209
@jmuk What was the conclusion from the internal discussion?

[2017-08-07 22:17] stephenplusplus commented on #2302
Sorry, handing it over to @ofrobots who oversees the logging-* and error-reporting.

[2017-08-07 22:17] jmuk commented on #2209
Not much voice, as far as I remember.

However, considering that this would not lead to any misuses of the scopes and mostly our client use JWT which does not use scopes actually, I think it's okay to close this issue now without doing anything. @anthmgoogle FYI.

[2017-08-07 22:18] eoogbe commented on #2357
This issue may no longer be relevant due to its age. Feel free to re-open.

[2017-08-07 22:18] #2357 closed

[2017-08-07 22:19] #2209 closed

[2017-08-07 23:11] bjwatson commented on #2361
@stephenplusplus At a minimum, we need to ensure our documentation is clear about this. We were also talking about logging a warning if we detect a likely violation.

Thanks for pointing out the language/cultural issue with `console.log`. Do you think it would be better to use something like the [`debug`](https://www.npmjs.com/package/debug) module?

[2017-08-07 23:38] ofrobots opened #2513 "Ability to specify serviceContext for logging-winston"
_Originally reported by @vic3lord on https://github.com/GoogleCloudPlatform/google-cloud-node/issues/2435._

Having the same issue, also I cannot state serviceContext Object in logging-winston directly without using error-reporting.

https://github.com/GoogleCloudPlatform/google-cloud-node/blob/master/packages/logging-winston/src/index.js#L174

Let me know if I can do anything to help, even to pro

[2017-08-07 23:39] ofrobots commented on #2435
@vic3lord I have split your question into a separate issue: https://github.com/GoogleCloudPlatform/google-cloud-node/issues/2513 – I think it is a different issue.

[2017-08-07 23:41] ofrobots commented on #2513
Hi @vic3lord. Is your application running on GCP or elsewhere? On GCP running apps, we should auto-discover the service. However, if you are running locally, on-premise or elsewhere, that's the case where would use the 'global' resource descriptor. Is that your case?

[2017-08-07 23:46] ofrobots commented on #2484
Thanks. I suspect this will be fixed by https://github.com/GoogleCloudPlatform/google-cloud-node/pull/2483. @stephenplusplus could we get a release for the base `logging` module followed by a dep-bump + release of logging-{winston,bunyan}?

[2017-08-08 00:47] ofrobots commented on #2501
Hi @darciusal! A few questions for you: What version of `google-cloud/logging-winston` are you using on your GCF application? Are there any other `google-cloud` libraries you are also using? Is there anything else functionally wrong in your function, or do you believe it is just the log messages that are being affected? The 'once or twice' errors you get, are they around a specific time, or at ran

[2017-08-08 02:03] lukesneeringer commented on #2505
I am going to make a call that this is a semver-minor change. My rationale is that it is actually _a correction of broken behavior_, that a regular developer is unlikely to rely on (since if you were doing that on purpose, you would send a string and not an array).

[2017-08-08 02:36] hung-phan commented on #2505
We have that behaviour in production for our chat system. Sometimes, we have to bundle all messages and translate them as once, however there is case where user only send a single message that is where the array of length 1 comes from.

[2017-08-08 04:53] lukesneeringer commented on #2490
@maephisto Thanks. We will look at it again!

[2017-08-08 04:55] lukesneeringer commented on #2505
@hung-phan That is sort of the situation I figured you were in. I am assuming that once we return an array properly, your code will still do the right thing?

[2017-08-08 04:58] lukesneeringer commented on #2489
@landrito If I understand correctly from a skim, essentially the issue is that the client object is being shared between different GCF instances, but since network connections do not work that way (you can not serialize a connection and send it across the wire), you end up in a wonky state.

The fix is to either not permit client objects to be serialized and shared (like what Python does) or to en

[2017-08-08 09:39] vic3lord commented on #2513
I am running it on gke, I want to separate each container name to be a different service both in cloud logging and error-reporting, since each container is an actual service.

[2017-08-08 10:15] jwgoh commented on #2484
@ofrobots Thanks, will check if this change fixes the bug once there is a new release 👍

[2017-08-08 12:31] stephenplusplus commented on #2361
The `debug` module sounds like a good idea 👍

[2017-08-08 12:40] stephenplusplus commented on #2484
`@google-cloud/logging@1.0.5` released. New installs as well as un- and re-installing `logging-winston` and `logging-bunyan` will pick up the change.

[2017-08-08 12:54] stephenplusplus commented on #2386
It looks like something has changed since I last worked on this. There has only been one switch available to me, "**Build OS X project**" on https://circleci.com/gh/GoogleCloudPlatform/google-cloud-node/edit#build-environment.

Last I left that page, I set it to "Off". Now, it's "on", but builds are not running on OS X. There is likely more configuration to enable this behind the [Org Settings](ht

[2017-08-08 13:14] stephenplusplus commented on #2438
Thanks to all for explaining their situations in great detail. Please correct any mistakes I might make in my assumptions:

- These problems can be considered the same, in that they are all various forms of a connection error in GCF environments
- The best fixes that the user can do:
  - Move the `@google-cloud/*` module instantiation code to within the function
  - Do not deploy your local `node_

[2017-08-08 16:34] hung-phan commented on #2505
Yes

[2017-08-08 18:25] #2505 closed

[2017-08-08 19:42] eoogbe commented on #2312
Hi @mfkenson,
Thank you for reporting this.

Since the time that you reported this issue, we released an entirely new version of google-cloud-speech with significant alterations. Could you upgrade to the newest version (note that code changes will be necessary to use the new thing; your existing code will use the former, now deprecated code path), and it should fix this problem for you.

I am goin

[2017-08-08 19:42] #2312 closed

[2017-08-08 19:43] eoogbe commented on #1993
Hi @lpercifield,
Thank you for reporting this.

Since the time that you reported this issue, we released an entirely new version of google-cloud-speech with significant alterations. Could you upgrade to the newest version (note that code changes will be necessary to use the new thing; your existing code will use the former, now deprecated code path), and it should fix this problem for you.

I am g

[2017-08-08 19:43] #1993 closed

[2017-08-09 15:02] lostpebble commented on #2510
@pcostell Thanks for the long and detailed reply.

(just noticed you wrote `"excludeFromIndexes": false` while I'm sure you meant `"excludeFromIndexes": true`)

I can totally understand the new direction you guys have gone with embedded entities and being able to index properties of those objects within the parent entity. It makes a lot of sense and it's opened my mind to some new possibilities wi

[2017-08-09 16:40] nicolasgarnier opened #2516 "safeSearchDetection response is of incorrect type."
Here is a dump of a response from a Cloud Vision `safeSearchDetection` call you get by doing `vision.safeSearchDetection(image).then(response => ...`:

[code]

The values of the `safeSearchAnnotation` results should actually be numbers rather than Strings such as `"UNLIKELY"` as the docs explains: https://googlecloudplatform.github.io/google-cloud-node/#/docs/vision/0.12.0/vision/v1/data_types?met

[2017-08-09 16:52] stephenplusplus commented on #2361
PR opened at #2517 -- please take a look!

[2017-08-09 16:56] stephenplusplus commented on #2516
@lukesneeringer wdyt?

[2017-08-09 16:58] DazWilkin opened #2518 "Please provide more specific guidance on "google-cloud is deprecated""
For those of us who don't use Node on a daily basis and can't immediately map the consequences of the unbundling of the gCloud packages, please provide more detailed guidance to help us through this change.

I assume this problem recurs across the documentation for each of supported GCP services:

## Currently

https://googlecloudplatform.github.io/google-cloud-node/#/docs/google-cloud/0.56.0/stor

[2017-08-09 17:24] landrito commented on #2518
Hi Daz, Thanks for pointing this out! We'll get this documentation updated soon.

[2017-08-09 17:35] #2168 closed

[2017-08-09 17:47] landrito commented on #1903
I am closing this since the verbose option has be swapped to being the default in the other APIs. @lukesneeringer do you know if we should switch translate to having that behavior as well? If so, lets open up a new issue.

[2017-08-09 17:47] #1903 closed

[2017-08-09 17:48] stephenplusplus commented on #2518
There is a context flip that happens depending on the module you're reading about. In this case, you're browsing the documentation for `google-cloud`, so you are shown examples about how to use the Storage API from within it. If you browse to the [`@google-cloud/storage` page](https://googlecloudplatform.github.io/google-cloud-node/#/docs/storage/1.2.0/storage), you'll get the appropriate instanti

[2017-08-09 18:07] landrito commented on #1801
The README has been updated to use a template made by @omaray. I made a PR to our staging repo to show the change. @bjwatson does the contents of [this readme](https://github.com/googleapis/api-client-staging/pull/391/files#diff-e138207188219cdbfde42affdbb491f1) work for you?

[2017-08-09 19:02] bjwatson commented on #1801
@landrito I'm referring to the [hand-written README](https://github.com/GoogleCloudPlatform/google-cloud-node/blob/master/packages/monitoring/README.md) for the google-cloud-node repo.

[2017-08-09 19:23] danoscarmike commented on #1746
Ping for status on this?  Is there an action for google-cloud-node or can I close this issue?

[2017-08-09 19:29] danoscarmike commented on #1041
@callmehiphop might this be addressed by the bigquery work you're currently looking at?

[2017-08-09 19:31] landrito commented on #1970
Closing: The Circle CI Version that we are using does not support the use of docker images.

[2017-08-09 19:31] #1970 closed

[2017-08-09 19:32] DazWilkin commented on #2518
Ah, I didn't realize there are per-module pages too... @stephenplusplus solution is good.

I'm arriving at the docs (mostly) through the front page. Now you point out the per-module pages, I see the dropdown to choose between them. I had not noticed it until then.

[2017-08-09 19:35] landrito commented on #2061
Closing this issue since #2313 should address this. Feel free to reopen if the problem persists!

[2017-08-09 19:35] #2061 closed

[2017-08-09 19:51] DazWilkin commented on #2167
I encountered this too and was confused until I read through this issue. Second the idea of adding some clarity in the documentation.

With regards @stephenplusplus comment about 'single structure of either an array or an object', why not an object rather than array?

Instead of:

[code]
I could then:

[code]

[2017-08-09 20:12] landrito commented on #2518
Ah thanks for the clarification on this @stephenplusplus!

[2017-08-09 20:26] eoogbe commented on #1203
This issue may no longer be relevant due to its age. Feel free to re-open.

[2017-08-09 20:26] #1203 closed

[2017-08-09 20:51] callmehiphop commented on #2167
@DazWilkin Ultimately we decided to go with arrays over objects to benefit users who use promise libraries that have a spread method.

[2017-08-09 21:04] callmehiphop commented on #1041
@danoscarmike AFAIK there is not a requirement that covers this specific issue, however if we could get some feedback from a BigQuery team member I'd be happy to sneak it in.

[2017-08-09 21:11] danoscarmike commented on #1041
@jba could you run this by the best POC on BigQuery?  Thanks!

[2017-08-09 21:29] callmehiphop commented on #2206
@eoogbe I haven't started it, so I'm assuming so. @stephenplusplus I know you've done some tinkering with CI recently so you might be in a better spot to answer that question.

[2017-08-09 22:16] jba commented on #1041
@danoscarmike There's so much going on in this issue that I'm not sure what "this" is. But I can tell you:

* BQ insert IDs are per-row.
* The Go client lets the user provide their own in the "standard" case.
* There are also cases (like uploading Go values directly, which for convenience we allow and convert into rows) where there is no surface for allowing the user to provide an insert ID, and w

[2017-08-09 22:24] ofrobots commented on #2484
@jwgoh Please let us know when you've tried out the fix. If there are still issues, I would like to understand them further.

[2017-08-09 22:26] landrito commented on #2304
@JustinBeckwith I am having trouble seeing the gist.

[2017-08-09 22:28] landrito commented on #2416
Updating this gax value would involve changing it at the generator config level for logging. I'd like to invite @pongad to chime in on changing this to 10,000 from 10.

[2017-08-10 04:43] jwgoh commented on #2484
@ofrobots Hey I tried the new release and this is what I get in my log output

[code]

It seems like it is still detecting my node app as coming from GKE and attempting to query the metadata server for `clusterName` which clearly does not exist for GCE.

[2017-08-10 05:06] pongad commented on #2416
I'm not familiar with how bundling is implemented in node. I'm a little confused that it blocks. Node in single threaded, so if you block waiting for either 100 elements in the batch or 10ms to pass before sending the request, you'll always wait 10ms since nothing can add more elements into the batch right? Did I misunderstand?

Or maybe we're waiting to send one batch because there's another batc

[2017-08-10 11:38] mastoj opened #2521 "Typo in documentation"
There is a small typo in the documentation here: https://googlecloudplatform.github.io/google-cloud-node/#/docs/logging/1.0.3/logging/entry

the code `if (!error) ` should be `if (!err)`.

[2017-08-10 13:03] #2521 closed

[2017-08-10 13:03] stephenplusplus commented on #2521
Thanks for reporting! Fixed in e83cb8b9e4ca39e6acc342045e3701039fe9117e

[2017-08-10 13:13] #2518 closed

[2017-08-10 13:19] #2494 closed

[2017-08-10 13:23] stephenplusplus commented on #2206
I haven't messed with the area where git operations are involved. CI hasn't been helping with docs since my last post on 4/11. I've just been building locally and `git reset`-ing master to get rid of the lingering files. It would be great if we could let CI take over again if this is a simple enough fix.

If it's not straightforward, it could be a race between fixing it and having the Cloud site h

[2017-08-10 17:25] stephenplusplus commented on #1746
I don't think it's necessary to mention [yarn](https://yarnpkg.com/en). As far as I know, any npm package is also supported by yarn, so we don't have to spell that out. I wouldn't go so far as to recommend that folks use yarn instead of npm. And I don't think yarn needs our help with marketing, if we were to only mention that it exists.

@lukesneeringer: how should we proceed?

[2017-08-10 17:31] ofrobots commented on #2484
Ooops. This is embarrassing. I did a typo in the fix. It seems that kubernetes uses kebab-case in the attribute names.

On a GKE machine:

[code]

Let me fix this.

[2017-08-11 06:25] darciusal commented on #2501
Hey @ofrobots,
I tried disabling logging-winston, but I was still getting this error.
I also encountered Auth error:Error: read ECONNRESET everyday.
For the function logic part, I have tried my best on making sure it's right. I have shared the function with you internally so you can confirm it as well.

Thanks!

[2017-08-11 19:10] #2069 closed

[2017-08-11 21:02] landrito commented on #1746
I agree with @stephenplusplus. Lets stick with simply documenting npm. Closing this. @lukesneeringer reopen if you feel we need to mention yarn.

[2017-08-11 21:02] #1746 closed

[2017-08-11 21:33] eoogbe commented on #1094
This issue may no longer be relevant due to its age. Feel free to re-open.

[2017-08-11 21:33] #1094 closed

[2017-08-11 21:38] eoogbe commented on #1470
This issue may no longer be relevant due to its age. Feel free to re-open.

[2017-08-11 21:38] #1470 closed

[2017-08-11 22:00] eoogbe commented on #1667
This issue may no longer be relevant due to its age. Feel free to re-open.

[2017-08-11 22:00] #1667 closed

[2017-08-11 22:02] eoogbe commented on #1699
This issue may no longer be relevant due to its age. Feel free to re-open.

[2017-08-11 22:02] #1699 closed

[2017-08-11 22:06] eoogbe commented on #1877
This issue may no longer be relevant due to its age. Feel free to re-open.

[2017-08-11 22:06] #1877 closed

[2017-08-11 22:53] shaibt opened #2527 "Cloud Storage: "Invalid Credentials" API response for default credentials in Cloud Functions"
I have a few Firebase Cloud Functions (all node js of course) calling GCS objects using the @google-cloud/storage SDK for node JS (ver 1.2.1).
For 3 hours today all calls from the function to the GCS API failed with "invalid credentials". Only when I redeployed the function using the firebase CLI did they start working again (no change to the function code). This has never happened before.
This is

[2017-08-12 12:18] mbanyar033 opened #2529 "API"
Thanks for stopping by to let us know something could be better!

Please run down the following list and make sure you've tried the usual "quick fixes":

  - Search the issues already opened: https://github.com/GoogleCloudPlatform/google-cloud-node/issues
  - Search StackOverflow: http://stackoverflow.com/questions/tagged/google-cloud-platform+node.js
  - Check our Troubleshooting guide: https://g

[2017-08-12 14:29] stephenplusplus commented on #2529
What's up, @mbanyar033?

[2017-08-12 15:43] lukesneeringer commented on #2529
I am closing on the assumption that this was opened by mistake.
@mbanyar033, feel free to open a new issue if there is something you want to report. :-)

[2017-08-12 15:43] #2529 closed

[2017-08-12 22:02] rmanyari commented on #1630
I'm would be super excited to see this feature merged in the next release (custom endpoints are very very helpful for people who operate behind forward proxies).

I can open a PR in the next days that puts a function very similar to {Datastore|PubSub}.prototype.determineBaseUrl_ in common.utils and then use it across the different services.

Rodrigo

[2017-08-13 17:02] jobsamuel commented on #2381
Any news?

I've been trying to get this work but is just impossible :sob:

[2017-08-14 04:01] lukesneeringer commented on #1630
Are these individual environment variables? That seems lousy. I would much rather have this be a parameter that can be passed to clients.

[2017-08-14 13:53] rmanyari commented on #1630
PubSub does expose a parameter (vs. other services that use environment variables):

https://github.com/GoogleCloudPlatform/google-cloud-node/blob/a64ad81517045196cf5a3f468ea15aad1e2c25da/packages/pubsub/src/index.js#L83

I prefer the parameter approach as well. @lukesneeringer any other comments on the suggested changes? I can start writing some code for GCE

[2017-08-14 14:37] lukesneeringer commented on #1630
The other primary comment I have is whether or not the client objects wrap a common object (I think they do). If they do, then the best answer is to place the `apiEndpoint` parameter _there_. If not, then it would need to be applied to each object.

It looks like it needs to be explicitly passed -- see [here](https://github.com/GoogleCloudPlatform/google-cloud-node/blob/master/packages/spanner/src

[2017-08-14 14:37] stephenplusplus commented on #1630
I believe this was originally a @jgeewax request to have env vars for each. I think the nice part of env vars is you don't have to modify your code depending on where your app is running.

Either way, we should expose at least an override via `options.apiEndpoint` for all APIs. Thank you for volunteering @rmanyari!

[2017-08-14 14:38] lukesneeringer commented on #1630
You can always have your code set a value based on your own environment variable. Not so much the converse.

[2017-08-14 15:25] stephenplusplus commented on #2527
Where you have `const gcs = ...`, is that within the function scope that is executed, or at the top level of the script?

Here are some related issues (although not the same error message):
- https://github.com/GoogleCloudPlatform/google-cloud-node/issues/2438
- https://github.com/GoogleCloudPlatform/google-cloud-node/issues/2489

Yes, it should.

[2017-08-14 15:49] shaibt commented on #2527
Hi Stephen,
The `const gcs = ...` line is declared at top of the script - not inside the function. This is following the firebase function code examples at [firebase/functions-samples](https://github.com/firebase/functions-samples).
Reading the issues you linked to seems its better practice to move into the function scope.

And, in addition, your recommendation is not use the default credentials a

[2017-08-14 16:06] kilianc opened #2531 "Tracing might not work as the following modules were loaded before the trace agent was initialized: ["once","assert-plus","qs"]"
#### Environment details

  - OS: alpine
  - Node.js version: 7.10
  - npm version: N/A
  - google-cloud-node version: @google-cloud/trace-agent@2.1.2

#### Steps to reproduce

  1. require `trace-agent`

`ERROR:@google-cloud/trace-agent: Tracing might not work as the following modules were loaded before the trace agent was initialized: ["once","assert-plus","qs"]`

And this still shows up in `std

[2017-08-14 16:12] stephenplusplus commented on #2527
Only going from recent reports of errors, I would say that's a safer bet until further investigation. Whichever you decide to try, please report back if there are any more errors and I'll re-open this issue. For now, I think we can say the same solution for #2438 will resolve this issue as well. Sorry for the trouble.

[2017-08-14 16:12] #2527 closed

[2017-08-14 16:19] stephenplusplus commented on #2531
I think the issues you opened on [cloud-trace-nodejs](https://github.com/GoogleCloudPlatform/cloud-trace-nodejs/issues/540) is the right place. We don't have that project in this repo.

[2017-08-14 16:19] #2531 closed

[2017-08-14 18:21] ofrobots commented on #2501
Hi. I am pretty sure this issue is due to your Cloud Function getting throttled down to zero during periods of inactivity. Any TCP sockets that are pending at the time this happens will probably timeout/reset and error when the function is resumed on a subsequent request.

There are two different symptoms you reported here:
* `Error: Could not load the default credentials.`: This is reported by th

[2017-08-14 18:25] jpatokal opened #2532 "Google Cloud Video Intelligence Node.js Library Doc link 404s"
The "v1beta1" link under the APIs navigation bar throws a "Not Found" error when clicking the link.

The offending link: https://googlecloudplatform.github.io/google-cloud-node/#/docs/video-intelligence/0.1.1/video-intelligence --> https://googlecloudplatform.github.io/google-cloud-node/#/docs/google-cloud/0.56.0/not-found

[2017-08-14 18:37] ofrobots commented on #2416
A few points here:

* Logging is not synchronous, but you can write business logic to wait for logging to finish before proceeding with your business logic. Looking at the screenshot @bmenasha posted, you will notice that the first call to logging is done in parallel with the rest of the business logic, while the second call is being done in a way that the final `mongo-update` is dependent on the

[2017-08-14 18:43] ofrobots commented on #2416
@bmenasha I also noticed that your logging calls seem very expensive – that doesn't look normal, unless you are logging large amounts of data. Can you verify that is the case? Also, are you using the logging library directly or are you using the higher level libraries (@google-cloud/logging-winston, @google-cloud/logging-bunyan)?

[2017-08-14 21:02] darciusal commented on #2501
Hi @ofrobots, Thanks for the response!
I have question on what do you mean for the "background work" you mentioned above.
Do you mean some of the business logic code that execute after the callback function is called?
If so, my function won't call the callback function until all logic are finish executing. (Example below)
[code]
======
I have also noticed the ECONNRESET error before I used the win

[2017-08-15 01:41] rmanyari commented on #1630
Silly question. I'm extracting determineBaseUrl in ./packages/common and ./packages/common-grpc. Before calling common.utils.determineBaseUrl in ./packages/compute/src/index.js I have to do:
[code]
to pickup my local changes. I'm not 100% sure how the publishing process works for this project. Should I submit a PR for the changes in common and common-grpc first and then bump the version in the oth

[2017-08-15 08:59] ziong commented on #1237
+1
problem not yet solved!
any update?

[2017-08-15 18:39] #2466 closed

[2017-08-15 19:01] stephenplusplus commented on #2532
We're back! https://googlecloudplatform.github.io/google-cloud-node/#/docs/video-intelligence/0.1.1/video-intelligence/v1beta1

The only issue is with the "Data Types" link. #2486 is tracking the solution.

[2017-08-15 19:01] #2532 closed

[2017-08-15 19:03] gauntface opened #2534 "Update readme to include what keyFilename is"
The readme uses keyFilename throughout but gives no link or description of what the "keyFilename" is.

[2017-08-15 19:04] gauntface opened #2535 "Update module to use Promises."
Promises are pretty much the expected way of working with async code, if it's not supported, please update the code to do and if it is, please alter the demos in the readme to use promises and reference the callback approach as an option to using this API.

[2017-08-15 19:06] stephenplusplus commented on #2535
Dupe: #1699

This is in action as we move each `@google-cloud/{{module}}` out to its own repo, e.g. https://github.com/GoogleCloudPlatform/google-cloud-node-storage

[2017-08-15 19:06] #2535 closed

[2017-08-15 19:09] stephenplusplus commented on #2534
We have a little blurb:

[code]

We should just move that out from the code block and link to the Authentication section: https://github.com/GoogleCloudPlatform/google-cloud-node#authentication

[2017-08-15 19:10] stephenplusplus commented on #2534
The line is also awkward now, since we modularized. It should just be something like:

[code]

[2017-08-15 19:12] stephenplusplus commented on #1630
It's fine to put it in one PR. We don't have automated releases, so I'll be manually testing / publishing anyway :)

Just a tip, we have an npm run script that you can run from the root directory of the project:

[code]

[2017-08-15 22:38] Jahans3 opened #2536 "Allow authentication without using keyfile method"
Using a keyfile is giving me version control and deployment headaches. With the other libraries and SDKs I use I am able to pass the values one by one, reading them from environment variables.

Using the language SDK however, I must pass a filepath to the SDK when I initialise it. Why is this? Would it not be better to allow us to pass values individually, so they can be more easily stored safely?

[2017-08-15 23:18] stephenplusplus commented on #2536
Check out https://googlecloudplatform.github.io/google-cloud-node/#/docs/google-cloud/0.56.0/guides/authentication

You could set options.credentials with the JSON.parsed env var, or store the client_email and private_key properties from your key file as separate env vars and pass them as options.credentials.client_email and options.credentials.private_key.

[2017-08-15 23:18] #2536 closed

[2017-08-16 11:33] vinodkumarmarupu commented on #1328
how to run on pcf

[2017-08-16 13:01] bgabler commented on #1974
@MarkHerhold we were seeing the same exact behavior in our pub/sub POC. I can confirm that so far https://github.com/GoogleCloudPlatform/google-cloud-node/pull/2380 has resolved the random 10s+ delay.

[2017-08-16 13:13] cristiano-belloni opened #2537 "Would it be possible to use @google-cloud/pubsub in Firebase Cloud Functions?"
Hello, sorry if it's the wrong place. If it is, which is the most appropriate place to ask this question?

Would it be possible to use the module `@google-cloud/pubsub` in Firebase Cloud Functions as described in [the docs](https://googlecloudplatform.github.io/google-cloud-node/#/docs/pubsub/0.13.1/pubsub)?

If yes, would we need to specify a `projectId` and `keyFilename` or the authentication wo

[2017-08-16 13:19] stephenplusplus commented on #2537
It does work automatically, although you caught us while we're still sorting out an issue: https://github.com/GoogleCloudPlatform/google-cloud-node/issues/2438#issuecomment-320952103

You could use the automatic authentication, until it gives you an issue (which might be never), or you could use the `options.keyFilename` or `options.credentials.client_email` and `options.credentials.private_key` s

[2017-08-16 13:23] cristiano-belloni commented on #2537
Hi, @stephenplusplus! nice to meet you again :)

Mhhh... what do you mean with this?

[2017-08-16 13:27] stephenplusplus commented on #2537
You as well, it's been a while!

Sorry for being confusing. So, if a GCF script looks like this:

[code]

Instantiate the client inside of `exports.myCloudFunction`. This will make sure a proper automatic authentication cycle is restarted, mitigating the problems discovered in #2438.

[2017-08-16 13:37] cristiano-belloni commented on #2537
Cool! I'll be sure to instantiate inside and upload from CLI. many thanks as always.

[2017-08-16 13:37] #2537 closed

[2017-08-16 13:39] stephenplusplus commented on #2537
Happy to help, come back anytime!

[2017-08-16 14:02] #2414 closed

[2017-08-16 23:05] jyc979 opened #2539 "Cause for this error?"
I keep getting the following error

"RetryError: RetryError(Exception occurred in retry method that was not classified as transient, caused by <_Rendezvous of RPC that terminated with (StatusCode.INVALID_ARGUMENT, Invalid audio channel count)>)"

When trying to use the Google Cloud Speech API, I'm trying to use the sample audio file saved on my local computer. But it works fine with cloud-sample-t

[2017-08-17 02:52] stephenplusplus commented on #2539
Hey @jyc979, sorry for the trouble. Could you paste the code you're using to make the API call that is failing? Additionally, the version of the Speech module that you are using.

[2017-08-17 03:38] jyc979 commented on #2539
`import os
 import io
def transcribe_file(speech_file):
    """Transcribe the given audio file."""
    from google.cloud import speech
    from google.cloud.speech import enums
    from google.cloud.speech import types
    client = speech.SpeechClient()

    with io.open(speech_file, 'rb') as audio_file:
        content = audio_file.read()

    audio = types.RecognitionAudio(content=content)
    c

[2017-08-17 04:49] jyc979 commented on #2539
Also this is another error that I'm running into, it'd be really nice if you could take a look at this as well. After I obtain an access token, I use the audio sample that I created which is in .flac extension and is stored in Google Cloud storage(set to be public), then I use this command

[code]
to run the sync-request.json file that points to the audio that is stored in my google cloud storage,

[2017-08-17 11:13] bloodcarter opened #2541 "speech.streamingRecognize randomly silently not working (v1)"
The problem is I am using v1 and the latest @google-cloud/speech@0.10.2. It worked perfectly for 6 months (even v1beta) until yesterday when it just randomly (and silently!) stops working. I mean one call of streamingRecognize may go well and recognition starts, but then second or third call of streamingRecognize just don't receive any input (and I'm getting you're streaming to slow error). Using

[2017-08-17 12:49] cristiano-belloni commented on #2438
@stephenplusplus FIY I'm currently experiencing the issue even instantiating within the function and deploying with Firebase. It happens all the time after redeploying
Something like:
[code]
Bit of a showstopper :/

[2017-08-17 15:28] lukesneeringer commented on #2541
Hi @bloodcarter,
Thanks for reporting.
This sounds like a backend issue...let me see what we can find out.

[2017-08-17 15:29] lukesneeringer commented on #2539
Moving this over to google-cloud-python.

[2017-08-17 15:30] lukesneeringer commented on #2539
This issue was moved to GoogleCloudPlatform/google-cloud-python#3833

[2017-08-17 15:30] #2539 closed

[2017-08-17 15:33] bloodcarter commented on #2541
And also I can see s lot of errors in my Google cloud console (charts with
API usage and errors). If you need them, I can make a screenshot. Thanks.

Чт, 17 авг. 2017 г. в 21:31, Luke Sneeringer <notifications@github.com>:

--
--Vladislav Chernyshov
Co-founder @ Dedal
http://beta.ded.al
https://medium.com/dedal

[2017-08-17 16:54] lukesneeringer commented on #2541
Yes, the screenshot would be greatly appreciated.

[2017-08-17 17:27] bloodcarter commented on #2541
@lukesneeringer here you are. As you can see the number of errors start rising after Google released v1 after july 30, and reaches it's peak today.
![1](https://user-images.githubusercontent.com/16559814/29425032-00f4801c-83ac-11e7-9ee4-e3c380d73fff.jpg)
![2](https://user-images.githubusercontent.com/16559814/29425037-053006c4-83ac-11e7-9d27-c0f5f10ade73.jpg)

[2017-08-17 18:30] bjwatson commented on #1801
@stephenplusplus https://github.com/GoogleCloudPlatform/google-cloud-node/pull/2526 didn't fix this issue.

Whether or not we want to fix this is up to @omaray and @lukesneeringer. It's a product messaging decision.

[2017-08-17 18:57] stephenplusplus commented on #1801
cc @eoogbe who marked that PR as a fix for this issue (which is why it was auto-closed when the PR merged)

[2017-08-17 19:08] eoogbe commented on #1801
As far as I can tell, the README no longer has the offending lines, so this should be closed.

[2017-08-17 19:17] bjwatson commented on #1801
https://github.com/GoogleCloudPlatform/google-cloud-node/pull/2526/files#diff-04c6e90faac2675aa89e2176d2eec7d8R625

[2017-08-17 19:50] eoogbe commented on #1801
Oh that README. I didn't even notice it was there. Sorry about that.

[2017-08-18 10:02] adamliuxy opened #2542 "[Spanner] The default value (strong: true) hasn't been set when create a read-only transaction which cause slow data update"
Hi,

If you follow the steps I listed below, I think you will get a very slow data update operation which will consume larger than 10 seconds(```table().update()```).
I found that if I add the option ```{strong: true}``` to call ```runTransaction```, the update function will run at a reasonable speed.

According to the [docs](https://cloud.google.com/spanner/docs/timestamp-bounds), the default tim

[2017-08-18 12:46] #2486 closed

[2017-08-18 12:57] #2099 closed

[2017-08-18 16:05] stephenplusplus commented on #2542
cc @vkedia

[2017-08-18 16:48] stephenplusplus commented on #2438
cc @lukesneeringer @bjwatson I'm not sure how to proceed on this one.

[2017-08-18 16:54] deremer commented on #2438
I've also discovered that in our cloud functions write.log() is taking about 15s to log to StackDriver... If I revert to console.error it is almost instantaneous. I've zeroed the delay in precision on to the call of `log.write`. If I print to console just before that line and then just after it is routinely 10-15s.

We thought degraded performance of our functions was related to load, when in fact

[2017-08-18 17:04] ofrobots commented on #2438
@deremer: Does the execution of your cloud function completion callback depend upon the settling of the promise returned by your `writeLog` function?

[2017-08-18 17:10] deremer commented on #2438
@ofrobots generally our functions complete by returning a promise, and occasionally we do return the function `log()` as shown above which in turn returns the promise to write the log.

I should also note that we have since updated the `writeLog` function as shown below because we realized it returns a promise if no callback is provided...

[code]

[2017-08-18 17:15] deremer commented on #2438
@ofrobots To clarify more, in our function we were writing to the error log in some situations before continuing on to do other work. Our functions get very high traffic at certain times and we thought the increased latency was just the functions getting overloaded... but it turns out that the increased latency only affected calls that were trying to write to StackDriver...

As mentioned... `log.w

[2017-08-18 17:46] vkedia commented on #2542
Ideally the time taken by the update operation should be independent of what happened in the preceding read only transaction. Read only transactions do not take any locks not matter what timestamp bound it is so they will never conflict with a read write transaction.
Is it possible that somehow the database.runTransaction is starting a read write transaction?

[2017-08-18 18:13] ofrobots commented on #2438
@deremer 10-15s to settle the `log.write` promise is unexpected for me. Let me take a look into this.

[2017-08-18 18:23] deremer commented on #2438
No problem, please let me know if you want more info or to reach out to me directly. I modified our code to use console.error instead of our StackDriver logger and our spike today ran beautifully with nearly all of the latency spike removed... so more evidence that our problem was this log write.

[2017-08-18 18:25] ofrobots commented on #2438
One more question: Are there any other `log.write` operations in your cloud function? Or the only single write operation happens to be the very last thing that the function does?

[2017-08-18 18:31] deremer commented on #2438
@ofrobots We wrap `log.write` in the module posted at the top of this issue (note that it has evolved from what is posted, but generally the same).

Throughout our code we do conditionally call Logger.error(error, userId) in some situations. So, yes it is possible that our function may write more than once in a single invocation. As far as I can tell, these always have the latency issue.

I should

[2017-08-18 18:36] deremer commented on #2438
@ofrobots Also, I don't know if the excessive log write time is a different issue or not...happy to move it out to not pollute this issue.

[2017-08-18 18:39] ofrobots opened #2544 "logging: excessive log write time on Cloud Functions"
_Originally reported by @deremer at https://github.com/GoogleCloudPlatform/google-cloud-node/issues/2438#issuecomment-323405864._

[2017-08-18 18:42] ofrobots commented on #2438
I do believe it is a different issue. I have split it out here: https://github.com/GoogleCloudPlatform/google-cloud-node/issues/2544.

As for the original issue with tcp timeouts / endpoint read failures: those are due to the fact that cloud functions get aggressively throttled once you call the completion callback. This means that any background work still pending once you call the completion cal

[2017-08-18 20:17] bjwatson commented on #2438
FYI @timburks https://github.com/GoogleCloudPlatform/google-cloud-node/issues/2438#issuecomment-323404472

[2017-08-18 21:10] ofrobots commented on #2544
Repro:

[code]

[code]

I suspect that the problem is that logging (and other veneer libraries) do things lazily. For example, application default credentials, default resource detection, etc. are all done lazily and happen to take 16 seconds on the first request. Since cloud functions are aggressively throttled, this means that independent request take this long unless they happen to hit a warm f

[2017-08-18 21:34] stephenplusplus commented on #2544
Have you tested that it takes 16 seconds locally?

[2017-08-18 21:55] ofrobots commented on #2544
Some initial profiling:

[code]

The timestamps are in milliseconds. It seems that the majority of the time is spent in `Metadata#getDefaultResource`.

[2017-08-18 22:05] wei-hai opened #2545 "[Bug] PubSub subscription: maxInProgress and interval in subscription.js do not work as expected"
#### Environment details

  - OS: MacOS
  - Node.js version: 8.3.0
  - npm version: 5.3.0
  - Google Cloud SDK 167.0.0
  - bq 2.0.25
  - core 2017.08.11
  - gcloud
  - gsutil 4.27

I set `maxInProgress` to 1 and `interval` to 1000, with 4 cores and using cluster module every 1 second the consumer should pull 4 messages, however within 1 second it pulled 27 messages. Do I misunderstand the way it w

[2017-08-18 23:26] ofrobots commented on #2544
Majority of the time is in `google-auto-auth:getEnvironment`:

[code]

Specifically, `isContainerEngine` is the slowest operation (probably because that looks for a key in the metadata service 404 in the metadata service).

I wonder if using `async.parallel` is the best choice here. The slowest operation becomes the bottleneck, even though, for cloud functions, the local environment is enough for

[2017-08-19 14:42] vr001 opened #2546 "URLs in the API reference doc is not working."
https://googlecloudplatform.github.io/google-cloud-node/#/docs/google-cloud/0.56.0/not-found
When clicking the annotateImageResponse, the URLs are not working.

[2017-08-21 02:35] adamliuxy commented on #2542
It's so weird that if I replace ```transaction.end()```with ```transaction.commit()``` in the read-only transaction, the update operation will run at a reasonable speed.
So how to start a read-only transaction properly? @vkedia
I just follow this example: https://github.com/GoogleCloudPlatform/nodejs-docs-samples/blob/master/spanner/transaction.js#L30-L43

[2017-08-21 10:54] greenstatic opened #2547 "When filtering a key lookup an error is raised"
The following GQL query for Google's Datastore works as I need:

`SELECT * FROM game WHERE Key(player, 838174389) = allPlayers`
where allPlayers in an array of keys.

But I am unable to copy this query into Node.js (using the official google-cloud-node npm package). The following doesn't work:
`let key = datastore.key('player', datastore.int("838174389"));
let query = datastore.createQuery('game')

[2017-08-21 13:03] stephenplusplus commented on #2547
cc @pcostell -- do we have a way to support this query?

[2017-08-21 13:22] stephenplusplus commented on #2544
@deremer -- we believe we've chased down the fix. Would you mind testing again? The fix should be automatically picked up by a new install of `@google-cloud/logging`.

[2017-08-21 13:43] stephenplusplus commented on #2545
Honestly, I'm not sure. But before we dive too deep into that, it would probably be better for you to prepare for the new release of the Pub/Sub module, which is a big rewrite with many new options for flow control. It's expected to release within the new few days, but it's in PR status currently: https://github.com/GoogleCloudPlatform/google-cloud-node/pull/2380

We're still working on the docs,

[2017-08-21 15:55] vr001 commented on #2546
Every URL, linked on this page is broken.

https://googlecloudplatform.github.io/google-cloud-node/#/docs/vision/0.12.0/vision/v1/data_types

The below one is the broken URL.
https://googlecloudplatform.github.io/google-cloud-node/#/docs/vision/0.12.0/vision/v1/data_types?method=BatchAnnotateImagesResponse

[2017-08-21 16:35] ofrobots commented on #2544
Seems to be fixed in my own experiments. Let's keep this issue open until we can get feedback from @deremer.

[2017-08-21 17:50] rmanyari commented on #1630
Just opened a PR. A few things:

I only added support for bigquery, bigtable, compute, datastore, dns and language since the change set is already getting big. If everything looks OK, I can continue with the 2nd half.

The build is failing because there are changes under common that are not picked up by the build. Should the build do `npm run link-common` before trying to run the tests?

It has th

[2017-08-21 17:57] callmehiphop commented on #2542
@vkedia it is very possible that a read/write transaction is being returned here. Part of the original requirement was to begin a configurable amount of read only and read/write transactions when the client is instantiated. In the event that one type of transaction was unavailable return the other.

[2017-08-21 19:22] wei-hai commented on #2545
it looks like that in node js setTimeout doesn't respect the argument `interval` so that it fires too early, you may want to use a more accurate timer to replace the default setTimeout function in subscription.js, line 958.

[2017-08-21 19:25] #2534 closed

[2017-08-21 19:26] stephenplusplus commented on #2545
How did you find out it doesn't respect `interval`?

[2017-08-21 19:32] wei-hai commented on #2545
I calculated the time diff between `Subscription.prototype.startPulling_` and output it in log, it turned out that the time diff is much smaller than `interval`

[2017-08-21 21:57] AyoubElk opened #2549 "Allow providing a service account directly for storage object"
In short, for a specific use case for a project, I'm handling multiple firebase accounts and the current setup stores the service accounts in a database instead of using the file system.

I need to be able to supply the service account directly to the storage constructor instead of specifying the file name as suggested in the docs:

     var gcs = storage({
       projectId: 'grape-spaceship-123',

[2017-08-21 22:18] stephenplusplus commented on #2549
Duplicate of #2536

You can use the `options.credentials` object when instantiating the client. That is expected to be the contents of a JSON service account key file.

[2017-08-21 22:18] #2549 closed

[2017-08-21 23:04] timwsuqld opened #2550 "DNS Zone.import fails on default TTL"
#### Environment details

  - OS: Linux
  - Node.js version: 4.2.6
  - npm version: 3.5.2
  - google-cloud-node version: 0.6.2

#### Steps to reproduce

  1. Attempt to import a zonefile with a $TTL variable
[code]
zonefile
[code]
Throws the error
[code]

@google-cloud/dns/src/record.js (around 92) doesn't have a record type TTL, hence the error.
[code]
The underlying dns-zonefile library understa

[2017-08-22 00:52] wei-hai commented on #2545
okay, I seem to find out why `interval` is not respected, when a message is ACKed, it triggers `refreshPausedStatus_` and then in `refreshPausedStatus_` it invokes `startPulling_` to update the status of `maxInProgress`. So if a message is ACKed before `setTimeOut()` fires it pulls more messages than scheduled. If there is too much data on PubSub initially and a consumer just starts, the destinati

[2017-08-22 03:28] gunar opened #2551 "How to get the actual value of a callback when topic.publish'ing?"
How to get the actual value of a callback when topic.publish'ing?
The following gets me the messageId only.

Publishing
[code]
Elsewhere
[code]

Thanks in advance!

[2017-08-22 04:21] timwsuqld opened #2552 "DNS Record.fromZoneRecord_ doesn't handle multiple records correctly (MX)"
#### Environment details

  - OS: Linux
  - Node.js version: 4.2.6
  - npm version: 3.5.2
  - google-cloud-node version: 0.6.2

#### Steps to reproduce

When importing zone files (bind format) using `zone.import`, we call `Record.fromZoneRecord_` on each line. However, when you have multiple of the same record that should in be a single result set (i.e. MX records), it actually creates a record se

[2017-08-22 04:59] pcostell commented on #2547
This query is currently supported, I assume you just need to reverse the arguments to query.filter: `query.filter('allPlayers', '=', key)`

Note that we use equality, which is the [supported way in Cloud Datastore to search for elements in an array](https://cloud.google.com/datastore/docs/concepts/queries#array_values).

[2017-08-22 12:30] stephenplusplus commented on #2551
Do you mean you want the value of the message that you just published? The upstream API does not return this as part of the response, which is why we haven't either. The Pub/Sub API is going through a large rewrite (#2380) and is expected to release within the next day or so. As part of the migration, all messages will have to be published as a raw Buffer object. This means there will no longer be

[2017-08-22 12:30] #2551 closed

[2017-08-22 12:31] stephenplusplus commented on #2547
Thanks, @pcostell!

@greenstatic I'm going to close the issue, but please let us know if you have any more issues.

[2017-08-22 12:31] #2547 closed

[2017-08-22 14:13] gunar commented on #2551
@stephenplusplus Thank you. So it seems my question is about PubSub API, not `google-cloud-node`. I'll ask anyway, in hopes that you are able and willing to answer it.

How can I get the value of the message that I just published?

Thanks in advance.

[2017-08-22 14:45] stephenplusplus commented on #2551
I'm sorry, I'm not sure of a great answer for that. You can try contacting the Pub/Sub team / fellow users using the methods mentioned on the [Support page](https://cloud.google.com/pubsub/docs/support).

[2017-08-22 15:02] jmdobry opened #2553 "Vision: imageContext isn't documented"
Customer wondered how to pass a crop hint option to `Vision#cropHints()`. Turns out, you can't. The helper methods only accept an `Image` and a grpc options object, and do not accept `imageContext`.

In order to pass say, the `aspectRatios` option as part of the `cropHints` request, you have to use the `annotateImage` method directly, like so:

[code]

I'm not sure how folks are supposed to know t

[2017-08-22 16:14] arpwal commented on #2553
You might want to update these docs also when you're at it --
https://cloud.google.com/vision/docs/detecting-crop-hints#vision-crop-hints-detection-nodejs

Thanks for following up jmdobry@

[2017-08-22 16:58] gunar commented on #2551
@stephenplusplus Got it. Thank you. Well, can you at least tell me where this message goes to? Is it stored/published in the same topic, or does it go nowhere? Thank you again.

[2017-08-22 17:03] stephenplusplus commented on #2553
Thanks for reporting and sorry for the trouble @arpwal.

I believe we have two action items here:

1) Add a link to [AnnotateImageRequest](https://googlecloudplatform.github.io/google-cloud-node/#/docs/vision/0.12.0/vision/v1/data_types?method=AnnotateImageRequest) from `annotateImage`'s JSDocs: https://github.com/GoogleCloudPlatform/google-cloud-node/blob/vision-0.12.0/packages/vision/src/helpers

[2017-08-22 17:34] jmdobry commented on #2553
Why does 2) have to be a breaking change?

[code]

=>

[code]

[2017-08-22 17:37] stephenplusplus commented on #2553
I'm not too bothered by the breaking change, and I would avoid the duality and just stick with "one way" of using the method. This API was designed by @lukesneeringer / automated, so let's get his take on it.

[2017-08-22 18:05] vkedia commented on #2542
@callmehiphop You should be able to verify that hypothesis by turning off the prewarming behavior (by setting the amount of r/w sessions to 0). Can you try to reproduce this?
Also if a session which was prewarmed with r/w transaction is used for read only transaction, it should still start a new reaonly transaction and discard the previously begun r/w transaction.

[2017-08-22 18:28] jmdobry commented on #2553
Okay. I'm personally okay with a breaking change, and making the shorthand methods take the normal AnnotateImageRequest, instead of taking just `AnnotateImageRequest#image`

[2017-08-22 22:31] Jahans3 commented on #2536
Thanks @stephenplusplus, sorry for not noticing that.

[2017-08-23 01:20] lukesneeringer commented on #2553
I will look at it when I am at the office tomorrow, but this looks like a slip up on my part and easily correctly. It might be a breaking change only insofar as we take an extremely rarely used argument and shift it back one slot.

[2017-08-23 15:28] lukesneeringer commented on #2553
So, a couple thoughts:
First, I do not think it makes sense for the shorthand methods to take a full `AnnotateImageRequest`, because it muddies the source of truth when it comes to `features`.

In Python, I took arbitrary keyword arguments which I mapped onto the `AnnotateImageRequest`; I think something similar is also the right thing to do here. Basically there would be an object as the second a

[2017-08-23 15:33] lukesneeringer commented on #2553
Oh, wow, I just noticed the repeated instantiations needed in order to get docs working. :-/ I really hope we can make that automatic and use a JSDoc plugin in the future.

[2017-08-23 16:12] stephenplusplus commented on #2553
What do you mean?

This concept is going to affect a lot of our methods; short hand arguments vs raw API format vs GAX options. We should figure out the best solution now and start applying it wherever it fits. We've struggled with this in various APIs since our inception, and have ended up with a couple different solutions. Most recently, we had to fit "gaxOptions" to the Logging API:

- Methods

[2017-08-23 17:09] jmdobry commented on #2553
I think these shorthand methods currently introduce greater cognitive dissonance than they alleviate. It's tiring deciphering the differences between a Service's REST/GRPC API and the request/response formats of the client library. I think the implementation of `Vision#cropHints()` should require nothing more than:

[code]

[2017-08-24 00:03] esprehn opened #2556 "Returning arrays for everything makes for awkward and confusing code"
#### Environment details

  - google-cloud-node version: 1.2.0

#### Steps to reproduce

  1. require `google-cloud`
  2. Do lots of operations using the API
  3. Need to unpack an array with a [thing, ApiResponse] from every promise.

ex. Almost every API looks like this:

        download(options?: DownloadOptions): Promise<[Buffer]>;
        exists(): Promise<[boolean]>;
        get(): Promise<

[2017-08-24 00:19] stephenplusplus commented on #2556
Do you have destructuring available in your code base?

[code]

There is also [`bluebird.spread`](http://bluebirdjs.com/docs/api/spread.html) for Bluebird users.

The reason we always return an array is to be consistent, so you're not checking the docs for each method to determine which returns an array and which doesn't.

We always provide the raw API response when it's available, because we can'

[2017-08-24 03:44] esprehn commented on #2556
We use async and await instead of callbacks. Having to write:

[code]
Is a lot more noise than:

[code]
Yes we could do:

[code]

But that's getting even less idiomatic.

The guiding principles of promises + async/ await is that code should look like natural sync code with some await keywords sprinkled into it.

In general the cloud apis feel awkward because of the arrays. This pattern doesn't mat

[2017-08-24 03:56] stephenplusplus commented on #2556
Thanks for the input and that motto is repeated throughout our discussions as well. In our case, we have repeatedly been a frustration for users when we do any level of hiding the raw data/not allowing raw input. While I might think users want the shorthand version, they actually seem to appreciate the full thing.

I'm always interested in new solutions, however we are a bit past the point of bein

[2017-08-24 06:30] afdalwahyu commented on #952
btw, now you can install via npm:
[code]

[2017-08-24 07:48] maephisto commented on #2490
@lukesneeringer thank you! any updates yet?

[2017-08-24 14:52] lukesneeringer commented on #2553
I previously had a one-shot loop that iterated over an enum and created all the methods. Now the method is declared 8-10 times with the differing values, in order to allow the documentation parser to pick up the documentation comments.

Oh, it is nice to realize that this has some prior art. I did not realize that. (For a bikeshed, I would have preferred `callOptions` over `gaxOptions`, but that s

[2017-08-24 14:53] stephenplusplus commented on #2553
cc @callmehiphop for the API-wide discussion of a frictionless way to integrate `gaxOptions` (/`callOptions`)

[2017-08-24 14:55] lukesneeringer commented on #2553
var _createSingleFeatureMethod = (featureValue) => {
  return function(annotateImageRequest, callOptions) {
    if (!annotateImageRequest.features) {
      annotateImageRequest.features = [{ type: featureValue }];
    }
    return this.annotateImage(annotateImageRequest, callOptions);
  };
};
[code]

[2017-08-24 15:01] stephenplusplus commented on #2553
Ah, yeah. Where that started: https://github.com/GoogleCloudPlatform/google-cloud-node/pull/2298#discussion_r121120113

---

I also like the @jmdobry proposal. These are just shortcut methods, that do "one shortcut" (setting the feature option for you). Otherwise, the interface being the same is a good thing.

[2017-08-24 15:01] lukesneeringer commented on #2553
One change I would make _if_ we go with @jmdobry's solution is that the caution on updating `features` is probably an issue. It would be very surprising to call `#cropHints()` and not get crop hints because you provided `features: [{type: 'labelDetection'}]` or whatnot.

Therefore, the logic would need to become...

[code]

[2017-08-24 15:05] lukesneeringer commented on #2553
Yeah, I get why you did it, but in the medium-term I would like to find a better way. The entire point of creating those methods on a loop is that the underlying enum (defined by autogen) may change.

We should punt on that issue until we covert Vision to JSDoc. I bet once we do, I can write a plugin to handle this case.

[2017-08-24 15:06] lukesneeringer commented on #2553
I am slowly becoming increasingly convinced that @jmdobry's solution is the best one.

[2017-08-24 15:26] lukesneeringer commented on #2556
Before I say anything else, a thought about v2's timeline: It is considered a semver-major change to drop support for old versions of Node, and it is my desire to drop Node 4 when it goes EOL in April 2018. So, I am up for making a change like this in April, but not before that. (The leadup to that change, of course, could be significant.)

I am on the record as believing that returning an array a

[2017-08-24 15:29] lukesneeringer commented on #2556
Note that I do not want this to evolve into a "reinvent everything" discussion. It is worth getting ideas out, and then after that we need to close this issue. If we want to have a desired action item, I will have to see about getting it in the priority queue in early 2018.

[2017-08-24 15:33] jmdobry commented on #2553
I think if at all possible, google-cloud-node should rely on the request/response formats defined in the protos (though fully-handwritten libs might be an exception).

In cases where google-cloud-node needs to add stuff, they should be "non-breaking" additions, e.g. proto has field `foo`, but google-cloud-node accepts an additional field `bar` for client-library-specific configuration. Does NOT re

[2017-08-24 15:39] lukesneeringer commented on #2553
I agree with all of these principles. :-) In fact, these were the reasons for going from the one-off methods in the manual layer to the one we have now.

I also agree that the proposed solution follows these principles better than what I did originally. Let's go with that.

[2017-08-24 15:44] lukesneeringer commented on #2553
#2555 updated accordingly.

[2017-08-25 04:57] adamliuxy commented on #2542
Any updates?

[2017-08-25 09:55] ChrisBartonLC opened #2558 "subscription.close() does not flush pending acks."
https://github.com/GoogleCloudPlatform/google-cloud-node/pull/2380

The new api has made my code simpler so thanks. However I find that now there is no ACK which returns a promise then in a Cloud Function I have to write code like this i.e. the call to 'subscription.close()' does not flush the pending ACKs before resolving:

        return new Promise(
          function (resolve, reject) {

[2017-08-25 12:26] stephenplusplus commented on #2558
Thanks for reporting. cc @callmehiphop for help.

[2017-08-25 14:41] teemeh opened #2559 "extensionHeaders in method File.getSignedUrl do not work as expected"
It's only noted in the documentation that the "extensionHeaders" needs to be an object with not a single example or link. While not using such key-value pair in config object, I can easily retrieve the file, setting a self-defined header in way described below, which I believe is the most common way, doesn't allow me to retrieve the file anymore with the error message "The request signature we cal

[2017-08-25 15:32] callmehiphop commented on #2558
I had originally decided to not add callback/promise support to ack and nack because now we write those requests to a stream and there isn't a reliable way to catch errors. However I think it's probably worth adding support for use cases like this, @stephenplusplus wdyt?

I think if you were to set a timeout to call close after the ack, as opposed to after calling close, that would provide you wit

[2017-08-25 17:26] lukesneeringer opened #2560 "Auth trouble in Google Cloud Functions"
This is a re-post of an internal bug. (Googlers: b/62449180)

--------------------

Several customers have reported problems initializing Datastore and other clients within Google Cloud Functions. Interestingly, the `require` statements fail in global scope but succeed if they are within the function.

[2017-08-25 17:28] lukesneeringer commented on #2560
Reproduction case. Note that if the requires are moved inside `handleGET`, the problem goes away.

[code]

[2017-08-25 17:49] lukesneeringer commented on #2558
Worth noting: acks in Pub/Sub are best effort and Pub/Sub does not reliably tell you if they error. So, error checking will be incomplete at best (which is why we were told to just have `.ack` return void).

[2017-08-25 17:49] lukesneeringer commented on #2558
@callmehiphop That said, subscription closure should just automatically flush pending acks.

[2017-08-25 18:06] callmehiphop commented on #2558
It currently does, but it sounds like we are maybe hitting a race condition
where the process ends before they can flush completely

On Aug 25, 2017 10:49 AM, "Luke Sneeringer" <notifications@github.com>
wrote:

[2017-08-25 18:20] vkedia commented on #2542
@lukesneeringer @callmehiphop This seems like a significant performance issue. Can we appropriately prioritize this?

[2017-08-25 21:06] stephenplusplus opened #2562 "Don't require an options object for Service instantiations"
With ADC auth, it's possible users don't need to provide *any* options object to a Service instantiation. That currently causes this line to throw:

https://github.com/GoogleCloudPlatform/google-cloud-node/blob/c98acd27ad8718a2c78bffa9b0f253cc334334b9/packages/common/src/service.js#L50

We should default `options` to an empty object.

[2017-08-25 21:11] #2562 closed

[2017-08-25 21:43] chris-barton-localcover commented on #2558
Thanks very much for that more succinct code. I'm happy with it being best
effort, the occasional duplicate when the ACK fails is fine, as you know
PubSub can send duplicates so we already handle that.

[image: LocalCover] <http://www.localcover.com>
*Chris Barton* Enterprise Architect
*LocalCover Group*
T: +64 9 572 9006   M: +64 22 589 6541
45D Mount Wellington Highway
Mount Wellington, Auckland

[2017-08-26 00:46] vkedia commented on #2542
This also raises the question as to what does `transaction.end` do for read write transactions? Is it a no-op? Maybe it should instead raise an error?

[2017-08-26 00:47] ChrisBartonLC opened #2565 "PubSub Publisher documentation missing options documentation"
For a Cloud Function I need to immediately publish and so I assume I need to set maxMessages=1 and maxMilliseconds=0 when calling pubsub.topic(...).publisher({ batching: { maxMessages: 1, maxMilliseconds: 0 } }) but this is not documented and I needed to look at the source (which was fine but I hope I have made the correct assumption about how to setup immediate send):

https://googlecloudplatform

[2017-08-26 02:09] chris-barton-localcover opened #2566 "PubSub 'ackDeadline' cannot be configured when creating a subscription"
See https://github.com/GoogleCloudPlatform/google-cloud-node/blob/pubsub-0.14.0/packages/pubsub/src/subscription.js

ackDeadline is hardcoded to 'this.ackDeadline = 10000;' where-as maxConnections can be configured 'this.maxConnections = options.maxConnections || 5;'