[2016-04-12 23:50] paulshapiro commented on #1225
Thanks a bunch @stephenplusplus

@jmdobry Makes sense. During deployment, I did see an apparently successful installation of 5.9.1 as well:

The list of Module Versions under the app's dashboard seemed a bit of a mess. Among 10 or so versions only one of them was serving 100% of traffic and it had about 13 instances behind it. (I wonder if something had gone wrong during some hypothetical cleanup

[2016-04-12 23:55] jmdobry commented on #1225
The stack trace in your log appears to have popped up in grpc. It's possible there's an issue building it (it uses a lot of C++) on the version of Node.js that you're using. Have you filed a bug with your stack trace in the grpc repository?

[2016-04-12 23:57] paulshapiro commented on #1225
Have not done so yet. Will do.

Is there a version of Node.JS you'd recommend I use on/with App Engine?

(FYI deploy failed again)

[2016-04-13 00:01] jmdobry commented on #1225
I've successfully deployed the latest gcloud-node to App Engine using the following:

[code]

I believe App Engine will select v4.2.3 or something like that. You could try that.

[2016-04-13 00:02] paulshapiro commented on #1225
Will do. Many thanks, guys. Owe you some beers.

[2016-04-13 00:18] paulshapiro commented on #1225
Hurray, that version of Node worked.

[2016-04-13 00:18] #1225 closed

[2016-04-13 00:33] stephenplusplus commented on #1225
Woo! However, I noticed you closed this issue before those beers were paid out... Just kidding :) Glad it works!

[2016-04-13 03:27] susanlinsfu opened #1226 "ReferenceProperty support"
Reading the docs about Google Datastore at https://cloud.google.com/appengine/articles/modeling. It mentions properties which would be a great feature as many models require one to many relationships.

[2016-04-13 13:48] jgeewax commented on #1226
I believe you can do this by setting the property as a `Key` object.

We won't automatically de-reference this for you (ie, when you access the property it will return the key which you then need to `get`), but it's definitely possible to do...

[2016-04-13 13:49] jgeewax commented on #1226
@stephenplusplus , what are your thoughts here? It kind of gets us into ORM world if we start de-ref'ing keys for people automatically, right?

[2016-04-13 19:17] stephenplusplus commented on #1226
Yeah, I think what is wanted here is an ORM. We also have a very old issue that requested showing an integration: https://github.com/GoogleCloudPlatform/gcloud-node/issues/87 -- is it worth looking into that again?

@susanlinsfu in case this is helpful, I made a schema validator for gcloud-node + Datastore https://github.com/stephenplusplus/gcloud-datastore-schema -- I'm still working on adding ne

[2016-04-13 22:55] silenceisgolden opened #1228 "Does the vision api have support for more than 5 labels in the response?"
In the docs, there are mentions of a `maxResults` property to include on the request.

1. Can this go to greater than a max of 5?
2. If so, can we get something in the `vision.detect` opts to set this property?

[2016-04-13 23:08] stephenplusplus commented on #1228
Yes and yes! PR sent: https://github.com/GoogleCloudPlatform/gcloud-node/pull/1229

[2016-04-13 23:21] #1228 closed

[2016-04-14 07:14] sebelga opened #1230 "Can't connect to local Datastore Emulator"
Hi,
I just updated from 0.29 to 30.3 and I can't connect to the Datastore emulator locally.
This is the steps I do:

Launch datastore with:
[code]
It launches and tells me:
[code]

Init gcloud-node with
[code]
Create an Entity
[code]

I receive this in err:
"{"code":503,"metadata":{"_internal_repr":{}}}"

I then changed the apiEndPoint to "http://localhost:8380/datastore" (as indicated when launch

[2016-04-14 09:58] Thomas-T commented on #1230
Hi,

I had the same problem, it's due to the fact that the datastore emulator doesn't implements GRPC yet.
you can see the workaround in the changelog :
https://github.com/GoogleCloudPlatform/gcloud-node/releases/tag/v0.30.0

`Additionally, we are now using gRPC to give a performance boost to your Datastore calls. As of now, the gcloud SDK does not have a gRPC emulator, meaning if you wish to use

[2016-04-14 12:20] stephenplusplus commented on #1230
Thanks for the kind words @sebelga and for the assist @Thomas-T!

Also tagging duplicate: #1220.

[2016-04-14 12:20] #1230 closed

[2016-04-14 12:48] sebelga commented on #1230
Thanks for fast answer and info @Thomas-T ! , I will try the gcd.sh tool and come back if any problem.
Best

[2016-04-14 13:08] stephenplusplus commented on #1192
I haven't been able to get through to IAM with gRPC: https://github.com/stephenplusplus/grpc-usage-question/issues/1

// @jgeewax

[2016-04-14 15:15] silenceisgolden commented on #1228
@stephenplusplus Thanks for the quick response and PR!

[2016-04-14 16:42] stephenplusplus commented on #1084
Took a shot at this in #1231 -- ptal!

[2016-04-14 20:51] silenceisgolden opened #1232 "404 when trying to use Search API"
Is there a way that I can get this API to not 404? Thanks!

[2016-04-14 20:54] stephenplusplus commented on #1232
Are you whitelisted for the API? See #1054.

[2016-04-14 20:56] silenceisgolden commented on #1232
@stephenplusplus I have been looking all over for that link. Thanks

[2016-04-14 21:01] silenceisgolden commented on #1232
The form says the early access period has closed, but I submitted a response anyway.

[2016-04-14 21:02] stephenplusplus commented on #1232
:+1: @jgeewax is there still hope? Can you get him through?

[2016-04-14 21:02] #1232 closed

[2016-04-15 02:23] stephenplusplus commented on #1189
This magically resolved itself.

[2016-04-15 02:23] #1189 closed

[2016-04-15 05:19] christyleung1987 commented on #1204
We should get rid of logging. console.log is performance heavy.

[2016-04-15 07:12] kunchenguid opened #1234 "[PubSub] subscription.ack(message.id, callback) returns 500"
a super simple nodejs script, but I just can't acknowledge the message I pulled. anything I'm doing wrong here?

[code]

[2016-04-15 12:01] stephenplusplus commented on #1234
I can't seem to reproduce. Is there any more info in the error?

Something else to try would be `message.ack()`.

[2016-04-15 14:37] Eksrow opened #1235 "storage upload use /temp/ instead of /home/?"
I'm on aws lambda trying to upload a file to gcs.
This line of code to upload a file:

[code]

Results in:
[code]

So this is solved by setting resumable to false, which is great, but I was wondering if it was possible to change the cache(I assume it's cache) directory to something else like temp?

[2016-04-15 15:34] stephenplusplus commented on #1235
You can change the directory with an env var `XDG_CONFIG_HOME` (see #1051). Please re-open if this doesn't work.

[2016-04-15 15:34] #1235 closed

[2016-04-15 15:59] sebelga commented on #1230
Ok I got it working with the gcd.sh (had to first use the "create" command on a folder, then the "start" command on that same folder.

Although it works, on each call to the datastore I get (on the node server console):
E0415 17:55:30.698468000 4406132736 tcp_client_posix.c:173] failed to connect to 'ipv6:[::1]:8080': socket error: connection refused

And on the local datastore console:
INFO: Dete

[2016-04-15 16:19] stephenplusplus commented on #1230
Thanks for bringing it up!

That sounds okay.

That's a little more concerning. @pcostell that error is being printed from gRPC. The function calls seem to behave correctly, but that message still prints. Is that anything to be concerned with?

[2016-04-15 17:03] pcostell commented on #1230
The INFO message is totally fine, it's just logging that it received an HTTP/2 connection instead of an HTTP/1 connection (we should probably make this `FINE` messages instead).

The ipv6 error definitely seems more alarming, but unfortunately I don't know much about it. Maybe we should open up a bug over on the grpc github?

[2016-04-15 17:07] #1179 closed

[2016-04-15 17:08] stephenplusplus commented on #1230
Thanks for checking it out. @murgatroid99 should we open an issue? I thought I'd give you a chance to take a look first.

[2016-04-15 17:09] stephenplusplus commented on #1226
Feel free to continue the ORM discussion in #87.

[2016-04-15 17:09] #1226 closed

[2016-04-15 17:12] stephenplusplus commented on #722
We're trashing this idea and just going with our own API, right?

[2016-04-15 18:22] sebelga commented on #1230
One last detail. It seems that when connecting locally to this gcd.sh, the generated ID does not work as I receive a "normal" incremental id (1, 2, 3, ... )

To make sure it was not the gcloud library, I removed the "apiEndpoint" and pointed to Google and the generated ID was like before (16 number figure).

Again, no big deal because it's local but just to let you know..

[2016-04-15 18:51] kunchenguid commented on #1234
unfortunately there was no more information in the error.. the message was just saying it's internal error and an error code 500.

i can definitely have a try with message.ack this evening. does it help if I share the subscription where I was hitting the error?

[2016-04-15 18:53] stephenplusplus commented on #1234
Yeah, it probably couldn't hurt. Thanks!

// cc @tmatsuo

[2016-04-15 19:26] kunchenguid commented on #1234
Sent details to your gmail. :)

[2016-04-15 20:01] susanlinsfu opened #1236 "With gcd.sh local (gcd-rpc 1.0.0) errors always"
I am using gcloud-node v.0.30.3 and since it doesn't support gRPC I am using gcd-rpc for my local datastore. This is only occurring on windows (gcd.cmd). I run some operation it always returns 'No connection could be made because the target machine actively refused it". The strange thing though is it completes the operation always. The error shows,  but if I have some console output it always show

[2016-04-15 20:08] susanlinsfu opened #1237 "Ancestor query with filter on children not returning anything"
I am using gcloud-node v.0.30.3 and since it doesn't support gRPC I am using gcd-rpc for my local datastore.

Say I run this query to get all the children:

[code]

This works and returns all the entities. If I go:

[code]

Nothing is return even though it should return something. Nothing is printed in the node console.

I have noticed some strange behavior. If I add a limit clause  to this query

[2016-04-15 21:14] stephenplusplus commented on #1237
cc @pcostell

[2016-04-15 21:14] stephenplusplus commented on #1236
cc @pcostell

[2016-04-15 21:35] pcostell commented on #1237
@stephenplusplus Could you verify what proto gets sent in this case?

[2016-04-15 21:42] pcostell commented on #1237
Note I tested this manually using direct gRPC to the emulator and it seems to work fine, so I think it may be limited to gcloud-node.

[2016-04-15 21:43] pcostell commented on #1236
Can you share the exact output of the error messages, both on the client and on the emulator output.

[2016-04-15 21:51] susanlinsfu commented on #1236
On the gcd when I make a request:

On my nodejs console all that is outputted is:

E0415 14:48:09.553000000  7796 tcp_client_windows.c:106] on_connect error: No connection could be made because the target machine actively refused it.

[2016-04-15 22:16] stephenplusplus commented on #1237
I'm trying this now and get stuck in an infinite loop. The response always has `batch.moreResults` as `MORE_RESULTS_AFTER_LIMIT`, so our code creates a `nextQuery`, and automatically runs it. The `endCursor` value is always the same as well, so it never gets anywhere.

[2016-04-15 22:17] pcostell commented on #1237
Didn't we address this in 30.3?

[2016-04-15 22:22] stephenplusplus commented on #1237
We handle `NOT_FINISHED` by running the query again automatically, regardless of "autoPaginate" being true or false. And we added some perpetual limit logic to make sure we only ask for the right amount of results on those "nextQuery"s. But when we get the `MORE_RESULTS_AFTER_LIMIT` response, we still build and run the nextQuery.

[Here's](https://github.com/GoogleCloudPlatform/gcloud-node/blob/51

[2016-04-15 22:24] pcostell commented on #1237
Doesn't the logic say to create the nextQuery if `more_results` is `NOT_FINISHED` or `MORE_RESULTS_AFTER_LIMIT`, but only run it if it is `NOT_FINISHED`?

[2016-04-15 22:31] stephenplusplus commented on #1237
It looks that way because of the code in that function, but when `runQuery` is called, it's actually wrapped by another function which automatically runs any `nextQuery` automatically. This wrapper function is used throughout our API with any method that returns a "nextQuery" (storage.bucket.getFiles(), pubsub.getTopics(), etc). So we had to add in the manual override to continue running if it's "

[2016-04-15 22:49] pcostell commented on #1237
Yes this is definitely the case: the emulator always returns
MORE_RESULTS_AFTER_LIMIT or NOT_FINISHED, but never NO_MORE_RESULTS.

I am working on making the emulator match production Datastore now.
However, I don't think the client should ever be doing this automatically.
This is the point of having NOT_FINISHED. MORE_RESULTS_AFTER_LIMIT should
only be used as a signal to the user of the client l

[2016-04-15 22:57] stephenplusplus commented on #1237
This is just the default behavior of our API. If there is a "nextQuery" to run, we run it automatically. All methods that act this way can be instructed not to. In the case of `datastore.runQuery()`, `query.autoPaginate(false)` must be set.

We've done it [many ways in the past](https://github.com/GoogleCloudPlatform/gcloud-node/issues?utf8=%E2%9C%93&q=+nextquery+datastore), but [this](https://git

[2016-04-15 23:37] susanlinsfu commented on #1237
Sorry, but from what I understand adding autoPaginate(false) to my query should solve it? I have just tried adding it to my query and it still returns an empty array.

[2016-04-15 23:41] faithseed opened #1238 "cloud logging example is misleading where labels.instance_id has to be STRING"
The doc says string for instance_id

var resource = {
  type: 'gce_instance',
  labels: {
    zone: 'global',
    instance_id: 3
  }
};

yet in practice, you will hit the following if you pass an int. ugh...

 { [ApiError: Invalid value at 'entries[0].resource.labels[0].value' (TYPE_STRING), 1]
  errors: undefined,
  code: 400,
  response: undefined,
  message: 'Invalid value at \'entries[0].resou

[2016-04-16 00:53] pcostell commented on #1237
@stephenplusplus that makes sense, I think in that case you should only
return nextQuery if more_results = NOT_FINISHED (and not do the request
inside runQuery, instead depend on the generic pagination).

On Fri, Apr 15, 2016, 4:37 PM susanlinsfu <notifications@github.com> wrote:

[2016-04-16 01:25] stephenplusplus commented on #1237
@susanlinsfu regarding the empty result set, I'm not sure why they aren't being returned. Here's a script that I've tried: https://gist.github.com/stephenplusplus/8302ecb5892072f80db17f717a84a898. The query seems to return the results. Does that same script not work for you, or am I maybe not properly recreating your scenario?

[2016-04-16 01:31] stephenplusplus commented on #1238
Can you show the code you're using? The code from the readme works for me.

Also, which version of gcloud-node are you running?

[2016-04-16 02:22] faithseed commented on #1238
We use:
"gcloud": "0.28.0",

  resource = {
      type: 'gce_instance',
      labels: {
         instance_id: instance_id,
         zone: zone
      }
   };

   log.write([ logEntry ], function (err, apiResponse) {
         if (err) {
            logger.error(err);
         }
      });

[2016-04-16 02:33] faithseed commented on #1238
https://cloud.google.com/logging/docs/api/ref_v2beta1/rest/v2beta1/LogEntry

also this say labels are string?

labels	map (key: string, value: string)

[2016-04-16 02:37] susanlinsfu commented on #1237
@stephenplusplus  ahh yes it works for me now, I had a spelling mistake in the word "some stuff". And yes you are right if autopaginate is disabled it works, but if it is not there (or if limit) it will not return any data. Thanks!

[2016-04-16 05:47] kunchenguid commented on #1234
i figured out.. message.ackId is what we should use. message.id cannot be used in ack().
this should probably be better clarified in the documentation, examples, and also error message.

[2016-04-16 07:53] zlepper commented on #1236
I have the same issue, expect i'm using the default ``gcloud beta emulators datastore start`` command to start the emulator.

This is the output from the datastore starting:
[code]

The admin interface can be accessed without issues, so I'm pretty sure the datastore emulator is fine.

[2016-04-16 18:06] susanlinsfu commented on #1236
@zlepper I believe the gcloud emulator doesn't support gRPC, hence we can't use the gcloud emulator and must use the gcd tool.

https://github.com/GoogleCloudPlatform/gcloud-node/releases/tag/v0.30.0

[2016-04-16 18:14] stephenplusplus commented on #1234
Woops, sorry that I didn't catch that. I'm going to be working on writing some better "overview"-style docs (as opposed to individual method docs), which will definitely cover this. However, if you have an idea to improve what we have already, it would be awesome to receive a pull request.

[2016-04-16 18:14] #1234 closed

[2016-04-16 18:20] stephenplusplus commented on #1238
I was able to reproduce. Thanks for catching this. Any chance you'd be willing to send a PR with the fix for the docs?

[2016-04-16 18:23] stephenplusplus commented on #1237
Phew, I'm glad you found the fix! I'm not sure which will be first: the gcloud emulator supporting gRPC or a new release of the gcd.sh tool matching the production Datastore API. Until then, as long as you're using either one, `autoPaginate(false)` is a safe bet. Thanks for posting this issue!

[2016-04-16 18:50] zlepper commented on #1236
@susanlinsfu internally it seems to call the same cmd file as your command do?

And shouldn't the node docs then be updated to reflect the proper way to use gcloud-node with the datastore emulator?

[2016-04-16 18:57] stephenplusplus commented on #1236
@zlepper as the release notes say, this is a temporary workaround as the Datastore emulator from inside the gcloud SDK does not support gRPC. Do we have docs that say how to use the emulator currently? We could leave a note there about the workaround. I haven't received any time line for when the SDK emulator will support gRPC.

[2016-04-16 20:15] zlepper commented on #1236
There is a note about how to specify an api endpoint, which is pretty much using the datastore emulator, as far as I know.
The datastore emulator docs themselves https://cloud.google.com/datastore/docs/tools/datastore-emulator do not say anything about how to connect with any service.

And I just (a couple of days ago) started  using gcloud, so I missed the release note when I was searching around

[2016-04-16 20:29] zlepper commented on #1236
Switching to use the gdc.cmd tool directly, as provided in the link on the release page, this happens:
[code]
And this is the output in my node terminal:
[code]

[2016-04-17 17:21] Eksrow commented on #1235
Thank you.

[2016-04-18 07:30] zywcode opened #1239 "Allow recognition of image URL in Vision API"
Now, it's support two type that local file and gcsImageUri.
`eg:
/data/images/aa.jpg, {"name": aa.jpg, "bucket": {"name": "demo"}}`
Can you add the support of image url.
`eg:http://mydomain/images/aa.jpg`

[2016-04-18 12:17] stephenplusplus commented on #1239
Which part of our API are you referring to?

[2016-04-18 13:47] zywcode commented on #1239
`Vision.findImages_(images, callback);`
Can you accept the parameter of url type?
I want to detect the image of url, not File.
`eg:http://mydomain/images/aa.jpg`

[2016-04-18 14:10] jgeewax commented on #1239
I don't think the Vision API supports "any URL", but specifically a `gcs://` URL.

[2016-04-18 14:27] stephenplusplus commented on #1239
Cool idea @zywcode. I put a PR together: #1240 -- please try it out!

[code]

[2016-04-18 14:39] stephenplusplus commented on #1236
@zlepper thanks for pointing that out. I have a PR that will do a better job of explaining: #1231

As for the issues with the output, I have to deflect to @pcostell on what these might mean.

[2016-04-18 16:24] faithseed commented on #1238
sure, will do

[2016-04-18 16:27] pcostell commented on #1236
Yikes, those are some gnarly stack traces. Can you share your `gcloud-node` code that you are running so I can try to reproduce it?

[2016-04-18 16:32] pcostell commented on #1237
@stephenplusplus Do we have an issue tracking improper pagination? Even once the emulator has better handling of `more_results`, `gcloud-node` still needs to stop paging on `MORE_RESULTS_AFTER_LIMIT`.

[2016-04-18 16:33] stephenplusplus commented on #1237
I thought we should still do that when `autoPaginate` is true (which is default)?

[2016-04-18 16:35] pcostell commented on #1237
I don't think so -- If a user actually wanted all the results, they shouldn't set a limit. As it is now, anyone who wants a specific number of results has to set both a limit and `autoPaginate = false`. Anyone who wants all the results can either not set a limit or set a limit and leave `autoPaginate = true`.

[2016-04-18 16:37] stephenplusplus commented on #1237
`autoPaginate` respects the requested limit and stops running. This is built in to the wrapper function.

[2016-04-18 16:42] pcostell commented on #1237
Ah ok, you can probably ignore me then.

[2016-04-18 16:43] stephenplusplus commented on #1237
Sorry that the code made this more confusing than it needed to be.

[2016-04-18 17:47] sebelga commented on #1236
Just sharing a few things I realised to make it work (here on OS X):

- Check that you don't have anything running on port 8080 (I had Jenkins running without noticing and was blocking all the calls to the gcd)... arg! :)
- Had to start the command with Admin privilege (sudo) (although the local folder is in Home directory)
- the Api endpoint is "**http://localhost:8080**" although the gcd console

[2016-04-18 17:55] sebelga opened #1242 "Bugs with gcd.sh (gcd-rpc 1.0.0)"
Hello,

I know that the gcd.sh is a temporary fix until the gcloud emulator support gRPC but here are a few things that I noticed:

- generated IDs are incremental (1, 2, 3, 4, 5...) instead of the _random_ 16 figures number.
- queries don't work if we don't set a "limit"

Nothing big but just letting you know.
Thanks for the great work!

[2016-04-18 17:57] stephenplusplus commented on #1242
Thanks for the kind words :) This is just an issue tracker for gcloud-node, but I'll bring in @pcostell -- is there another place to report bugs/ask questions specific to the gcd tool that we can direct folks?

[2016-04-18 18:01] sebelga commented on #1242
Yeah sorry, I didn't know where to share that info :) I'll move it wherever @pcostell tells us.

[2016-04-18 18:09] pcostell commented on #1242
Moving them to [GoogleCloudPlatform/google-cloud-datastore issue tracker](https://github.com/GoogleCloudPlatform/google-cloud-datastore/issues) is probably the best place for now.

[2016-04-18 18:12] stephenplusplus commented on #1242
This issue was moved to GoogleCloudPlatform/google-cloud-datastore#109

[2016-04-18 18:12] #1242 closed

[2016-04-18 18:13] pcostell commented on #1242
Thanks all for the bug reports -- the grpc-based gcd.sh tool is completely new so I really appreciate your help working out the kinks.

[2016-04-19 05:56] zywcode commented on #1239
Thanks @stephenplusplus . That's it what I want.

[2016-04-19 05:56] #1239 closed

[2016-04-19 08:24] zlepper commented on #1236
@pcostell Datastore setup code: https://gist.github.com/zlepper/59c7b11d60c86bb9cd199c5162b9733d
And the error happens whenever I try to make a query to the datastore.

[2016-04-19 11:14] stephenplusplus commented on #1238
Fixed by #1241

[2016-04-19 11:14] #1238 closed

[2016-04-19 11:25] stephenplusplus commented on #1024
#1084 will track our progress on updating the overviews for all of our APIs, so I'll close this one.

[2016-04-19 11:25] #1024 closed

[2016-04-19 13:46] paulshapiro opened #1248 "file.exists Error of internal_failure"
Hi there,

I'm doing a bunch of uploads which are preceded by a file.exists to prevent redundant uploads. It was working quite well through the night but I suddenly started to get an error of "internal_failure", with the stack trace below. I've tried deleting the files that it fails on, but same thing keeps happening on different files. This error is yielded by the file.exists call.

[code]

–Paul

[2016-04-19 13:48] paulshapiro commented on #1248
I think this may be an issue in Google Cloud itself. Doing a gsutil command on the command line yields the same error. Going then to a `gcloud auth login` leads me to a page that 500s.

[2016-04-19 13:49] paulshapiro commented on #1248
Similarly, cannot deploy. I get

`ERROR: (gcloud.preview.app.deploy) internal_failure`

[2016-04-19 13:59] stephenplusplus commented on #1248
Same here, appears to be an issue with the oauth token server. @jgeewax have you heard of any downtime reports?

[2016-04-19 14:22] stephenplusplus commented on #1248
Update coming soon: https://status.cloud.google.com/

[2016-04-19 14:52] paulshapiro commented on #1248
@stephenplusplus working again, for me. Thanks!

[2016-04-19 14:56] stephenplusplus commented on #1248
Awesome! Here is the official summary:

The issue with Authentication Services should have been resolved for all affected projects as of 07:24 US/Pacific. We will conduct an internal investigation of this issue and make appropriate improvements to our systems to prevent or minimize future recurrence. We will provide a more detailed analysis of this incident once we have completed our internal inve

[2016-04-19 14:56] #1248 closed

[2016-04-19 15:51] jpdiazvaz opened #1249 "Query without Limit throws exception when too many results"
Hi,

I'm using Datastore with gcloud 0.30.3 and when executing a simple Query to find all entities in a Kind that has 1.000 entities, it fails if the query isn't provided a Limit value:

### **Without Limit**
[code]

##### **Output**
[code]

### **With Limit**
[code]

##### **Output**
[code]

[2016-04-19 16:03] jpdiazvaz opened #1250 "API Links in README.md file get stuck in redirect loop"
Hi, when clicking any **API Documentation** link in the README.md file, the browser gets stuck redirecting between two pages.

Here's one of the links
https://googlecloudplatform.github.io/gcloud-node/#/docs/datastore

It redirects back and forth between
`https://googlecloudplatform.github.io/gcloud-node/#/docs/v0.30.3/datastore/gcloud`
and
`https://googlecloudplatform.github.io/gcloud-node/#/docs

[2016-04-19 16:21] sebelga commented on #1236
You need to set the apiPoint inside the datastore() instantiation.
Like this:
[code]

[2016-04-19 16:34] callmehiphop commented on #1250
Thanks for reporting this! We just merged a fix, would you mind taking a look and letting us know if you're still experiencing any issues?

[2016-04-19 16:57] stephenplusplus commented on #1236
@sebelga if you set the env var, you don't need to use `apiEndpoint`:

[code]

@pcostell should I move this issue over to [google-cloud-datastore](https://github.com/GoogleCloudPlatform/google-cloud-datastore)?

[2016-04-19 17:00] stephenplusplus commented on #1250
Confirmed this is fixed. Thanks for letting us know about this one @jpdiazvaz!

[2016-04-19 17:00] #1250 closed

[2016-04-19 17:39] zlepper commented on #1236
@sebelga Settings the ``apiEndpoint`` on the datastoreOptions instead did not help.

@stephenplusplus Only settings the env var and not specifying the ``apiEndpoint`` at all did not help either. Gives the same error as I mentioned with the stacktrace earlier.

[2016-04-19 17:42] stephenplusplus commented on #1236
This issue was moved to GoogleCloudPlatform/google-cloud-datastore#110

[2016-04-19 17:42] stephenplusplus commented on #1236
Yeah, I don't know if that will fix the error, but it should be all you need from the standpoint of connecting to the emulator with gcloud-node. I'm going to move this issue over to that other repo, hopefully getting some more eyes on the problem. Of course, if it turns out to be an issue with this library, we will re-investigate from this end.

[2016-04-19 17:42] #1236 closed

[2016-04-21 20:03] #1249 closed

[2016-04-22 11:11] steren opened #1255 "Cannot click on 'Read the Docs' https://googlecloudplatform.github.io/gcloud-node/"
I open https://googlecloudplatform.github.io/gcloud-node/#/
I click on the 'Read the Docs' button.

Observed: Nothing happens.
Expected: the doc loads

Chrome on Linux

[2016-04-22 11:15] stephenplusplus commented on #1255
Thanks for reporting, I will get right on it.

[2016-04-22 11:36] stephenplusplus commented on #1255
The docs can now be read 📖

[2016-04-22 11:36] #1255 closed

[2016-04-22 16:36] jasonpolites opened #1257 "pubsub.subscribe fails if called twice with the same subscription name"
The sample code for pubsub will fail if it's run twice.

The "subscribe" method:

`topic.subscribe('new-subscription'...)`

Will fail if "new-subscription" already exists.  I see the following error:

_Resource already exists in the project (resource=new-subscription)._

[2016-04-22 16:39] stephenplusplus commented on #1257
All subscriptions must be given unique names. That line is saying: "Create a new subscription named `new-subscription`", so it is expected to fail the second time.

Do you think it would be more clear if we changed it to:

[code]

[2016-04-22 16:39] callmehiphop commented on #1249
@jpdiazvaz this should be fixed in `v0.31.0`, thanks again for reporting this and please let us know if you experience any more issues!

[2016-04-22 16:45] jasonpolites commented on #1257
Sure, but presumably we don't want to be creating thousands/millions of subscriptions? (one per code invocation).  What I _really_ want to do is get back to the same subscription, but it seems there are a bunch of hoops I need to jump through to do that.

Are we saying that the "recommended" approach is to first call [getSubscriptions](https://googlecloudplatform.github.io/gcloud-node/#/docs/v0.31

[2016-04-22 16:49] stephenplusplus commented on #1257
You can use `reuseExisting` (https://googlecloudplatform.github.io/gcloud-node/#/docs/v0.31.0/pubsub/topic?method=subscribe):

[code]

Another way to do it (this is a pattern throughout our whole API):

[code]

[2016-04-22 16:49] jgeewax commented on #1257
Hm - seems like that should be the default, no ?

[2016-04-22 16:59] stephenplusplus commented on #1257
`reuseExisting` should be true by default? I don't think so, because if it exists, you would just use:

[code]

If you're unsure if it exists, that's why we have both of those examples from my last post.

I'm not sure I understand the Pub/Sub use cases where users are uncertain if a topic exists (related: #696), but if you both think that defaulting `reuseExisting` is the right way to go, I'll gla

[2016-04-22 17:09] stephenplusplus commented on #1257
RE: worker/broadcast model concepts, I haven't looked at it like that before, but I think that makes sense. If I'm following, are you saying we should generate subscription names for the user? (Related: https://github.com/GoogleCloudPlatform/gcloud-ruby/issues/193)

[2016-04-22 17:12] jgeewax commented on #1257
So making this into code:

I'm a worker! I might not see *every* message that gets published!

[code]

I'm just a listener to everything! Bring it on!

[code]

Though the latter case might be better as...

[code]

[2016-04-22 17:18] jasonpolites commented on #1257
Maybe a simply solution for now is to just add `{ reuseExisting: true }` to the README so users don't get tripped up in their first 5 minutes

[2016-04-22 17:19] stephenplusplus commented on #1257
Thanks for the code examples, it always helps! So is this right?:

If I give a name to `subscribe`, I expect it to be created. Remove the `reuseExisting` option. If it can't be created because it already exists, don't return an error and just use the subscription.

If I don't give a name to `subscribe`, just create one for me named something random.

[2016-04-23 16:33] jgeewax commented on #1257
I'd want @tmatsuo to chime in here if possible... but that's my thought... Sometimes I want to just listen on a topic, and I don't ever intend to share the listening responsibilities with anyone else...

[2016-04-23 17:56] stephenplusplus commented on #1218
No problem, I've put together a PR in #1259 -- please share any thoughts!

[code]

[2016-04-24 23:48] susanlinsfu opened #1260 "nextQuery always returns a value"
I have 42 items which should be returned:

[code]

The query first gets the first 10 items, then the next 10, then the next 10, then the remaining 2(42 items). The problem then is when I make the last query to get the last 2 items it returns a nextQuery. As a result it looks as if there is more items even though there are none.  I have gone over my code and I can't see anything that is causing thi

[2016-04-25 00:08] stephenplusplus commented on #1260
I believe there are issues with the emulator. @pcostell Do you think is related to the issue we found before?

[2016-04-25 07:46] cryptoquick commented on #551
As a regular Joe Schmoe application developer who likes to use Babel tooling in my projects, I'd appreciate a promise-based API because async and await have proven to be really nice and convenient, and I've been using them extensively through throughout my projects, gluing together callback-based APIs where necessary with the ES6 Promise object and its resolve/reject handlers.

What I've seen many

[2016-04-25 11:01] jgeewax opened #1261 "Datastore.runQuery with .on('data') doesn't demonstrate how to "abort"?"
In a for-loop, I can call `break;` to exit. When I'm in a runQuery stream, I'm unsure how to exit early. Is there a way to document that?

Ie, it might be...

[code]

[2016-04-25 11:04] jgeewax opened #1262 "Remove search API"
Looks like we're changing things around and search won't be it's own API surface.

Can we chop from gcloud-node? (It was a private alpha, so the impact to gcloud-node users should be relatively minimal). If there are concerns about timing, let's discuss here.

[2016-04-25 14:17] callmehiphop commented on #1261
All the streaming APIs can be exited early via `this.end()`. It would appear that `runQuery` is one of the few places we don't have that documented, I'll put together a PR with some doc updates

[2016-04-25 15:18] #1261 closed

[2016-04-25 16:55] pcostell commented on #1260
Yes I believe this is the same issue as before. However, even if there are no more results Cloud Datastore will still return an end cursor which may be useful. So I'm re-echoing my concern that nextQuery isn't the right API for when `more_results` is `MORE_RESULTS_AFTER_LIMIT` or `MORE_RESULTS_AFTER_CURSOR`. Importantly, unlike other APIs the Cloud Datastore `end_cursor` is not a traditional `next

[2016-04-25 17:19] stephenplusplus commented on #1260
What would be the ideal way of handling pagination? Sorry if I missed your explanation before, feel free to link me.

[2016-04-25 17:29] heidmotron opened #1265 "503 unavailable response from datastore after app has idled for a few minutes"
I've been getting this response in both production and locally (using the production datastore):

[code]

The error is thrown from here - https://github.com/grpc/grpc/blob/release-0_13_1/src/node/src/client.js#L411

Steps to reproduce:
1. Make a http request "/" that hits datastore
2. Wait a few minutes and don't make an http request that hits the datastore
3. Make a http request "/" that hits dat

[2016-04-25 17:39] stephenplusplus commented on #1265
Thanks for reporting. Can you log err.stack as well? Off hand, I'm not sure of anything that might be causing this. @callmehiphop can you try to reproduce?

[2016-04-25 18:00] callmehiphop commented on #1265
I'm able to reproduce if I wait about 5 minutes between requests. Also, the error stack doesn't appear to give us very much.

[code]

[2016-04-25 18:37] heidmotron commented on #1265
@stephenplusplus @callmehiphop  - that's the same error stack I get.

I've tried a similar test using the Cloud Storage API where I grab a private file, wait, and then try it again & I do not run into the 503 issue or if I do it's handled.

[2016-04-25 18:56] callmehiphop commented on #1265
I was able to reproduce this with the Logging API, which leads me to believe that this is related to grpc. @heidmotron this would also explain why you weren't able to reproduce it via Storage.

@murgatroid99 we're seeing an issue where we make a request and wait about 5 minutes, then all subsequent requests fail. Could this be a result of the client channel going into an idle state? Any insight yo

[2016-04-25 19:46] #1262 closed

[2016-04-25 21:15] heidmotron commented on #1265
@callmehiphop @murgatroid99 - In the stderr of that managed vm logs I found this.

[code]

[2016-04-25 22:08] jasonswearingen commented on #551
I'm not sure if this is the appropriate place to suggest a design, but for **datastore transaction promises**:

I wrote a promise wrapper over the Datastore portion, and think I have a pretty reasonable transaction signature:

[code]

[2016-04-26 02:52] murgatroid99 commented on #1265
@ctiller Does the gRPC core ever generate a message like that?

[2016-04-26 08:54] stephenplusplus commented on #1260
// just dropping a link to #1237 as that was the issue we discovered the API/emulator mismatch

[2016-04-26 10:32] jgeewax opened #1266 "Add query.run() ?"
We create a query from a datastore instance (which has the auth stuff) but then don't allow people to blindly "run" the query. Is there a reason?

Code today:

[code]

Would be nice if....

[code]

[2016-04-26 10:57] stephenplusplus commented on #1266
I like it!

[2016-04-26 21:45] pcostell commented on #1237
Coming back to this:

I think we need the following:
- On `more_results` = `NOT_FINISHED`, set `next_query`. Properly track offset/limit so that this `next_query` has these set.
- On any other `more_results`, do *not* set `next_query`.

This means we can defer to the normal paging tools to handle paging for us. It would also mean that when `more_results == MORE_RESULTS_AFTER_LIMIT`, `next_query` w

[2016-04-26 21:45] #1237 closed

[2016-04-26 21:45] pcostell commented on #1260
Coming back to this:

I think we need the following:

On more_results = NOT_FINISHED, set next_query. Properly track offset/limit so that this next_query has these set.
On any other more_results, do not set next_query.
This means we can defer to the normal paging tools to handle paging for us. It would also mean that when more_results == MORE_RESULTS_AFTER_LIMIT, next_query would not be set. This

[2016-04-26 21:51] stephenplusplus commented on #1260
I think I'm stuck on why we wouldn't want to provide `nextQuery`. I think we're doing it just to save the user the time and hassle of building their own query. They of course don't have to run it. And if it's poor form for us to run it for them (i.e, how we're treating it like a `nextPageToken`), then we can just *always* return `nextQuery`, but *never* run it for the user.

// @jgeewax

[2016-04-26 21:57] pcostell commented on #1260
In the case of `more_result=NOT_FINISHED`, then we want to run `nextQuery` for them (exactly like a `nextPageToken`) -- really in this case we don't ever want to *not* run it for them, but in theory they can thanks to `autoPaginate`. However, in most other cases we don't expect the user to run it again with the context of that code (for example, we'd expect the user to serialize the cursor then us

[2016-04-26 21:57] jmdobry opened #1267 "grpc session timeout"
I'm using `gcloud-node` v0.31.0 to read entities from Google Cloud Datastore.

I've deployed each step of our Node.js Bookshelf Getting Started app to App Engine. I run system tests against these deployed apps that exercise the apps' APIs. In particular some of my tests are doing `POST /api/books` which makes the server do `datastore.save(entity, ...)` on the backend.

If the apps have been idle f

[2016-04-26 22:05] stephenplusplus commented on #1260
Woops, forgot about that case. We should definitely run it for them 👍

Makes a lot of sense. We could still return a nextQuery, but make it more straightforward on getting the endCursor from it. It's currently the un-documented `nextQuery.endVal`, but we could expose this with `nextQuery.getEndCursor()` or just `nextQuery.endCursor`.

I may be wrong here, but I don't think there is harm in leaving

[2016-04-26 22:07] stephenplusplus commented on #1267
I believe this is a duplicate of #1265 -- as it stands, we are awaiting some input from the gRPC team.

[2016-04-26 22:07] #1267 closed

[2016-04-26 22:09] susanlinsfu commented on #1260
I'm sorry I am not quite following. So with the code I provided would there be a way to modify it to know when there are no more results?

Cheers

[2016-04-26 23:29] pcostell commented on #1260
The way I see it is that our desired behavior is a streaming API. If a user asks for a limit of N, we will give them a stream of up to N entities. We can then add some helpers on top of that to convert the stream to a list.

Cloud Datastore then offers a paging feature, which provides the user a cursor they can use to get extra pages. On top of that, Cloud Datastore has the feature of best effort

[2016-04-26 23:31] pcostell commented on #1260
@susanlinsfu Sorry I took over this thread a bit to discuss proper Cloud Datastore usage. Right now, the `next_query` is still returned even though there are no more results. I'll try to make sure to explicitly send an update when the emulator has better `more_results` support.

[2016-04-26 23:37] stephenplusplus commented on #1260
I think it would be good to hear from JJ. I'll bring it up in the next meeting (Monday) if we don't hear back sooner.

[2016-04-27 00:32] VikramTiwari opened #1268 "App engine upload limits"
Hey guys - Was trying to upload large assets to app engine. Here are quick details:

- File size: > 50MB  - exceeding security limits (32MB) set by app-engine
- Angular Library: https://github.com/danialfarid/ng-file-upload - Utilizing `multipart/form-data`
- NodeJS handler lib: https://github.com/felixge/node-formidable - Utilizing `multipart/form-data`
- Instance to GS using `gcloud-node`

When

[2016-04-27 01:10] IanLewis opened #1269 "gcloud doesn't install on ARM"
I tried to install on a BeagleBone Green

[code]

[2016-04-27 01:13] stephenplusplus commented on #1269
Seems like a permissions error. Try searching around for "sh: 1: node-pre-gyp: Permission denied" and see if you can find a solution that makes sense for your environment.

[2016-04-27 01:14] IanLewis commented on #1269
Since it's a grpc issue I filed a bug there instead.

https://github.com/grpc/grpc/issues/6302

[2016-04-27 01:14] #1269 closed

[2016-04-27 01:17] IanLewis commented on #1269
Yah, it's probably that I am trying to install modules as the root user. Lots of packages don't let you do that.

[2016-04-27 05:13] idosh opened #1270 "gcloud logging not handling correctly entry timestamp"
I am trying to send logs through my application server using GCP logging api.
When providing a timestamp to the entry I can't find it in the logs viewer but when omitting it I can easily find it.
This is my snippet for creating a log entry:
[code]

[2016-04-27 06:58] idosh commented on #1270
I fixed the problem, apparently gcloud timestamp object is not a date object but an object with `seconds` and `nanos` properties.
So here is my fix:
[code]

[2016-04-27 11:41] jgeewax commented on #1260
I'd like to pop up a level here and look at the situations that users are actually interested in:

1. I want to loop over all results
1. I want to loop over all results and break out early if I match a condition
1. I want to loop over results, but make `<= N` API calls
1. I want to get `<= N` results (with any number of API calls)
1. I want to build a UI that shows pages and picks up where I left

[2016-04-27 13:23] gunta opened #1271 "Implement Cloud CDN API"
Looking forward to the Cache Invalidation API.

[2016-04-27 15:40] callmehiphop commented on #1271
I'm not sure this is currently on our radar, but we're always more than happy to accept pull requests if you'd like to contribute!

Also, after looking through the CDN docs I don't see any references to a REST or grpc API. Is this only a command line API? Perhaps @jgeewax can give us some clues about the timing and documentation.

[2016-04-27 16:25] pcostell commented on #1260
I'd agree here, except for

How many API calls get made is really an implementation detail, and may depend on many other things (like timeouts and constraints on the server). I think this is reflected in Datastore's new pricing model, which charges per entity returned and doesn't factor in the number of API calls made.

[2016-04-27 16:31] gunta commented on #1271
I'm not sure but it does looks like command line only / UI atm.

[2016-04-27 17:07] jgeewax commented on #1268
Hi @VikramTiwari -- how exactly are you using gcloud-node? I don't think there's a whole lot here that's AppEngine specific.

[2016-04-27 17:09] VikramTiwari commented on #1268
@jgeewax Yeah! That's the way I am doing it. Is there a way I can take file directly from browser to GS?

[2016-04-27 20:17] stephenplusplus commented on #1260
I think we already do everything you guys agree on :)

[2016-04-28 07:34] leonardpunt commented on #1265
We're experiencing the same issue in two of our applications. The errors started occurring since the 22nd of April. Our apps are using different versions of this library, v0.30.3 and v0.27.0, the error occurs in both. Furthermore, the errors didn't seem to be introduced by an update/deploy on our side. Probably something in the underlying infrastructure has changed?

[2016-04-28 14:01] callmehiphop commented on #1260
So the takeaway here is that we need to tweak the logic for providing a `nextQuery` object?

[2016-04-30 12:07] stephenplusplus commented on #1268
I put a repo together a while ago that has some examples of how to do just that! https://github.com/stephenplusplus/gcloud-upload-example/blob/master/server.js

[2016-04-30 12:07] #1268 closed

[2016-04-30 13:18] stephenplusplus commented on #1270
We should definitely be converting it into a Date object. I'll work on this!

[2016-04-30 15:30] stephenplusplus commented on #1270
@idosh could you check out #1274 and let me know if it works?

[code]

[2016-04-30 23:34] susanlinsfu opened #1275 "Any alternative way to view the data in the local datastore"
Since we have to use gcd-rpc as our local emulator and it doesn't support an admin console, is there some other sort of plugin/view/ready code or alternative method to view the data inside of the datastore?

[2016-05-01 00:38] stephenplusplus commented on #1275
This issue was moved to GoogleCloudPlatform/google-cloud-datastore#116

[2016-05-01 00:38] #1275 closed

[2016-05-02 15:24] stephenplusplus commented on #1257
Ping @tmatsuo for thoughts!

[2016-05-02 17:26] stephenplusplus commented on #1260
We can add in an `maxApiCalls` option on each method. We would want to find a way to implement this across our API.

Right now, our `nextQuery` exposes `endVal`. We can change this (and document it) to `endCursor` to make it more obvious.

Are these the to-do's from this issue?

[2016-05-02 19:17] stephenplusplus commented on #1178
Sent a PR for this, feel free to test it out!

[code]

[2016-05-02 19:44] #1265 closed

[2016-05-02 20:47] #1270 closed

[2016-05-02 21:00] #1178 closed

[2016-05-02 22:53] stephenplusplus commented on #1038
@jgeewax wdyt?

[2016-05-03 14:18] jgeewax commented on #1260
Re `maxApiCalls`: Although @pcostell is right that it shouldn't matter for Datastore, it does matter for other APIs. I think it'd be a good idea to allow someone to limit the number of API calls in any method call.

The take-away for me is:

1. **Limiting API calls**
  Let's figure out how to do `maxApiCalls` across the entire library so that people know how to limit things. (In many APIs, the num

[2016-05-03 14:24] jgeewax commented on #1038
I don't have an answer just yet. @rimey - do you happen to know whether we can do logging admin-type operations as a service account?

[2016-05-03 14:31] stephenplusplus opened #1281 "Allow limiting API calls across all methods"
RE: https://github.com/GoogleCloudPlatform/gcloud-node/issues/1260#issuecomment-216542762

[2016-05-03 14:41] #1218 closed

[2016-05-03 14:48] stephenplusplus commented on #1260
Issue made for point 1 (limiting API calls): #1281

---

On point 2, I don't think we have to special-case the pagination design throughout our API just for Datastore. Here's what your ideal example looks like:

[code]

... and what it looks like today:

[code]

I really think the only thing to mess with is `nextQuery.startVal`. It seems far easier for the user to give them a full Query object tha

[2016-05-03 16:10] rimey commented on #1038
I don't see why not. `gcloud-python` does it.

[2016-05-03 16:34] stephenplusplus commented on #1038
Cool, looks like things have changed: #1282.

[2016-05-03 17:40] pcostell commented on #1260
When you say:

Do you mean pagination, or batching? Based on how the whole `nextQuery` structure works, I would consider that batching from the Datastore APIs perspective.

I think trying to expose this using `nextQuery` causes some of the confusion that we arrived at in the first place. If we use `nextQuery` for batching, we probably shouldn't also use it for pagination.

[2016-05-03 17:43] #1038 closed

[2016-05-03 17:51] stephenplusplus commented on #1260
Sorry if I'm about to state the obvious, but I'm not sure how to answer that, regarding the terminology.

`nextQuery` is just a prepared "get the next set of results from the API" object. All methods that return a `nextQuery` accept that object. Originally, we never ran any subsequent queries for the user; they always had to manually run it if they wanted more. @jgeewax thought that was not ideal,

[2016-05-03 20:19] tmatsuo commented on #1257
Sorry guys for the late reply.

Currently `subscription name automatic assignment` doesn't work as expected, so there's no reliable way of auto assigning a subscription name. However, the use cases that @jgeewax explained make sense to me.

[2016-05-03 20:35] stephenplusplus commented on #1257
@jgeewax should we wait until that feature is supported to change the model here or implement now and do our own name generation, e.g. `{projectId}-{uuid}`?

[2016-05-03 20:41] stephenplusplus opened #1284 "Prepare for gRPC@0.14.0"
We need to keep an eye out for gRPC&shy;@0.14.0. The excess logging will go away (fixes #1204), but it also introduces a breaking change: https://github.com/grpc/grpc/issues/5967#issuecomment-216313462

[2016-05-04 04:54] jasonpolites commented on #1257
If you auto-generate a name, isn't there a risk that the user will end up back in the world of thousands of zombie subscriptions? (does that matter?)

Would it make sense to just have a "default" subscription name, such that the absence of a name argument in `subscribe` simply means using a default name? (like, I dunno: "DEFAULT"). The implication being that any client who subscribes in this way w

[2016-05-05 04:46] jasonpolites opened #1285 "Bigquery import does not populate err in callback when error occurs"
In trying to track down why data was not appearing in Bigquery even though the import completed "successfully", I noted that the `err` argument was not populated even though an error had occurred.

code:

[code]

The `err` argument is `undefined` (or perhaps `null`), however the apiResponse reports (verbatim from logs):

[code]

It *might* be reasonable to have developers inspect the status/errorR

[2016-05-05 04:47] jasonpolites commented on #1285
Addendum.. just realizing this is an async job, so reporting the status inline is not going to be reliable.  Maybe we can provide a helper function, or maybe just some docs to offer guidance as to how to check for error conditions

[2016-05-05 11:56] stephenplusplus commented on #1285
The `job` argument is a Job object: https://googlecloudplatform.github.io/gcloud-node/#/docs/v0.32.0/bigquery/job -- The docs for `cancel` show how you can set up a loop to get the results of the job.

We should switch to event emitters, like we use for [Compute operations](https://googlecloudplatform.github.io/gcloud-node/#/docs/v0.32.0/compute/operation), so it would be something like:

[code]

[2016-05-05 14:50] massimiliano-delia opened #1286 "Fail on subscription.exists request"
Hi,
after updating to v0.32.0 we are facing a very odd problem:

When we call the pubSub module for checking the existence of a subscription whith the current code:

        subscription.exists((error, exists) => {
            if(error){
                return callback(error);
            }
            if(exists){
                subscription.delete((error) => {
                    if (error) {

[2016-05-05 15:02] stephenplusplus commented on #1286
Have you narrowed it down to which line is throwing the error?

I believe you need to return after `subscription.delete` so the last `callback` doesn't get executed before the delete has finished running:

[code]

[2016-05-05 15:08] massimiliano-delia commented on #1286
@stephenplusplus Thank You for your fast reply! We fixed that logical error but sadly the issue reported is still here. We have found that the subscription.exists function throws the error. Any further suggestion? Thank You in advance.

[2016-05-05 15:09] pputhran opened #1287 "module initialization error"
Hello,

I am trying to use AWS lambda function to read off Kinesis stream and insert into Google Big Query.
It appears to work fine locally (on my mac) but when I deploy this to AWS and execute as AWS lambda function, I run into initialisation error

error stack:
[code]

Appears to be failing to invoke this
gcloud/node_modules/grpc/src/node/extension_binary/grpc_node.node

Below is the sample code

[2016-05-05 15:13] jgeewax commented on #1286
Just to chime in, the error you're seeing in gRPC world is about not being able to parse the response (see https://github.com/grpc/grpc/blob/master/src/node/src/client.js#L411)

[2016-05-05 15:23] jgeewax commented on #1287
This very well could be an issue with gRPC not being able to run on Lambda (it uses a pre-compiled binary and needs some fancy support).

@stephenplusplus : Is there a way to wrap the gRPC requirement with a try/except since it really should be an optional module?

Seems we should fail gracefully if gRPC doesn't import correctly (ie, start the change here https://github.com/GoogleCloudPlatform/gcl

[2016-05-05 15:23] stephenplusplus commented on #1286
I can't reproduce in this case, though I do recall seeing a "Not Found" error before that felt out of place. @callmehiphop does this sound familiar?

[2016-05-05 15:25] massimiliano-delia commented on #1286
@jgeewax Hi,
checking your url we discovered that You are referring to a different, in-dev version (0.14.0-dev).

The version installed as gcloud-node dependency is the 0.13.1.
So, the interested line in client.js is this https://github.com/grpc/grpc/blob/release-0_13_1/src/node/src/client.js#L411

Thank You in advance.

[2016-05-05 15:29] stephenplusplus commented on #1287
We haven't designed it as an optional dependency thus far, i.e. we don't fallback to HTTP via the `request` module. Once we added support for gRPC to an API, we removed the old stuff. If that's how it should be, we would declare `gRPC` as an optionalDependency, so that if it fails to install / be `require`'d (try/catch like you said), we would fall back to `request`. Should we go in that direction

[2016-05-05 15:32] jgeewax commented on #1286
Ah @massimiliano-delia -- right you are! Sorry for the misleading data!

Can you add any extra debug info (`console.log(err.code)` maybe?) so we can get a closer look at what's going on? (As @stephenplusplus said, reproducing is tricky given it might be specific to your project and subscription.)

[2016-05-05 15:47] massimiliano-delia commented on #1286
@jgeewax After putting a debugger at line 411 of client.js we captured this status:

      { code: 5,
        details: 'Resource not found (resource=dev_subscriptionName_1462462595301).',
        metadata: { _internal_repr: {} } }

Also, the error created at line 413 is the following:

       { handle: 12,
         type: 'error',
         className: 'Error',
         constructorFunction: { ref: 13

[2016-05-05 15:50] murgatroid99 commented on #1287
From the Lambda documentation, it looks like it shouldn't be too hard to get Node gRPC working on Lambda. In fact, I'm not really sure why it doesn't already work. I can look into this, but maybe not immediately.

[2016-05-05 15:59] stephenplusplus commented on #1286
We definitely need to do a better job of getting that error text through to the gcloud-node user. I'm betting that we're parsing the response incorrectly on our end, not seeing it as a 404 and instead some other type of error. I'll dig into this right now and update you when I make some progress. Thanks for all of the details!

[2016-05-05 16:05] jgeewax commented on #1286
Yay :) Thanks @massimiliano-delia !

Seems like we're checking for the HTTP status code (404) but not the gRPC error code `grpc.status.NOT_FOUND` (which apparently is `5`...).

[2016-05-05 16:10] stephenplusplus commented on #1286
That's the part I haven't figured out yet. We do a conversion of gRPC codes to HTTP: https://github.com/GoogleCloudPlatform/gcloud-node/blob/243b52d4e6cca4043021e7ab0c76402b2105d895/lib/common/grpc-service.js#L67

I'm still not sure how it's working for me, but not @massimiliano-delia.

[2016-05-05 16:40] callmehiphop commented on #1286
@stephenplusplus unfortunately that does not ring a bell :(

Also, I tried to reproduce this locally as well, but `exists` seems to be working for me as expected.

[2016-05-05 16:44] stephenplusplus commented on #1286
@massimiliano-delia can you put up a very small test case repo? Everything needed to produce the error and nothing more?

[2016-05-05 19:32] stephenplusplus commented on #1284
PR sent: #1288

[2016-05-05 19:32] #1284 closed

[2016-05-05 19:58] #1266 closed

[2016-05-05 20:28] gkorland opened #1289 "Add support for google cloud print"
Add support for google cloud print for a server side print

[2016-05-05 20:29] stephenplusplus commented on #1289
We're more of a dev-ops type of library, so I don't think this type of API is on our radar. Others in this category would be the YouTube API, Drive, Contacts, etc. @jgeewax feel free to correct me if I'm wrong!

[2016-05-05 20:33] gkorland commented on #1289
Print API is an important service like other service. It's still a critical output for many services.

[2016-05-05 21:12] stephenplusplus commented on #1289
Our APIs now are essentially what you'll find in the Developers Console. So with this library, a user can upload and query data, start a VM, modify the DNS records of their domains, etc. Do you know of any examples of the Print service playing a dev-ops role that fits in with these other APIs?

[2016-05-06 04:04] kunchenguid opened #1290 "logging functions (log.info, log.warning, etc) silently ignored entries"
in Log.assignSeverityToEntries_, this line
`var entriesClone = [].slice.call(entries);`
will result in an empty array if "entries" is a single entry, while all the logging functions like Log.info, Log.warning etc depends on its ability to process single entry objects. only Log.write can successfully write single entry objects at this time.

[2016-05-06 08:17] gkorland commented on #1289
perhaps you're right and https://github.com/google/google-api-nodejs-client might fit better for this feature.

[2016-05-06 09:24] mik115 opened #1291 "Get current instance id"
Hi,
There's any way to get the current instance id from nodejs?
I found a solution for python

     from google.appengine.api import modules
     instance_id = modules.get_current_instance_id()

There's a similar way for node js?

Thanks in advance.

[2016-05-06 11:06] stephenplusplus commented on #1289
Yes, that library is great for the other APIs!

[2016-05-06 11:06] #1289 closed

[2016-05-06 11:31] stephenplusplus commented on #1290
Thanks for reporting! I'm working on a PR.

[2016-05-06 12:57] stephenplusplus commented on #1291
We don't have anything like this at the moment. Feel free to discuss/subscribe to #917, which talks about opening up an API for the hosted environments.

[2016-05-06 12:57] #1291 closed

[2016-05-06 13:00] stephenplusplus commented on #1290
PR sent: #1292 - feel free to try it out:

[code]

[2016-05-06 13:01] stephenplusplus commented on #1287
@pputhran thanks for reporting. You can track this over in https://github.com/grpc/grpc/issues/6443.

@jgeewax if you'd like us to have a fallback in place if gRPC cannot be installed, please open a new issue.

[2016-05-06 13:01] #1287 closed

[2016-05-06 13:05] stephenplusplus opened #1293 "Show a manual pagination workflow in Datastore docs"
There should be a more complete/realistic example on https://googlecloudplatform.github.io/gcloud-node/#/docs/v0.32.0/datastore of manually paginating through the results of a query.

[2016-05-06 13:09] stephenplusplus commented on #1260
Opened up #1293 for the documentation improvements and changing `query.startVal` to `query.startCursor`.

We also have #1281 for adding an option to limit the amount of API requests a method can make.

I'm going to close this, as it's unclear to me what we should be doing to nextQuery. The only discussion I'm following would either remove features (returning only a cursoring token instead of a Que

[2016-05-06 13:09] #1260 closed

[2016-05-06 15:57] stephenplusplus commented on #1271
@jgeewax any insight into when this will be available from the HTTP API?

[2016-05-06 16:20] susanlinsfu commented on #1260
Sorry, but I am a little confused now. I am really interested in just knowing how would I know there are no more results to fetch in the query? Can I currently do this in any way?

[2016-05-06 16:31] stephenplusplus commented on #1260
Using the emulator in its current state, you'll always receive a `nextQuery` object. I'm not sure if there's a reliable way to tell if all of the results are in until the emulator is updated. You'll probably have to use the presence of a query that returned 0 entities to make the assumption there are no more results coming.

Just for clarity, this only affects gcloud-node >= 0.30.0, which uses gRP

[2016-05-06 16:33] #1290 closed

[2016-05-06 17:00] pcostell commented on #1260
I wouldn't recommend downgrading to an older version because you'll also switch to using Cloud Datastore API v1beta2, which has much worse latency characteristics than v1beta3.

@stephenplusplus -- This should work now if @susanlinsfu just provides autoPaginate(false), right? The query should just return all 42 results. Until the emulator returns the proper `more_results` flag you'll still get a n

[2016-05-06 17:00] stephenplusplus commented on #1286
@massimiliano-delia going to close since we can't reproduce. If you get a sample together, I'm happy to continue looking into this issue. Thanks!

[2016-05-06 17:00] #1286 closed

[2016-05-06 17:10] stephenplusplus commented on #1260
@pcostell the bare bones question is:

If the emulator only responds with "MORE_RESULTS_AFTER_LIMIT" or "NOT_FINISHED", but never "NO_MORE_RESULTS", our API always return a `nextQuery`. So while `autoPaginate(false)` *has* to be used*, a user will still have to keep manually running `nextQuery` to see if more results come back. Compared to when running against the cloud API, we won't return a `nex

[2016-05-06 17:18] pcostell commented on #1260
Ok so here's the issue from my side:

You should only auto fetch the next batch if `more_results` is `NOT_FINISHED`.

A query with `MORE_RESULTS_AFTER_LIMIT` should have the next batch fetched ONLY by developers.

Then, you can get all 42 entities by just issuing the query:

    datastore.createQuery('Messages').filter('sender',username);

[2016-05-06 17:21] stephenplusplus commented on #1260
Could you please explain when each of the responses is returned? (MORE_RESULTS_AFTER_LIMIT, NOT_FINISHED, NO_MORE_RESULTS)

[2016-05-06 17:35] pcostell commented on #1260
NOT_FINISHED: returned when the query is not complete.

If the user set a limit, we haven't satisfied the limit. If the user did not, there are *likely* more results. However, this is best effort: it is still possible that `NOT_FINISHED` is returned and the follow up query returns no results but a new `more_results` with updated information. This will happen if Cloud Datastore decides to end the r

[2016-05-06 17:47] stephenplusplus commented on #1260
Thank you! From the gcloud-node side:

If a user runs a query with a limit, we return that many results, as well as a nextQuery for them to get more:

[code]

If a user runs a query without a limit, we fetch until we get `NO_MORE_RESULTS`.

[code]

To handle pagination manually:

[code]

I think this is the case you want us to change-- you're saying we should let the user do all of the pagination

[2016-05-06 17:52] pcostell commented on #1260
I'm not sure I'm asking the user to handle pagination manually, but let me restate to hopefully answer the question:

1) gcloud-node should iterate as long as `more_results == NOT_FINISHED`. <== note that the way you've built `auto_paginate`, I think if `auto_paginate=False` you should stop iterating? Which is why I think `next_query` should only return IF `more_results == NOT_FINISHED` and there

[2016-05-06 17:59] stephenplusplus commented on #1260
I'm going to work on a PR that does that and see if I start to understand what we're going for in the process.

[2016-05-06 21:04] faithseed opened #1296 "automatic batching interface for cloud logging client"
The logging API support batching mode manually, where you can put multiple entry in the log.write()

`
log.write([entry, secondEntry]);
`

Is that possible to implement an batching interface to support this automatically?

for example:

[code]

In the background, logging client does periodic flush internally sending all buffered logs to cloud logging automatically. The flush is triggered when enou

[2016-05-06 21:10] stephenplusplus commented on #1296
I think this is better resolved in the application layer and not our library, since every use case would likely have custom requirements around what action triggers a flush.

@filipjs do you think this is something we should try to support?

Also to consider, we use gRPC for our Logging API, which maintains an open connection to send multiple requests through. That eliminates the overhead of makin

[2016-05-06 21:30] gkorland commented on #1289
@stephenplusplus it seems like this library doesn't match this API either [issuecomment-217543168](https://github.com/google/google-api-nodejs-client/issues/568#issuecomment-217543168) I'll try to find another place for it ...

[2016-05-06 21:33] faithseed commented on #1296
Thanks @stephenplusplus.

What is performance difference between

`log.write([entry, secondEntry]);`

and

[code]

If they are considered equally efficient, maybe we should document that in the developer doc and encourage users to choose either one of them.

[2016-05-06 22:20] stephenplusplus commented on #1289
Darn. I can try to whip something up. Is there anything wrong with that other project you linked?

[2016-05-08 22:24] Marak commented on #337
There is some issue either here or in github.com/pkgcloud/pkgcloud which is causing `encodeURIComponent` related issue on downloading files.

Seems that the outgoing URI isn't being encoded automatically?

Don't have much time to dig into it now, but solution was to use `encodeURIComponent` on outgoing path for downloading file inside folder. Uploading seemed to have encoding / decoding working co

[2016-05-09 11:25] jgeewax opened #1297 "Fail gracefully if gRPC isn't available"
Re #1287 , seems like there are cases where gRPC won't be able to be initialized. I understand if a service that *requires* gRPC (ie, Bigtable) failed in these cases, but if an unrelated module fails because of the unused gRPC import, that makes me sad....

Can we try to fail gracefully if gRPC isn't installed in the environment for whatever reason?

[2016-05-09 11:31] Gargol opened #1298 "When used with node v 6.0.0 getting huge deprication stack traces"
While trying to use the package under node 6.0 huge deprication warning are shown polluting the output:
[code]

Using gcloud version `0.32.0`

[2016-05-09 11:38] jgeewax commented on #1298
Yikes - yea we need to have a look at that...

[2016-05-09 14:56] stephenplusplus commented on #1298
This issue was moved to grpc/grpc#6487

[2016-05-09 14:56] #1298 closed

[2016-05-09 14:56] stephenplusplus commented on #1298
Thanks for reporting. This looks like an issue with [gRPC](https://grpc.io), so I moved the issue over there: https://github.com/grpc/grpc/issues/6487

[2016-05-09 14:58] stephenplusplus commented on #1297
Yeah, you would think the gRPC installation would have errored if the system couldn't handle it. @pputhran -- when you were running the code from #1287, did you let the server run `npm install` for itself, or did you push the exact files from your local `node_modules` directory?

[2016-05-09 15:02] stephenplusplus commented on #1296
We haven't measured the performance difference, and I think it might be micro-optimization if we did or recommended an approach one way or the other. I think it's best left to the application and its concerns to make the best decision for their use.

[2016-05-09 15:15] filipjs commented on #1296
Our documentation recommends batching as it's more efficient and doesn't consume QPS quota that quickly (https://cloud.google.com/logging/quota-policy)
I'm not sure how gRPC is counted for QPS purposes.

[2016-05-09 15:20] stephenplusplus commented on #1296
@jgeewax any insight into how QPS are measured when using gRPC?

[2016-05-09 15:25] jgeewax commented on #1296
@rimey : Any idea? Basically is "1 write log entry" equivalent to a single gRPC call? or is it the number of log entries written in the gRPC call?

Or in more specific terms, is `log.write([entry1, entry2])` counted as 1 log write entry? or 2?

[2016-05-09 15:31] stephenplusplus commented on #337
If the request is going through `pkgcloud`, that means it's using gcloud@0.10. We're currently on 0.32. Here's the issue which asks for gcloud to be updated: https://github.com/pkgcloud/pkgcloud/issues/452, but the maintainers have some issues with doing it.

In the past, we have missed a few `encodeURIComponent`s, and it's possible 0.10 was before we caught them.

[2016-05-09 15:42] jgeewax opened #1299 "Is the optional dependency really worth it?"
Re https://github.com/pkgcloud/pkgcloud/issues/452

The issue is that optional deps show a scary warning message, often confusing our users (hell, even I've been confused at first until I read the error message and see "warning").

The CRC32 stuff is performance optimization only, right? If so, what's stopping us from wrapping the require statement in a try/catch ? And defaulting to the required d

[2016-05-09 15:48] stephenplusplus commented on #1299
If we don't care to default to the benefits of hardware crc32c, then let's just drop it altogether. If we do get users reporting it being too slow, we can rethink our options?

[2016-05-09 20:26] jgeewax commented on #1299
I'd like it if the answer to someone caring was "type `npm install ...`" rather than "oh well we used to....". Make sense?

Can we do the conditional import, but just not list it as a requirement?

[2016-05-09 21:43] susanlinsfu opened #1300 "In 0.31.0 won't update entity"
I am not sure what is wrong, but I am using the gcd-rpc.sh emulator and the following code wont update the entity. It retrieves the entity and the old value is always present.

[code]

The code gets up to the place where it says   `console.log('We are now going to try to update ...');` and then it finishes with the message success which is generated from ` console.log('success!');` It looks like t

[2016-05-09 21:52] JustinBeckwith opened #1301 "gcloud is spamming my stderr"
![image](https://cloud.githubusercontent.com/assets/534619/15125645/cfb30a1a-15e2-11e6-8bd8-05fcdba03adb.png)

I have an app that makes heavy use of pub/sub, vision api, and storage:
https://github.com/JustinBeckwith/cloudcats

If I let it sit idle for a while, it starts spamming my stderr with goaway errors:

[code]

[2016-05-09 21:53] JustinBeckwith commented on #1301
@matthewloring since we were chatting about this

[2016-05-09 21:58] matthewloring commented on #1301
Appears to be coming from the transport layer of grpc: https://github.com/grpc/grpc/blob/c236a213ee10f549d328840bc21c307eedd4b545/src/core/ext/transport/chttp2/transport/chttp2_transport.c#L698

[2016-05-09 22:04] stephenplusplus commented on #1301
Duplicate of https://github.com/GoogleCloudPlatform/gcloud-node/issues/1204

Current status is we're waiting on 0.14 of grpc to be released.

[2016-05-09 22:04] #1301 closed

[2016-05-09 22:04] callmehiphop commented on #1301
I think this is a gRPC quirk, if an open channel idles for a few minutes, subsequent requests will fail with a `got goaway` error. However, after a single failed request, gRPC corrects itself everything will go back to normal, that is, until the channel idles again.

[2016-05-09 22:05] stephenplusplus commented on #1301
Oops, is this not a duplicate?

[2016-05-09 22:13] callmehiphop commented on #1301
The error and steps to reproduce are the same as described in #1265, but this is the first time anyone reported the error itself being printed out.

[2016-05-10 00:17] stephenplusplus commented on #1300
I think I was able to get this to work. I refactored the code a bit, let me know if this works for you:

[code]

[2016-05-10 03:57] susanlinsfu commented on #1300
@stephenplusplus Thank you very much this works! But I am wondering why my code didn't work? Looks very similar I think, but you code seems to negate the if statements really only?

[2016-05-10 04:19] JustinBeckwith commented on #1301
I'd prefer to keep this open until we're sure there is a solution coming :)

[2016-05-10 04:27] stephenplusplus commented on #1301
It's the same as we are tracking in #1204. The excessive output comes in a variety of flavors, this being one of them. It was reported originally here: https://github.com/grpc/grpc/issues/5967#issuecomment-204460329

We even have a PR ready for when the new gRPC release lands: https://github.com/GoogleCloudPlatform/gcloud-node/pull/1288

Nobody is more excited for that day than me :)

[2016-05-10 04:30] JustinBeckwith commented on #1301
Much appreciated folks.  Thanks!

[2016-05-10 13:13] stephenplusplus commented on #1300
I'm not sure exactly. One of the first things I did was re-align the code because my editor was complaining about syntax errors. I tried to get all of the error cases up to the top of the function body, instead of the `if/else` conditions. There was also an `if/else/else`:

[code]

[2016-05-10 13:20] stephenplusplus commented on #1299
Yeah, we can do it. It's just not a pattern I've seen before. Our code gets a little more complicated and we won't have any metrics around if anyone is actually noticing the software hashing (installing the `crc32c` module themselves). That's why I would rather wait to hear anyone complain before we go to those lengths. The time to implement after any complaints would be very minimal. Users can al

[2016-05-10 15:22] pputhran commented on #1297
@stephenplusplus, in aws lambda, we need to package and push the node_modules from local. It does not have a way to run npm install. I was able to work around the problem by using the gcloud module which was install on linux box.

[2016-05-10 15:46] mik115 opened #1302 "Logger breaks on nested objects"
Hi,
I'm facing a real strange problem:
after updating to 0.32.0 the logging service breaks when a nested object is passed.

es:

       const gcloud = require('gcloud')({
            projectId: 'project_id',
            keyFilename: 'fileKey.json',
        });
        const logging = gcloud.logging();

        const resource = {
             type: 'gae_app',
             labels: {

[2016-05-10 16:01] massimiliano-delia commented on #1286
@stephenplusplus Sadly I'm not able to post a test repo that reproduces this issue! Anyway we solved in other manner. Thank You as well!

[2016-05-10 16:06] stephenplusplus commented on #1286
Oh, great! Glad to hear it worked out :)

[2016-05-10 16:06] stephenplusplus commented on #1302
I'll look right into this, thanks for reporting!

[2016-05-10 16:07] mik115 commented on #1302
The returned error is

      /Users/mike/testProject/node_modules/protobufjs/dist/ProtoBuf.js:2440
                            throw Error(this+"#"+keyOrObj+" is not a field: undefined");
                            ^

    Error: .google.protobuf.Value#fields is not a field: undefined
    at Error (native)
    at MessagePrototype.set (/Users/mike/testProject/node_modules/protobufjs/dist/ProtoBuf.j

[2016-05-10 16:16] stephenplusplus commented on #1297
Ah, okay. Does that "Native Modules" section in [this guide](https://aws.amazon.com/blogs/compute/nodejs-packages-in-lambda) explain something similar to what you had to do?

@jgeewax Code that was compiled for one environment was copied to another that didn't match. Under a normal installation -> run cycle, if a dependency cannot be installed, `npm install` would fail, so it wouldn't be expected

[2016-05-10 16:22] susanlinsfu commented on #1300
Huh, I was getting now errors in my ide, but all works now, thank you very much!

[2016-05-10 16:51] stephenplusplus commented on #1302
PR sent: #1303

Please try it out!

[code]

[2016-05-10 17:17] jgeewax commented on #1297
OK, I hear where you're coming from @stephenplusplus , however the end goal is "gcloud-node should work inside AWS lambda"... Can we figure out how to do that ?

[2016-05-10 17:20] stephenplusplus commented on #1297
Yeah, I think @pputhran can fill us in on that experience. That guide I linked above is from AWS specifically for using Node modules that have native dependencies, like ours. We of course aren't the only such dependency a user might have, so the solution should likely come from the AWS side on how it can be made as easy as possible.

[2016-05-10 18:29] mik115 commented on #1302
It works this way!
Great!

[2016-05-10 18:40] #1302 closed

[2016-05-10 22:57] 1N50MN14 commented on #1301
+1 I'm getting the above (periodically) as well as a log of Service URL and Bearer, it's spamming my console as I'm using PubSub which keeps pulling... and logging! ;)

[2016-05-11 08:13] mik115 opened #1304 "Logger breaks on null values"
Hi,
Gcloud logger service breaks when the passed object contains null values.
Is this an expected behaviour?

this is the raised error:

      /Users/michelepini/testPubSub/node_modules/protobufjs/dist/ProtoBuf.js:3402
                throw Error("Illegal value for "+this.toString(true)+" of type "+this.type.name+": "+val+" ("+msg+")");
                ^

    Error: Illegal value for Message.Field

[2016-05-11 14:44] tallesh opened #1305 "Error using gcloud-node behind proxy"
I'm trying to use gcloude node behind a corporate proxy on linux (ubuntu 16.04, node 4.4.3), but it always fails print the following log:

[code]

I notice that it not respect the proxy settings and try to connect direct. I set the following vars:
HTTP_PROXY, HTTPS_PROXY, FTP_PROXY, http_proxy, https_proxy

The error ocorrur on line:
` datastore.runQuery(query, function(err, entities, nextQuery, a

[2016-05-11 14:47] stephenplusplus commented on #1305
// @murgatroid99

[2016-05-11 15:14] murgatroid99 commented on #1305
CC @ctiller

[2016-05-11 15:25] paulshapiro commented on #366
+1 This would be very for a project that's coming up very soon.

[2016-05-11 15:29] stephenplusplus commented on #1304
@pcostell you've helped me with similar things in the past... is this a decided limitation of proto3 or does this sound like a bug?

[2016-05-11 16:19] stephenplusplus opened #1306 "Return Jobs/Operations directly from the method that starts them"
RE: https://github.com/GoogleCloudPlatform/gcloud-node/pull/1294#discussion_r62872247

## Blocked
Let's wait for [our support of promises](https://github.com/GoogleCloudPlatform/gcloud-node/pull/1142) to engineer this.

--

Before:
[code]

After:
[code]

@callmehiphop What should we do in these situations (regarding the second argument, `vm`):
[code]

Emit `vm` with `running`?
[code]

... or is th

[2016-05-11 16:33] callmehiphop commented on #1306
I think if the operation/job was responsible for creating something (like a VM) that the created VM would be emitted via `complete`.

I forgot about the previously existing `running` event, perhaps `created` (or similar) would be better suited.

[code]

[2016-05-11 16:44] stephenplusplus commented on #1306
`created` and `running` feel a little too similar, maybe we should just not return the original `apiResponse`. If an error occurred with the `createVM` API call, then the apiResponse is already included there. The initial state of the operation shouldn't be vital... but it theoretically should be available from `operation.metadata` at some point:

[code]

[2016-05-11 16:48] murgatroid99 commented on #1305
grpc does not support connecting through an explicit proxy.

[2016-05-11 17:11] pcostell commented on #1304
What's the proto definition? I think there is some special parsing that happens for google.protobuf.Value types, I wouldn't be surprised if there was something broken here.

[2016-05-11 17:23] stephenplusplus commented on #1304
Looks like I missed that `NullValue` is a type, defined with this comment:

[code]

Putting `0` instead of `null` in our code worked. I'll send a PR and let you try it out @mik115!

[2016-05-11 18:33] #1305 closed

[2016-05-11 18:45] mik115 commented on #1304
this way it works!
Great work!
thx

[2016-05-11 18:54] stephenplusplus commented on #1304
Great, thanks for all of the reports!

[2016-05-11 21:03] tallesh commented on #1305
Thank you for your quick response!
I'll try to find some alternative. Thank you for your help.

[2016-05-12 03:43] #1285 closed

[2016-05-12 03:46] callmehiphop commented on #1306
I agree, `created` was a bad choice, I think the point I'm trying to convey is that we could easily just emit an event specifically to capture the apiResponse. Some other possible options could be `queued`, `operation-created`, `started`, etc..

[2016-05-12 11:35] stephenplusplus commented on #1306
I know, I think it's just unnecessary. Please let me know what you think about the example in the last post. I've removed all metadata like arguments from the events themselves.

[2016-05-12 14:22] sitepx opened #1308 "Reading content of UTF-8 file using createReadStream"
We were using file.createReadStream() on gcloud node api to read a UTF-8 file contents.
In the beginning of the file some special characters broke on the process of concat the contents on "data" event.

We already made a workaround, but we think the createReadStrem needs more options like buffer size, or a function do get a file full content.

To ilustrate how the problem goes:

[code]
Thanks!

[2016-05-12 14:57] callmehiphop commented on #1306
That could work, I'm not a huge fan of making the initial apiResponse completely inaccessible though.

Unrelated: Does this have any effect on `autoCreate` apis?

[2016-05-12 15:14] #1204 closed

[2016-05-12 15:16] stephenplusplus commented on #1308
Could you provide a file that is problematic for createReadStream that we can test with?

[2016-05-12 15:17] stephenplusplus commented on #1308
Also curious if you can share your workaround? Thanks!

[2016-05-12 16:13] stephenplusplus commented on #1306
If it's an error, `apiResponse` is accessible from the `ApiError`. If it succeeds, then the response is the initial Job/Operation metadata, which is available from the returned object:

[code]

Hmm, good thought. Let's see...

[code]

Wdyt?

[2016-05-12 16:41] stephenplusplus commented on #1306
It does seem like we're stepping on the toes of the future support of Promises... should we wait to tackle this then?

[2016-05-12 20:13] #1304 closed

[2016-05-12 20:23] callmehiphop commented on #1306
Probably a good idea

[2016-05-12 20:38] 1N50MN14 opened #1309 "session_timed_out error when making calls within process event callbacks"
API calls (datastore in my case) for some reason timeout when running within process events and throw the following error to stdout:

` D0512 20:19:40.981177886     805 chttp2_transport.c:698]     got goaway [0]: 73 65 73 73 69 6f 6e 5f 74 69 6d 65 64 5f 6f 75 74 'session_timed_out'`

Example:
[code]
Move the API call outside the process event callback and it'll work as expected. Is there any reas

[2016-05-12 20:42] callmehiphop commented on #1309
@1N50MN14 could you let us know what version of `gcloud` you're using? That error message is usually the result of an underlying transport idling for several minutes, we added some code to remedy this in <kbd>v0.32.0</kbd>.

[2016-05-12 20:44] 1N50MN14 commented on #1309
@callmehiphop I'm on 0.32.0

[2016-05-12 20:48] 1N50MN14 commented on #1309
@callmehiphop I'm also pretty sure the underlying transport isn't idiling (or it shouldn't be idiling) because to narrow down the issue I placed a X seconds timeout in my code before I manually execute `process.exit()` too see what happens, that is after I initialized datastore.

[2016-05-12 22:40] stephenplusplus commented on #1309
Can you try 0.33.0? Pretty sure this isn't actually an error, just noise from grpc. Originally reported here: https://github.com/grpc/grpc/issues/5967

[2016-05-12 23:03] tswast opened #1310 "Link to docs is broken"
This link, for example, https://googlecloudplatform.github.io/gcloud-node/#/docs/guides/authentication goes into an infinite redirect loop.

[2016-05-12 23:11] 1N50MN14 commented on #1309
@stephenplusplus I'm sure it's not grpc noise (I'm using grpc myself across my stack), with gcloud 0.33.0 / grpc 0.14.1 the noise is gone as expected but the underlying problem remains, i.e. the callback for the API call is never triggered... to reproduce the issue all you need to do is make a datastore API call within any process event (exit, siginit etc) and you'll see the issue immediately...

[2016-05-12 23:12] stephenplusplus commented on #1310
My bad, not fixed. @callmehiphop looks like `types.json` as well as some other files are missing. Could you take a look?

[2016-05-12 23:23] stephenplusplus commented on #1309
Thanks for calling that out, sorry I missed it the first time around. I was able to reproduce, though I was also able to reproduce for the following scenario as well:

[code]

Then I found: https://nodejs.org/api/process.html#process_event_exit

[2016-05-12 23:30] stephenplusplus commented on #1310
Okay, now we're live. I'm going to look into the Travis docs build process to see if we can prevent this next time.

[2016-05-12 23:30] #1310 closed

[2016-05-12 23:34] tswast commented on #1310
Are we live? The docs links are still not working for me even after hard cache reset and reload.

[2016-05-12 23:35] tswast commented on #1310
Oh, working now. Thanks

[2016-05-13 07:30] 1N50MN14 commented on #1309
@stephenplusplus Oh very interesting! Thank you for figuring this out I wouldn't have though this would be the case in a million years... sticking to ping pong then.. thanks again, closing issue

[2016-05-13 07:30] #1309 closed

[2016-05-13 13:40] aknuds1 opened #1312 "storage/file#getSignedUrl example for uploading to signed URL fails"
I cannot upload to signed URLs generated by [storage/file#getSignedUrl](https://googlecloudplatform.github.io/gcloud-node/#/docs/v0.33.0/storage/file?method=getSignedUrl). I've even tried implementing the official example from the documentation and it fails:

    let bucket = gcs.bucket('aBucket')
    let cloudFile = bucket.file('aFile')
    cloudFile.getSignedUrl({
      action: 'write',
      ex

[2016-05-13 14:13] stephenplusplus commented on #1312
Bug caught, PR sent: #1313! When `action` is `write`, we generate a signed url expecting a `PUT` request.

[2016-05-13 15:01] #1300 closed

[2016-05-13 15:01] stephenplusplus commented on #1300
No problem, glad it works now!

[2016-05-13 15:03] stephenplusplus commented on #1257
@jgeewax @tmatsuo any thoughts?

[2016-05-13 15:07] stephenplusplus commented on #1094
I think the steps to complete this are:

- [ ] Overload `<a>` from `gcloud-common`. It should look for links that begin with `http` and assign a `target="_blank"`.
- [ ] Search for links in this repo that are external, and manually add `target="_blank"`

@callmehiphop does that sound correct? Do we still need to do no. 2 if no. 1 is implemented?

[2016-05-13 15:09] stephenplusplus commented on #1086
I've seen this pop up: https://github.com/captiz/winston-googlecloud

@JustinBeckwith did your project ever go public?

[2016-05-13 15:21] JustinBeckwith commented on #1086
https://github.com/GoogleCloudPlatform/winston-gae is out there, but it only works for App Engine Flex today.  It would be awesome to have a winston transport that worked across the stack.  @matthewloring has already written a fair amount of this code, so we should work together :)

[2016-05-13 15:24] callmehiphop commented on #1094
I don't think so, but it should be mentioned that overloading <a> is slightly more complicated than it sounds. I tried this and ran into some issues where anchors dropped into the page via `bind-html` wouldn't get overloaded. My guess had something to do with the compiling phase ending and not traversing HTML appended in that fashion

[2016-05-13 15:26] stephenplusplus commented on #1086
Definitely, feel free to ping me when/wherever there's something I can help with. Maybe we can even make our Logging API here better in the process!

[2016-05-13 16:17] tmatsuo commented on #1257
It's just my opinion. I would not implement subscription names auto generation on the client side. There are many corner cases and the implementation will be complex. I would wait for the server side to implement it.

I don't think zombie subscription is a big problem. Subscriptions which are inactive for 30 days will be automatically get turned down. Also messages delivered to the subscriptions a

[2016-05-13 16:40] #1312 closed

[2016-05-13 17:19] eschapira commented on #1257
I think I'm going to suggest the opposite of Takashi.

The autogeneration is simple; on the server side this is the code (in java)

      // Compose subscription name of topic + a random long number in hex format.
      String subscriptionName =
          topicName + "-" + String.format("%x", Math.abs(Random.nextLong()));

It would be fine to do this on the client.

Regarding the default subscribe

[2016-05-13 17:21] tmatsuo commented on #1257
What happens if the topic name has a length of 255?

[2016-05-13 17:22] tmatsuo commented on #1257
It's also tricky if multiple subscribers are auto creating subscriptions at the same time. because then they are unintentionally using the same subscription?

[2016-05-13 18:10] tmatsuo commented on #1257
Although I'm not strongly against implementing it on the client side. If the implementation is robust, I'm fine with it.

[2016-05-13 19:55] #1293 closed

[2016-05-13 21:25] aknuds1 commented on #1312
Thanks @stephenplusplus! PUT doesn't quite work for me either, although it fails in a different way. If I try `curl -X put -d "{}" $SIGNED_URL` it fails like this:

    <?xml version='1.0' encoding='UTF-8'?><Error><Code>AccessDenied</Code><Message>Access denied.</Message><Details>Anonymous callers do not have storage.objects.create access to bucket arve.muzhack.com.</Details></Error>

If I try to

[2016-05-13 23:03] aknuds1 commented on #1312
I figured out that the reason that XMLHttpRequest fails is that it sends a `content-type` header, f.ex. image/png, which the call to `getSignedUrl` fails to match by default. I worked around it by sending a fixed value for `content-type`, which I also configured `getSignedUrl` with.

[2016-05-13 23:08] chrishiestand opened #1314 "errors with no ipv6 connectivity"
While using gcloud v0.33.0 (thanks for all the grpc improvements so far) I'm still getting some additional output:

[code]

I don't have ipv6 WAN connectivity at the moment. This is not fatal since ipv4 is used successfully instead.

Is there anyway to disable ipv6 in gcloud-node/grpc to avoid these error messages (and possible additional latency?)?

You could argue this is an OS issue and that if

[2016-05-13 23:15] aknuds1 commented on #1312
@stephenplusplus I have another question though. How do I ensure that a file created through uploading via a signed URL is publicly readable?

[2016-05-13 23:26] stephenplusplus commented on #1314
Cc @murgatroid99 @ctiller

[2016-05-13 23:31] stephenplusplus commented on #1312
I believe you can use the extension headers option: https://googlecloudplatform.github.io/gcloud-node/#/docs/v0.33.0/storage%2Ffile?method=getSignedUrl

See https://cloud.google.com/storage/docs/access-control/signed-urls#about-canonical-extension-headers looks like maybe "x-goog-acl: public"

[2016-05-13 23:45] aknuds1 commented on #1312
@stephenplusplus How do I set `extensionHeaders` properly? I've tried, but the signature verification fails.

[2016-05-13 23:53] aknuds1 commented on #1312
@stephenplusplus I think there is a bug when supplying `extensionHeaders` actually. You have to add a `\n` at the end for it to work, due to the implementation of `getSignedUrl`:

    var sign = crypto.createSign('RSA-SHA256');
    sign.update([
      options.action,
      (options.contentMd5 || ''),
      (options.contentType || ''),
      expiresInSeconds,
      (options.extensionHeaders || '')

[2016-05-14 05:10] ajagnanan commented on #1297
Im running into this issue too, is there a way to build an aws lambda friendly gcloud-node module?

[2016-05-14 08:52] aknuds1 opened #1316 "storage/file#getSignedUrl: It shouldn't be necessary to add newline to end of extensionHeaders"
The way storage/file#getSignedUrl computes the signature, it is necessary for the API client to end `extensionHeaders` with a newline, otherwise it won't correspond to the server's calculated signature. This should be handled automatically by gcloud-node.

[2016-05-14 08:55] aknuds1 commented on #1312
@stephenplusplus I created [an issue](https://github.com/GoogleCloudPlatform/gcloud-node/issues/1316) on the matter, with accompanying PR.

[2016-05-14 21:16] susanlinsfu opened #1318 "Always MORE_RESULTS_AFTER_LIMIT returned"
I of course might be missing something, but I have 10 entities in my KIND. I run the following code:

var NUM_RESULTS_PER_PAGE = 5;

[code]

I run the code, it gets the first 5 entities (1-5) and it returns `MORE_RESULTS_AFTER_LIMIT`. I then take the nextPageCursor and query again, it now gets the next 5 entities (6-10) and it returns `MORE_RESULTS_AFTER_LIMIT`. There are no more entities though,

[2016-05-16 10:06] sebelga opened #1319 "Date & Time converted when selecting properties"
Hi,

When I do a simple query like this:
[code]

[2016-05-16 10:58] stephenplusplus commented on #1319
Thanks for reporting. Until we get this fixed, you can convert this like so:

[code]

[2016-05-16 10:58] stephenplusplus commented on #1318
Is this using the emulator?

[2016-05-16 11:45] stephenplusplus commented on #1316
Fixed via https://github.com/GoogleCloudPlatform/gcloud-node/commit/17e510b32b0b2dfb1901c5d4b918df10daf36cc9.

[2016-05-16 11:45] #1316 closed

[2016-05-16 11:51] stephenplusplus commented on #1297
@pputhran @ajagnanan can you guys try out https://github.com/tomdale/lambda-packager? Looks like it might be just what we need.

[2016-05-16 12:17] pputhran commented on #1297
@stephenplusplus  thank you. this looks like what we need. will try this and let you know

[2016-05-16 12:19] stephenplusplus commented on #1319
@pcostell - The reason we're returning an int is because Datastore is marking the property as an integer value. First thought was we were saving the data incorrectly, but this is the mutation request:

[code]

This is the response from the query (response.batch.entityResults):

[code]

Is there another place you can think of we may be incorrectly sending/returning data?

[2016-05-16 12:21] sebelga commented on #1319
@stephenplusplus working fine with your fix, thank you!

[2016-05-16 12:37] stephenplusplus commented on #1094
Makes sense. Do we get any events when compiling is done that we can hook onto and re-compile? And if a loop is unavoidable there, maybe we can use that same event to just run some raw JS that assigns the target onto links with a shared class, e.g. `ext`.

[2016-05-16 14:08] callmehiphop commented on #1094
I don't believe there is an event for that.

Not a very graceful solution, but maybe we should just make a service and pass it to resource links, descriptions and markdown files.

[2016-05-16 15:09] pcostell commented on #1319
This is a KI with Datastore -- See https://github.com/GoogleCloudPlatform/gcloud-python/issues/1770.

My response there inline for convenience:

[2016-05-16 15:13] stephenplusplus commented on #1319
Alright, thanks for the info.

[2016-05-16 15:13] #1319 closed

[2016-05-16 16:07] susanlinsfu commented on #1318
Using gcd.sh

[2016-05-16 16:12] stephenplusplus commented on #1318
This is because the emulator issue is still unresolved: (related: https://github.com/GoogleCloudPlatform/gcloud-node/issues/1237#issuecomment-210673717, https://github.com/GoogleCloudPlatform/gcloud-node/issues/1260#issuecomment-214440459)

@pcostell will update you when it's resolved (https://github.com/GoogleCloudPlatform/gcloud-node/issues/1260#issuecomment-214919104):

Sorry for the confusion!

[2016-05-16 16:12] #1318 closed

[2016-05-16 20:20] bhstahl opened #1321 "Storage write streams should be able to use a pre-existing uri"
Allow users to pass through an already existing uri when creating a write stream.

[code]

PR with the enhancement coming shortly!

[2016-05-16 20:21] stephenplusplus commented on #1299
Let's scoot with the try/catch. Firebase needs the crc32c, so hanging them out to dry would be sad.

[2016-05-17 00:13] VikramTiwari opened #1323 "[Feature] Cloud Endpoints"
Is there any plan to bring cloud endpoints to NodeJS platform on app engine as well?

Most of the stuff that's built using NodeJS is API based and with services such as [loopback](https://loopback.io/) building APIs is being simpler and more standardised by the day. Cloud Endpoints can help in that area with scale and reliability of app engine.

[2016-05-17 12:34] stephenplusplus commented on #1323
CC: @jgeewax

[2016-05-17 14:53] mik115 opened #1324 "Vision api imageProperties dominant color score meaning"
Hi,
we are using vision api for image analysis.
In the image properties, the dominantColor field is an array containing objects like this:

| field | meaning |
| ----- | ------------ |
| color | rgb color representation |
| score | Image-specific score for this color. Value in range [0, 1] |
| pixelFraction | Stores the fraction of pixels the color occupies in the image. Value in range [0, 1]. !

[2016-05-17 14:57] stephenplusplus commented on #1324
@jgeewax anyone from the Vision team that can clarify?

[2016-05-17 15:39] ajagnanan commented on #1297
I'm developing on a mac. What I did was compile 2 versions of the module, 1 locally on my mac and 1 on an ec2 instance which I copied down locally. I put these two in a separate folder (/bin). I then set up hook scripts to copy the version needed for the environment i'm running on to the node_modules folder. I haven't tested the lambda-packager yet, but this would save me from manually compiling i

[2016-05-17 18:51] stephenplusplus commented on #1314
This issue was moved to grpc/grpc#6623

[2016-05-17 18:51] #1314 closed

[2016-05-17 18:52] stephenplusplus commented on #1314
Hey @chrishiestand, I moved this over to gRPC so the right eyes can take a look. I'll keep an eye on it as well, in case there is anything we can do in gcloud-node.

[2016-05-17 20:28] chrishiestand commented on #1314
Thanks @stephenplusplus

[2016-05-18 05:10] jasonpolites opened #1326 "Unexpected behavior with Vision API + GCS"
I suspect this is two separate issues, but the repro case happens to combine both so posting a combo issue here.

I'm putting together a demo that uses the Vision API to extract text, then saves this text to a GCS bucket.  This fails on two dimensions:

1. The text extracted from the image seems to repeat in a weird comma delimited addition
2. The `save` to GCS fails with an `Invalid non-string/bu

[2016-05-18 05:15] jasonpolites opened #1327 "Implement Cloud Functions API"
https://developers.google.com/apis-explorer/#p/cloudfunctions/v1beta1/

(Internal & whitelist only right now, just planting the flag that we need/want it )

[2016-05-18 05:20] jasonpolites commented on #1326
Closing.  RTFM

[2016-05-18 05:20] #1326 closed

[2016-05-18 11:46] stephenplusplus commented on #1321
Fixed in https://github.com/GoogleCloudPlatform/gcloud-node/commit/3d6fa8a164c7307c6d62197e69ac3adde37037bf.

[2016-05-18 11:46] #1321 closed

[2016-05-18 16:42] susanlinsfu opened #1328 "Implement RemoteAPI for Node"
I'd like to be able to connect to the datastore from any NodeJS application including my local. It would be great if the gcloud-node had the RemoteAPI implemented such as python(https://cloud.google.com/appengine/docs/python/tools/remoteapi).

[2016-05-18 17:47] stephenplusplus commented on #1328
I might misunderstand, but we support connecting to both the remote API and localhost as well. I know you've been connecting to the emulator, so you already know how to do that. To connect to the remote API, just unset the Datastore emulator environment variable, and make sure to provide a keyFilename with a path to your key file.

[2016-05-18 18:30] susanlinsfu commented on #1328
I have my nodejs directory which looks something like this:

MyApp
    -app.js
    -mycredetnials.json
    -package.json
    +node_modules
Inside of my app.js file I have the following code:;

var options = {
    projectId: 'mydatastoreproject'
}

var keyFile = './mydatastoreprojectsandbox-5265e25422c.json';

if (keyFile) {
  options.keyFilename = keyFile;
}

var datastore = gcloud.datastore(optio

[2016-05-18 18:36] stephenplusplus commented on #1328
When you start the local datastore and it prints out "Set these environment variables", did you do that? Is that how you've been connecting to your local Datastore so far? By default, gcloud-node tries to talk to the remote API and assumes there is no emulator running. It has to be told to talk to the emulator, which can be done via the env var (`DATASTORE_EMULATOR_HOST`). If that is what you've b

[2016-05-18 22:34] 1N50MN14 commented on #1302
@stephenplusplus didn't this one make it to 0.33.0 on npm? facing the same issue here in my docker container

[2016-05-18 22:42] stephenplusplus commented on #1302
It did. Can you paste the code to reproduce and the error?

[2016-05-18 22:44] 1N50MN14 commented on #1302
[code]

[2016-05-18 22:48] 1N50MN14 commented on #1302
[code]

The data I'm writing looks like this:
[code]

[2016-05-18 23:14] stephenplusplus commented on #1302
Thanks for the details @1N50MN14 -- could you try out #1329?

[code]

[2016-05-18 23:16] 1N50MN14 commented on #1302
Yup, one sec please

[2016-05-18 23:28] 1N50MN14 commented on #1302
[code]

(It's also screaming about `autoPaginate` elsewhere in my code not being a function, wondering if the datastore query API has changed)

[2016-05-18 23:29] 1N50MN14 commented on #1302
grr sorry my bad sec please

[2016-05-18 23:31] 1N50MN14 commented on #1302
Ok that seemed to have fixed this error! the callback is returns error 400 though, I'm not sure why that is

[2016-05-18 23:33] stephenplusplus commented on #1302
I receive that as well without providing something like the following as the first argument to the entry:

[code]

[2016-05-18 23:34] 1N50MN14 commented on #1302
yeah that's what I tried to replace, basically I passed my "whoami" object as the resource hence the error I just reported, I will try to place a dummy resource pr your example

[2016-05-18 23:41] 1N50MN14 commented on #1302
the resource object structure seems to be strict and must contain those specific attributes, I tried to add additional labels that didn't work either; but OK that works for me as I'm storing the "whoami" as a part of the entry

[2016-05-19 00:29] stephenplusplus commented on #1302
Cool, thanks for catching this. It's out now under 0.34.0.

[2016-05-19 00:33] 1N50MN14 commented on #1302
Awesome! Thank you!

Looking at the source of datastore/query.js I see you made some minor modifications there (added info to the cb and got rid of autoPaginate), is this out in 0.34.0 as well?

[2016-05-19 01:11] stephenplusplus commented on #1302
Yes, that's included as well. Here are the release notes: https://github.com/GoogleCloudPlatform/gcloud-node/releases/tag/v0.34.0

[2016-05-19 03:32] susanlinsfu commented on #1328
ahhhhh yes I had this variable set. All works now thanks!

[2016-05-19 08:19] mik115 commented on #1324
hi, any news??

[2016-05-19 10:58] jgeewax opened #1330 "Compute: Firewall.config.protocols empty array means "everything""
Looking specifically at https://googlecloudplatform.github.io/gcloud-node/#/docs/v0.34.0/compute?method=createFirewall

Consider the following flow:

- I have a list of ports that I know I should allow (ports = `[1,2]`) and I store that somewhere.
- For my script, I know I **don't** want port 2 available, so I remove that before creating my firewall: `ports.pop(2)`
- Someone else has an intercepto

[2016-05-19 11:22] jgeewax commented on #1324
Hey @mik115 - going to dig on this for you and hopefully update our docs to be a bit more clear. Score is typically a "confidence level" (ie, "I'm 90% sure this picture is of a dog"), but I can see the confusion this might be causing. Hang tight -- going to figure it out :)

[2016-05-19 11:51] stephenplusplus commented on #1328
No problem, glad that it works now!

[2016-05-19 11:51] #1328 closed

[2016-05-19 12:30] stephenplusplus commented on #1330
I might just be wrong about what the API does.

See the description of `allowed[].IPProtocol` here: https://cloud.google.com/compute/docs/reference/latest/firewalls/insert --

[code]

Are any ports opened for the TCP protocol? Whatever that does, that's all gcloud-node does when it receives an empty array.

[2016-05-19 13:26] jgeewax commented on #1330
I actually don't know. `ports` doesn't seem to be defined in the list (while `IPProtocol` -- redundantly named -- does). I'll have to ask...

[2016-05-19 13:29] zackharley opened #1331 "Error with Datastore Emulator"
After following the [instructions in the gcloud documentation](https://googlecloudplatform.github.io/gcloud-node/#/docs/v0.33.0/datastore), I still can't get the local Datastore emulator working. I've set up a REST API to store data in my Datastore when I receive specific requests. These requests correctly result in storing the data in my Datastore when the application is deployed to Google Cloud,

[2016-05-19 13:34] mziccard commented on #1330
Quoting from [Firewalls docs](https://cloud.google.com/compute/docs/networking#firewalls):

[Optional] An array of target ports allowed for this connection. This is only applicable for TCP and UDP connections. Each value is a string that is either a single port or a port range. **If not specified, all ports are allowed.** Example: ["80", "160", "300-500"]

[2016-05-19 13:41] stephenplusplus commented on #1331
How are you telling gcloud-node to talk to the emulator? Can you boil the code down to the smallest parts to reproduce?

[2016-05-19 14:02] zackharley commented on #1331
I just realized that I was importing my projectId as follows:
[code]
But hadn't used the command line to specify the value of `GLOUD_PROJECT`. It's working now that I've done that.

Thanks for being so quick to respond.

[2016-05-19 14:13] jgeewax commented on #1330
Right, so it seems like it does... not what we want. That's kinda scary. To clarify what I'd expect...

- Open all TCP ports to the world

[code]

- Open *no* TCP ports to the world

[code]

- Check if port 350 is open

[code]

[2016-05-19 14:23] stephenplusplus commented on #1330
Fiest example, how about tcp: true?

Second example, how do I tell the API not to open ports?

Third example, if they just opened it, why are they checking? Or are you just illustrating that it should have been opened?

[2016-05-19 14:33] jgeewax commented on #1330
SGTM.

Technically it should be just removing the TCP key... but @mziccard may know a bit more.

Yea -- just an illustration. The idea though is that I set a range, and I'm checking a specific port. That's a bit trickier.

[2016-05-19 22:19] mziccard commented on #1330
Yes by passing TPC you are saying "open all ports for TPC", by passing TCP + [port array] you are saying "open all ports in [port array] for TCP", if you don't pass TCP all TCP traffic is rejected.

[2016-05-20 02:21] uliporeggia opened #1333 "formatMethodMap[type] is not a function in vision lib"
Just got this error calling `vision.detectText`

[code]

I am using node v4.3.2 with hapi framework

[2016-05-20 02:23] stephenplusplus commented on #1333
Could you paste more of your code that triggers this?

[2016-05-20 02:30] stephenplusplus commented on #1333
I have a feeling it's an annotation error, possibly from a malformed image input type. We won't be able to know for sure unless you go into the node_modules/gcloud directory and edit the lib/vision/index.js file, adding a console.log(resp) around here: https://github.com/GoogleCloudPlatform/gcloud-node/blob/master/lib/vision/index.js#L349

I'll work on a PR asap that handles the type of situation

[2016-05-20 02:38] uliporeggia commented on #1333
Yes, of course.
Here is the log
[code]
Right that, malformed image type!

[2016-05-20 02:48] uliporeggia commented on #1333
But this is strange because I am not making any manipulation on the image, I am just passing directly from hapi parser to vision API

[code]

and then

[code]

[2016-05-20 15:16] stephenplusplus commented on #1333
I put together a PR that will make catching the error easier (#1334) (thanks for bringing this to our attention!)

As far as why the image is malformed, I can't be sure without testing the failing image and observing the steps that it goes through in your set up. Is it possible to put together a barebones repo so I can try locally?

[2016-05-20 17:53] archelogos opened #1335 "502 Bad Gateway. Datastore string property very long"
Hello!

I'm having problems when a string property of an entity in Cloud Datastore is very long.
In that case the server responds a 502 Bad Gateway. In particular this occurs when the api is used to create a new entity, in fact, the entity is created but then the server crashes.

The code is very similar to the samples that you provide. And the property that is problematic is the imageUrl because

[2016-05-20 18:30] archelogos commented on #1335
Definitely that's not the problem. It's here:

[code]
[code]

I will check it better

[2016-05-20 18:30] #1335 closed

[2016-05-20 19:44] 1N50MN14 opened #1336 "How to save JSON objects in bigquery?"
I'm thinking to move away from logging and write the logs myself directly to bigquery; looking at the API I can only see an `import` function which reads from file, but I would really like to write the objects myself, how can I do that?

[2016-05-20 19:45] stephenplusplus commented on #1336
Does `table#insert` work? https://googlecloudplatform.github.io/gcloud-node/#/docs/v0.34.0/bigquery/table?method=insert

We also have `table#createWriteStream` for stream inputs: https://googlecloudplatform.github.io/gcloud-node/#/docs/v0.34.0/bigquery/table?method=createWriteStream

[2016-05-20 19:49] 1N50MN14 commented on #1336
Oh absolutely (yay for `createWriteStream`!), apologies I missed that in the docs somehow I had the API docs like open on 0.33.0. Closing issue

[2016-05-20 19:49] #1336 closed

[2016-05-20 21:42] blowmage commented on #91
JJ asked me to investigate separate packages and write up my conclusions. Happy to have a discussion on #138.

[2016-05-21 02:01] uliporeggia commented on #1333
This is great! I thank you for answering my issue.
About the image, I think there is no needed more help, there must be some simple thing in my side.

[2016-05-22 22:27] 1N50MN14 opened #1337 "How to specify logging sink?"
I have created multiple sinks to better organize/group my logs, went through the docs (and the source) still can't figure out how to dynamically specify the sink I'd like to log to.

Is there any way I could accomplish something like?
[code]

[2016-05-22 22:53] stephenplusplus commented on #1337
[code]

[2016-05-22 22:59] 1N50MN14 commented on #1337
@stephenplusplus That was the first thing I tried, doesn't work..

[code]

[2016-05-22 23:06] 1N50MN14 commented on #1337
I also tried
[code]
since `parent` is exposed and it contains a reference to Logging, but that still writes to all sinks.

[2016-05-22 23:13] stephenplusplus commented on #1337
Oh yeah, I was mistaken. I believe a sink is created to export log entries automatically as they are written. So you don't go through a sink to get to a log.

Here's an explanation from the docs:

--

You export log entries by creating a sink that directs a set of log entries to a specific destination. You stop exporting the log entries by deleting or changing the sink. You can have any number of

[2016-05-22 23:23] 1N50MN14 commented on #1337
Right ok, now that I understand this I think the only way to accomplish what I'm looking for is to simply create X logging object, each assigned to a single sink and choose which logger I want to use based on the target sink.

Viewer panel is not important in my case as I'm hooking the logs to BIME. Thanks for the help! ;)

[2016-05-22 23:40] 1N50MN14 commented on #1337
^^^ that didn't work either, still logs to all sinks, looks like `var this.logging[prop] = gcloud.logging(config)` yields a reference to the same Logging instance.

[2016-05-22 23:46] stephenplusplus commented on #1337
Are you setting the sinks with a filter that only matches the logs you are writing to? https://cloud.google.com/logging/docs/view/advanced_filters

[code]

[2016-05-22 23:51] 1N50MN14 commented on #1337
That's a good question... I'm not doing that, my `syslog` is dynamic can I pass a regex to filter?

[2016-05-23 00:02] 1N50MN14 commented on #1337
Or even something like
[code]
(reading the docs, thanks for the link)

[2016-05-23 00:30] stephenplusplus commented on #1337
It doesn't look like there's an option for that. If your logs are split for things like the severity of the entry, maybe you would get the same benefit by creating a sink that filters on the severity instead:

`filter: 'severity>=ERROR'`

[2016-05-23 12:34] 1N50MN14 commented on #1337
Ok following the above example I decided to add a `__sink` filter to each sink basically holding the sink's name, and I will add this as an attribute to each log entry prior to writing it. Problem now is if I add a filter `create` throws error 400 even if I first delete the sinks.

Here's my code snippet, pretty straight forward..

[code]

[2016-05-23 12:48] stephenplusplus commented on #1337
Is there such a thing as a `__sink` filter? I couldn't find it in the docs. Maybe you can use labels on your entries and filter on those:

[code]

@jgeewax anyone from the Logging team available for general advice?

[2016-05-23 13:03] 1N50MN14 commented on #1337
Hmmm sorry I think you're right for some reason I thought there was a reference to it, going to try to set  __sink on labels instead see how it works..

[2016-05-23 13:19] stephenplusplus opened #1338 "API Implementation Tracker [your wanted APIs go here]"
This is a list of APIs that are known to be wanted, but yet to be implemented into gcloud-node. We will update this issue to give visibility into the prioritization and progress of each.

## To Be Prioritized
- App Engine Admin API
- [App Engine Task Queue](https://cloud.google.com/appengine/docs/python/taskqueue/rest)
- Cloud CDN
- Cloud Endpoints
- Cloud Functions
- Cloud SQL
- [Compute Engine B

[2016-05-23 13:20] stephenplusplus commented on #1271
I've created [API Implementation Tracker](https://github.com/GoogleCloudPlatform/gcloud-node/issues/1338) which I've included this request in. Feel free to subscribe to that issue to stay updated!

[2016-05-23 13:20] #1271 closed

[2016-05-23 13:21] stephenplusplus commented on #1323
I've created [API Implementation Tracker](https://github.com/GoogleCloudPlatform/gcloud-node/issues/1338) which I've included this request in. Feel free to subscribe to that issue to stay updated!

[2016-05-23 13:21] #1323 closed

[2016-05-23 13:21] stephenplusplus commented on #1327
I've created [API Implementation Tracker](https://github.com/GoogleCloudPlatform/gcloud-node/issues/1338) which I've included this request in. Feel free to subscribe to that issue to stay updated!

[2016-05-23 13:21] #1327 closed

[2016-05-23 13:22] stephenplusplus commented on #1160
I've created [API Implementation Tracker](https://github.com/GoogleCloudPlatform/gcloud-node/issues/1338) which I've included this request in. Feel free to subscribe to that issue to stay updated!

[2016-05-23 13:22] #1160 closed

[2016-05-23 13:26] stephenplusplus commented on #1257
@jgeewax how shall we proceed?

[2016-05-23 13:29] stephenplusplus commented on #1297
Thanks for the breakdown @ajagnanan. Have you tried lambda-packager yet?

[2016-05-23 13:36] jgeewax commented on #1257
Can you summarize the options here? I realize that the thread started with "don't fail when subscribing twice", but it progressed to a few different use-cases on top of that, right?

[2016-05-23 13:37] #1190 closed

[2016-05-23 13:51] stephenplusplus commented on #1257
Yes, this is mostly a discussion of an API shift you suggested [here](https://github.com/GoogleCloudPlatform/gcloud-node/issues/1257#issuecomment-213506799), allowing for unnamed subscriptions to be created automatically. I think the best thing to do would be going over the thread starting from there, as we had many opinions weigh in, so it'd be unfair of their expertise if I left any of their poi

[2016-05-23 14:03] 1N50MN14 commented on #1337
Ok that throws error 400 on the `log.write` call.. maybe resource labels don't like having a prop that starts with `__`, also going to try to use the `zone` label if adding my own fails too...

[2016-05-23 14:14] 1N50MN14 commented on #1337
Ok it works by relying on the `zone` (which I'm not relying on, I have it as a part of my payload), i.e. filter becomes `filter: 'labels.zone = '+ds` and for each log write I set the appropriate ds/sink name for `labels.zone`. A bit hacky but works I guess, going to put a small note in my code to revisit this in case you decide to change the behaviour on how to accomplish this in the future.

Than

[2016-05-23 14:16] stephenplusplus commented on #1337
Of course, thanks for bringing up the discussion. I'll close this issue out, but if @jgeewax himself or a Logging ally can recommend a better solution, please let us know!

[2016-05-23 14:16] #1337 closed

[2016-05-24 22:54] susanlinsfu opened #1339 "Can't save and delete in a transaction"
I asked this question on stackoverflow, but am also posting here as an issue (http://stackoverflow.com/questions/37401751/cant-save-and-delete-in-a-transaction).

[code]
With the following code I am getting two entities from a parent table and one entity from a child table (I print some stuff with this child entity not shown in code). I then update the two parent entities and delete two child enti

[2016-05-25 12:32] Gr1g0ry opened #1340 "Can't add files with names which contain "/" and "." and "~" in object name"
When I use object names with __dot__, __slash__ and __tilde__ together I receive error.

Next is mocha test:

[code]

returns error:

[2016-05-25 12:37] stephenplusplus commented on #1340
I couldn't reproduce with the following script:

[code]

Is there any chance the error is coming from a separate call? Maybe in a `before` hook?

[2016-05-25 12:45] Gr1g0ry commented on #1340
I'm sure that problem in test. I have the same problem also in node

[code]

[2016-05-25 12:47] stephenplusplus commented on #1340
I can reproduce when the bucket doesn't exist. Could you check that the bucket exists?

[code]

[2016-05-25 12:51] Gr1g0ry commented on #1340
Yes bucket exists. For reproducing you need some of your _bucket_ and correspondent _key.json_ file.
I'm sure that problem in name because next code is successful:

[code]

[2016-05-25 12:52] stephenplusplus commented on #1339
@pcostell could you give this one a quick look to make sure things look correct?

Here's the script I've tested with:

[code]

And the commit request that gets sent when `done()` (commit) is called.

[code]

[2016-05-25 12:54] stephenplusplus commented on #1340
What OS are you running?

[2016-05-25 12:55] Gr1g0ry commented on #1340
Ubuntu 14.04

[2016-05-25 13:00] stephenplusplus commented on #1340
Can you try:

[code]

[2016-05-25 13:03] Gr1g0ry commented on #1340
Ok. The problem was solved.

[2016-05-25 13:07] Gr1g0ry commented on #1340
Should I close issue?

[2016-05-25 13:11] stephenplusplus commented on #1340
Glad it was resolved. Let's keep it open for a little longer. I want to dig into this later to figure out exactly what might have happened.

[2016-05-25 13:26] Gr1g0ry commented on #1340
Ok.

[2016-05-25 17:13] pcostell commented on #1339
@stephenplusplus That seems odd. One thing to double check, is that the full commit message? Because I don't see any transaction specified there.

[2016-05-25 17:33] stephenplusplus commented on #1339
Yes, that was just the mutations part, sorry. The full thing is here:

[code]

[2016-05-25 17:51] pcostell commented on #1339
Ah it looks like your mutations are being created incorrectly. In particular, you only have two mutations, each one with an upsert and a delete.

The way proto oneof fields work, it will only ever accept the last one set.

[2016-05-25 18:00] stephenplusplus commented on #1339
Ah, okay, so just confirming, it should be:

[code]

[2016-05-25 18:43] stephenplusplus commented on #1339
PR sent with a fix: #1341

[2016-05-26 08:44] fonzy2013 opened #1343 "pubsub subscription delete hanging in 0.34"
I'm trying to delete the subscription before exiting my service but it hangs forever.
I didn't see any way of turning on debug so I am not sure what requests and responses are sent.
The subscription is created when subscribing so no other subscribers exists on the subscription.
Any ideas on what I can try next?

[code]

When calling the `unsubscribe` function the callback is never called.

[2016-05-26 09:16] fonzy2013 commented on #1343
I got it to work when changing the way I quit the service. I am using readline where I called unsubscribe() and pause() from catching the SIGINT signal and by moving the readline.pause() to the callback to delete() it works.

[2016-05-26 09:16] #1343 closed

[2016-05-26 12:22] stephenplusplus commented on #1343
Cool, thanks for sharing the fix.

*(related: #1309)*

[2016-05-26 15:28] stephenplusplus commented on #1308
Ping :)

[2016-05-26 15:57] #1339 closed

[2016-05-26 21:24] 1N50MN14 opened #1344 "question: how to get the ending byte/offset of storage upload stream"
I have the following use case scenario:

mobile video stream > pipe(multipluxer) -> pipe(writable stream)

Upon client (mobile) network interruption / reconnection I first clean end the gcs write stream then restart the above process except that I need to write starting the last written offset+1. Is there any way I can get the size / offset within the `finish` callback or otherwise through a separ

[2016-05-27 01:46] stephenplusplus commented on #1344
Does it not "just work" when you try to upload the file the next time?

We use [`gcs-resumable-upload`](http://gitnpm.com/gcs-resumable-upload) behind the scenes. You can use it directly to get the offset:

[code]

I believe while researching, I caught a bug: https://github.com/stephenplusplus/gcs-resumable-upload/pull/13 -- so as of now, you can get the offset, but you can't instruct gcloud-node

[2016-05-27 16:28] 1N50MN14 commented on #1344
@stephenplusplus The behaviour I'm getting is that it starts writing from offset 0, it sounds like the bug you caught. Anyhow I'm going to triple check my code and put some tests in place to make sure it's not a mistake on my side

[2016-05-27 16:53] stephenplusplus commented on #1344
I wonder if not enough content makes it to GCS to be saved. I believe
there's a magic number out there where it retains the data. I observed that
number being around 5-10 MB.

On Fri, May 27, 2016, 12:28 PM Ayman Mackouly <notifications@github.com>
wrote:

[2016-05-27 16:58] 1N50MN14 commented on #1344
I'll add a check for that it might be the case as I haven't rested with >5mb streams

[2016-05-27 17:48] susanlinsfu opened #1345 "Query with select causing issue - Precondition Failed"
![image](https://cloud.githubusercontent.com/assets/15883441/15616242/4dcf6fb6-23f7-11e6-97ff-aee374aec53e.png)

I have a kind called 'm'. All the entities inside this kind have the same structure. All, but one attribute are indexed.

I run the following query:

[code]

It never gets the entities and instead prints out the error message : Precondition Failed. Without select, the query return fine,

[2016-05-27 18:24] stephenplusplus commented on #1345
@pcostell any ideas?

[2016-05-27 21:45] pcostell commented on #1345
When you perform a projection, it indicates to Cloud Datastore to perform an index-only query -- the full entity is never looked up in the [Entities table](https://cloud.google.com/appengine/articles/storage_breakdown#anc-entitiestable). This means you need all data to be included in the index scan. In the case of your query, this would require a composite index:

indexes:
- kind: m
  properties:

[2016-05-27 23:05] susanlinsfu commented on #1345
@pcostell Ahh I was not aware you had to create a composite index on every filter attribute you want to use. I created the com piste iindex and it works, but I did notice if I had an 'order' filter say on attribute c  it no longer works? Is there something I am missing?

[2016-05-27 23:21] pcostell commented on #1345
By default, Cloud Datastore creates indexes on each individual property. However, Cloud Datastore requires that all queries can be answered with a single scan of an index, or via a merge join of a series of scans. So for the example of adding the order `c`, you have to guarantee that the order of properties in the index you need actually matches the order of the properties in your query.

So for t

[2016-05-27 23:24] pcostell commented on #1345
Actually @stephenplusplus -- Our error message returned from Cloud Datastore looks like this:

[code]

I'm going to leave this bug open -- can we get the message output to the user so that it's clear what index is needed without having to run the emulator?

[2016-05-28 15:16] salrashid123 opened #1346 "Allow specifying access_token to use"
There are situations where you can end up with just the access_token.  (eg. non-refereshable token for an endusers via oauth webflow).

There doesn't seem to be any way to place that raw token and initialize gcloud node. (gcloud-java recently added it in:
https://github.com/GoogleCloudPlatform/gcloud-java/issues/1029

here are some references for the older googleapis node client:
https://github.co

[2016-05-31 09:52] jduval opened #1347 "App Engine deployment issue with grpc and nodejs v6.2.0"
I'm trying to deploy to App Engine with a nodejs runtime. It seems to fail because of a mismatch version of grpc.

![screenshot from 2016-05-31 11 46 07](https://cloud.githubusercontent.com/assets/1597299/15670371/5ae395fc-2725-11e6-880f-322cb336548a.png)

I successfully deployed to GAE with a custom runtime with docker which only runs `npm install`. I saw from [https://github.com/grpc/grpc/issues

[2016-05-31 11:38] stephenplusplus commented on #1347
@jmdobry @jonparrott do you have any ideas?

[2016-05-31 15:31] bhstahl commented on #1344
Interesting about the < 5-10 mb streams. I think I noticed that as well

[2016-06-01 04:22] zbjornson opened #1348 "logging: Public API for setting timestamp, severity, etc. on Entry"
I can't find a public API for setting the [metadata fields](https://github.com/GoogleCloudPlatform/gcloud-node/blob/master/lib/logging/entry.js#L124-L133) like timestamp and severity on a log entry.

It works to do `var entry = log.entry(...); entry.severity = "INFO";`, which is similar to what's done internally in [`Log.assignSeverityToEntries_`](https://github.com/GoogleCloudPlatform/gcloud-node

[2016-06-01 04:57] zbjornson opened #1349 "logging: Can't set "partialSuccess""
This is possible with the google-api-nodejs-client, but my naive attempt to do this fails:

[code]

[2016-06-01 05:50] seymores opened #1350 "1500 characters limit of a property?"
Hi,

I am getting error when I try to save a property with a long text -- to be precise more than 1500 characters.
The entity saved fine when I reduced the string char count to be 1500 characters and below.
Anything above 1500 char count will throw me this error:
[code]

I understand appengine has this limitation but the documentation says a text property can have up to 2mb of data so there must b

[2016-06-01 10:14] 1N50MN14 commented on #1344
I'm spend few hours next Monday to try to narrow down this issue, hopefully I'll be able to come back with a concrete snippet that replicates the behaviour and post it here

[2016-06-01 10:27] 1N50MN14 opened #1351 "datastore transaction callbacks hang"
Below is a code snippet where I perform simple `delete`and `insert` operations in a transaction, strictly following the 0.34.0 API documentation:

[code]
For some reason the callback for `transaction.delete()` hangs, as in it doesn't seem to run at all unless I call `transaction.datastore.delete()` instead, same goes for `transaction.insert()`. Is is the expected behaviour or am I doing something

[2016-06-01 10:35] stephenplusplus commented on #1351
Yes, save and delete don't get callbacks when run in a transaction: http://stackoverflow.com/questions/34969316/do-datastore-transactions-need-rollback-when-saving-or-deleting. The mutations are queued until done is called.

[2016-06-01 10:35] #1351 closed

[2016-06-01 10:41] 1N50MN14 commented on #1351
hmmm so how do I rollback if `delete` fails for some reason? or is that handled automatically as in the code becomes something like:

[code]

[2016-06-01 10:45] 1N50MN14 commented on #1351
Yeah just tested the snippet this seems to be the case. Thanks @stephenplusplus

[2016-06-01 11:30] stephenplusplus commented on #1348
An Entry already takes two objects, the first for the resource details, the second for the data.

We can change the `resource` argument to `metadata`:

[code]

Which do you prefer?

// @callmehiphop for thoughts

[2016-06-01 11:37] stephenplusplus commented on #1349
Good catch. That's where it should go, and it should work, but it looks like the proto file doesn't specify it as an option: https://github.com/googleapis/googleapis/blob/master/google/logging/v2/logging.proto#L69

cc: @filipjs

[2016-06-01 11:41] stephenplusplus commented on #1350
I believe this is a duplicate of #1091. If so, try:

[code]

[2016-06-01 11:44] stephenplusplus commented on #1344
Cool, thanks! I just released gcs-resumable-upload@0.6.1 so un- and re-installing gcloud should pick up the latest version.

[2016-06-01 15:47] filipjs commented on #1349
Hey,
looks like the proto file on Github was last updated in January.
I'll check what's the process of updating it.

[2016-06-01 16:17] callmehiphop commented on #1348
Could we just add an optional `metadata` field to the resource itself?

[code]

Or is that too weird?

[2016-06-01 16:40] zbjornson commented on #1348
Of the two, I think I like @stephenplusplus's proposal. The "resource" is already a bit confusing in nature, so it's nice to keep it explicitly separated. @stephenplusplus's is a breaking change though unless it's decided to keep supporting `(resource, payload)` in addition to the new `({resource, metadata}, payload)`.

[2016-06-01 16:43] zbjornson commented on #1348
I was also thinking `(resource, options, payload)`, like

[code]

[2016-06-01 16:49] stephenplusplus commented on #1348
The only downside of the three arguments is that both `resource`* and `options`  are optional, so if we only receive 2 arguments, we couldn't safely detect which kind it is. Breaking change is unfortunate, but not a deal breaker.

\*`resource` is optional because it can be specified at the time of the call to `entry.write` to apply to all of the entries given.

[2016-06-01 18:02] zbjornson commented on #1348
Good point! Then my vote stays with `({resource, metadata}, payload)`. :)

[2016-06-01 18:02] stephenplusplus commented on #1297
@pputhran if you've tried it yet, how did it go?

[2016-06-01 18:24] #1350 closed

[2016-06-01 19:48] zbjornson opened #1352 "logging: Serialization of Native Types"
One more logging question/possible bug...

Built-in JS objects including Date, Error, undefined, and RegExp are not serializable into the proto. Is the intent to support these? (Maybe depends if you consider these "objects" when reading the JSON spec.)

[code]

[code]

[code]

At least Date and Error are common in logs and I think nice to support (otherwise as a consumer I'm manually casting these

[2016-06-01 20:28] zackharley commented on #1331
So I'm still getting that error when I try to query the Datastore emulator (again, it works on when I deploy using `gcloud`). The smallest parts of my code are below:

[code]

I have also set the following environment variables:
[code]

[2016-06-01 20:30] zbjornson opened #1353 "logging: Serialization of undefined values"
Also failing:

[code]

[2016-06-01 21:17] zbjornson opened #1354 "logging: Serialization of circular structs"
Think I've hit all the edge cases now...! :)

[code]

I think this should be handled in this library, not by the consumer?

[2016-06-02 02:07] stephenplusplus commented on #1352
The entry payload (the data object) is a `Struct`, defined [here](https://github.com/google/protobuf/blob/18a9140f3308272313a9642af58ab0051ac09fd2/src/google/protobuf/struct.proto#L63):

[code]

So just these types are supported, evidently. Is there anything we can do to make it easier to work with Date and Error values?

[2016-06-02 02:09] stephenplusplus commented on #1353
Just going to lump this in with #1352.

[2016-06-02 02:09] #1353 closed

[2016-06-02 02:16] stephenplusplus commented on #1354
I appreciate your help finding these edge cases! We can use https://www.npmjs.com/package/is-circular to check if there is a circular reference in the object. What do you think we should do if we catch one?

[2016-06-02 02:31] zbjornson commented on #1352
Assuming I'm correct in thinking that this interface is intended to consume JSONs and transparently use protos on the backend, then one approach could be to add something like [this](https://github.com/zbjornson/bunyan-stackdriver/blob/master/lib/bunyan-stackdriver.js#L114-L125) somewhere in `Entry`, to delete undefined values and coerce native types. (One key difference from above would be mappin

[2016-06-02 02:40] zbjornson commented on #1354
Rather than rejecting the payload, I think it would be useful to replace the circular reference with something like "[Circular]", which is what node does:

[code]

Maybe https://www.npmjs.com/package/destroy-circular (haven't tested myself -- all of the unit tests are simple).

[2016-06-02 02:52] stephenplusplus commented on #1354
Node does that for the sake of the output, but if you try to use that object (e.g. JSON.stringify), it will throw. The fact that a circular reference is there is likely an error, though I personally don't mind throwing to communicate that error to the user. It's possible where there is a circular reference, the user meant there to be something else entirely. If we delete it, it might be an unexpec

[2016-06-02 02:59] stephenplusplus commented on #1352
@filipjs any thoughts about what we should do when a user of this library attempts to write one of these types-- RegExp, Date, Error, undefined-- in a log entry?

[2016-06-02 03:00] zbjornson commented on #1354
All true.

BTW I didn't hit this issue in production, just when trying to find edge cases. The node http request object has circular references in it, but the source I'm pulling from [picks out some of the non-circular properties](https://github.com/trentm/node-bunyan/blob/master/lib/bunyan.js#L1083-L1098). Maybe detecting and throwing is sufficient.

[2016-06-02 06:00] JustinBeckwith commented on #1333
Yar.  I'm running into the same problem all of the sudden with cloudcats.  Who knows which random reddit image is causing this.  The problem is - I can't seem to find a way to work around the unhandled exception :(

[code]

[2016-06-02 12:06] stephenplusplus commented on #1333
Try out the PR (#1334) branch:

[code]

Where you were previously expecting results, say `detections`, there will be a `detections.errors` array. If all goes well, we can merge and release soon.

[2016-06-02 12:13] richardkazuomiller opened #1355 "authClient error after updating to 0.30 or higher"
After updating gcloud I get this error that crashes the process when trying to make any requests to datastore on v0.34.0

[code]

This is my code

[code]

The same code, other than changing `datastore.dataset()` to `datastore()` works on v0.29. Am I doing something wrong or is this a bug?

[2016-06-02 12:16] stephenplusplus commented on #1355
Sounds like it could be an issue when switching between versions without fully un- and re-installing all npm dependencies. After installing gcloud@0.34.0, try a `rm -rf node_modules && npm install`.

[2016-06-02 12:28] richardkazuomiller commented on #1355
That did it, which probably means that there's a dependency whose version needs to be updated in the dependencies configuration.

[2016-06-02 12:32] #1355 closed

[2016-06-02 12:32] stephenplusplus commented on #1355
Thanks for reporting!

[2016-06-02 12:36] richardkazuomiller commented on #1355
@stephenplusplus You're quick! I was just writing about how I found that running with `google-auto-auth@0.2.3` was what caused it lol. Thanks for the fix.

[2016-06-02 12:43] stephenplusplus commented on #1331
I'm unable to reproduce this one. Using the gcd.sh emulator linked in the docs, I created and started a database:

[code]

I set that env var and ran the script after:

[code]

##### `index.js`:
[code]

GCD output was:

[code]

Node script output:
[code]

[2016-06-02 12:44] stephenplusplus commented on #1355
Haha, only thanks to you for sending me in the right direction 😄

[2016-06-02 13:18] zackharley commented on #1331
I just ran using the basic setup you created, with a small modification: rather than using `gcd`, I used `./gcd.sh`.  Besides that everything was the same, but I received the following responses:

GCD:
[code]

Node:
[code]

Also, I'm not sure if this matters, but I am running Windows 10 and using Git Bash as my terminal.

[2016-06-02 13:20] stephenplusplus commented on #1331
Hmm, I'm not sure on this. Let's bring in @pcostell -- should we move this issue over to the datastore repo, or is there something we might be doing here that's improper?

[2016-06-02 16:55] pcostell commented on #1331
It looks a little bit like the emulator is connecting on ipv4 and then the node client tries to connect with ipv6. Maybe you could try setting the `--host` explicitly to an IP when you startup the gcd tool and see if that helps?

[2016-06-02 17:49] zackharley commented on #1331
I tried to use the `--host` option when calling `./gcd.sh start`, but it said it wasn't a valid option. I then tried `./gcd.sh start help` and was shown the following options:
[code]

[2016-06-02 17:53] pcostell commented on #1331
Ah sorry, you should get the updated emulator, which you can get from gcloud:

`gcloud components install cloud-datastore-emulator`. This will install it which you can run with `gcloud beta emulators datastore start --no-legacy`, or you can go run the shell script at `$GCLOUD_PATH/platform/cloud-datastore-emulator/cloud_datastore_emulator`

Or, we have a [direct zip download](http://storage.google

[2016-06-02 18:36] stephenplusplus commented on #1331
It looks like that uses the old env var, `DATASTORE_LOCAL_HOST` -- is `DATASTORE_EMULATOR_HOST` done?

[2016-06-02 18:40] pcostell commented on #1331
@stephenplusplus did you remember to specify `--no-legacy` when running?

[2016-06-02 18:42] zackharley commented on #1331
@pcostell Should I be specifying a local host IP? i.e. 192.168.0.x

[2016-06-02 18:43] pcostell commented on #1331
It would probably be worth trying that and just manually specifying `127.0.0.1`.

[2016-06-02 18:45] stephenplusplus commented on #1331
@pcostell when doing that, I get:

[code]

I created with the gcd.sh tool: `gcd create datastore` before installing the SDK component. Is there a new way to create I should be using?

[2016-06-02 18:46] zackharley commented on #1331
@pcostell I used `--host=127.0.0.1:8080` and got the same error as previously mentioned.

[2016-06-02 18:52] pcostell commented on #1331
@zackharley Did you also change your `DATASTORE_EMULATOR_HOST` export to `127.0.0.1:8080`?

@stephenplusplus It sounds like something else is going on, can we debug on a new thread?

[2016-06-02 18:54] zackharley commented on #1331
@pcostell Yes I did.

[2016-06-02 19:24] pcostell commented on #1331
@zackharley Can you clarify your machine setup: Are both the emulator and your client code running on the same machine? Are you using any sort of docker setup? What OS are you running?

[2016-06-02 19:35] zackharley commented on #1331
I'm using an Acer Aspire E 15 Started with a 64-bit 2.16GHz Intel Pentium N3540 processor and 8GB of RAM, running Windows 10 Home edition. Node is v4.4.5. Both Node and the emulator are running on this machine. I'm using the Git Bash that came with git version 2.8.2.windows.1.

[2016-06-02 21:05] #1281 closed

[2016-06-02 23:16] #1333 closed

[2016-06-02 23:23] stephenplusplus commented on #1333
Released in 0.35.0.

[2016-06-02 23:24] stephenplusplus commented on #1339
Released in 0.35.0.

[2016-06-02 23:24] adamkundrat opened #1356 "Possible Memory Leak with gRPC"
Hi Guys,

I hope someone will be able to help me with this one. I spend over few days on this and I can't figure out the issue. We used RabbitMQ as our messaging queue system but now switched over to Google Pub/Sub. All the other code stayed same. We suddenly experiencing memory leak so I naturally assumed it's an issue with gcloud-node lib. See graph below:
<img width="694" alt="screen shot 2016-

[2016-06-02 23:29] stephenplusplus commented on #1356
Thanks for reporting! We had a report a while back suspecting gRPC of a leak as well (#1164). We made some corrections in how we were caching connections. (If you're interested, here's a nice explanation of the lifecycle of a gRPC call: https://github.com/GoogleCloudPlatform/gcloud-node/issues/1164#issuecomment-198083789)

I opened an issue on gRPC about it (https://github.com/grpc/grpc/issues/597

[2016-06-02 23:35] adamkundrat commented on #1356
yep, I'm using version 0.34.0.

I'm having hard time to replicate the memory leak by performing immediate operations as it seems to increase over time instead. I'll try to put something together today and come back to you.

[2016-06-02 23:55] dennismartensson commented on #1356
Hi @adamkundrat and @stephenplusplus I have also seen this problem running nodejs 4.2.4 LTS and gcloud ^0.32.0 when running a lot of topic.publish

Please let me know how I can help!

[2016-06-03 00:19] stephenplusplus commented on #1356
I put together a repo that might be a framework which we can test this: https://github.com/stephenplusplus/gissue-1356 -- feel free to modify anything to get it to reproduce, even if it takes leaving it running for 9 hours. 🕘

[2016-06-03 00:44] adamkundrat commented on #1356
sorry @stephenplusplus I didn't see your post early enough and went straight into coding. I just put this attached example together trying to replicate similar way we are using it. You can see over time the memory usage is growing. I did this in last hour I hope I didn't introduce another memory leak...

I tried not to use any external libraries to isolate this. I hope async (eachLimit) is not res

[2016-06-03 01:08] adamkundrat commented on #1356
Here is a gist without using async - eachLimit: https://gist.github.com/adamkundrat/1dc2631e260a2f380d187fb9a0ce1825

I ran it for few minutes and you can see memory usage is growing:
Date: Fri Jun 03 2016 10:57:46 GMT+1000 (AEST), Memory: 37.52Mb
Date: Fri Jun 03 2016 10:58:46 GMT+1000 (AEST), Memory: 83.75Mb
Date: Fri Jun 03 2016 11:00:46 GMT+1000 (AEST), Memory: 140.9Mb
Date: Fri Jun 03 2016 11

[2016-06-03 12:02] mik115 commented on #1324
hi, any news about my question?
Thanks

[2016-06-03 18:28] stephenplusplus opened #1357 "maxRetries not passed through to GrpcService"
Caught here: https://github.com/GoogleCloudPlatform/gcloud-node/issues/1356#issuecomment-223667333

[2016-06-03 18:40] stephenplusplus commented on #1357
Also, it needs to be renamed to `retries` -- retry-request expects `retries`, not `maxRetries`.

[2016-06-03 19:10] stephenplusplus commented on #1356
I've adapted your test to one that can switch between using gRPC-only and gcloud-node: https://github.com/stephenplusplus/gissue-1356/blob/master/test-2.js

I noticed you're bypassing errors that `publish()` receives, including many 429s (too many requests, QPS limit reached). Even though you aren't slowing for those, gcloud-node uses an exponential backoff retry strategy, which will make the same

[2016-06-03 22:57] dennismartensson commented on #1356
Hi,

I think that could make sense. I have just made some changes and are deploying them to some of our servers so we can see if those machines gets the same problem when only postings ones a second on to topics. Instead of around 10 times per second per topic.

[2016-06-05 22:21] adamkundrat commented on #1356
Thanks @stephenplusplus
Will test it on our servers and let you know the result.

[2016-06-06 14:00] zackharley commented on #1331
Hi @pcostell, any update?

[2016-06-06 17:29] jmdobry commented on #1347
I have never encountered this with GAE. As far as I know, `npm install --update-binary` should have worked. Pinging @JustinBeckwith

[2016-06-06 17:41] stephenplusplus commented on #1345
@pcostell tried again to confirm I wasn't missing anything. I'm logging the error response object directly from the call to gRPC [here](https://github.com/GoogleCloudPlatform/gcloud-node/blob/master/lib/common/grpc-service.js#L270) and I just get the code 9 and nothing else.

[2016-06-06 19:06] jgeewax opened #1361 "Support custom encryption keys for storage"
Can we support custom encryption keys for files uploaded?

Spec is here: https://cloud.google.com/storage/docs/encryption#customer-supplied

[2016-06-06 20:11] pcostell commented on #1345
Hmm I'll look into why it doesn't get propagated, I'm not sure if it is a gRPC issue or a public/internal visibility issue.

[2016-06-06 20:14] pcostell commented on #1331
Still looking into it. I was finally able to get a windows machine up and running. I get the "existing connection was forcibly closed by the remote host" issue, which I think may be related to https://github.com/grpc/grpc-java/issues/412. However, I don't seem to get the GOAWAY notifications.

[2016-06-06 20:22] #1330 closed

[2016-06-06 20:28] #1297 closed

[2016-06-06 20:37] #1357 closed

[2016-06-06 21:24] JustinBeckwith commented on #1347
I can't find any documentation on "npm install --update-binary" - so I have no idea what that really is *scratches head*.

[2016-06-06 21:24] JustinBeckwith commented on #1347
Also - if you are using the default deploy path - we don't cache binaries or packages in between deploys.  We do no caching, so you get new binaries every time.

[2016-06-07 02:05] adambuczynski opened #1362 "Change `gcloud-node` to `gcloud` in documentation"
See https://googlecloudplatform.github.io/gcloud-node/#/docs/v0.35.0/guides/authentication

It mentions `gcloud-node` while the package seems to have been renamed to `gcloud` in the meantime.

[2016-06-07 02:08] stephenplusplus commented on #1362
It's kind of a naming overload. The package on npm is `gcloud`, but the repo name and officially recognized name is `gcloud-node` to distinguish it from `gcloud`, the CLI command for the cloud SDK (https://cloud.google.com/sdk/), as well as the other client libraries in other languages, like gcloud-php, gcloud-ruby, etc. Does that explain it, or did I miss something in that doc that needs to be co

[2016-06-07 02:16] adambuczynski commented on #1362
Hmm.. the reason I brought this up as an issue, is because based on that documentation I tried to do an `npm install gcloud-node`, which failed, and it took me a little while to realise the package was actually called `gcloud`.

I assume I'm not the only one to get confused by that :)

[2016-06-07 04:51] adambuczynski opened #1363 "Links in overview menu's do not link to the proper methods"
See the following pages (amongst others):

https://googlecloudplatform.github.io/gcloud-node/#/docs/v0.35.0/storage/file
https://googlecloudplatform.github.io/gcloud-node/#/docs/v0.35.0/storage/bucket

The links in the overview at the top to the `delete` method in fact take you to the `acl.delete` method. If you hover over both links, they both are linked to `?method=delete`. The same is true for

[2016-06-07 12:53] zackharley commented on #1331
Hmmm, alright. I'll try to do some digging myself to see if I can find anything. Thanks.

[2016-06-07 13:16] jduval commented on #1347
Ok, I finally deployed to GAE successfully.

I used [Dockerfile base](https://github.com/GoogleCloudPlatform/nodejs-docker/blob/master/base/Dockerfile) and update it like this :

- change node version to 6.2.0
- remove semver installation and the node install script
- add after [https://github.com/GoogleCloudPlatform/nodejs-docker/blob/master/base/Dockerfile#L21](https://github.com/GoogleCloudPlat

[2016-06-07 13:35] #1362 closed

[2016-06-07 13:36] stephenplusplus commented on #1362
I updated it to hopefully avoid confusion. Thanks!

[2016-06-07 16:18] jmdobry commented on #1347
Interesting, have you tried adding `"engines": { "node": "6.2.0" }` to your `package.json` instead?

[2016-06-07 16:43] jduval commented on #1347
I did, and here is `app.yaml`

[code]

[2016-06-07 16:54] jmdobry commented on #1347
Hmm, were you ever able to try `npm install --update-binary`? One way to do that would be to add `"postinstall": "npm install --update-binary"` to the `scripts` in your `package.json`. Now, was the original deployment itself failing, or was it deploying and the app failing to start? The "app unhealthy" error would indicated that the initial `npm install` succeeded, but that the app failed to start

[2016-06-07 16:58] callmehiphop commented on #1363
Thanks for opening this, @adambuczynski !

[2016-06-07 16:58] #1363 closed

[2016-06-07 18:28] JustinBeckwith commented on #1347
@jduval can you share your package.json?

[2016-06-07 18:39] adambuczynski commented on #1363
No worries, thanks for fixing.

[2016-06-07 18:39] adambuczynski commented on #1362
Cheers, thank you!

[2016-06-07 20:21] stephenplusplus commented on #1344
@1N50MN14 be sure to let us know how it goes :)

[2016-06-07 21:15] stephenplusplus commented on #1344
No problem, and I'm sorry to hear that :( Fingers are crossed over here, too. Take your time!

[2016-06-07 21:27] #1299 closed

[2016-06-08 07:05] mik115 opened #1368 "Datastore emulator error on query"
Hi,
I started using the datastore emulator, installed with this command

    gcloud components install cloud-datastore-emulator
version 1.1.0

setted

    apiEndpoint: 'http://127.0.0.1:8082'

When  i run a simple test code that try to save an entity on datastore i obtain this error:

    [datastore] java.lang.RuntimeException: java.lang.NoClassDefFoundError: net/sourceforge/yamlbeans/YamlExceptio

[2016-06-08 08:15] jduval commented on #1347
@jmdobry I just try to add and deploy with `"postinstall": "npm install --update-binary"` and  `runtime: nodejs`, but it fails at building.
Otherwise it was deploying but the app failing to start. I could see the GAE version with instances and browsed logs.

@JustinBeckwith here is my package.json
[code]

[2016-06-08 11:56] stephenplusplus commented on #1368
cc @pcostell

[2016-06-08 13:49] pcostell commented on #1368
This looks like a bug in our jar minimizer -- I'll take a look. In the mean time, you may be able to make progress by running the emulator directly `$GCLOUD_PATH/platform/cloud-datastore-emulator/cloud_datastore_emulator` and passing it the `--testing` flag, which won't try to read the `index.yaml` file.

[2016-06-08 17:26] bamapookie opened #1370 "GCP Node.js How-To Guide contains conflicting information regarding app.yaml handlers"
In the Security section of the Using app.yaml page (https://cloud.google.com/appengine/docs/flexible/nodejs/configuring-your-app-with-app-yaml#security), the documentation mentions that the handler script property is ignored and the handler login property is only used by Go, Python, and Java.  In the Securing URLs for cron section of the Scheduling Jobs with cron.yaml page (https://cloud.google.co

[2016-06-08 17:29] stephenplusplus commented on #1370
@jmdobry @jonparrott @JustinBeckwith any ideas?

[2016-06-08 17:54] jonparrott commented on #1370
@JustinBeckwith can give an authoritative answer.

[2016-06-08 19:38] filipjs commented on #1349
Update is in progress, should be done shortly

[2016-06-08 19:51] filipjs commented on #1352
Yes, we are only supporting JSON specification (so no date type unfortunately). Changing other objects to their string representation should work, like in the linked code sample.

[2016-06-08 20:20] ethanbao commented on #1349
The updated logging protos are now available at https://github.com/googleapis/googleapis/tree/master/google/logging

[2016-06-08 20:20] zbjornson commented on #1352
That's reasonable. Date type is the only one I'm actually sad not to have, but when #1348 gets resolved then at least the entry timestamp will be settable and searchable.

[2016-06-08 20:51] stephenplusplus commented on #1349
Thanks, @ethanbao!

@zbjornson PR incoming.

[2016-06-08 20:54] #1349 closed

[2016-06-08 20:55] stephenplusplus commented on #1349
@zbjornson until our next release, you can install from master:

[code]

[2016-06-08 20:55] jmdobry commented on #1347
I just tested with your configuration, and it worked.

I used the following to deploy:

__app.yaml__
[code]
__package.json__
[code]
app.js
[code]

[2016-06-08 20:56] zbjornson commented on #1349
Thank you all!

[2016-06-09 19:26] stephenplusplus commented on #1345
@pcostell going to assign to you just to make filtering our issues a bit easier.

[2016-06-09 19:27] bamapookie opened #1371 "cron support in node.js App Engine"
I apologize if this is the wrong place for this, but I am trying to deploy a node.js app to the App Engine with a cron job.  I added the cron.yaml file to the app and deployed, but the job never gets executed.

cron.yaml:

    cron:
    - description: test cron job
      url: /api/crontest
      schedule: every 1 mins

The endpoint exists in my app and I can hit it directly from the browser, but i

[2016-06-09 19:28] #1086 closed

[2016-06-09 19:30] stephenplusplus commented on #1371
This repository is for the [`gcloud`](http://www.npmjs.com/gcloud) Node module. I think you'll have good luck posting this question to StackOverflow under the right keywords (node, appengine, google cloud platform). After you post, please come back here and drop a link.

[2016-06-09 19:30] #1371 closed

[2016-06-09 19:32] bamapookie commented on #1371
Thanks, Stephen++.  Here is the link: http://stackoverflow.com/questions/37734030/cron-support-in-node-js-app-engine

[2016-06-09 19:40] bamapookie commented on #1371
@stephenplusplus Should this have been asked in the nodejs-docker project (https://github.com/GoogleCloudPlatform/nodejs-docker)?

[2016-06-10 02:49] pcostell commented on #1368
This should be fixed in the next version of the Cloud Datastore emulator. It will go out with a future version of the Cloud SDK, but if you'd like to get it early you can [download it here](storage.googleapis.com/gcd/tools/cloud-datastore-emulator-1.1.1.zip).

[2016-06-10 02:49] #1368 closed

[2016-06-10 06:33] mik115 commented on #1368
@pcostell thanks for the answer,
unfortunately your link sends on a 404 github page.

[2016-06-10 10:49] stephenplusplus commented on #1368
Fixed the link :)

[2016-06-10 15:16] bamapookie commented on #1371
I found the answer.  I missed the previous page in the docs (here: https://cloud.google.com/appengine/docs/flexible/java/yaml-configuration-files) that mentioned needing to run `gcloud preview app deploy cron.yaml`.

[2016-06-10 17:04] stephenplusplus commented on #1371
Nice, thanks for coming back to share the answer!

[2016-06-10 17:36] callmehiphop opened #1373 "Add support for File rewrite operations."
This appears to be new! [Upstream docs](https://cloud.google.com/storage/docs/json_api/v1/objects/rewrite). This operation also support [encryption key headers](https://cloud.google.com/storage/docs/encryption#customer-supplied).

[2016-06-10 17:38] pcostell commented on #1368
Thanks @stephenplusplus

[2016-06-10 17:54] #1361 closed

[2016-06-10 19:22] zackharley commented on #1331
Just a heads up, I also ran the the *`index.js`* script that @stephenplusplus mentioned above on an Ubuntu Mate VM after following the instructions specified above and I'm still receiving the same error:
``{ [Error: Bad Request] code: 400, metadata: Metadata {_internal_repr: {} } }``

[2016-06-10 19:59] zackharley commented on #1331
I used tested with both the LTS (4.4.5) and Current (6.2.1) versions of Node.js.

[2016-06-11 03:29] JustinBeckwith opened #1375 "Add support App Engine Admin API"
We have an Admin API (service management) for App Engine here:
https://cloud.google.com/appengine/docs/admin-api/reference/rest/

It's a pretty basic CRUD / REST style API, but it would be great to have wrappers that make it easier to use.

[2016-06-12 20:45] ajagnanan opened #1376 "Datastore queries for IN and NE"
Is there a timeline for when datastore will include IN and Not Equals filters? Or if it will be supported?

[2016-06-13 00:37] stephenplusplus commented on #1376
// @pcostell

Also, what is the ideal venue for questions like these?

[2016-06-13 02:48] sankalpk opened #1377 "Incorrect memcache url in app.yaml"
In appengine/express-memcached-session/app.yaml the MEMCACHE_URL is listed as localhost:11211, when it should actually be memcache:11211

[2016-06-13 05:45] susanlinsfu opened #1378 "gRPC error messages are not the same as API error messages"
I have this code:

[code]

What is happening is I call this url the first time and it inserts the entities it needs to into the 3 tables. I call it again, but as you can see when I call it again I am trying to insert the same 3 entities with the same key and this is not allowed, but this is exactly what I am testing. So I am expecting the error message of **_Error: entity already exists_** as it h

[2016-06-13 08:07] jduval commented on #1347
I try without `threadsafe` like you did. Building is OK, but still have this mismatch version issue.

[2016-06-13 11:09] #1345 closed

[2016-06-13 11:09] stephenplusplus commented on #1345
#1378 will track the error message improvements.

[2016-06-13 11:10] stephenplusplus commented on #1377
Want to send a PR over to the nodejs-docs-samples repo? https://github.com/GoogleCloudPlatform/nodejs-docs-samples/blob/master/appengine/express-memcached-session/app.yaml

[2016-06-13 11:11] #1377 closed

[2016-06-13 11:11] stephenplusplus commented on #1377
This issue was moved to GoogleCloudPlatform/nodejs-docs-samples#123

[2016-06-13 11:13] stephenplusplus commented on #1375
Added it to the list here: #1338.

[2016-06-13 11:13] #1375 closed

[2016-06-13 13:49] stephenplusplus commented on #1378
We're having an issue getting Datastore's intelligent error reporting through the request library we're using, gRPC. I'm not sure which layer to place the fault, but @pcostell is looking into it.

[2016-06-13 14:22] DinaWork opened #1379 "Apache Avro library failed to parse file - when uploading avro file"
here is a reference to the issue
http://stackoverflow.com/questions/37790813/apache-avro-library-failed-to-parse-file-nodejs

also had to add avro formats in gcloud/lib/bigquery files.

[code]

[2016-06-13 14:45] stephenplusplus commented on #1379
Thanks for the bug catch-- PR incoming. I think the problem you're having is because you're uploading the actual zip file. You'll have to extract the .avro file first before BigQuery can handle it.

[2016-06-13 14:46] stephenplusplus commented on #1379
Also, in case you find it useful, we have a built-in event emitter to the Job object:

[code]

[2016-06-13 15:00] DinaWork commented on #1379
no, It isn't the zip file.. I extracted it..
I attached it here...

On Mon, Jun 13, 2016 at 5:45 PM, Stephen Sawchuk <notifications@github.com>
wrote:

[2016-06-13 15:05] stephenplusplus commented on #1379
Okay, sorry that I missed that. After making the fix you pointed out to add support for AVRO files, I was able to import the .avro file successfully:

[code]

Can you try it this way to help track down where the problem is coming from?

[2016-06-13 15:20] stephenplusplus commented on #1379
PR sent with the AVRO fix: #1380.

[2016-06-13 16:58] pcostell commented on #1378
@stephenplusplus Can we re-open this over on the Datastore side? This is actually an issue with the protocol -- gRPC sends error messages via headers and many of our error messages contain pretty-printed protos which include new lines which cannot be included so the whole message gets stripped.

We are evaluating switching to use (Status.detail)(https://github.com/googleapis/googleapis/blob/master

[2016-06-13 17:07] DinaWork commented on #1379
Yes, it works now. Thanks!!
Though I still have some open issues:

a) This works only for a table which has the same schema,
But when trying to upload to an empty table with no schema - it doesn't
work.

b) In general: how do I use gcloud for uploading jsons with their schema -
to a new table (documentation isn't clear enough)

On Mon, Jun 13, 2016 at 6:20 PM, Stephen Sawchuk <notifications@github

[2016-06-13 17:08] stephenplusplus commented on #1378
That makes sense. Are there any public discussions that we can subscribe to? Until it is supported upstream, this issue works fine for our tracking purposes.

[2016-06-13 17:26] stephenplusplus commented on #1379
A) Good question. The official API request we make when uploading to a new table is [Jobs: insert](https://cloud.google.com/bigquery/docs/reference/v2/jobs/insert), specifically a `load` operation. The request body is outlined [here](https://cloud.google.com/bigquery/docs/reference/v2/jobs#resource-representations), and the description for `schema`:

The UI handles detecting a schema from the AVRO

[2016-06-13 19:29] pcostell commented on #1376
You can redirect these to the google-cloud-datastore github project.

[2016-06-13 19:39] stephenplusplus commented on #1376
This issue was moved to GoogleCloudPlatform/google-cloud-datastore#127

[2016-06-13 19:39] #1376 closed

[2016-06-13 19:47] stephenplusplus commented on #1356
@adamkundrat did you see any improvements?

[2016-06-13 20:08] zackharley commented on #1331
@pcostell @stephenplusplus Don't worry too much about this. It's looking like we're going to use something besides Datastore at this point.

[2016-06-13 20:14] stephenplusplus opened #1381 "rename `file#setKey` to `file#setEncryptionKey`"
It's just more clear.

[2016-06-14 00:22] adamkundrat commented on #1356
sry for the delayed response. I was away for the best part of the week. Your suggestion actually helps and the memory consumption is much better now. Thanks heaps!

[2016-06-14 01:32] stephenplusplus commented on #1356
No problem, and that's great!

[2016-06-14 01:32] #1356 closed

[2016-06-14 03:32] leo-one opened #1382 "Error on installation"
I am receiving the error below when execute "npm install gcloud --save"

[code]

[2016-06-14 10:08] jgeewax opened #1383 "Our customer-supplied key link seems broken :("
https://googlecloudplatform.github.io/gcloud-node/#/docs/v0.36.0/storage/bucket?method=upload

Looks like this didn't render:

[code]

[2016-06-14 10:37] jgeewax commented on #1381
![](https://makeameme.org/media/templates/250/happy_homer.jpg)

[2016-06-14 12:02] stephenplusplus commented on #1382
@murgatroid99 any ideas?

[2016-06-14 16:41] #1381 closed

[2016-06-14 16:41] #1383 closed

[2016-06-14 21:25] dennismartensson opened #1385 "Datastore throwing Error: Not Found"
I have a nodejs application that is using both Google Stackdrive and Google Pub/Sub today.
I do auth using
[code]
And every thing is working well. But when I today did try to add datastore to the services I am using I did run in to problems. I do use the exact same code to auth and then call.

`var datastore = gcloud.datastore();`

But when I try to do some thing with the `datastore` api I get bac

[2016-06-14 21:44] iansmith commented on #1331
@pcostell After spending a lot of time looking around for help about how to run the emulator locally, I found this issue.  I got pretty far but eventually it fails because of a missing class in the jar:

[code]

What works: After I found your comment about how to run the emulator with --no-legacy, the emulator comes and definitely gets hit by the requests from a client (same machine) when I set
[c

[2016-06-14 22:25] pcostell commented on #1331
@iansmith PTAL at https://github.com/GoogleCloudPlatform/gcloud-node/issues/1368. The issue will be fixed in the next release of the Cloud SDK, I included a zip of the emulator if you want to run it before that release happens.

[2016-06-15 04:22] murgatroid99 commented on #1382
I don't know. I've never seen that before. It looks like some sort of error in the npm install process.

[2016-06-15 08:04] dennismartensson commented on #1385
So I think the problem could be some where else because when using the [https://console.cloud.google.com/datastore](https://console.cloud.google.com/datastore ) I get the same error in a popup.

[2016-06-15 08:21] dennismartensson commented on #1385
Talked to Google cloud support and its a problem with my project and not the client.

Sorry for adding it here.

[2016-06-15 08:21] #1385 closed

[2016-06-15 16:02] iansmith commented on #1331
@pcostell Thanks for the update and the pointer to #1368.  I replaced the `CloudDatastore.jar` in `gcloud/google-cloud-sdk/platform/gcd` and tried to run it with the gcd.sh script.  It fails because perhaps the entry point is different in the new version?

[code]

I tried the "old" way of starting it, but with the new jar file substituted for the original in `gcloud/google-cloud-sdk/platform/cloud

[2016-06-15 16:46] mik115 opened #1386 "Datastore error on great amount of data"
Hi,
i'm facing a real strange issue.
I've a datastore save request that goes well when the entity is small,
but when we try to save a great amount of data we receive this error

    { handle: 2,
    type: 'error',
     className: 'Error',
     constructorFunction: { ref: 8 },
     protoObject: { ref: 9 },
     prototypeObject: { ref: 1 },
     properties:
      [ { name: 'stack', attributes: 2, pr

[2016-06-15 16:49] stephenplusplus commented on #1386
Sorry you're having this issue :( Is it possible to put a small sample together, or otherwise the actual gcloud-node code you're using?

[2016-06-15 18:01] yy-kyle commented on #1331
@iansmith I got it working from the given link; you have to use the `./cloud_datastore_emulator` script included in the zipfile.

[code]

[2016-06-15 18:18] iansmith commented on #1331
Ah, thanks.

[2016-06-16 04:01] leo-one opened #1387 "SyntaxError on authentication command"
The simple code below throws a SyntaxError.

[code]

[code]

[2016-06-16 04:03] leo-one commented on #1382
I removed the node_modules folder and reinstalled all the packages again.
Then it worked.

[2016-06-16 04:24] leo-one commented on #1387
I created a empty project with only gcloud-node installed and the authentication worked. It also successfully made a safeSearch request.

I think that the error in this issue can be an conflict with other package. The package of the real project are:
[code]

[2016-06-16 06:58] mik115 commented on #1386
hi,
here is a really small test file to verify the behaviour.

            'use strict';

            const gcloud = require('gcloud')({
                projectId: [project ID],
                keyFilename: [keyfilePath]
            });
            const datastore = gcloud.datastore();
            const _ = require('lodash');

            var str = new Array(500000).join("a");

            debugge

[2016-06-16 14:04] stephenplusplus commented on #1386
Thanks for putting that together. @pcostell any insight on this one? Thanks!

[2016-06-16 14:04] stephenplusplus commented on #1382
Thanks for sharing the fix!

[2016-06-16 14:04] #1382 closed

[2016-06-16 16:15] stephenplusplus commented on #1387
The code from the first post worked for me. Is it possible to get a sample repo that I can clone to see the failure? The details of the Vagrant VM and how Node was installed might be relevant as well.

[2016-06-16 17:19] pcostell commented on #1386
It looks like you've exceeded the maximum size for an entity: https://cloud.google.com/datastore/docs/concepts/limits

Not sure why you don't get a nicer error though. @stephenplusplus can see what the request/response from Datastore is?

[2016-06-16 17:22] stephenplusplus commented on #1386
@pcostell would that relate to #1378? I think as of now, we don't have a way to pull out any detailed error messaging.

[2016-06-16 17:24] pcostell commented on #1386
Ah yes that's likely the issue -- although I don't understand why a Bad request turns into the given node stack trace.

[2016-06-16 17:25] stephenplusplus commented on #1386
Yeah, I don't understand that either. That didn't happen for me from the sample code provided, maybe it was from some temporarily malformed code, @mik115?

[2016-06-17 16:03] mik115 commented on #1386
No temporary malformed and yes I reached the upper entity limit size of 1MB.
I've already fixed the problem chunking my data and saving they in separate entities.

Thanks anyway for the really quick responses

[2016-06-20 03:55] leo-one commented on #1387
@stephenplusplus If you run the same code with the dependences listed above, you'll see the error.
Please declare those dependences in package.json and run npm install. Then run the code.
The version of the Node.js is 5.5.0 and it was installed through Node Version Manager (https://github.com/creationix/nvm).

[2016-06-20 10:21] wahengchang opened #1388 "Urgent: Firebase file upload not working"
As showed in npm/firebase, _Server side Firebase npm module is not support. Instead, you can use the gcloud Node.js client_ .
![image](https://cloud.githubusercontent.com/assets/5538753/16190567/8b7312cc-3712-11e6-9057-a41e05a18a45.png)

///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////
[code]
///////////////////////////

[2016-06-20 12:33] stephenplusplus commented on #1388
Where did you get `firebase-key.json`?

[2016-06-20 12:39] jgeewax commented on #1388
Also - does the service account inside `firebase-key.json` have access to the bucket you're trying to access?

[2016-06-20 12:43] stephenplusplus commented on #1387
I've tried this, but the script still executes normally.

[2016-06-20 19:36] stephenplusplus commented on #1386
Great :) We're working on providing more helpful error messages in #1378. Feel free to re-open this if you think there's more we can do.

[2016-06-20 19:36] #1386 closed

[2016-06-20 19:37] stephenplusplus commented on #1370
@JustinBeckwith Friendly ping!

[2016-06-20 23:12] JustinBeckwith commented on #1370
Yeah the docs are a little off here.  The `login` and `script` properties won't do anything with node.js.  Some of the features you're looking at only really make sense in the context of a runtime that's trying to be compatible with App Engine standard (like python, java, and go).

If you're trying to lock down an individual endpoint so only logged in users or admins can access a page, I'd suggest

[2016-06-20 23:45] stephenplusplus commented on #1370
Thanks @JustinBeckwith. I'm going to close since this is a tracker for issues with our client library for the Google Cloud APIs. Feel free to continue discussing if you have any more questions @bamapookie.

[2016-06-20 23:45] #1370 closed

[2016-06-21 00:36] karthiksekarnz commented on #1338
Guys, I would really like to see a cloud endpoints and CDN.  I might deploy a loopback api gateway with cloud datastore in the meantime.

[2016-06-21 00:42] jasonpolites commented on #1338
Would it make sense to keep the discrete source issues open so users can still comment/upvote a specific issue?  Might help determine a customer-driven priority.

[2016-06-21 00:44] stephenplusplus commented on #1338
Having multiple issues led to repeated issues and lots of noise. I'd like to see how far we can stretch making this one issue work. Anyone can feel free to vote for their wanted APIs here / +1 the last person's comment that requested something. Ultimately, @jgeewax will officiate the ordering of the implementations.

[2016-06-21 00:46] jasonpolites commented on #1338
Upvote this comment if you want Cloud Functions support!  ;)

[2016-06-21 01:52] wahengchang commented on #1388
I am a user of gcloud for a year, and my upload server have been runing for 6-8month. I did the same as what I did before in google storage, 1- create bucket , 2- create service account and generate key.json , 3- add to node.js project

Creating service account:
![image](https://cloud.githubusercontent.com/assets/5538753/16215545/ac4dd7a6-3795-11e6-80b7-defd9f334e72.png)

How the firebase-key.json

[2016-06-22 07:41] uqutub opened #1389 "upload or download file error"
[code]
**Whenever i try to upload or download file i got this error.**
[code]

[2016-06-22 11:41] stephenplusplus commented on #1389
I haven't been able to reproduce. As it is currently, we don't use the module `mime`. Could this be coming from a line of code that wasn't in your example? If not, a simple reproducible sample repo would be great to help debug.

[2016-06-22 11:42] stephenplusplus commented on #1388
Any ideas @jgeewax?

[2016-06-22 11:46] stephenplusplus commented on #1387
@leo-one try Node's stable release, v6.

[2016-06-22 18:00] mziccard commented on #1388
It might be interesting to know what is the role of `peter-2` for the `petertest-25efd` project. (You should be able to see that at [https://console.cloud.google.com/iam-admin/iam](https://console.cloud.google.com/iam-admin/iam)). And what are the ACLs for the `petertest-25efd.appspot.com` bucket ([here](https://cloud.google.com/storage/docs/access-control/create-manage-lists) you can get informat

[2016-06-22 18:05] jgeewax commented on #1388
Can you see the bucket when you browse the storage browser? If so, can you look at the ACLs and make sure that the service account you created has the "Owner" permission on the bucket?

[2016-06-23 13:11] stephenplusplus commented on #1344
@1N50MN14 I think everything should be okay now, so I'll close this out. If you're still having issues after testing, just let me know.

[2016-06-23 13:11] #1344 closed

[2016-06-23 13:51] jgeewax commented on #1388
Any update ? I noticed the issue had "Urgent" in it, so hoping to help get this resolved quickly!

[2016-06-23 18:51] #633 closed

[2016-06-24 05:23] mik115 opened #1390 "Get kinds list from datastore"
Hi,
I'd like to retrieve a complete list of kinds from datastore.
There' s any way using gcloud-node?

thanks in advance

[2016-06-24 09:13] Gr1g0ry opened #1391 "File inconsistent after rewriting"
1. I save "SOME TEXT" to Google Cloud Storage file (__OK__)
1. I read "SOME TEXT" from Google Cloud Storage file (__OK__)
1. I save "OTHER TEXT" to Google Cloud Storage file (__OK__)
1. I read "OTHER TEXT" from Google Cloud Storage file (__ERROR__). I get "SOME TEXT" instead of "OTHER TEXT".

There are correspondent mocha tests:

[code]

There are tests results:
[code]

But [Google Cloud Storage d

[2016-06-24 09:15] Gr1g0ry commented on #1391
It is interesting that I see correct "OTHER TEXT" through Google Console web inerface after performing tests.

[2016-06-24 10:17] richtera opened #1392 "bucket api using a lot of memory due to retry-request"
Since the bucket api is using the retry-request module it's growing my node heap to around 7G due to large files being up and downloaded. Node is not willing to give up all that memory right away. Since I really don't need retry for such large requests and would rather know when an error happens due to rate restrictions is there a way to turn of the usage of retry-request?
Thanks
Andy

[2016-06-24 13:26] stephenplusplus commented on #1390
@pcostell

[2016-06-24 13:34] jgeewax commented on #1390
AFAIK there actually isn't a reliable way to do that in an authoritative way. I believe we have a cache of the Kinds (updated every so often, for the UI), but it's not a reliable strongly-consistent method of figuring out which kinds are in your Datastore...

[2016-06-24 13:39] massimiliano-delia commented on #1324
Hello guys!
Any answer here?
In my honest opinion this is a key question and should be answered asap!

[2016-06-24 13:44] jgeewax commented on #1391
Are you 100% certain that these things are being executed in exact order? For example, is it at all possible that the it's may be executing in somewhat parallel order?

Since reads are faster than writes, it wouldn't be surprising if the reading "OTHER TEXT" test executed before the writing "OTHER TEXT" had completed.

Do you see the same error if you string these together? In other words, if you

[2016-06-24 13:50] jgeewax commented on #1391
Also, can you log the output of the second save just to be 100% certain that it's not throwing an error?

[2016-06-24 13:52] mik115 commented on #1390
hi,
thanks @jgeewax for the quick reply.
There's any intention to implement this basic functionality in the future? and if the response is yes there are any deadlines?

thanks

[2016-06-24 14:00] stephenplusplus commented on #1391
I think the JSON API is having problems -- (JJ: cc them please!)

The new data is saved successfully, but the link (https://storage.googleapis.com/stephen-has-a-new-bucket/1466776492878) returns the first data you saved to the object.

@Gr1g0ry -- the new data is available for download from the console, but see if it's still the stale data when you go to: https://storage.googleapis.com/{bucket}/{f

[2016-06-24 14:03] stephenplusplus commented on #1392
You can disable the retries by providing `{ maxRetries: 0 }` to Storage:

[code]

Let me know if that helps.

[2016-06-24 14:24] richtera commented on #1392
That will prevent a retry, but I need it to revert to using a plain request rather than a retry-request. The retry-request will pipe all of the request and response data into a streamcache which is what's taking up all the memory. I need to be able to disable caching of the stream data in memory.
Thanks
Andy

[2016-06-24 14:32] stephenplusplus commented on #1392
Ah, I see. I didn't realize stream-cache was keeping that in memory indefinitely. I'll see if I can think of something to release those after we don't need the cache stream anymore.

[2016-06-24 14:33] richtera commented on #1392
It's not indefinitely and does get eventually released but node does not free up the underlying OS memory for quite a while and maybe never. And for large files I would rather have it fail than clobbering memory to this extent.
Thanks
Andy

[2016-06-24 16:11] stephenplusplus commented on #1324
@jgeewax anyone from the Vision team who can help?

[2016-06-24 16:17] stephenplusplus commented on #1392
I would guess the buffers a stream-cache instance retains go out of scope when the stream itself goes out of scope. But I think we could try only retaining that data until we pipe a single stream to it.

In other words, I believe stream-cache now is holding internally all of the data it receives, because it thinks we want to replay them to possibly multiple streams. I think we should modify it to

[2016-06-24 16:19] stephenplusplus commented on #1362
@adambuczynski don't think we didn't appreciate this change, but it looks like we're going to have to stick to `gcloud-node` (https://github.com/GoogleCloudPlatform/gcloud-common/issues/142#issuecomment-228390686).

[2016-06-24 17:43] stephenplusplus commented on #1392
@richtera I made a branch of retry-request that removes stream-cache completely, instead just using a normal passthrough stream to hold data. Can you see if it improves the memory usage in your project?

[code]

[2016-06-24 19:25] mbleigh commented on #1346
+1 to the issue. I've issued a pull request against `google-auto-auth` that would allow for:

[code]

[2016-06-24 19:45] stephenplusplus commented on #1346
Thank you for the PR over there, @mbleigh! What do you think about just not using `google-auto-auth` if a user provides a token?

[2016-06-25 00:50] adambuczynski commented on #1362
@stephenplusplus no worries, I understand the reasoning.

Maybe it could just be made more clear in the documentation that the Node package itself is called `gcloud`.

[2016-06-25 05:09] Gr1g0ry commented on #1391
I'm sure that tests are executed one by one. I mean that next test starts only after perevious has got response from server. I added time output to show it:

[code]
You can see that tests go in right order:

[code]

Sometimes when file is already in bucket I have error on first reading:

[code]

[2016-06-25 05:31] stephenplusplus commented on #1391
I modified the test script to show the problem happens when you use the JSON API directly: https://github.com/stephenplusplus/gissue-1391

[2016-06-25 05:37] wahengchang commented on #1388
![image](https://cloud.githubusercontent.com/assets/5538753/16354901/26074bcc-3ad9-11e6-8db7-832648bb8615.png)

Hi @mziccard  and @jgeewax , because of the deadline, our team decided to use the regular google cloud storage, which we are familiar with and usable. And it will be great to have a config tutorial of storage and firebase, would be very helpful

Thank you

[2016-06-25 13:11] valentinvichnal opened #1394 "Require gcloud throws error"
Hey, when I use gcloud in plain nodejs app it works fine, but with Meteor.js I can't make it to work.

The plain node app installs and runs gcloud and the grpc deps without any error:
[code]
[code]

The Meteor.js app can install gcloud too but it gives the following warnings:
[code]
I can install fast-crc32c, but memcpy gives a lot of error on Windows 8 and can't install it.
Since bytebuffer is on

[2016-06-25 13:39] stephenplusplus commented on #1394
Maybe something in this issue will help? http://stackoverflow.com/questions/37742610/meteor-cant-run-gcloud-on-server-side

bytebuffer is a dependency of protobufjs which is a dependency of grpc, so it's not a dev dependency. Which version of gcloud are you using?

Also, your logs say Meteor is using Node version 0.10.45. Is there a way to use a newer version? We only officially support 0.12 and n

[2016-06-25 13:39] #1394 closed

[2016-06-25 14:46] valentinvichnal commented on #1394
Thanks for the link, I use the 0.36.0 gcloud version.
This meteor version now uses 4.4.5 and not 0.10.45, it wasn't in the log, I just put this line into a wrong block, sorry.
I looked into the bytebuffer source code and memcpy is optional, it only makes copy faster but the code should work without it.

Any advice how should I use Google Datastore without your module?

[2016-06-25 18:13] jgeewax commented on #1388
@mcdonamp -- Can you test this out? Seems weird that things wouldn't work right out of the box....

[2016-06-26 19:53] zbjornson opened #1395 "Storage: file.copy, file.move(, others?) don't accept "gs://" URLs"
I was rather surprised when this command:

[code]

created an object in the original bucket in a "gs:/" subdirectory. I see how to do what I want by passing a file or bucket instead of a string, but it seems like this could easily be supported with something like this:

[code]

(Happy to make a PR with something like that.)

[2016-06-26 20:00] stephenplusplus commented on #1395
I'm totally cool with that. A PR would be great! Only note is to use indexOf instead of startsWith since we still support 0.12. Thanks!

[2016-06-27 04:23] mcdonamp commented on #1388
Firebase Storage is out of the box compatible with Google Cloud Storage, so I'm not really sure why this isn't working.

In your initialization, I assume you replaced everything appropriately:

[code]

Is this a GCP project that you imported to Firebase, or a Firebase project that you created and are now trying to access via GCP?

[2016-06-27 06:17] wahengchang commented on #1388
1 - created a project and bucket in firebase
2 - go to console,
3 - create service-account and download json file
4 - put it in nodejs project
5 - run

should the project created by firebase behave as same as project create on google cloud storage ?

[2016-06-27 06:23] wahengchang commented on #1388
as my observation, their service-key.json is slightly different:

=====================  below is service-key.json generated by google project=============
{
  "private_key_id": "******",
  "private_key": "******",
  "client_email": "******",
  "client_id": "******",
  "type": "service_account"
}

===============  below is service-key.json generated by firebase google project=============
{
  "typ

[2016-06-27 06:51] mcdonamp commented on #1388
Yes, a Firebase project is also a Google Cloud project, so everything should be interoperable. I have used `service-key.json` from GCP land, I've never tried the Firebase `service-key.json`. Try the GCP generated one and see if that works?

[2016-06-27 07:35] wahengchang commented on #1388
That s what I did, there is not a way to generate **_service-key.json_** inside firebase console.

My way is open google cloud console, and select the firebase project, then generate the **_service-key.json_**

[2016-06-27 10:39] richtera commented on #1392
Works great. My memory footprint went from 7G to 700M :)
Thanks.
Andy

[2016-06-27 13:16] stephenplusplus commented on #1387
I'm going to close this out since I can't reproduce. I don't believe this is an issue with our library, but something environment-specific. If you're still stuck, feel free to keep sharing, and I'll gladly help however I can.

[2016-06-27 13:16] #1387 closed

[2016-06-27 13:18] #1390 closed

[2016-06-27 13:20] stephenplusplus commented on #1389
I'm going to close, but if you can share a small repo that I can clone to reproduce the bug, I'll re-open.

[2016-06-27 13:20] #1389 closed

[2016-06-27 13:22] stephenplusplus commented on #1392
Great! Thanks for catching this, it's going to be very appreciated by our users :) I'm going to run it through a few more tests, then merge and release 👍

[2016-06-27 16:17] stephenplusplus commented on #1340
I think I've found a resolution. That was an error from `gcs-resumable-upload`, the module we use to handle resumable file uploads. In the beginning part of trying to resume an upload, it asks the server how much data it already has, so it knows at what point in the file it should start sending data from. The response to that was a 404, because of a caching issue. To track state, that module store

[2016-06-27 16:17] #1340 closed

[2016-06-27 16:29] stephenplusplus commented on #1392
Released the [fix](https://github.com/stephenplusplus/retry-request/commit/1afb91a2b75be74104fb01f67dbc45684fcbcc3b) in retry-request under 1.3.1. gcloud will automatically pick it up in new installs. Thanks again!

[2016-06-27 16:29] #1392 closed

[2016-06-27 16:33] stephenplusplus commented on #1379
@DinaWork - do you mind taking this question to StackOverflow? I think the right eyes from BigQuery members will be able to see it over there, this channel must be off their radar. Please cross-link in your post. I'll be sure to implement any changes to make how we're using BigQuery better for users.

[2016-06-27 16:33] #1379 closed

[2016-06-27 16:33] pcostell commented on #1390
You can do this with a [metadata query][https://cloud.google.com/datastore/docs/concepts/metadataqueries#kind_queries].

There is a snippet there that shows how to get a list of all kinds. This queries your actual data so it will be up-to-date, but as with other global queries it will be impacted by eventual consistency.

[2016-06-27 16:43] mik115 commented on #1390
@pcostell Great!
Thanks for the answer!

[2016-06-27 16:53] mcdonamp commented on #1388
To confirm: both service account keys give the `403`? Additionally, you're initializing the bucket with the correct project and key?

[2016-06-27 16:53] vjameson opened #1396 "npm install fails"
I'm unable to install gcloud:

npm ERR! Darwin 15.4.0
npm ERR! argv "/usr/local/bin/node" "/usr/local/bin/npm" "-g" "install" "gcloud"
npm ERR! node v4.4.5
npm ERR! npm  v3.9.5
npm ERR! path /usr/local/lib/node_modules/gcloud/node_modules/gcs-resumable-upload/cli.js
npm ERR! code ENOENT
npm ERR! errno -2
npm ERR! syscall chmod

npm ERR! enoent ENOENT: no such file or directory, chmod '/usr/local/l

[2016-06-27 16:54] stephenplusplus commented on #1396
I think this is an npm bug. Can you try now?

[2016-06-27 16:54] stephenplusplus commented on #1396
(I republished gcs-resumable-upload)

[2016-06-27 16:55] vjameson commented on #1396
That worked. Thank you!

[2016-06-27 16:55] #1396 closed

[2016-06-27 16:56] stephenplusplus commented on #1396
Great, thank you for letting me know!

[2016-06-27 18:34] Capstan commented on #1391
Are you happening to set `Cache-Control` metadata at all? Is there a way we can get a copy of the request and response headers for each (write plus failed read)?

[2016-06-27 18:44] stephenplusplus commented on #1391
@Capstan can you see if you can reproduce it with this repo: https://github.com/stephenplusplus/gissue-1391 -- just added instructions on how to run from the readme, which will log requests and responses. Feel free to tweak the code in `test.js` if necessary.

[2016-06-27 18:58] stephenplusplus commented on #1391
Got the code to work if we ask for a non-cached copy in the download request:

[code]

Would it be expected for us to automatically set that header in this library when a user requests to download a file?

[2016-06-27 19:58] Capstan commented on #1391
No; we obey the `cacheControl` metadata attached to the object. So now the question is, if you get the object metadata, what does that `cacheControl` say? And did you ask for it?

[2016-06-27 20:36] stephenplusplus commented on #1391
My bucket has a predefinedAcl giving `allUsers` read rights. This is the response right after uploading the file.

[code]

[2016-06-27 21:55] Capstan commented on #1391
If you have a publicly readable object and you've not overridden `Cache-Control`, then you get 3600s by default. It appears to be documented in [XML API Standard Headers](https://cloud.google.com/storage/docs/xml-api/reference-headers#standard) but not in the [JSON API metadata](https://cloud.google.com/storage/docs/json_api/v1/objects#cacheControl).

So, you're getting caching behavior. You can o

[2016-06-27 22:03] stephenplusplus commented on #1391
Good to know, thanks. Does that explain it for your experiences, @Gr1g0ry?

Maybe we should add a cache option to download() that will use the headers I used above. Also, we could put a cache option on upload() that takes a number that would get set for maxAge.

[2016-06-28 06:49] Gr1g0ry commented on #1391
Thank you very much. You investigation is brilliant. I added `cacheControl: "max-age=0" ` it works fine for me.

[2016-06-28 17:52] zbjornson commented on #1395
Thanks. Heading out of town, probably won't get to a PR until ~10 July.

[2016-06-28 18:33] jmdobry commented on #87
I created a Cloud Datastore adapter for the JSData Node.js ORM:

* [js-data-cloud-datastore GitHub repo](https://github.com/GoogleCloudPlatform/js-data-cloud-datastore)
* [js-data-cloud-datastore guide/docs](http://www.js-data.io/v3.0/docs/js-data-cloud-datastore)
* [Main JSData site](http://www.js-data.io/v3.0/)

[2016-06-29 16:34] andreasgrimm commented on #877
I'm able to download a file with the `.download()` method, but using `getSignedURL()` results in the error

`TypeError: bucket.file(...).getSignedURL is not a function`

I'm using a firebase-storage bucket, I have a json key file including `client_email` and `private_key`.
Is this still a ACL / rights issue ?

[2016-06-29 16:45] stephenplusplus commented on #877
Try calling `getSignedUrl` (note the casing). It probably should have been `getSignedURL`, shouldn't it have?

[2016-06-29 17:00] andreasgrimm commented on #877
That works!

and it's what the offical API docs say as well: https://googlecloudplatform.github.io/gcloud-node/#/docs/v0.36.0/storage/file?method=getSignedUrl

... but not this post: https://stackoverflow.com/questions/37824361/generate-download-url-after-successful-upload

... and not this post: https://stackoverflow.com/questions/37868485/secure-external-links-for-firebase-storage-on-nodejs-serv

[2016-06-29 17:01] stephenplusplus commented on #877
No problem! Thanks for sending the edits in to those posts!

[2016-06-29 17:56] lowagner opened #1397 "deleting a nonexistent record from datastore does not return an error"
it would be nice if it did, then we wouldn't have to run a check on the full API response in addition to the error message, before proceeding safely...

only checked on version 0.36

[2016-06-29 18:01] stephenplusplus commented on #1397
@pcostell should we return an error in this case? And if so, what logic should we use to determine an error?

[2016-06-29 18:02] stephenplusplus commented on #1391
Okay, seems simple enough. If anyone stumbles upon this issue and wants something like a `cache` option that I mentioned above, feel free to vote for it / send a PR.

[2016-06-29 18:02] #1391 closed

[2016-06-29 18:03] stephenplusplus commented on #1395
Sounds good, safe travels!

[2016-06-29 18:12] pcostell commented on #1397
This is expected. In particular, the [Datastore API documentation](https://github.com/googleapis/googleapis/blob/master/google/datastore/v1beta3/datastore.proto#L257) states:

[code]

Doing this in the client would require doing a transaction first with a `Lookup`. I'm not sure it makes sense to provide this functionality, as it would require doing multiple round trips to delete. In the case of `d

[2016-06-29 19:02] lowagner commented on #1397
i guess the idea is if you chain deletes; if you delete something, then you always delete something else (which is related to the first).  in the event that someone goes to the "delete" page again, the first delete will go through without issue, and the second delete may fail for weird reasons...  i was just getting the whole nodejs server to crash.

anyhoo, it's something i can check, through the

[2016-06-29 20:55] NawarA opened #1398 "Uncaught TypeError w/ GRPC"
The following error is occurring sporadically, and causing an unrecoverable error in our production process:
[code]

We're using v0.33

[2016-06-29 21:05] stephenplusplus commented on #1398
Is there a chance you've manually installed `grpc` as your own dependency? It seems like a version conflict must have occurred; gcloud-node is being given the wrong version of grpc.

It might not hurt to try upgrading to the latest gcloud, v0.36.0: https://github.com/GoogleCloudPlatform/gcloud-node/releases

[2016-06-29 21:59] #1397 closed

[2016-06-30 18:17] bamapookie opened #1402 "Datastore query fails when including a sort and a filter."
gcloud datastore.runQuery fails with a "412 Precondition Failed" when the query contains a filter.  Below is a mocha test that creates a new datastoreKind, adds a record, then queries for the record.  The only difference between the queries is that the second query contains a filter that should match.

    'use strict';

    var datastore = require('gcloud').datastore({
        projectId: 'test-pl

[2016-06-30 18:34] bamapookie commented on #1402
Note:  Updated to include that the combination of sort and filter causes the failure.

[2016-06-30 20:13] stephenplusplus commented on #1402
// @pcostell

[2016-06-30 20:26] pcostell commented on #1402
The combination of filters requires an index to be defined. You should have an `index.yaml` file that includes:

[code]

[2016-06-30 20:26] #1402 closed

[2016-07-01 01:27] RobertHerhold opened #1403 "Precondition failed when querying with multiple filters"
When querying for a document, I need to check for equality for one field and an inequality for another field:

[code]

According to the docs, 'Inequality filters are limited to at most one property', and I have constructed my query within the parameters of this restriction. I get a `412 Precondition Failed` error, with absolutely no useful information at all:

[code]

First: How do you get more in

[2016-07-01 12:19] bamapookie commented on #1402
Thanks.  I updated the original comment to be consistent with the updated code.

[2016-07-01 12:28] stephenplusplus commented on #1403
@pcostell can help with the second question. On the first, we are waiting for some changes upstream to pass down better errors to us; track here: #1378

[2016-07-02 04:02] jmdobry opened #1406 "Speech API"
Opening this issue to track implementation of the Speech API.

[2016-07-04 05:30] zjaml commented on #1230
Hi, I'm having the same issue.
If the problem is that the emulator does not implement grpc yet, will it eventually implement it? I wish it does.

If the answer is true, should we keep this issue open?

Thanks,

[2016-07-05 05:11] Nabarun opened #1409 "Error: grpc_node.node: invalid ELF header"
I have a node.js app which is deployed in heroku. I am using gcloud to query vision related stuff. It works on my local but in heroku it throws following exception. Please help me to resolve this

[code]

[2016-07-05 05:13] Nabarun commented on #1409
node --version
v4.4.1

[2016-07-06 13:03] stephenplusplus commented on #1398
@NawarA I'm going to close as I can't reproduce. Please reply back if there are still issues.

[2016-07-06 13:03] #1398 closed

[2016-07-06 13:04] stephenplusplus commented on #1388
I'm going to close as this doesn't seem like a gcloud-node bug. Feel free to keep discussing if the problem is still not resolved.