[2015-12-11 23:42] chriseaton commented on #1016
Hi @pcostell,
   Unfortunately there isn't a message like that, here's the err object in full minus my gc project id:

[quick link to json parser](http://json.parser.online.fr/)
[code]

[2015-12-11 23:45] chriseaton commented on #1016
Thanks! That's it, if I change the op to something other than equality it works.

[2015-12-11 23:45] #1016 closed

[2015-12-12 01:52] ajpyoung opened #1017 "ApiError: Insufficient Permission even when the same API wrote the file to Storage"
I'm at a loss here. My node code successfully uploaded files to gcloud Storage but can't seem to make the file public or even change the acl.

The error returned is
[code]
Here's my code

[code]

[2015-12-12 02:29] stephenplusplus commented on #1017
It looks like the only way it's working for me is when I provide a `keyFilename` path to a service account key file. I was able to reproduce the error when trying to update the ACL as an authenticated user.

@jgeewax is this intentional, or is something off here?

[2015-12-12 03:05] pcostell commented on #1016
Turns out the data of the response body is an ascii array which says:
"'Cannot use projection on a property with an equality filter.'"

@stephenplusplus - maybe the body should get parsed into a string?
@eddavisson - any idea why the JSON is getting sent like this?

[2015-12-12 16:03] leibale commented on #527
if i will create a pull request, you will merge?

[2015-12-12 17:09] stephenplusplus commented on #527
That would be great!

[2015-12-12 22:08] vsubramani opened #1018 "Authentication page needs to be updated to reflect the new Credentials UI"
The Credentials UI in Google Developers Console has been updated. Some of the things to be updated:

- The nav hierarchy has changed. The phrases are different, but still recognizable with the old hierarchy.
- New credentials wizard has been added to help guide the users to the right credential type.

Please update the Getting Started -> Authentication in gcloud-node to reflect these changes.

[2015-12-12 22:13] stephenplusplus commented on #1018
Thanks for bringing this up. I just merged https://github.com/GoogleCloudPlatform/gcloud-common/pull/37, so our site is updated as well.

[2015-12-12 22:13] #1018 closed

[2015-12-13 21:44] bradabrams opened #1019 "Need example using compositeFilter"
Given a set of keys, I'd like to return in one batch all the entities with those keys.  Looks like compositeFilter might be the way to go, but I can't figure out how to use them with gcloud-node.. any suggestions or docs for this?

https://cloud.google.com/datastore/docs/concepts/queries#Datastore_Filters

[2015-12-13 22:52] stephenplusplus commented on #1019
We have [`dataset.get()`](https://googlecloudplatform.github.io/gcloud-node/#/docs/v0.26.0/datastore/dataset?method=get) which can take an array of keys and return the entities that match.

For queries, you can use filters: https://googlecloudplatform.github.io/gcloud-node/#/docs/v0.26.0/datastore/query?method=filter, which are formatted into one compositeFilter when the API request is made.

Are

[2015-12-14 00:25] bradabrams commented on #1019
Perfect -- thanks. I somehow missed that in the docs

[2015-12-14 00:26] jgeewax commented on #1019
Cool - closing this out. Feel free to re-open if you have any ideas of how to improve the docs :)

[2015-12-14 00:26] #1019 closed

[2015-12-14 01:50] ajpyoung commented on #1017
One note though, this error was in the Compute Engine environment and not in the app engine environment

[2015-12-14 02:49] ajpyoung commented on #1017
I did an experiment where I set the bucket allUsers as owner. Used the same program to upload pictures to the bucket and change the permissions through Compute Engine and the same error happened

[2015-12-14 06:55] richardkazuomiller opened #1020 "Authentication without using service account key for Datastore not working on GCE"
I have a VM on Google Compute Engine that I'm trying to use to access Datastore but the server rejects the requests. I'm able to fiddle with the datastore on the control panel, so this should be working from the VM but I get `ApiError: Unauthorized` when trying to access it with gcloud-node. I'm guessing it would work if I used the key file but this issue probably needs fixing.

[code]

[2015-12-14 07:01] richardkazuomiller commented on #1020
Update: This definitely works with the service account key file, but the automagical option is broken for me.

[2015-12-14 11:29] stephenplusplus commented on #1020
Thanks for reporting. @jgeewax @jonparrott should an automagical token work with Datastore requests?

[2015-12-14 14:30] jgeewax commented on #1020
Hey @richardkazuomiller , when you created the GCE machine, did you give it access to Datastore? In the UI you have to (I think) explicitly say "this instance can talk to Datastore auto-magically".

[2015-12-14 14:31] jgeewax commented on #1020
(@stephenplusplus: If this is the issue, we should add this to the docs on gcloud-common)

[2015-12-14 15:06] yonah-codefresh opened #1021 "keyFileName relies on .json suffix to parse correctly"
We ran into a very perplexing issue.
Our code suddenly started throwing:
"Error: email is required."
Assuming we missed some api change we added an email configuration property and hit the following error:
"Error: error:0906D06C:PEM routines:PEM_read_bio:no start line"
That error led us to issue #261 after which I double checked our service key files which were fine.
Long story short, our key file

[2015-12-14 15:19] stephenplusplus commented on #1021
Thanks for reporting. This is an issue with another library: [gtoken](http://gitnpm.com/gtoken). I opened your issue there: https://github.com/ryanseys/node-gtoken/issues/5

[2015-12-14 15:19] #1021 closed

[2015-12-14 17:08] stephenplusplus commented on #1016
I believe the body is being returned as a Buffer because that's just how the [request library](http://gitnpm.com/request) we're using does it. We wrap that raw response and return it in our custom `ApiError` type.

I played around with a 412 - Precondition Failed error. The response body is a buffer, but stringified (`err.response.body.toString()`) is something like `no matching index found.` When

[2015-12-14 18:00] jonparrott commented on #1020
@stephenplusplus to clarify, yes, the token from the metadata server should work for accessing everything. Provided, of course, that the instance was created with access to the appropriate scopes.

@richardkazuomiller can you tell us the scopes on your machine? You can do `gcloud compute instances describe instance-name` and it'll be under the `serviceAccounts` key.

[2015-12-14 18:54] toboid opened #1022 "Datastore fails when saving entity with null attribute value"
When trying to save an object that has null property values `gcloud-node` errors:

[code]
prints:

I can see that the definition for `Value` in the [Datastore proto buffers api](https://github.com/GoogleCloudPlatform/google-cloud-datastore/blob/v1beta2-rev1-3.0.2/proto/datastore_v1.proto#L99) does not provide for null values. The [Ruby](https://github.com/blowmage/gcloud-ruby/blob/master/lib/gclou

[2015-12-14 19:08] stephenplusplus commented on #1022
Definitely, that would be very welcome!

// @pcostell - makes sense, right?

[2015-12-14 19:13] stephenplusplus commented on #1017
(Attaching the SO thread: http://stackoverflow.com/questions/34235381/gcloud-apierror-insufficient-permission-even-when-the-same-api-wrote-the-file-t)

@jonparrott - any tips for this one?

[2015-12-14 19:15] pcostell commented on #1022
Makes sense to me. Can we make sure this gets updated for the v1beta3 branch as well? In particular the next version of the API includes NullValue as an explicit field: https://github.com/google/googleapis/blob/master/google/datastore/v1beta3/entity.proto#L119

[2015-12-14 19:20] jonparrott commented on #1017
@ajpyoung can you share with me your compute engine instance's scopes? run `gcloud compute instances describe your-instance-name` and the scopes should be listed under the `serviceAccounts` section.

[2015-12-14 20:12] richardkazuomiller commented on #1020
The output is

[code]

Is my understanding that `https://www.googleapis.com/auth/cloud-platform` should mean the machine has full access to all Cloud APIs including datastore correct?

[2015-12-14 20:14] dhermes commented on #1020
I seem to recall the `email` scope is needed as well (I don't have the full URI ATM, sorry)

[2015-12-14 20:19] richardkazuomiller commented on #1020
Shouldn't the `cloud-platform` scope also allow access to that? I created the VM from the control panel with the `Allow API access to all Google Cloud services in the same project` box checked so if that's not the case I feel like that box should add that scope (´・ω・｀)

[2015-12-14 20:20] jonparrott commented on #1020
`cloud-platform` does not include `email`, some APIs need this scope for the time being.

It's also possible that `cloud-platform != devstorage.full_control`, so if adding email fails, try explicitly including `devstorage.full_control`.

[2015-12-14 20:27] richardkazuomiller commented on #1020
Hmm, OK I'll try that but if that's the case I feel like checking the `Allow API access to all Google Cloud services in the same project` box should add the `email` scope. Since it's not directly related to this library, maybe this isn't the place to discuss that. If that's disabled for a security reason, then maybe put the scopes you need in the `gcloud-node` documentation.

[2015-12-14 20:35] jonparrott commented on #1020
For datastore, it's very temporary. The next version of the API will not
require it.

On Mon, Dec 14, 2015 at 12:28 PM Ricky Miller <notifications@github.com>
wrote:

[2015-12-14 22:47] toboid commented on #1022
OK great. Correctly saving the Null to datastore is straightforward, however the value comes back out as an empty array because [this](propertyToValue) function isn't able to distinguish between a property representing an empty array is currently indistinguishable from a property representing a null value since they have the exact same structure:

[code]
I'm still looking into how to handle this,

[2015-12-15 00:09] stephenplusplus commented on #1022
That makes for a tricky problem, indeed. Can we glean any insight into handling this from the other client libraries?

[2015-12-15 02:29] ajpyoung commented on #1017
@stephenplusplus - the link you posted was written by me.
@jonparrott - sure... I hope this is what your looking for
[code]

[2015-12-15 02:40] stephenplusplus commented on #1017
@ajpyoung I know :) It's helpful to link all of the places you post an issue.

[2015-12-15 17:40] jonparrott commented on #1017
@ajpyoung can you try with a new instance that has both `cloud_platform` and `devstorage.full_control`?

[2015-12-16 04:12] ajpyoung commented on #1017
@jonparrott - umm, sorry for asking this but how do I do that? I'm on the Google Cloud dashboard, clicked on Compute Engine and clicked on VM Instance and then New Instance.

Add tags and firewall rules to allow specific network traffic from the Internet

Allow HTTPS traffic

How do I activate devstorage.full_control?

[2015-12-16 16:37] jgeewax opened #1024 "Add more detailed overview section for Logging API"
It'd be nice if we could add some more detail to the overview section of the docs on cloud logging. Key things to think about ...

- What are Sinks? What are Logs?
- What's are the 3 most common use cases for cloud logging? Let's make sure we have short snippets for those three.

(Added per comment in #865 )

[2015-12-16 21:41] jonparrott commented on #1017
You don't have to apologize. :)

I seems you can no longer do this easily in the UI, so here's the command line to do it:

    gcloud compute instances create instance-name --scopes "https://www.googleapis.com/auth/devstorage.full_control","cloud-platform"

[2015-12-17 16:57] stephenplusplus commented on #1022
@pcostell added nullValue support to the v1beta3 PR :+1:

[2015-12-17 20:14] stephenplusplus opened #1025 "logging: add `getLogs` method"
RE: https://github.com/GoogleCloudPlatform/gcloud-node/pull/865#discussion_r47937506

Logging#getLogs will be coming with the next API release.

[2015-12-17 21:16] peterwillis opened #1027 "Not able to implement Big Query cancel job"
The cancel job function is not implemented for big query so I went about putting together a pull request. It should be straight forward but it's not because the url structure for all the other job api calls are slightly different...

To cancel a job:
```POST https://www.googleapis.com/bigquery/v2/project/projectId/jobs/jobId/cancel```

This is the correct URL because it works on the documentation

[2015-12-17 21:19] stephenplusplus commented on #1027
Yikes, that's weird.

@jgeewax?

If we have to get around it, we can use request interceptors, something like:

[code]

[2015-12-17 23:28] stephenplusplus commented on #1027
cc @fhoffa

[2015-12-18 02:36] ajpyoung commented on #1017
@jonparrott - sorry for the delayed response, I've been busy writing technical papers for a Patent for the company I work for. Thank you for your help, I'll do execute this process ASAP and reply before the week ends. Again my apologies for my tardiness in replying and thank you for your assistance in this.

[2015-12-18 04:30] jonparrott commented on #1017
No worries. :) I will be on vacation until 2016 so I may not be able to
review your response quickly.

On Thu, Dec 17, 2015, 6:36 PM Andrew John P. Young <notifications@github.com>
wrote:

[2015-12-18 14:05] jgeewax commented on #1027
Yikes. I'm asking around.

Regardless of *why* this weirdness is here, we should be able to fix it by having both /project/ and /projects/ do the same thing.. That way we don't break any legacy folks, and we don't have to add our hack -- however, that is super clever @stephenplusplus :)

[2015-12-18 16:37] #976 closed

[2015-12-18 19:34] stephenplusplus opened #1029 "Missing tests"
We're missing some APIs here: https://github.com/GoogleCloudPlatform/gcloud-node/blob/2f05c2f4dec2ef4e2e8ad6b54e4c5f685c191779/test/index.js#L35-L40

- Compute
- Prediction
- Resource

[2015-12-18 21:23] OverclockedTim opened #1030 "Cloud Datastore 'Index Not Found' error somewhat obscure"
Using the gcloud-node library to do a query that cannot be fulfilled due to lack of indexing produces the obscure error 412, Precondition Failed error:

{ "code":412,"message":"Precondition Failed",...}

A FAQ or troubleshooting doc would be helpful, as would simply including a bit more information in the error itself.  Something along the lines of "Precondition Failed: The request index <index> r

[2015-12-18 21:38] stephenplusplus commented on #1020
@richardkazuomiller did this do the trick?

[2015-12-18 21:41] stephenplusplus commented on #1030
Thanks for the feedback! I just recently had the same thought: https://github.com/GoogleCloudPlatform/gcloud-node/issues/1016#issuecomment-164496987

When we return an error, if the response body is a string, we can append that to the error message that we return.

Before:
[code]

After:
[code]

[2015-12-19 02:01] richardkazuomiller commented on #1020
@stephenplusplus Yes, I tried adding the permissions and was able to query Datastore without the key, but since I've already set up my production environment I think I'll be using the service key authentication method for now.

[2015-12-19 02:20] stephenplusplus commented on #1020
That makes sense. The docs try to provide some guidance while setting up an instance (https://googlecloudplatform.github.io/gcloud-node/#/authentication), but it's not very helpful if you already have one. I'll close this out, but if you think we can do something better, let us know.

[2015-12-19 02:20] #1020 closed

[2015-12-19 14:34] ymohii opened #1032 "Local testing for google cloud storage"
I'm writing an app with gcloud-node that needs to access Google Cloud Storage, but I could not find a way to test my app locally without writing my app GCS Buckets. Am i missing something ?

[2015-12-19 14:42] stephenplusplus commented on #1032
I'm not sure I understand. Can you give an example of what you're trying to do and what's happening?

[2015-12-19 15:01] ymohii commented on #1032
Sorry I didn't write it properly,
My Nodejs app is storing some files to google storage, what I need to do is to test it locally first without storing the files to Google Cloud Storage (saving them locally for example by appengine dev tools), May there is no way to it or I there is something I'm missing.

[2015-12-19 15:02] jgeewax commented on #1032
I think this is asking for a local server that "acts like" Google Cloud Storage for the purpose of testing -- which I don't believe is available :( (/cc @capstan who may know more than I do).

@stephenplusplus , for our tests, we mock out the calls first, right? Then for system tests we actually do write directly to GCS?

[2015-12-19 15:16] stephenplusplus commented on #1032
We do use mocks for our unit tests and the real thing for our system tests. For your tests, @ymohii, I wouldn't cover anything that we already do. You can just stub out your calls to gcloud to pull out your callback. Then feed the callback simulated responses from gcloud-- you can get those from running the real thing once and taking a snapshot of the response.

Hope this is helpful. If it's avail

[2015-12-19 15:28] ymohii commented on #1032
@stephenplusplus @jgeewax
Thanks guys for you quick responses, sounds logical to me :)
I think I can close this issue now.
and thanks @stephenplusplus  for you kind propose to help me out.

[2015-12-19 15:28] #1032 closed

[2015-12-19 15:47] stephenplusplus commented on #1032
No problem, thanks for asking!

[2015-12-20 17:03] mcfarljw commented on #1022
I'm also finding it a bit quirky to deal with nulls being returned as empty arrays.

[2015-12-20 19:40] mcfarljw opened #1033 "Is there a way to disable built-in indexes?"
If I recall correctly when using python it's possible to specify which properties use the built-in index. Is this something that is or will be possible with the node interface when saving?

[2015-12-20 21:34] toboid commented on #1022
I have the changes to correctly store null values [here](https://github.com/toboid/gcloud-node/commit/e714082bed0bf90e2a9248aee7c733541a930c22) but still can't see a solution for getting them back out correctly at the moment

[2015-12-20 23:44] stephenplusplus commented on #1033
@pcostell

[2015-12-21 00:58] pcostell commented on #1033
No this is not possible (yet!). This isn't possible in python either. In python if you specify `indexed=False` this disables the property in *all* the indexes, not just the built in indexes.

You can get the same results using the `excludeFromIndexes` property. Just remember that this also prevents any composite index entries that use that property from being saved for that entity.

[2015-12-21 13:07] mcfarljw commented on #1033
Ah right, I guess what I really meant was the ability to disable the built-in indexing on certain properties across all the entities in a kind. But based on your response this sounds like it is planned.

[2015-12-21 17:36] stephenplusplus commented on #1013
@leibale still happening?

[2015-12-21 17:43] leibale commented on #1013
I will check for you as sun as possible

[2015-12-21 17:43] leibale commented on #1013
I will check for you asap

[2015-12-21 19:45] pcostell commented on #1033
Yes, it is not possible but we are hoping to provide this functionality in the future.

To clarify -- this isn't possible in Datastore on GAE either. If you specify `indexed=False` in your model definition it just applies this to all entities created from that point onward. It doesn't retroactively change indexing information.

Since this is a Datastore feature request (and not specific to gcloud-

[2015-12-21 19:45] #1033 closed

[2015-12-21 20:53] pcostell commented on #1022
The Google versions of protobuf support this using the `hasField` method, which allows querying for whether a field has been explicitly set or not. There is an [issue](https://github.com/dcodeIO/protobuf.js/issues/200) in the protobufjs issue tracker for this.

As mentioned above, this is fixed in v1beta3 (mostly because v1beta3 uses `proto3`, where unset and the default value are considered the s

[2015-12-21 21:30] #842 closed

[2015-12-22 04:41] stephenplusplus opened #1036 "docs: change ownership on files from 755->644"
RE: https://github.com/GoogleCloudPlatform/gcloud-python/pull/1315

[2015-12-22 09:00] wahengchang opened #1037 "Urgent: The specified key does not exist"
What I do is upload file to bucket, and make public link.
it work fine when I run my local nodejs host, upload succesed, make public link and able to download, however when I deploy to my nodejs hosting (Leancloud, something like Heroku) the error message was showed.

[code]

================

I am sure that the json file is in the root of the folder, and the "storage" is set.

[code]

===========

[2015-12-22 09:11] stephenplusplus commented on #1037
Can you show the code you're using and point out which part returns the error?

[2015-12-22 09:33] stephenplusplus commented on #1037
Browse some of these results for the error code and see if any strike some ideas: https://www.google.com/search?q=nosuchkey+google

It basically means the filename you're trying to download doesn't exist, so I'm wondering if it's an issue of escaping any special characters in the file name. Our library handles this already, though. And the fact it works locally but not when deployed doesn't give m

[2015-12-22 16:30] #1027 closed

[2015-12-22 17:20] stephenplusplus opened #1038 "Enable Logging tests for Travis"
RE: https://github.com/GoogleCloudPlatform/gcloud-node/pull/865#issuecomment-158101658

Currently, Travis is skipping these system tests because it can't auth as a user:

[code]

@jgeewax, I think you mentioned there might be a way to auth these requests with a service account?

[2015-12-25 05:48] wahengchang commented on #1037
hi, stephen, thanks for your reply, my problem is solved.

my project is hosted on "Leancloud", for some reason the service_key.json was not deployed and there is not error msg was showed, so I through it was a problem of the API. You are right the file is not either uploaded of makepublic.

Now, I have moved the project to Heroku, another nodejs hosting and it run well.

[2015-12-27 15:10] leibale commented on #1013
@stephenplusplus you can close

[2015-12-27 19:57] stephenplusplus commented on #1013
Glad it's resolved!

[2015-12-27 19:57] #1013 closed

[2015-12-29 17:23] stephenplusplus commented on #1037
Oh, interesting. Glad it's resolved!

[2015-12-29 17:23] #1037 closed

[2015-12-29 17:33] stephenplusplus commented on #1025
@filipjs -- will you ping us in this issue when the new API is released?

[2015-12-29 18:45] #1029 closed

[2015-12-30 20:55] stephenplusplus opened #1040 "Support Datastore default dataset env var"
See https://github.com/GoogleCloudPlatform/gcloud-common/issues/24

We currently support `DATASTORE_HOST`, but not `DATASTORE_DATASET`.

[2016-01-02 00:48] jamescharlesworth opened #1041 "bigquery table.insert fails for identical rows"
It seems to be failing sometimes when you insert identical rows in parallel. I think this is because the insertId is being generated from a stringified md5 hash of the row. Would you be open to a pull request to pass in your own insert id in an optional metadata object? It could fallback to how it operates now.

https://github.com/GoogleCloudPlatform/gcloud-node/blob/fbf1ecc36c45c48aeee5469e9729a5

[2016-01-02 01:10] stephenplusplus commented on #1041
Thanks for offering! I think you just want to skip the insertId then, since its purpose is to prevent duplicate data from being inserted. If that sounds right, we could just add an options object like:

[code]

When it's `true`, we just wouldn't set the `insertId`.

@jgeewax @fhoffa is this a sane plan?

[2016-01-04 14:41] aneesv opened #1044 "Error: Invalid request. The number of bytes uploaded is required to be equal or greater than 262144 , While trying to upload file"
Getting error

`Error: Invalid request.  The number of bytes uploaded is required to be equal or greater than 262144, except for the final request (it's recommended to be the exact multiple of 262144).  The received request contained 229591 bytes, which does not meet this requirement.`
while trying to upload file

[2016-01-04 14:43] stephenplusplus commented on #1044
Is this reproducible every time? (can you retry the upload?)

Does this occur with other files? What type of file is it? If possible, can you share the file or another one that fails consistently?

[2016-01-04 14:49] stephenplusplus commented on #1041
Sent a PR: #1045

[2016-01-04 14:59] aneesv commented on #1044
@stephenplusplus Its occuring with one particular file

I have attached error trace

`Error: Invalid request.  The number of bytes uploaded is required to be equal or greater than 262144, except for the final request (it's recommended to be the exact multiple of 262144).  The received request contained 229591 bytes, which does not meet this requirement.
     at Request._callback (/node_modules/gcl

[2016-01-04 15:13] stephenplusplus commented on #1044
Can you show the gcloud-node code you're using?

[2016-01-04 15:27] aneesv commented on #1044
I am using a wrapper , Code is working perfectly for all files expect one file. I tried reuploading it same error

[code]

[2016-01-04 16:30] stephenplusplus commented on #1044
I haven't been able to reproduce using a file of the same size. The library reporting the error is actually [gcs-resumable-upload](http://gitnpm.com/gcs-resumable-upload). It creates/re-uses a JSON file to store the progress of the resumable upload. Can you check `~/.config/configstore/gcloud-node.json` and remove it to see if that solves it?

[2016-01-04 18:06] aneesv commented on #1044
@stephenplusplus Thanks it worked ! Between name of file was  `~/.config/configstore/gcs-resumable-upload.json`

[2016-01-04 18:06] #1044 closed

[2016-01-04 18:06] stephenplusplus commented on #1044
Oh, sorry, thanks for correcting. Glad it worked!

[2016-01-04 19:13] stephenplusplus opened #1046 "Support PubSub API env var"
For https://github.com/GoogleCloudPlatform/gcloud-common/issues/48

`PUBSUB_HOST`

[2016-01-04 19:26] stephenplusplus commented on #1030
@callmehiphop is this a weird or good plan?

[2016-01-04 19:28] #977 closed

[2016-01-04 19:31] stephenplusplus commented on #1022
Let's just wait for v1beta3 to have official support for this. It sounds like it's quite a hassle to support it now and v1beta3 is on the horizon. Support is ready in my v1beta3 PR, so I'm going to close the issue, but please re-open if there's something we can do to support it now.

[2016-01-04 19:31] #1022 closed

[2016-01-04 19:34] callmehiphop commented on #1030
It sounds like a good plan to me, what reasoning would make it weird?

[2016-01-04 19:46] #1046 closed

[2016-01-04 19:49] stephenplusplus commented on #722
I think @callmehiphop's idea is :ok_hand:. Our alternative is hacking over the pre-stable, CoffeeScript lib https://github.com/falsecz/hbase-rpc-client.

Let's let npm stats do the talking:

Downloads in the last week:

**hbase-rpc-client**
- 7 downloads in the last day
- 27 downloads in the last week

**levelup**
- 3,016 downloads in the last day
- 14,852 downloads in the last week

I don't know

[2016-01-04 20:04] callmehiphop commented on #722
I think we'd want to just offer the adapter and allow the user to install levelup on their own, that looks to be the levelup way of doing things.

[2016-01-04 20:11] stephenplusplus commented on #722
Should we offer something that's complete, or nbd?

[2016-01-04 20:14] callmehiphop commented on #722
I'd think it's nbd, but that's just me. What are your feelings on it?

[2016-01-04 20:22] stephenplusplus commented on #1041
@jamescharlesworth while trying to test this out for #1045, I can't actually reproduce the error. Can you show me some code I can use that should cause the error?

[2016-01-04 20:44] #1040 closed

[2016-01-04 22:34] toboid commented on #1022
Makes sense, I can't see a non-hacky way to correctly retrieve nulls at the moment.

[2016-01-05 09:14] palamccc commented on #1041
https://github.com/GoogleCloudPlatform/gcloud-node/blob/c7b49cb8fec15d6d159db6d7b8832e8ac4e50d0e/lib/bigquery/table.js#L902-L910
As of now md5(JSON.stringify(row)) is used as insertId, This is not a robust one. JSON.Stringify is not guaranteed to give same result  for similar objects. and md5 can be same for two different strings.

I think the insertId generation should be left to user. If user is

[2016-01-05 17:02] stephenplusplus opened #1049 "Move proto-compatible APIs to grpc"
We should migrate our library to use [grpc](https://github.com/grpc/grpc) where possible. These APIs are proto-compatible, thus grpc-ready:

  - [ ] Datastore v1beta3
    - [.proto files](https://github.com/google/googleapis/tree/master/google/datastore/v1beta3)
  - [x] Logging
    - [.proto files](https://github.com/google/googleapis/tree/master/google/logging)
    - [PR](https://github.com/googl

[2016-01-05 17:02] dhermes commented on #1049
:+1:

[2016-01-05 20:18] #1030 closed

[2016-01-06 12:16] FredMichel opened #1050 "gcloud-node and Openshift"
Hello Team,

I am using the component gcloud-node to access (read/write) Google storage bucket from my node-js application. It works fine when server starts locally (localhost), I am able to upload files within the remote bucket using the below function:
`
 function writeLocalFileToRemoteStorage(localName, remoteName, callback) {
    var localReadStream = fs.createReadStream(localName);
    var re

[2016-01-06 12:23] FredMichel opened #1051 "gcloud-node and Openshift"
Hello Team,

I am using the component gcloud-node to access (read/write) Google storage bucket from my node-js application. It works fine when server starts locally (localhost), I am able to upload files within the remote bucket using the below function:
[code]

However, after pushing the code to my Openshift instance, an exception is raised :
[code]
It seems that the component  needs .config fold

[2016-01-06 14:04] davidpadbury opened #1052 "Should topic.publish create the topic?"
In the [README.md](https://github.com/GoogleCloudPlatform/gcloud-node/blob/027a4ba52a29a447c157f76ed7d32b1823ac4f79/README.md#google-cloud-pubsub) docs for pubsub there is a comment which states that calling `publish` on a topic will create the topic if it doesn't already exist.

However trying this code with version 0.27.0 of gcloud-node produces an error reporting a 404.

Is this a bug, or are t

[2016-01-06 14:21] stephenplusplus commented on #1052
Thanks for catching this and offering to help! The docs are in fact incorrect. I think if we just remove the incorrect line (``// The topic will be created if it doesn't exist.`) will work. If you're up for a PR, that'd be awesome :)

[2016-01-06 14:22] stephenplusplus commented on #1050
Closing since #1051 is this issue with a tiny bit extra :)

[2016-01-06 14:22] #1050 closed

[2016-01-06 14:30] stephenplusplus commented on #1051
Just to first explain the pieces that are involved here:

We (gcloud-node) use a library called [`gcs-resumable-upload`](http://gitnpm.com/gcs-resumable-upload), which uses a library called [`configstore`](http://gitnpm.com/configstore). That's the library that's failing to create the config file due to the permissions error.

Performing a resumable upload requires persisting small bits of data, w

[2016-01-06 14:31] davidpadbury commented on #1052
@stephenplusplus no problem. Just created #1053 to resolve.

[2016-01-06 14:42] FredMichel commented on #1051
Thank for that answer. Root cause is clear. I already tried the workaround you have suggested (resumable to false) but the same exception is raised.

Openshift allows to write only in specific folders called data. Is it possible to force the component to write .config in that specific folder? For instance if I provide the full path to that folder as a parameter?

Thanks a lot

[2016-01-06 14:51] stephenplusplus commented on #1051
@sindresorhus -- is there a way to handle custom paths with Configstore, or anything else you can think of for this situation?

[2016-01-06 14:53] stephenplusplus commented on #1051
@FredMichel it's a bug if `gcs-resumable-upload` is being used when you didn't want a resumable upload: https://github.com/GoogleCloudPlatform/gcloud-node/blob/8dbf0fd35a924f34a777942273affc79a954fc26/lib/storage/file.js#L791-L795. Can you double check that happens when you providing `resumable: false` and also let me know the version of gcloud you're running?

[2016-01-06 14:59] stephenplusplus commented on #1041
:+1: Would you (or @jamescharlesworth) be open for sending a PR that realizes your vision for how that should be implemented?

[2016-01-06 14:59] stephenplusplus commented on #1052
Resolved in #1053 :+1:

[2016-01-06 14:59] #1052 closed

[2016-01-06 15:01] sindresorhus commented on #1051
`configstore` abides [XDG](http://standards.freedesktop.org/basedir-spec/basedir-spec-0.6.html), so you could set the environment variable `XDG_CONFIG_HOME` to a writeable location.

[2016-01-06 15:47] allangarcia opened #1054 "What is Google Cloud Search? link to 404"
The link to "What is Google Cloud Search?" is going to a 404 page. (on https://googlecloudplatform.github.io/gcloud-node/#/docs/v0.27.0/search)

[2016-01-06 15:59] stephenplusplus commented on #1054
Great question. We implemented support for an API that requires whitelisting by Google. As its not generally available yet, the same goes for the docs.

You can request to be whitelisted [here](https://docs.google.com/a/google.com/forms/d/1TshVfwJBP8UoKN-cpjIo4yB6TIiBYrMuxTQQ8LQfPyk/viewform).

@jgeewax any insight into when something public-facing is available so we stop looking crazy? :)

[2016-01-06 18:06] FredMichel commented on #1051
@stephenplusplus @sindresorhus : Guys thank you so much for your prompt answers !

A. Solution  `resumable :false ` works !
In fact, my mistake was
[code]
instead of
[code]
Documentation confuses me : https://googlecloudplatform.github.io/gcloud-node/#/docs/v0.27.0/storage/file?method=createWriteStream

B. Environment variable `XDG_CONFIG_HOME` does not work.
I have set up this environment variabl

[2016-01-06 21:50] stephenplusplus commented on #1051
Woo, glad it's resolved!

[2016-01-06 21:50] #1051 closed

[2016-01-07 23:50] MathiasPaumgarten commented on #812
Appreciate this discussion @clement. I've been wondering why it kept overwriting my entire document, when I wanted to simply update one field.

[2016-01-09 14:06] stephenplusplus commented on #1017
@ajpyoung happy new year! :tada: Just doing a little issue cleaning, are there any updates for how this one is progressing?

[2016-01-10 17:26] stephenplusplus commented on #1049
@tmatsuo is there anything preventing me from testing grpc / a protobuf endpoint for Pub/Sub?

[2016-01-10 17:43] palamccc commented on #1041
I looked into code and tried to remove insertId feature. But it will break existing applications.

Instead we can add new api 'insertAll' and make it transparent. User should build and pass the request body, as per [spec](https://cloud.google.com/bigquery/docs/reference/v2/tabledata/insertAll). In this way, user can use 'insertId' ,'templateSuffix', 'ignoreUnknownValues', 'skipInvalidRows'  featur

[2016-01-10 18:19] stephenplusplus commented on #1041
That's more like https://github.com/google/google-api-nodejs-client -- which is the Node version of the Python library you linked to. We purposely design an easier to use API around the raw, upstream JSON API.

And that comes with challenges. It's not always clear where our API needs to allow 100% upstream transparency and when lesser coverage is okay. Each call is different than the next. That's

[2016-01-10 19:08] palamccc commented on #1041
I was not aware of https://github.com/google/google-api-nodejs-client  , Probably you can link to the library in README.md, the current repo name https://github.com/GoogleCloudPlatform/gcloud-node looks like official library. somehow i landed here from google search results, and assumed that this is official library. Thanks.

[2016-01-10 19:09] stephenplusplus commented on #1041
In fact, we do!

<img width="668" alt="screen shot 2016-01-10 at 2 08 59 pm" src="https://cloud.githubusercontent.com/assets/723048/12223380/bb608986-b7a3-11e5-8252-2a8acfa1c1aa.png">

Sorry for the confusion.

[2016-01-10 19:10] #1036 closed

[2016-01-10 19:11] palamccc commented on #1041
thanks, I missed it. If possible, add to this page also.  https://cloud.google.com/nodejs/

[2016-01-10 19:14] stephenplusplus commented on #1041
Related issue: #556. I'm not sure who runs the docs pages, but I'll tag @jgeewax to make sure someone sees your feedback.

[2016-01-11 15:04] jgeewax commented on #1054
Unfortunately we will have to keep looking crazy... Maybe we can put an "(alpha)" tag on the API so we look slightly less crazy?

[2016-01-11 16:07] callmehiphop commented on #1041
@stephenplusplus IMO introducing options for this method seems like the way to go. I like the raw option. Maybe we could also include an option for generating the insertIds when raw is not flagged.

[2016-01-11 19:28] tmatsuo commented on #1049
You can test it now. I will send instructions to you. Please send an e-mail to tmatsuo@google.com. I will respond with the instructions.

[2016-01-12 23:44] allangarcia commented on #1054
I don't think that you get me.

1. Go to this link: https://googlecloudplatform.github.io/gcloud-node/#/docs/v0.27.0/search
2. Click on "What is Google Cloud Search?" (see image)
![screen shot 2016-01-12 at 20 42 59](https://cloud.githubusercontent.com/assets/7458936/12280506/267878da-b96d-11e5-8fed-e941a967c243.png)
3. BUM! Error... 404... please fix it.

[2016-01-12 23:48] allangarcia commented on #1054
Ah! ok.

[2016-01-13 13:06] jgeewax commented on #1054
Yea, sorry about that :(

It's not just "not generally available" it's actually still "Alpha" ! If you're really excited about it, let me know and I can ask to get you whitelisted (I can't promise the team will say yes, but I can at least ask).

Sorry about the confusion (we had this same question come up with the gcloud-node documentation also).

@dhermes , can we add somewhere in the "This is an

[2016-01-13 13:12] stephenplusplus commented on #1054
Definitely :+1:

[2016-01-14 20:53] csaintc opened #1059 "Increase file upload size?"
Hey guys,

I'm currently trying to figure out how to increase the currently anemic 1mb file upload size limit, but I can't seem to find it in the documentation anywhere. Please advise!

Thanks a bunch!

[2016-01-14 20:57] stephenplusplus commented on #1059
@jgeewax is this a limitation at the project level?

[2016-01-14 21:18] krisnye opened #1060 "Datastore Query toString function should return a description of the query"
It should output a description of the ancestors, filters, order, select, limit, offset and any other relevant properties.

[2016-01-14 21:33] krisnye opened #1061 "Datastore Query order should use an explicit ascending/descending parameter instead of "-" in a string."
Currently:

    // Sort by size ascendingly.
    var companiesAscending = companyQuery.order('size');

    // Sort by size descendingly.
    var companiesDescending = companyQuery.order('-size');

This is bad.  It is mixing the properties of a string based query language with a json based query API.

Instead, consider just adding a boolean ascending / descending property that defaults to ascending

[2016-01-14 21:38] krisnye opened #1062 "Datastore Query filter should use a separate parameter for operator instead of combining field and operator in a single string."
Currently:

    var companyQuery = query
      .filter('name =', 'Google')
      .filter('size <', 400);

Instead, use a separate parameter for operator.  Combining them is weird.  It is more like a text based query language, instead of a JSON based API.

    var companyQuery = query
      .filter('name', '=', 'Google')
      .filter('size', '<', 400);

Later, if desired, this could easily be exte

[2016-01-14 21:45] jgeewax commented on #1059
Are you talking about Datastore ? Or Cloud Storage?

For Datastore, there is a hard limit of 1 MB per entity. For Cloud Storage ... there certainly isn't a 1MB limit...

[2016-01-15 18:16] callmehiphop commented on #1062
Thanks for the suggestion @krisnye! I think this is a pretty reasonable request.

@stephenplusplus is there a specific reason we do this? We extract the operator from the field name and store them separately, so I'm not sure I understand why we pass them in as a single string.

[2016-01-15 18:35] callmehiphop commented on #1061
This seems like a pretty reasonable request, @krisnye. I think there might be a typo in your example and you were going for this..?

[code]

I'm not totally sold on using a boolean, only because at first glance it's not very obvious what it does and it may end up warranting a trip to the docs. I like the idea of separating the two, however I feel that a literal object (probably overkill) or simply

[2016-01-15 18:43] callmehiphop commented on #1060
Would `JSON.stringify` suffice? Queries are just plain old JavaScript objects.

[2016-01-15 19:31] stephenplusplus commented on #1062
It was designed before my time. Let's go with the first suggestion.

@krisnye thanks for the suggestion. Are you interested in sending a PR?

[2016-01-15 19:37] stephenplusplus commented on #1061
I prefer the options object.

[2016-01-17 15:55] #1054 closed

[2016-01-19 14:52] #1061 closed

[2016-01-19 14:52] #1062 closed

[2016-01-19 15:49] q42jaap opened #1071 "instance-template instance-group not supported?"
I could not find api's for instance-template or instance-groups in compute. I would really like to use it.
Using gcloud command line tool would be a major downside...

[2016-01-19 16:13] jgeewax opened #1072 "Improve CONTRIBUTING.md ?"
PM2 seems to have a really nice guide to contributing. Maybe we can take some guidance from them?

https://github.com/Unitech/PM2/blob/master/CONTRIBUTING.md

[2016-01-19 16:16] callmehiphop opened #1073 "compute: missing resources"
RE: #1071

As it is today, we're missing the following resource types:
- [x] [Autoscalers](https://cloud.google.com/compute/docs/reference/latest/#Autoscalers) (@stephenplusplus) PR: #1137
- [x] [BackendServices](https://cloud.google.com/compute/docs/reference/latest/#BackendServices) (@stephenplusplus) PR: #1159
- [x] [ForwardingRules](https://cloud.google.com/compute/docs/reference/latest/#Forwa

[2016-01-19 16:18] stephenplusplus commented on #1072
It's kinda tricky, cause we have https://github.com/GoogleCloudPlatform/gcloud-common/tree/master/contributing for the generic "How to open an issue", but someone looking at our CONTRIBUTING.md file (as opposed to https://googlecloudplatform.github.io/gcloud-node/#/contributing won't see that).

Maybe we should just have a link back to the gcloud-common file at the top of ours?

[2016-01-19 16:19] callmehiphop commented on #1072
Should we move this to gcloud-common?

[2016-01-19 16:21] callmehiphop commented on #1041
Was this resolved by #1068?

[2016-01-19 16:22] stephenplusplus commented on #1073
I'm not sure if it's weird to only support *some* of the API, or if that's expected and matches our library's philosophy, which I think of as "make the common use case easy, don't bloat". @jgeewax hopefully can answer that.

If we only choose to support the common cases, our docs can suggest using the [full API client lib](https://github.com/google/google-api-nodejs-client) for the gaps.

If we do

[2016-01-19 16:23] stephenplusplus commented on #1041
Sure was!

[2016-01-19 16:28] callmehiphop commented on #1071
@q42jaap currently we do not support the InstanceTemplate or InstanceGroup resources, I've opened an issue, #1073, to discuss adding further support for GCE resources.

In the meantime you could checkout the [google-api-nodejs-client](https://github.com/google/google-api-nodejs-client) which I believe does support them.

[2016-01-19 16:35] jgeewax commented on #1072
Yes, and yes.

[2016-01-19 16:49] callmehiphop commented on #1072
Closing per https://github.com/GoogleCloudPlatform/gcloud-common/issues/50

[2016-01-19 16:49] #1072 closed

[2016-01-19 18:28] q42jaap commented on #1071
Thanks, I will look into that other library.

[2016-01-19 18:28] #1071 closed

[2016-01-19 18:42] hrovira opened #1074 "duplicated information in runQuery docs"
https://googlecloudplatform.github.io/gcloud-node/#/docs/v0.27.0/datastore/dataset?method=runQuery

the "Parameters" table seems to have dup'd entries for the callback arguments... err, entities, nextQuery, apiResponse, err, entities, nextQuery, apiResponse.

there are slightly different descriptions, so it may have been that the older descriptions did not get deleted.

[2016-01-19 18:45] stephenplusplus commented on #1074
Oops, we did duplicate these: https://github.com/GoogleCloudPlatform/gcloud-node/blob/v0.27.0/lib/datastore/request.js#L553-L565

Any chance you want to send a PR just removing the extras? The first `nextQuery` and the second `entities` are the good ones.

[2016-01-19 18:50] hrovira opened #1075 "missing doc page"
https://googlecloudplatform.github.io/gcloud-node/#/docs/v0.27.0/datastore/entity

[2016-01-19 18:54] callmehiphop commented on #1075
That page isn't missing, the entity module is only used internally. Was there something you were expecting to see there?

[2016-01-19 18:58] callmehiphop commented on #1075
Ahh, ok, we link to that page else where in [Datastore docs](https://googlecloudplatform.github.io/gcloud-node/#/docs/v0.27.0/datastore/dataset?method=get). The page isn't missing, those shouldn't be links.

[2016-01-19 19:04] callmehiphop commented on #1075
@stephenplusplus do you know where we actually describe the structure of entity objects?

[2016-01-19 19:15] stephenplusplus commented on #1075
Well, we don't actually have an Entity type. The module (entity.js) is basically just a bunch of conversion methods, used to convert a POJO into an object the API understands. When it gets back to the user, it's just whatever object they associated with a key.

Anywhere we document a `module:datastore/entity` being returned, we just need to call it an `object`... [for now](#508).

[2016-01-19 20:40] #1075 closed

[2016-01-19 21:22] csaintc commented on #1059
It's cloud storage, and I remember reading somewhere that gcloud-node imposes this limit, not gcloud itself.

Here is the error, I'm on version 0.27.0.
[code]

[2016-01-19 21:27] stephenplusplus commented on #1059
Our code don't have any such limitation. I'm thinking this is occurring somewhere else in the stack -- is the file being uploaded through the browser? What other libraries are involved?

[2016-01-19 21:28] #1059 closed

[2016-01-19 21:29] csaintc commented on #1059
https://www.google.com/search?btnG=1&pws=0&q=Payload+content+length+greater+than+maximum+allowed%3A+1048576&gws_rd=ssl

hapi config, sorry!

[2016-01-19 21:32] stephenplusplus commented on #1059
No problem!

[2016-01-20 13:04] bgSosh opened #1078 "Slow gcloud storage upload for small files?"
I'm seeing upload times of over 6000ms for small 10kB files.  Please could someone confirm if this is expected for Google cloud uploads, or is it more likely there is some client problem happening?

I've tried disabling resumable and validation, and this improves things a bit, but not substantially.  Our upload code looks like this:

        var options = {
            resumable : false,

[2016-01-20 13:14] stephenplusplus commented on #1078
Can you run another upload immediately after the first one completes and measure the time difference?

[2016-01-20 14:13] bgSosh commented on #1078
Sure.  It seems subsequent calls are faster.  Here's the same upload repeated 5x in a row (~10kB with resume and validation off):

4935ms, 3336ms, 2336ms, 2551ms, 2695ms.

Still seems on the slow side to me - what do you think?

Maybe my expectations are wrong though.  I suppose there are overheads like auth etc, which disadvantage small files.

[2016-01-20 14:20] jgeewax commented on #1078
This definitely seems wrong to me. Uploading 10k shouldn't be taking 1000
ms. That said, GCS is optimized for throughput (aka, large file overall
upload time) rather than latency (small file overall upload time), so it's
*possible* (just shitty...)

[2016-01-20 14:41] bgSosh commented on #1078
@jgeewax - Right, that was my feeling too.

Does anyone know if there's some kind of debug mode, which might give some visibility into what's happening, time-wise?

[2016-01-20 14:44] stephenplusplus commented on #1078
With my own tests, I complete uploads consistently under 1s. It went up to around 3 if I uploaded to a bucket overseas. Any chance location could be playing a role?

[2016-01-20 14:46] jgeewax commented on #1078
That's a good point. If you're in the US and your bucket is in Asia (or
vice versa), that would explain the extra latency (mainly wire time)

[2016-01-20 14:50] bgSosh commented on #1078
Thanks, I tried both US and EU storage locations, but times seemed similar (I'm in EU).

[2016-01-20 14:54] jgeewax commented on #1078
@mziccard (who is also in EU and may be able to help us with some debugging
:P)

Can you do a traceroute to be sure that your upload request is actually
being routed to endpoints in the EU?

[2016-01-20 14:55] stephenplusplus commented on #1078
If you have [`gsutil`](https://cloud.google.com/storage/docs/gsutil_install) CLI tool installed, you can see what times you get there, just to see if there are any huge differences:

[code]

[2016-01-20 15:05] stephenplusplus commented on #1078
Here's the test I've used: https://gist.github.com/stephenplusplus/15d0d7e96a40887c74aa

[2016-01-20 15:11] bgSosh commented on #1078
Thanks, I'll test in gsutil and with your test script and report back.

Worth noting that I'm doing this from an external machine, not google-compute, and am specifying credentials like so (which may be a factor):

var storage = gcloud.storage({
        projectId   : xxx,
        credentials : {
              client_email : yyy,
              private_key  : zzz
    });

[2016-01-20 17:47] hrovira commented on #1074
sorry for the confusion, had to abort 2 PRs, issues with commits... last PR (1080) should be easily merged.

[2016-01-21 01:53] krisnye opened #1081 "Transaction.save does not allow a NULL value."
Null is a perfectly valid value to insert into the datastore and should be supported by this API.  Null indicates that the value is not present, but that it still needs to be indexed, and so it is different from simply not having a property which means the entity will not be indexed for that property.

When attempting to save a record with a null value this exception is thrown:

      throw new Er

[2016-01-21 02:23] krisnye commented on #1081
Ok, I found a fix for this, it's incredibly simple.  In datastore/entity.js, simply encode a null value as {stringValue:null}

Old code

  if (v instanceof String || typeof v === 'string') {
    p.string_value = v;
    return p;
  }

New code

  if (v == null || v instanceof String || typeof v === 'string') {
    p.string_value = v;
    return p;
  }

[2016-01-21 18:44] callmehiphop commented on #1060
@krisnye just checking in!

Does `JSON.stringify` work for you? If not do you have a specific use case in mind?

[2016-01-21 18:52] stephenplusplus commented on #1081
Duplicate of #1022. Sadly, we're a bit stuck until the next version of Datastore is released, v1beta3.

[2016-01-21 18:52] #1081 closed

[2016-01-21 19:16] q42jaap opened #1083 "Missing documentation for entity"
The docs at https://googlecloudplatform.github.io/gcloud-node/#/docs/v0.27.0/datastore/dataset?method=get reference the entity type: https://googlecloudplatform.github.io/gcloud-node/#/docs/v0.27.0/datastore/entity
However, this link does not do anything. I cannot find any of the methods in entity.js in the docs.

[2016-01-21 19:18] stephenplusplus commented on #1083
Thanks for reporting this! We actually just caught this after it was reported in #1075. The docs will update when we release the next version.

[2016-01-21 19:18] #1083 closed

[2016-01-21 20:05] krisnye commented on #1022
I have a fork which adds support for writing null values to the datastore today via a trivial fix.  It does NOT fix the problem with reading them as empty arrays. (Not a problem for my use case.)

https://github.com/krisnye/gcloud-node

[2016-01-21 20:09] krisnye commented on #1060
JSON.stringify would work.  Was not sure that it was just a plain object.  It's dangerous calling JSON. stringify on objects you're not sure about.

[2016-01-21 20:11] mpj commented on #91
I had a nice micro-service, it has express and some other helper modules. It causes 83 modules to be installed. Fine. Then I needed to write a thing to BigQuery, nice, npm install gcloud and it pulls in...
367 MODULES. gcloud is to npm modules what my colleagues really fat cat is to ... cats. The difference is that he's now put his cat on a diet.

I think this repo needs to get the number of depen

[2016-01-21 20:21] krisnye commented on #1061
Yes, I had a typo.  I fixed it.  My honest thoughts are that a JSON based API should have a JSON based query structure.  One that is easy to read and easy to write, while being explicit.

Here is the JSON query structure that I use to represent filters, limits, offsets and sorts.

    { "offset": 20, "limit":100, "where":{ "name": "foo", "age": { ">=": 10} }, "sort": [ { "age": true}, {"name": fal

[2016-01-21 20:26] stephenplusplus commented on #1061
If I was to design the API today, I definitely would have went with that approach as well. I'm not sure why we went with the builder approach. Obviously, at the time, it was thought to be more convenient for the developer. In the end, it's really just a style choice, so to completely change to just a plain JS object now would be an unfair amount of work to put on developers without any clear rewar

[2016-01-21 20:27] krisnye commented on #1061
True, but you can build such an object behind the scenes using the builder for backward compatibility and then expose the simpler interface when appropriate.

Something to think about for the future.

[2016-01-21 20:40] krisnye commented on #1062
Sure, I can do that.  I'll assume we should keep the old behavior when there are only two arguments, correct?

[2016-01-21 21:47] jgeewax commented on #91
Woah. 367 deps? That seems ... excessive. @stephenplusplus , when I do `npm install gcloud` I get ~30 modules:

[code]

Do these really pull in 300+ modules in total ?

[2016-01-21 21:51] stephenplusplus commented on #91
Yep, producing and using many small modules is the npm way. npm version 3 deduplicates packages by default, so if a single module can satisfy multiple packages, it will only be fetched once. That's available in npm2 as well, but the user has to manually run `npm dedupe`. Even then, however, there's no guarantee the number will magically decrease to something more happy.

[2016-01-25 11:51] jgeewax opened #1084 "Update overviews with more detailed code"
- [ ] BigQuery
- [x] Bigtable
- [ ] Compute Engine
- [x] Datastore
- [ ] DNS
- [ ] Language
- [ ] Logging
- [ ] Prediction
- [ ] Pub/Sub ([including `autoAck` demonstration](https://www.github.com/googlecloudplatform/google-cloud-node/issues/1906))
- [ ] Resource Manager
- [ ] Spanner
- [ ] Speech
- [ ] Storage
- [ ] Translate
- [ ] Vision

Right now, clicking on a service (ie, Datastore) in the d

[2016-01-25 13:25] brinck opened #1085 "networkInterfaces resource upon createVM completion"
The createVM api exposes four variables on call back, along with a callback variable. As far as I could see, the networkInterfaces resource for that given VM is not accessible anywhere. In other words, it is not possible to get the external IP for the VM should one have been assigned, a part from getting all VMs after the creation of a particular one.

[code]
Am I missing something, or is this fea

[2016-01-25 13:27] stephenplusplus commented on #1084
I think this sounds like https://github.com/GoogleCloudPlatform/gcloud-common/issues/33#issuecomment-164104675 -- does the structure explained in that post align with the goals of this issue?

[2016-01-25 13:32] stephenplusplus commented on #1085
I think the issue is the `metadata` in the context of `operation.onComplete` is the operation's properties. What you need to do is make another call on `vm` to refresh the metadata:

[code]

Here's an example of doing that in gcloud-deploy: https://github.com/stephenplusplus/gcloud-deploy/blob/25233819ece801bc556957153e64d78a09993615/index.js#L221

Let me know if you run into any issues!

[2016-01-25 13:32] #1085 closed

[2016-01-25 13:57] callmehiphop commented on #1084
@jgeewax I think this came up before and we moved it to https://github.com/GoogleCloudPlatform/gcloud-common/issues/41. Is node the only one who is experiencing this problem? If so, we could probably just add more examples to the constructor documentation.. otherwise we'll need a cross library solution.

@stephenplusplus the *guides* idea never really went anywhere (but I still think it is a great

[2016-01-25 13:58] brinck commented on #1085
Thanks for the quick and swift feedback. It worked!

[2016-01-25 14:01] stephenplusplus commented on #1084
I think to implement this idea, it would be the same solution; versioned markdown files that live with the JSON output. I don't think a static `overview.html` holds up anymore for this use case.

[2016-01-25 14:04] callmehiphop commented on #1084
Per our spec, we actually have a [field for an overview](https://gist.github.com/callmehiphop/f5f7e51de2b0d0d20fde#file-example-json-L6). Currently in node we didn't really have anything to populate it with (because we were using the static html files) but assuming we could find a way to finagle it in, this might be a fairly simple task..

[2016-01-25 14:13] stephenplusplus commented on #1084
Ah, cool. So this is how I see the navbar being re-structured:

- Datastore (tell me about Datastore + gcloud in a non-scary way. Don't dump API docs on me yet, man)
  - **API**
  - Datastore
  - Dataset
  - Query
  - Transaction

Does this force other changes on the JSON?

[2016-01-25 14:19] jgeewax commented on #1084
s/API/Overview/ ? API doesnt' really say "tell me about it in a non-scary
way")

[2016-01-25 14:21] stephenplusplus commented on #1084
The bullets under "API" aren't overviews, they are all API docs. Clicking the top-most "Datastore" (`Datastore (tell me about Datastore + gcloud in a non-scary way. Don't dump API docs on me yet, man)`) would take you to an overview page.

[2016-01-25 14:22] callmehiphop commented on #1084
I don't think so, since we've agreed to go to a multi file approach then, we were going to need a table of contents JSON file to map the navigation to documentation JSON files.. (shaking up the navigation would then only be a config change)

There would be some change in generating the files, but I don't think it would be anything crazy. Our real problem is figuring out where to store the overview

[2016-01-25 14:32] stephenplusplus commented on #1084
Will the JSON be able to include headings/dividers?:

[code]

Or should we just force the hierarchy from my earlier post and just let the front end decide where to put things based on file type:

[code]

[2016-01-25 14:41] callmehiphop commented on #1084
I was actually thinking somewhere in the middle

[code]

[2016-01-25 14:49] stephenplusplus commented on #1084
Oops, forgot to nest an extra level. Just so we have an even comparison, here's my updated proposal:

[code]

The reason I like this approach is the ability to expand if we want extra overview files (like ones for Dataset, Query, etc):

[code]

[2016-01-25 14:59] callmehiphop commented on #1084
Got it, I totally dig that schema. I actually really like the separation between overviews and API docs as well.. reminds me of something we'd see upstream.

I really only a few issues with this approach

1. We would need to author kind of a lot of content to support the overview sections
2. Using markdown files will slightly increase the complexity of testing the code snippets
3. We're going to h

[2016-01-25 15:03] stephenplusplus commented on #1084
Yeah, but I think anything is better than nothing. And if it's *so* simple that having a dedicated page just for it doesn't make sense, it can also go on the parent overview page.

Definitely. But using .md files lets us merge words and code in a way that is the most easy to contribute to.

Docs as close to the code as possible is the best, but there's no way around the distance this time :\

[2016-01-25 15:04] callmehiphop commented on #1084
I agree, I think the benefits outweigh the cons here for sure.. @jgeewax thoughts?

[2016-01-25 20:59] callmehiphop commented on #91
Going to try and argue for modularization since it has sort of re-surfaced.

What about the number of dependencies? It's more or less in the same vein, modularizing would reduce the number of dependencies (and thus download size).

That's true, but assuming that we move future alpha APIs to their own package for pre-releases, this will happen regardless. We can try and steer users to report their

[2016-01-25 21:18] stephenplusplus opened #1086 "Integrate Logging API with Winston"
https://github.com/winstonjs/winston

[2016-01-25 22:07] stephenplusplus commented on #91
Mostly just taking a devil's advocate stance on this one, but this can actually work against us. If `dedupe` isn't default, or we inadvertently end up with multiple versions of some dependency across our different module repos, we actually bloat up worse than currently.

I'm hoping we can avoid this ([some reasons I gave here](https://github.com/
GoogleCloudPlatform/gcloud-common/issues/49#issueco

[2016-01-25 22:36] callmehiphop commented on #91
My naive answer is to independently version each module with semver and we would mirror the version change in the main package.

e.g.

gcloud-node@1.0.0
gcloud-storage@0.4.0

A patch is released for gcloud-storage bumping it to 0.4.1. We then mirror the patch update to gcloud-node for 1.0.1.

Again, this is naive, an alternative (and probably better) approach would be to mirror the plan gcloud-rub

[2016-01-25 23:27] selfcontained opened #1087 "Issue setting Cache-Control header"
I've tried quite a few ways of setting the `Cache-Control` metadata and am unable to do so in a way that is reflected in the object response's `Cache-Control` header.  I feel like I've got to be doing something wrong, as this is probably one of the more common headers to set for objects.

When I try to set it on the file's `metadata` during upload, it never seems to get set.

[code]

`curl --head`

[2016-01-26 00:45] thesandlord opened #1088 "Difference with new subscription callback vs object"
There is a weird difference between the callback 'subscribe' method and the 'subscription' object that does not make sense.

I would expect these two snippets to act the same way

[code]

[code]

However, the first one creates a subscription, but crashes if the subscription already exists.
The second one does not create a subscription, but works on pre-existing subscriptions.

So, I had to write t

[2016-01-26 00:49] stephenplusplus commented on #1088
If you don't know if a subscription exists, you can write:

[code]

(`get` docs: https://googlecloudplatform.github.io/gcloud-node/#/docs/v0.27.0/pubsub/subscription?method=get)

[2016-01-26 00:49] #1088 closed

[2016-01-26 00:49] stephenplusplus commented on #1087
Thanks for reporting this. I'll play with it and let you know if I can find a solution.

[2016-01-26 01:07] thesandlord commented on #1088
(Just realized my workaround is a bit wrong, but the actual code would be even more complicated

[2016-01-26 01:57] jamescharlesworth commented on #1041
Awesome, thank you guys. really appreciated this!

[2016-01-26 16:37] stephenplusplus commented on #1087
Alright, give this a shot:

[code]

The `vary` header is defaulted.

I'm going to send a PR that will make the connection between `options.metadata` and the upstream Storage API's resource definition outlined here: https://cloud.google.com/storage/docs/json_api/v1/objects/insert#request_properties_JSON

[2016-01-26 16:47] stephenplusplus commented on #1078
The credentials will cause a delay, but will only affect the first request. Have you had a chance to run any more tests?

@mziccard any chance you can run the sample here and report your findings? https://gist.github.com/stephenplusplus/15d0d7e96a40887c74aa

[2016-01-26 17:13] selfcontained commented on #1087
Doh, I knew it had to be something silly I was missing.  That link to the doc clears up a lot, thanks @stephenplusplus.  Worked like a charm once I switched it to `cacheControl`.  Thanks for the quick response too, much appreciated.

[2016-01-26 17:13] #1087 closed

[2016-01-26 18:08] stephenplusplus commented on #1087
No problem. It's our fault for the unclear docs, so thank you for bringing it to our attention!

[2016-01-26 18:22] stephenplusplus commented on #666
I think this issue will be solved by #1084 which is talking through concrete ways to implement. Feel free to re-open if I missed anything.

[2016-01-26 18:22] #666 closed

[2016-01-26 18:25] stephenplusplus commented on #1074
Fixed in 073dd09040b25618e59a64dfe9aa580129e10628.

[2016-01-26 18:25] #1074 closed

[2016-01-26 18:38] #1017 closed

[2016-01-26 18:43] stephenplusplus commented on #703
Ping @tmatsuo. Is this an integration worth making?

[2016-01-26 19:05] stephenplusplus commented on #629
This issue needs some updating. @jgeewax's original issue showed the use case for publishing a message on a brand new topic. We've found out since this issue that publishing a message to a topic without subscribers results in the message being dropped. So, we should only be considering the steps to publish a message to a topic that already exists.

[code]

We should be able to support strings:

[c

[2016-01-26 19:12] callmehiphop commented on #629
@stephenplusplus LGTM

[2016-01-26 19:36] stephenplusplus commented on #91
RE: versioning, as long as we use semver properly between all of our packages, it would be unnecessary to lock onto any specific version. Ranges should work:

[code]

If either dependency releases a fix, it is automatically picked up by default. If they release a breaking change, it won't be included until we manually release `gcloud` at `2.0.0`.

Splitting services into multiple modules would req

[2016-01-26 19:42] callmehiphop commented on #91
That's because I didn't explain it! My initial thought is to just manually release it.. but I'm sure if we really wanted to we could automate it via scripts + Travis

[2016-01-26 20:14] tmatsuo commented on #703
Sorry I missed the comment above somehow. Honestly I'm not sure about your question without knowing sockercluster more.

[2016-01-26 20:15] krisnye opened #1090 "Datastore: When runQuery fails with index required, the exact index needed should be part of the error message."
This is the current error message when a required index is not found:

    ApiError: Precondition Failed - no matching index found.

Many lives would be immeasurably improved if the error looked more like this:

    ApiError: Precondition Failed - no matching index found.
        Solution: You must add the following index to your index.yaml file:
            - kind: Cat
              ancestor: no

[2016-01-26 20:35] krisnye commented on #1090
For instance, this is the query I am currently trying to run:

    {
        "namespace":null,
        "kinds":["Task"],
        "filters":[
            {
                "name":"__key__",
                "op":"HAS_ANCESTOR",
                "val":{
                    "name":"9CDFB82D-FC98-2B7F-22C5-A391A0623474",
                    "kind":"Project",
                    "path":["Project","9CDFB8

[2016-01-27 00:24] nikhilbobb opened #1091 "Storing a long string throws an error"
Storing a string longer than 1500 bytes in the datastore throws an error. Is there a way to store it as an instance of Text (the long string type referenced in the python docs)?

[2016-01-27 00:33] stephenplusplus commented on #1091
Link: https://cloud.google.com/appengine/docs/python/datastore/typesandpropertyclasses?hl=en#TextProperty

@pcostell anything we can do here to support longer strings?

[2016-01-27 00:36] nikhilbobb commented on #1091
yes, that is the one. I realize as a workaround I can choose not to index those strings, but ideally I would like to do so.

[2016-01-27 00:39] pcostell commented on #1091
You can do this in gcloud-node by writing a `string_value` and setting `excludeFromIndexes=true`. This will let you write a string up to 1MB (minus overhead since this is also the Entity size limit).

[2016-01-27 00:40] nikhilbobb commented on #1091
Thanks!

[2016-01-27 00:40] #1091 closed

[2016-01-27 00:41] stephenplusplus commented on #1090
@pcostell - is it possible/reliable to generate such an error message given the query object and 412 response?

[2016-01-27 00:45] pcostell commented on #1090
Yup this has been a rough experience. We are working on adding this to the server error message, so as long as you pass along the error message this should start working soon.

[2016-01-27 20:09] thesandlord opened #1092 "Datastore client not getting ProjectID from env"
It looks like Datastore client is not getting the projectID from the env automatically.

[code]
This works fine, but:

[code]
returns:
[code]
This fixes the problem
[code]

[2016-01-27 20:17] stephenplusplus commented on #1092
Good catch, thanks for letting us know. PR incoming!

[2016-01-27 21:59] thesandlord commented on #1092
im not sure if other clients also have this problem. I though they all extend the same base class?

[2016-01-27 22:11] stephenplusplus commented on #1092
I checked, all of the other APIs do it.

@callmehiphop can you think of a way we can move the normalizing to the Service constructor?

[2016-01-28 16:01] callmehiphop commented on #1092
@stephenplusplus we should be able to just normalize them in the Service constructor, no?

[2016-01-28 16:05] stephenplusplus commented on #1092
I think there might be an issue with double-instantion?

On Thu, Jan 28, 2016, 11:01 AM Dave Gramlich <notifications@github.com>
wrote:

[2016-01-28 16:15] callmehiphop commented on #1092
`Service.call(...)` only gets called once IIRC - after a service class as been instantiated.. right?

[2016-01-28 19:44] VikramTiwari opened #1094 "[Docs] External links should open in a new tab"
Most of the links in the documentation are going to the API docs on [cloud.google.com](https://cloud.google.com) or in general out of the gcloud-node docs website. Its always a better choice to open all such external links in a new tab.

Even the icon next to such link indicates to open in new tab.
![screen shot 2016-01-28 at 11 40 41 am](https://cloud.githubusercontent.com/assets/1330677/12656617

[2016-01-28 22:05] VikramTiwari commented on #1086
In past I have used https://github.com/winstonjs/winston-syslog to write logs directly to syslog. But a native integration with Winston will be a great win.

[2016-01-29 12:56] stephenplusplus commented on #1092
Using this as an example: https://github.com/GoogleCloudPlatform/gcloud-node/blob/30817fcc10195da0136baefeb38b225986fb1c7e/lib/storage/index.js#L87-L90

[code]

Why do we only normalize if it's not an instance of Storage?

[2016-01-29 12:57] stephenplusplus commented on #1092
Related: https://github.com/GoogleCloudPlatform/gcloud-node/pull/845#discussion_r38926943

[2016-01-29 13:05] techniq opened #1097 "Cloud Storage not persisting on error"
I've ran into an issue that is only present in production using the Google Cloud Storage API.  I have an importer that loads 100 entries at a time.  When developing locally (with `require('fs')`) and an error occurs on say page 5, the previous pages worth of entries (400 total) are still persisted to disk.  When using GCS, this is not the case (the file doesn't even appear in the bucket).

Here is

[2016-01-29 13:32] stephenplusplus commented on #1097
The API can receive a file in two ways; a single request that contains the entire contents of the file (simple), or a series of requests (resumable). By default, `createWriteStream` uses resumable uploads, so that if an error occurs during the upload, you can start the transfer over, and only send data starting from where the last upload quit.

With a simple upload (you can pass `resumable: false`

[2016-01-29 15:02] stephenplusplus commented on #1090
Cool, that will be a great addition! We pass the raw API message, so the user will get it when it's available.

[2016-01-29 15:02] #1090 closed

[2016-01-29 15:02] callmehiphop commented on #1092
If the current context is not an instance of a service (e.g. `Storage`), that implies that the context is probably `gcloud`, which is where [we store global config](https://github.com/GoogleCloudPlatform/gcloud-node/blob/master/lib/index.js#L429).

[2016-01-29 15:05] stephenplusplus commented on #1092
So I'm wondering, since we only normalize under that condition, how do we move that logic to the Service constructor?

[2016-01-29 15:20] stephenplusplus commented on #1060
It should be safe, but let us know if you run into problems.

[2016-01-29 15:20] #1060 closed

[2016-01-29 15:24] callmehiphop commented on #1092
Ahh right, not sure if there's a way around that.. we might have to re-think things a little bit if we want to try and refactor that logic into the `Service` class.

[2016-01-29 16:05] techniq commented on #1097
@stephenplusplus hmm, I'm using the default `resumable` stream.  If an error occurs, is there a way I can resume and just "commit" the current progress.

In my example, `importer.streamPages()` walks a paginated api, emitting a `perPage` amount of objects (it's an object stream) on each `data` event.  It would be nice if I could do something like this.

[code]

[2016-01-29 16:21] stephenplusplus commented on #1097
That sounds like a cool idea. I'll see if I can find a way to do that :+1:

[2016-01-29 16:31] stephenplusplus commented on #1097
I think what you can do is:

[code]

When a readable stream gracefully ends, it's saying "And you, next stream in the pipe, have received all I have to give you." Our write stream will continue normally, and write that data to the remote object. Try it out and let me know!

[2016-01-29 18:13] techniq commented on #1097
Thanks, I'll give that a shot and let you know.  In my example, I'll need to not sure an arrow function so `this` is the stream and not the closure, so I figure it will be more like...

[code]

I currently don't have a test for this, but will try to make one (against Cloud Storage) and see how it goes, as otherwise I'll have to wait for the failure to occur again (`import.streamPages` retries a ca

[2016-01-29 18:24] stephenplusplus commented on #1097
Cool, thanks for sharing details about your use case. It always helps to hear real-world scenarios.

RE: the `this` stuff, good catch, I didn't think of that. Here's another option:

[code]

And just for reference, here is the script I used to test:

[code]

[2016-01-29 21:32] techniq commented on #1097
@stephenplusplus thanks for your help.  I've made some progress on this, but my limited knowledge of Node streams has me hitting a wall.

I found some of my issue to be in my `retryStream` function, that uses a Passthrough stream/transform that I was previously just logging "Max attempts reached" when the `streamFunc` reached it's maximum number of retries.

Now, calling `.end()` on the PassThroug

[2016-01-29 21:36] stephenplusplus commented on #1097
No problem, I'm happy to take a look! I'll let you know if I can come up with anything

[2016-01-29 21:41] techniq commented on #1097
@stephenplusplus you are crazy responsive :)

[2016-01-29 21:41] stephenplusplus commented on #1097
Also just repo-dropping this because I also go through some headaches when trying to deal with streams, so I wrote up some guides for under/non-documented use cases: https://github.com/stream-faqs - I haven't dug into your code yet, but it might have a helpful section or two!

[2016-01-29 21:44] techniq commented on #1097
You mean https://github.com/stephenplusplus/stream-faqs and I've been there - https://github.com/techniq/wiki/wiki/Node.js :)

[2016-01-29 21:46] stephenplusplus commented on #1097
Haha, I just make sure to always keep a GH tab open:

<img width="1440" alt="screen shot 2016-01-29 at 4 45 00 pm" src="https://cloud.githubusercontent.com/assets/723048/12688962/a9436ec2-c6a7-11e5-8915-51760ac3453e.png">

And oh, nice! :)

[2016-01-29 21:48] techniq commented on #1097
As well a nice game.  You have a daughter I image (or really like Frozen :) )

[2016-01-29 21:51] techniq commented on #1097
btw, I'm on Hangouts/Slack/etc if you want to chat outside of the issue to keep the noise down.  I'm leaving the office in about 10 min to work my second shift (Chief Family Officer) but will be back on ~9:00pm EST.

[2016-01-29 21:58] stephenplusplus commented on #1097
Sounds about identical to my plans! I'll ping back I'm back on the case. No
worries about noise here, I think it'll only help others.

And yes, a daughter who loves Frozen enough for both of us:
https://youtu.be/tGKybwbsA34

On Fri, Jan 29, 2016, 4:51 PM Sean Lynch <notifications@github.com> wrote:

[2016-01-30 03:41] stephenplusplus commented on #1097
I'm not quite sure this is what you need, but `end` takes an error, first emitting it, then attempting to gracefully end the stream. So, instead of:

[code]

Try:

[code]

But for the issue of bubbling the error, I would try using [`pumpify`](https://github.com/mafintosh/pumpify).

I tried running the code, but I don't think I got it to work the way I was supposed to! I saw how removing the `setTi

[2016-01-30 04:28] techniq commented on #1097
Thanks @stephenplusplus, that gives me plenty to look at.  I've already had to switch gears onto a different project so it will probably be a few days till I can spend more time on this.  I've been using `got` (for Promise support, as well as stream) and originally it had retry support but not for 500 errors (which was odd to me), but I think they may have changed that in later releases to also re

[2016-01-30 22:23] jasonswearingen commented on #551
A bit surprising that promises are not supported.  I would suggest supporting promises and callbacks, but it might get in the way with the various Stream-returning overloads

[2016-01-30 22:39] stephenplusplus commented on #551
We're getting there, @jasonswearingen. Promise.

[2016-01-30 22:39] jgeewax commented on #551
I see what you did there....... :)

[2016-02-01 13:46] stephenplusplus commented on #1097
No problem. I'll close this issue since I don't think `gcloud` needs to change, your app just needs to find the right place to handle the aborting of the stream. I'm still happy to help find where that is, so whenever/whatever I can do, just ping me back in here and we can keep working on it.

[2016-02-01 13:46] #1097 closed

[2016-02-01 16:27] techniq commented on #1097
@stephenplusplus No problem, and good news, I spent some time on this yesterday and figured it out.  My `retryStream` now emits a `new Error()` when it exhausts the number of retries.  One of the big gotchas (and still not 100% sure why it's occurring) was needing to call `stream.emit('error', err)` within my `streamPage` function instead of `this.emit('error', err)` even when using a normal funct

[2016-02-01 16:32] techniq commented on #1097
and actually, I just tried to refactor...

[code]
to
[code]
and I'm back at getting the `Uncaught RangeError: Maximum call stack size exceeded`

[2016-02-01 17:00] stephenplusplus commented on #1097
Using this example:

[code]
but this works
[code]

What's happening is in the first example, `this` is the same context that the error was emitted on. So it's going "I got an error? I better tell me about it! I got an error? I better tell me about it! I got an..."

In the second example, when you emit on `stream`, (this is the important part:) `stream` is the last stream in the pipe that was given

[2016-02-01 17:07] techniq commented on #1097
Interesting. So is there a better way to emit an error without it being catch by the same error handling?  I'm assuming this would fail (without testing it myself)

[code]

[2016-02-01 17:25] stephenplusplus commented on #1097
If the error is a deal-breaker, you should end the stream from where the problem began by calling `this.end(err);`

Here's an example of what happens when ending a source stream with an error:

[code]

[code]

In your case, the upload stream should see the peaceful end from your stream, and upload the data to GCS.

[2016-02-01 18:22] techniq commented on #1097
I had a problem when I tried to call `.end()` with an Error object instead of emitting an error event

Works
[code]

Wrong err.message - `Invalid non-string/buffer chunk`
[code]

At this point I'm going to just go forward with what I have.  Node Streams are still perplexing with how they work to me, but at this point I have something I can work with.

Thanks again for all your help.

[2016-02-01 18:40] stephenplusplus commented on #1097
Oh man, you're totally right. I was mixing up `destroy` with `end`. I should just close up `stream-faqs` now and call it `stephen-is-a-noob`.

Alright, the example I should have given is:

[code]

So emit the error like you are, but also call `end`, and the stream that you ended communicates to the other streams that they've received all the data they're going to get, so they can close properly. T

[2016-02-01 18:46] techniq commented on #1097
No worries.  Thanks :)

[2016-02-01 18:48] gotmikhail commented on #818
Is there the option to set the origin with this method? We're trying to use our API to generate a resumable uri, but the client is running on a different subdomain.

[2016-02-01 18:51] stephenplusplus commented on #818
I think @janesconference was going to help us implement that in gcs-resumable-upload. I opened an issue about it here: https://github.com/stephenplusplus/gcs-resumable-upload/issues/6. Feel free to subscribe to that one to track the progress.

[2016-02-01 19:26] gotmikhail commented on #818
@stephenplusplus Any other options? Ie., createWriteStream? Or, is it that setting the `origin` option isn't available right now at all?

[2016-02-01 20:19] stephenplusplus commented on #818
I don't believe any other options exist, sadly. I'll work on adding support asap.

[2016-02-01 20:22] stephenplusplus opened #1099 "Support setting an origin when using resumable upload"
Related:
- https://github.com/GoogleCloudPlatform/gcloud-node/issues/818#issuecomment-178124099
- https://github.com/stephenplusplus/gcs-resumable-upload/issues/6

This will include a breaking change.

[code]

[2016-02-01 20:37] stephenplusplus commented on #1099
@gotmikhail - pulling you over here so you can track this.

I released gcs-resumable-upload@0.4.0 with support for an `origin` option: https://github.com/stephenplusplus/gcs-resumable-upload/commit/8f961676fd7c3a7afef8a9707c8b7fbb9c15138e. So, that's available to use immediately until it makes it into gcloud-node.

[2016-02-02 15:00] gotmikhail commented on #1099
Here's what I've implemented:

[code]
But, still getting `No 'Access-Control-Allow-Origin' header` on the client. Any thoughts on what I'm doing wrong?

[2016-02-02 16:11] stephenplusplus commented on #1099
@janesconference I'm sorry to bother you again. If you get a minute, do you have any insight on @gotmikhail's issue?

[2016-02-02 16:54] techniq commented on #1097
@stephenplusplus Guess who's back :)

We went into production with the changes we discussed here, but ran into a major issue.
![screen shot 2016-02-02 at 11 32 12 am](https://cloud.githubusercontent.com/assets/177476/12756192/a2b89bb2-c9a0-11e5-9c47-c6c487450662.png)

The error handler is after the piping to the GCS write stream.

[code]

I've been unable to reproduce the issue locally on my works

[2016-02-02 17:02] stephenplusplus commented on #1097
Could you plop a gist or repo together with the bare minimums so I can jump in? (please include package.json!) I think we can figure it out, but I'm doing a lot of scrolling back and forth, so I think I'm probably just slowing us both down.

[2016-02-02 17:08] techniq commented on #1097
Will do.  Thanks

[2016-02-02 17:11] techniq commented on #1097
Probably take me an hour or so as I need to step into a meeter.  Are you on the Google Cloud team btw (just curious)?

[2016-02-02 17:13] stephenplusplus commented on #1097
Technically speaking, no. I'm only helping the team (@jgeewax) with this project.

[2016-02-02 17:36] gotmikhail commented on #1099
@janesconference @stephenplusplus
I couldn't get the wildcard to work, but I did hard-code the origin and got that through w/ no `xhr` issues. I'm still having an issue with writing out the file successfully, getting a `200` back from the `PUT` request, the file is listed in Cloud Storage, `Content-Type` is correct, but unable to properly load the file. That may be fully on our side.

[2016-02-02 18:00] Moezalez opened #1101 "Allow batching subscription deletions"
Hey, I am trying to unsubscribe from multiple topics:

[code]

Everytime I try this, i get an unhandled error:
[code]

Any idea?

EDIT: interesting enough, even though it throws an error, it still seems to delete the subscriptions.

[2016-02-02 18:13] techniq commented on #1097
I'm struggling to find a good way to reduce this into a simple reproducible example.  Since there are a lot of things at play (URL fetching of a large amount of data, slow consuming stream to a Cloud SQL database, and it's only reproducible (thus far) on a memory-limited micro instance.  You wouldn't be interested in doing a Hangout/screen share to walk through the code on my machine?

[2016-02-02 18:21] stephenplusplus opened #1102 "Pass through options `maxRetries` and `autoRetry`"
The `Service` constructor isn't passing them through:

https://github.com/GoogleCloudPlatform/gcloud-node/blob/30817fcc10195da0136baefeb38b225986fb1c7e/lib/common/service.js#L43

Neither is Datastore:

https://github.com/GoogleCloudPlatform/gcloud-node/blob/30817fcc10195da0136baefeb38b225986fb1c7e/lib/datastore/dataset.js#L126-L132

to where they need to go:

https://github.com/GoogleCloudPlatform

[2016-02-02 18:22] stephenplusplus commented on #1101
Thanks for reporting this, @Moezalez. I'll pull in the Pub/Sub expert for this issue: @tmatsuo does this sound like a rate limit error?

Our library will [automatically back off, then retry requests](https://github.com/GoogleCloudPlatform/gcloud-node/blob/30817fcc10195da0136baefeb38b225986fb1c7e/lib/common/util.js#L266) after it receives a response from the API that indicates the server needs a br

[2016-02-02 22:01] stephenplusplus commented on #1097
Sorry about the code back and forth. I was still trying to wrap my head around how all of the pieces of the pipeline played together. Stubs to stand-in for actual API services are fine. I was able to put the pieces together and get something running, but wasn't able to produce any meaningful results.

You shouldn't need to do this, as far as I know. The upload stream should only take on what it ca

[2016-02-03 11:26] Moezalez commented on #1101
Thanks, @stephenplusplus.

I found out that giving the mechanism more time evades the problems:

[code]

[2016-02-03 12:47] techniq commented on #1097
Good news, I went back to an implementation of `streamPages` that uses `MultiSteram` and I did not receive the `socket hang up` error during our nightly tasks.  Using MultiStream, streamPages's factory is only called after the downstream consumers (writing to GCS and importing into Cloud SQL) have completed the current batch.  I couldn't find any kind of memory usage graph on https://console.cloud

[2016-02-03 13:15] Moezalez opened #1104 "Abort outstanding HTTP requests when subscription is closed"
Hi!

After a certain event I just want my app to shut down. It seems, though, that gcloud (where I only use pubsub) keeps my App alive. Is there a way to kill pubsub so my App can shut down?

[2016-02-03 13:34] jgeewax commented on #1084
:+1:

[2016-02-03 13:37] stephenplusplus commented on #1104
It is probably a subscription object that is still pulling for new messages. You can quickly stop that process by calling subscription.removeAllListeners()

[2016-02-03 14:36] Moezalez commented on #1104
Hey @stephenplusplus, thanks for your answer.
That did not work for me.
Here a little example of what I mean. This will stay alive:

[code]

[2016-02-03 16:54] stephenplusplus commented on #1101
The ideal solution would be an upstream batch API endpoint that can handle multiple subscriptions being sent to it. @tmatsuo -- any hope of such a thing?

In our library, we could add `pubsub.deleteSubscriptions(subscriptions, callback)`, which would throttle the requests to try to step around rate limits.

// @callmehiphop for thoughts

[2016-02-03 17:20] callmehiphop commented on #1101
I agree that we would ideally solve this with a batch API endpoint, however if that's not an option I also think a `deleteSubscriptions` method with a `throttle` option would fit well and be consistent with our current APIs.

The only other thing I could think of would be adding throttling logic to all our APIs at the ServiceObject level, letting the user configure the throttle rate at service ins

[2016-02-03 18:19] stephenplusplus commented on #1104
Got to the bottom of this! Unfortunately, there are a few pieces involved...

1) Removing listeners is the right way to do this :+1:, but our code doesn't abort the HTTP request that remains open while waiting for new messages. We have to fix that (pr incoming soon)
2) We need a way to abort requests, but we're limited by one of the libraries we use, `retry-request`. I just fixed that: https://git

[2016-02-03 19:29] stephenplusplus commented on #1097
That's great to hear! And thanks for posting here, so others can see how mind-crippling streams are. At this point, I'm not even sure the people who wrote them fully understand them!

[2016-02-03 20:43] techniq commented on #1097
haha, no kidding.  They're like regex to me, as soon as I think I'm on top of them, I take a week off, and feel like I know half what I did last time I looked at them.

On a similar note, I have hopes the [observable](https://github.com/zenparsing/es-observable) / [web streams](https://jakearchibald.com/2016/streams-ftw/).  Haven't played with RxJS yet, but figure I will soon when I get into Angul

[2016-02-03 21:23] callmehiphop commented on #911
Moved to https://github.com/GoogleCloudPlatform/gcloud-common/issues/69

[2016-02-03 21:23] #911 closed

[2016-02-04 00:26] stephenplusplus commented on #1078
@bgSosh I'm going to close this out as this is likely a geographic issue, beyond what this library can help with. If you have a chance to run some more tests or find anything we might not have thought of that would help, please re-open.

[2016-02-04 00:26] #1078 closed

[2016-02-04 02:56] hrovira opened #1108 "ApiErrors: Backend Error"
Getting a generic ```Backend Error```. Not sure if its worth verifying the status of datastore.
I was accessing datastore from my dev box, as well as from GCE.

I can still view Datastore Entities from https://console.developers.google.com/datastore/entities/query, but I also saw a ```Backend Error``` popup when I tried to access the "Admin" section.

Also saw messages on AppEngine admin logs, but

[2016-02-04 03:05] hrovira commented on #1108
Its responsive now

[2016-02-04 09:24] tgknight opened #1109 "Could Compute operation emit 'running' event?"
It seems that the operation object can only emit 'complete' and 'error' events. I think it would be great if the object could also emit 'running' or similar event that indicate the 'RUNNING' status in all Operation resources.
A use case example for that feature is to show users that the instance is in the process of creation. It can be done manually by the method similar to[`Operation.prototype.st

[2016-02-04 09:45] janesconference commented on #1099
@gotmikhail

I never tried with the wildcard, but sure it's working for me with the correct origin.

For this to work on the client, though, you [have to set CORS in your target bucket appropriately](https://cloud.google.com/storage/docs/cross-origin).

You'll then be able to PUT your chunks on that address as multiple of 256k, get a 308 for each of them, then PUT the final one with a Content-Rang

[2016-02-04 12:57] stephenplusplus commented on #1109
How about progress events?

[code]

[2016-02-04 13:00] stephenplusplus commented on #1108
Sounds like an API hiccup, but glad to hear it's working smoothly again.

@jgeewax is there a good place for users to submit issues like this (and [this](https://github.com/GoogleCloudPlatform/gcloud-common/issues/51))?

[2016-02-04 13:07] #1108 closed

[2016-02-04 13:48] tgknight commented on #1109
It sounds great! It will be much easier to implement progress tracking feature with 'progress' event.
Thank you for your fast response.

[2016-02-04 14:19] #1099 closed

[2016-02-04 19:05] hrovira commented on #1108
Appreciate the help! This didn't seem like a post for stackoverflow either...

I found a more appropriate link in the [support documentation](https://cloud.google.com/datastore/docs/support)

__Non-paid support customers__
[Submit a Cloud Datastore production issue](https://docs.google.com/a/google.com/forms/d/1ZBczgbmn1spg7GvaQnCoY-Zhxi4d6YHMdLMV6cPixrk/viewform)

[2016-02-04 21:27] jasonpolites opened #1112 "Link to Pub/Sub API Docs from README goes to empty page and starts an endless 404 loop"
The [API docs page](https://googlecloudplatform.github.io/gcloud-node/#/docs/storage) linked to from the [README](https://github.com/GoogleCloudPlatform/gcloud-node#google-cloud-pubsub) is blank.

If you view the dev console from this page, you'll see it spews out 404 errors:

`https://googlecloudplatform.github.io/gcloud-node/json/storage/index.json Failed to load resource: the server responded w

[2016-02-04 21:28] stephenplusplus commented on #1112
Ooh, thanks for reporting. @callmehiphop do we have a catch-all route on the docs site?

[2016-02-04 23:11] callmehiphop commented on #1112
We do, but the issue here is that the README links omit the version (rightfully so) and I didn't include logic to check for that. I made a two small PRs to fix this.

[2016-02-05 02:00] nikhilbobb opened #1114 "methods do not work on the returned objects from dataset.getTables"
On calling dataset.getTables from the bigquery API, and then calling any method on the returned tables I get the following error:

Invalid table ID

Am I doing something wrong?

[2016-02-05 02:08] stephenplusplus commented on #1114
I was able to reproduce as well. Looks like table IDs are returned from the upstream APIs like this:

[code]

I'm not sure if it's always been this way, or if we just missed it. But what we want instead is:

[code]

In the meantime, you can use something like this code to get around the bug:

[code]

Thanks for catching this and reporting it!

[2016-02-05 02:57] jasonswearingen commented on #952
i wrote my own definitions ***for datastore***, i am going to publish the definitions on  definitelyTyped but haven't done so yet (haven't debugged/tested my app yet)

here's the definitions for you if you like
https://gist.github.com/jasonswearingen/b2619b1d7d4991452131

[2016-02-05 03:00] jasonswearingen commented on #952
by the way, the datastore api does seem a bit immature (besides the obvious no Promises)  so i'm not so sure writing typings is so important at this point.   I write typings because  it helps me learn a new api.

[2016-02-05 18:15] lorennorman opened #1115 "Simpler Metadata querying from inside the VM"
Hello!

I would like to use gcloud-node on a VM to fetch its Metadata. I expected this to be simple, since the CLI way of grabbing the Metadata is a simple CURL to a magic URL. My expectation would be that gcloud-node wraps that nicely for me already. Unfortunately, this is not the case.

Instead, the docs say:
[code]

Whoa, whoa, whoa, I'm already _on the VM in question_, do I really need to know

[2016-02-05 18:23] jgeewax commented on #1115
I'm a big fan of that. A couple questions:

1. If you run this while not on a VM, should the result be `null` or an
Error thrown ?
1. If you're trying to develop against this, how do you do it?

[2016-02-05 18:24] stephenplusplus commented on #1115
This is a great explanation of what you went through. We actually have this discussed in #917, please feel free to add any thoughts over on that issue, as we talked through some problems/solutions.

Supporting this is not exactly at the top of the priority list (reaching 1.0, using promises natively, introducing more services are currently ranked higher), but it's definitely planned.

[2016-02-05 18:24] #1115 closed

[2016-02-05 18:24] stephenplusplus commented on #1115
@lorennorman @jgeewax please continue discussing in #917

[2016-02-05 18:34] callmehiphop commented on #1112
Thanks @jasonpolites! This should now be resolved per https://github.com/GoogleCloudPlatform/gcloud-common/pull/71

[2016-02-05 18:34] #1112 closed

[2016-02-05 18:42] stephenplusplus commented on #1092
Should we just leave it?

[2016-02-05 19:01] callmehiphop commented on #1092
Might be a good idea for now?

[2016-02-05 19:15] #1092 closed

[2016-02-05 19:51] nikhilbobb commented on #1114
Thanks Stephen!

[2016-02-05 19:52] #1114 closed

[2016-02-05 19:53] stephenplusplus commented on #1114
Thank you! @callmehiphop gave us the fix in #1116. We'll hopefully be releasing on Monday, keep an eye out!

[2016-02-05 20:12] jasonpolites opened #1117 "[Feature Request] Authorize using oAuth tokens"
Currently the authorization for gcloud-code is [done via a service account](https://googlecloudplatform.github.io/gcloud-node/#/docs/v0.27.0/guides/authentication) but it would be great if the client could be authorized via an oAuth token as an alternative.

This would make it easy to quickly iterate on solutions, and also share solutions with other people without needing to pass around keys etc.

[2016-02-05 20:48] stephenplusplus commented on #1117
Do you mean literally a token string or a json file (from the guide, `client_secret.json`)?

[2016-02-05 21:26] stephenplusplus commented on #952
Thanks for sharing that!

Yeah, it will be shaken up pretty good by #897.

[2016-02-05 21:28] stephenplusplus commented on #1104
This is actually going to be resolved by #1070, since we're switching to using [`gRPC`](https://github.com/grpc/grpc). If all goes well, a release that has this completely resolved will be put out on Monday.

[2016-02-05 22:08] jasonpolites commented on #1117
I would think the preferred option would be an in-memory value.  Developers can then immediately authorize gcloud from an oAuth dance, and if they want to store the token they can do that but they'll have to store/load it themselves (they may want to store it somewhere other than local file system, so I think just having a String value makes the most sense)

[2016-02-06 01:56] jasonswearingen opened #1120 "saving basic transaction hangs"
I'm following the datastore docs, and trying to do an example save in a transaction, but the code just hangs.

I am guessing that the docs for transactions is incomplete.   Please inform me of the actual way to do transactions, and update the docs a bit (add at least 1 transaction example?)

the following code never executes any of the callbacks.  running this example outside a transaction works f

[2016-02-06 02:03] stephenplusplus commented on #1120
We just overhauled the docs, and it looks like there is indeed a bug: https://googlecloudplatform.github.io/gcloud-node/#/docs/v0.27.0/datastore/transaction?method=save

If you go there, you'll see it describes `save` but using a Dataset object for the examples. If you scroll down *past* those examples, you'll see another section for `save`, but this time the examples use a `transaction`.

Here's

[2016-02-06 02:03] stephenplusplus commented on #1120
@callmehiphop -- can you see if you know what's up with the docs duplication?

[2016-02-06 02:26] jasonswearingen commented on #1120
@stephenplusplus Thanks for the help, I see the proper docs now.

some time in the future, is there going to be a callback for ```transaction.save```?  For method=insert purposes.   I suppose I can emulate this with a transaction.get() call ?

[2016-02-06 02:40] stephenplusplus commented on #1120
No problem, thanks for helping us catch the issue.

Would you mind showing an example of what you're looking to do?

[2016-02-06 02:56] jasonswearingen commented on #1120
I wrote an orm layer for datastore (well, writing I suppose) so it's hard to show the code for what i'm trying to do, the general idea is to ensure inserts into multiple Kinds all succeed, otherwise potentially take alternate actions at various steps (like retry with another key)

Here's my actual scenario:  new user registers for website:
1 .insert a new entity to the "Quota" Kind using "a-long-a

[2016-02-06 04:08] jasonswearingen commented on #633
from my own testing, it looks like the logic being discussed here isn't actually how ```done()``` and ```rollback()``` work?

here is my example code:
[code]

From my various combinations of tests, it seems to behave how I would naturally expect it to :  you can only ```rollback()``` if you haven't called ```done()``` yet, and calling ```done()``` after an error or a rollback doesn't work.

[2016-02-06 05:57] jasonswearingen commented on #1120
I just realized a real need for the ```transaction.save()``` callback:  ***atomic modifications***    How else can we atomically increment/decrement numeric information?

here is a proof of concept, showing that the callback is required.

[code]

[2016-02-06 08:04] sebelga opened #1121 "Object Value type in Datastore?"
Hi,
Reading the #553 issue and having a look at the valueToProperty method here https://github.com/GoogleCloudPlatform/gcloud-node/blob/bc2b57ce4e2d84a8d2ff722d677ddfe681fc8d00/lib/datastore/entity.js#L380, I suddenly realize that I can save Object Value type in the Datastore...

I am probably missing something because according to the dos from Google (https://cloud.google.com/appengine/docs/pytho

[2016-02-06 18:04] stephenplusplus commented on #1121
The docs you linked are for App Engine and Python :) Take a look at these docs: https://cloud.google.com/datastore/docs/concepts/entities#Datastore_Properties_and_value_types, specifically the "embedded entity". As of this version of Datastore (v1beta2), these types cannot be indexed.

And sorry about the doc confusion. I can totally relate to being overwhelmed by the amount of docs that exist for

[2016-02-06 18:04] #1121 closed

[2016-02-06 18:05] stephenplusplus commented on #1120
I think I'm going to ask the resident expert on Datastore advise the right way to handle the use case you described. Paging @pcostell!

[2016-02-06 18:06] stephenplusplus commented on #1117
Sounds good to me!

@jgeewax should we move this to gcloud-common so other languages can support this style of auth?

[2016-02-06 18:16] sebelga commented on #1121
Thank you for clarifying this. I have indeed a hard time sometime to find the API reference when I google my search. Sometimes I end up in the Java section, sometimes in the Python but almost never here in gCloud... Looking at it differently: I know now how to query the Datastore in 3 languages :)

[2016-02-06 18:27] jasonswearingen commented on #1120
Thank you @stephenplusplus , I am hoping that between the first transaction.get() and the transaction.update() the entity is locked, but I will test that theory out tonight.

[2016-02-06 18:29] stephenplusplus commented on #633
A Transaction only makes a total of 2 requests to the Google API:

1) Begin a transaction: https://cloud.google.com/datastore/docs/apis/v1beta2/datasets/beginTransaction
2) Commit the transaction: https://cloud.google.com/datastore/docs/apis/v1beta2/datasets/commit

A transaction doesn't commit until `done()` is called. Every operation you make with `delete` and `save` is queued until that call.

[2016-02-06 18:39] stephenplusplus commented on #1120
No problem, I think you discovered a place where our code is busted...

Our Transaction object inherits from a base class, `DatastoreRequest`. That class defines all of the methods that are shared between a Dataset and Transaction object: `get`, `delete`, `save`, etc. Because Transactions wait until `done()` is called to commit the transaction, Transaction#save is overridden to not actually run th

[2016-02-06 18:50] stephenplusplus commented on #1120
Think I'm wrong about our implementation not handling the use case above... turns out, it does handle it! So no more bug, sorry for the confusion.

To sum it all up in case I lost us both; A transaction is just a bunch of requests made all in one request. If a single one fails, the whole transaction fails. So, you have to resolve any `get`s before you make that transaction's commit (by calling `do

[2016-02-06 19:06] jasonswearingen commented on #1120
could you please post an example on how to atomically increment a numeric?  (I'm still a bit confused on how ```done()``` works)

[2016-02-06 19:13] stephenplusplus commented on #1120
I think your example simply becomes:

[code]

The atomic guarantee is that everything you ask of a transaction is changed as you requested, otherwise, nothing is changed.

I think the confusion is it seems like transactions are:

- Open
- Make changes to entities (delete, insert, save, etc)
- Close

When in fact it's just:

- Open
- Make changes to entities (delete, insert, save, etc)

The "close"

[2016-02-06 20:37] jasonswearingen commented on #1120
ok thank you, I will test that out tonight!

[2016-02-06 21:48] musemind commented on #1051
Same problem on DigitalOcean.
`createWriteStream({ resumable: false })` solved it! Thanks!

[2016-02-07 00:56] maasencioh opened #1122 "Error: read ECONNRESET"
Hello, maybe I'm doing a silly question, but I'm working in [this project](https://github.com/maasencioh/solmaforo/tree/develop) and I have an error when I load a file

[code]

It's suppose to be a socket error, but I'm not able to track it down, do you have any clue?

PS: [This](https://gist.github.com/maasencioh/8b908aa8f31186f67b6b) is an example of a file to load

Thanks!

[2016-02-07 01:26] stephenplusplus commented on #1122
I'm trying to reproduce, but hit a roadblock. The regex [here]( https://github.com/maasencioh/solmaforo/blob/674f8ea3ab024737419d02e44d870136c22cbf90/controllers/upload.js#L22) isn't finding any matches from the file from the gist.

I did notice the callback to the `models.store.get` function is being immediately invoked: https://github.com/maasencioh/solmaforo/blob/674f8ea3ab024737419d02e44d87013

[2016-02-07 01:31] stephenplusplus commented on #1122
*Oh, and you should probably not check in your key file JSON :)*

[2016-02-07 18:06] stephenplusplus commented on #1117
This issue was moved to GoogleCloudPlatform/gcloud-common#76

[2016-02-07 18:06] #1117 closed

[2016-02-07 21:53] jasonswearingen commented on #1120
fyi I tested atomic increment and it works fine:  20 simultanious processes incrementing 100 times each.   Took 8min, but i already read in the docs it'd be slow.

here's my test code if anyone needs it:

[code]

So, I guess I'll close this issue, everything's hunky-dory!

[2016-02-07 21:53] #1120 closed

[2016-02-07 22:20] jasonswearingen commented on #1120
by the way,   I am making an orm layer (and this is my first ever orm actually) but it's a bit of a pain how there are 2 different code-paths for calls in a transaction vs calls outside a transaction.   I ended up writing a promise wrapper for Dataset and Transaction that abstracts this out   (transaction.save will return a dummy promise).

so please keep that in mind for the next api rewrite!

[2016-02-07 23:25] jasonswearingen commented on #633
hmmm, actually i retried my example code above and it works like what you said....    strange... I could have swore it wasn't working properly when i checked last time!

that said,  given my simple example, you can also call ```rollback()``` before ```done()``` and it still behaves correctly (rolling back the transaction)

I can see how it only sets some state twice (creating the transaction and a

[2016-02-08 01:00] stephenplusplus commented on #633
@pcostell can you fill us in on how are rolling back a transaction is meant to work?

[2016-02-08 14:04] stephenplusplus commented on #1101
Yeah, this would be nice, but I think for the general use case, we're safe with our current logic.

But you make a great point... this is just one part of our API. We have many `delete` operations across our service objects. I'm starting to think I would rather let the npm ecosystem solve this for those who need to be able to rapidly delete objects. They can choose from a variety of tools to help

[2016-02-08 15:27] callmehiphop commented on #1101
I like this, I think we should document use cases like this, suggesting the use of third party libraries.

[2016-02-08 18:16] tmatsuo commented on #1101
Batch deletion is currently not suported. Maybe you can file a feature request at https://code.google.com/p/cloud-pubsub/issues/list ?

[2016-02-08 18:21] stephenplusplus commented on #1101
Oh, nice! Do you happen to have links for the other services, i.e. Datastore, Storage, etc?

[2016-02-08 18:25] stephenplusplus commented on #1101
Submitted: https://code.google.com/p/cloud-pubsub/issues/detail?id=28&thanks=28&ts=1454955900

[2016-02-08 19:14] pcostell commented on #633
@stephenplusplus can you clarify what the exact question is?

Some general information:
Right now, Datastore uses optimistic concurrency control. This means that rolling back doesn't do much (it cleans up some state about your transaction, but it isn't strictly necessary). However, we will be adding new types of transaction options and eventually switching to a new backing store which requires loc

[2016-02-08 19:24] stephenplusplus commented on #633
Okay, I was thinking rolling back a transaction is an undo of whatever occurred during the transaction. If it's more of a clean-up, is that something our library should just do automatically after a transactional commit?

[2016-02-08 20:54] pcostell commented on #633
Transaction code should always look something like (excuse the python pseudocode):

    try:
      begin_transaction()
      do some stuff, throw error if you want to exit
      commit()
    except:
      rollback()

In general, we should be able to hide this in the clients. However, the user needs to be able to say "actually this commit is problematic, abort". Perhaps passing an error into `done(

[2016-02-08 20:57] stephenplusplus commented on #633
That makes a lot of sense, thanks for the explanation.

[2016-02-08 21:16] Moezalez commented on #1101
@stephenplusplus You're proposed solution with `async` seemed to have worked quite well in my case

[2016-02-08 21:57] stephenplusplus commented on #1122
Hey @maasencioh, I'm going to close the issue, but please re-open if you can reproduce or help me get the demo up and running. As of now, it seems like maybe a local issue, but I'm still happy to take a look if it's anything I can fix.

[2016-02-08 21:57] #1122 closed

[2016-02-10 18:19] #1109 closed

[2016-02-11 19:47] #1102 closed

[2016-02-11 19:56] stephenplusplus opened #1127 "Add a spell checker to our lint task"
Cont'd from https://github.com/GoogleCloudPlatform/gcloud-node/pull/1126#issuecomment-183034508

We have words written all over the place that might not be correct grammatically.

@callmehiphop found a tool called [write-good](https://github.com/btford/write-good) which we could add to our link task to catch such non-good writings. We would likely need a spell-checker as well, because it doesn't s

[2016-02-11 20:05] callmehiphop commented on #1127
We could generate the JSON and run spellcheck/write-good on the description properties throughout? I think the trickier part will be parsing markdown and skipping code snippets and possibly markdown syntax.

[2016-02-11 20:06] stephenplusplus commented on #1127
Ooh! https://github.com/wooorm/strip-markdown

[2016-02-11 20:08] callmehiphop commented on #1127
Nice!

[2016-02-11 22:47] #1101 closed

[2016-02-12 01:06] JustinBeckwith commented on #1086
@matthewloring and I actually have a plan for this one.

[2016-02-15 09:01] firemuzzy opened #1128 "ApiError errors field is alway [] during a failed save to datastore"
On preforming a duplicate insert the datastore normally returns

`{
  "error": {
    "errors": [
     {
       "domain": "global",
       "reason": "INVALID_ARGUMENT",
       "message": "entity already exists"
     }
    ],
    "code": 400,
    "message": "entity already exists"
  }
}`

but instead 'errors' in the ApiError are an []
**Is this intentional?**

From some digging around, the problem i

[2016-02-15 16:50] stephenplusplus commented on #1128
I was able to reproduce up until:

[code]

When I `console.log(error.message)` I get:

[code]

My tests are from version 0.28. We have made some changes with how errors are parsed (#1030, #1048). Which version are you running?

[2016-02-15 18:59] firemuzzy commented on #1128
Thanks for taking a look. Am running 0.28 but against the local gcd.sh store. Switched it to the cloud and now I getting the same message as you are.

[2016-02-15 23:18] musicalshore opened #1129 "require('gcloud') crashing node app"
http://stackoverflow.com/questions/35414629/gcloud-causing-node-app-to-crash

My app suddenly started crashing and I've narrowed it down to a require('gcloud') on a server controller. This happened after merging from another branch. I've looked and looked, tried deleting and reinstalling all node_modules and nothing has helped. There are no differences between the package.json files on either bran

[2016-02-16 00:14] stephenplusplus commented on #1129
This may be an issue `npm cache clean && npm install` can fix, but if not, try opening an issue on [`forge`](https://github.com/digitalbazaar/forge/issues). It is indirectly a dependency of this library. Please link back if you open an issue there, and provide your Node version and OS as those will likely be helpful in debugging.

[2016-02-16 00:14] #1129 closed

[2016-02-16 14:28] stephenplusplus commented on #1128
I reproduced using the local Datastore server as well. I put together a PR: #1130. Feel free to try the branch to see if the error is more aligned with what you'd expect:

[code]

[2016-02-16 14:50] stephenplusplus commented on #1086
Awesome, let me or @callmehiphop know if you need any help.

[2016-02-16 15:20] stephenplusplus commented on #1025
This issue is really just "Support the new Logging API when it's released" -- we have an "implied issue" for all of the APIs we support, so we don't really need to track one specific feature. When the new Logging API comes out, as soon as we know about it, we'll work to add support for all of the changes that come with it.

[2016-02-16 15:20] #1025 closed

[2016-02-16 15:26] stephenplusplus commented on #1040
@pcostell will `DATASTORE_DATASET` still be around in v1beta3? Are there other env vars we should look out for?

[2016-02-16 17:19] #1128 closed

[2016-02-16 18:10] pcostell commented on #1040
DATASTORE_DATASET will go away in favor of DATASTORE_PROJECT_ID.

DATASTORE_HOST will go away and become DATASTORE_EMULATOR_HOST. However, it won't include the url scheme.

[2016-02-16 18:12] stephenplusplus commented on #1040
Thanks!

[2016-02-16 18:16] #1104 closed

[2016-02-16 20:35] musicalshore commented on #1129
I am using Node 5.0.0 and have tried gcloud 0.24.0, 0.25.1 and 0.28.0.

[Issue opened on `forge`.](https://github.com/digitalbazaar/forge/issues/362)

[2016-02-18 16:39] jamescharlesworth opened #1133 "Datastore like queries"
I realize datastore does not have like queries but is there an example of how to do a filter such as
[code]
Can you do this with the current API using the `.filter()` method?

[2016-02-18 17:12] stephenplusplus commented on #1133
I believe what would work is:

[code]

[2016-02-18 19:28] jamescharlesworth commented on #1133
Perfect, thank you!

[2016-02-18 19:28] #1133 closed

[2016-02-20 15:48] sebelga commented on #677
Just finding this thread now.
@jgeewax Could you point me in the direction on how to setup the memcached library with GCE and my Managed VM?
Thank you!

[2016-02-21 14:04] jgeewax commented on #677
I think what @ajessup is saying would be to note where your VMs are in App Engine, and then turn on a GCE instance in that same cluster.

Then you just point your memcache client at the GCE VM (make sure to open the ports for MC, should be 11211) so that you Managed VMs can talk to your Memcache VM.

Does that make sense?

If you're still having trouble, could you take this conversation over to St

[2016-02-21 17:10] bradoyler commented on #369
@chilts @ryanseys Is this still the only way to create an index?

[2016-02-21 18:29] jgeewax commented on #369
/cc @pcostell

Right now the general gist is that you need to set an indexes file (.yaml or .xml), defining what you want indexed, and use the SDK to sync that file with the datastore instance.

Looks like that's defined here: https://cloud.google.com/datastore/docs/tools/indexconfig#Datastore_Updating_indexes

[2016-02-21 19:14] bradoyler commented on #369
@jgeewax Thx! No worries, got it working with the [gCloud CLI](https://cloud.google.com/sdk/gcloud/)
with which I ran: `gcloud preview datastore create-indexes config/index.yaml`
against a yaml file like @ https://github.com/GoogleCloudPlatform/gcloud-node/blob/master/system-test/data/index.yaml

The last missing piece of the puzzle for me was to use the [AppEngine Datastore Viewer](https://appeng

[2016-02-22 04:44] ajessup commented on #677
@sebelga Actually you can use App Engine's memcache service (which is available to every App Engine module, including those running Managed VMs). For Node.js, you can use any nodejs client library that supports the memcached wire protocol (which is why we haven't provided one in the gcloud library).

You can read a more complete guide on working with Memcache here https://cloud.google.com/appengin

[2016-02-22 05:59] pcostell commented on #369
We are working on updating those docs right now to make things better, but here's the gist:

I would recommend using the Datastore emulator: `gcloud beta emulators datastore start`. This will run a loca version of  Datastore on your machine. You should use this for testing your application. Importantly, whenever you issue that requires a query it updates an index.yaml file for you. After testing a

[2016-02-22 17:24] sebelga commented on #677
Great, thank you @jgeewax and @ajessup for the info. I will have a look at the App Engine's memcache service.

[2016-02-22 18:30] bradoyler commented on #369
Thx @pcostell. Still learning the "App Engine way" :smile:

[2016-02-23 09:10] jtiden commented on #1073
I'd like to help out, given there is a prioritization. My project needs over half of the listed missing resources.

[2016-02-23 16:37] stephenplusplus commented on #1073
Thanks! Feel free to claim any of the missing items listed above and I'll check it off.

I put a basic structure in place for the source and test files: https://github.com/stephenplusplus/gcloud-node/tree/gce-template. It will probably be very helpful to check out the other Compute files to see our conventions and naming patterns. Send a PR as early as possible, so @callmehiphop and I can help wit

[2016-02-26 00:55] DeeSnow97 commented on #551
I didn't exactly have time to read this debate about whether to convert the entire API to promises or not, but a few days ago while working with this API I encountered the same problem. I'm actually writing the entire app with promises, including gcloud calls. It's not hard to add some support manually, let me share my quick and dirty hack with you:

[code]
Then you can just call it like `dataset.

[2016-02-26 14:31] stephenplusplus commented on #968
@rdayal is there more data we can provide that would make this easier to test? Have you heard of this before?

[2016-02-26 19:36] stephenplusplus commented on #551
Thanks for providing that! To catch you up, we are implementing promises, we just haven't gotten to it yet.

We're 75% settled on using arrays to resolve promises with multiple parameters, but feel free to weigh in on how you'd like to see this situation handled:

[code]

Anyone using ES6 gets destructuring either way:

[code]

But by using arrays, we are compatible with Bluebird users, who have [

[2016-02-29 03:49] jasonswearingen opened #1138 "datastore: can not runQuery in a transaction"
hello is running a query in a transaction supposed to be supported?   I get errors when doing so (invalid response), while running a query outside of transactions works fine, and reading+writing inside a transaction also works.

I'm trying to do a query with a filter "email ="

sorry I can't provide you code, I do my datastore operations via a self-rolled orm.

[2016-02-29 04:44] janaaronlee opened #1139 "Datastore NodeJS API's query.select([]) is not working"
query.select('title') works.

query.select(['title', 'author']) as the documentation suggests, returns nothing.

[2016-02-29 12:43] stephenplusplus commented on #1139
Are you getting an error?

[2016-02-29 12:45] stephenplusplus commented on #1138
It should work, as far as I know. What version of gcloud are you running? I'll try to reproduce.

[2016-02-29 14:03] jasonswearingen commented on #1138
thanks Stephen,  i'm using 0.27, since it's supposed to work, i'll do a repro and post it here in a few min.

[2016-02-29 14:22] stephenplusplus opened #1140 "Testing failures in Travis"
See https://travis-ci.org/GoogleCloudPlatform/gcloud-node/jobs/112093216#L2896

In our unit tests, we shouldn't actually be making any gRPC calls, but one or more must be seeping through.

[2016-02-29 14:35] janaaronlee commented on #1139
Actually, no. No errors. So I have nothing much to post. I moved on a bit to a different part of my app. I can post more concrete stuff later. But basically, like I already said, query.select('title') works and returns the expected result. But when I switch it out to query.select(['title', 'author']), nothing is returned (no errors, no data).

Feel free to close this if you feel that there is noth

[2016-02-29 14:41] stephenplusplus commented on #1139
We have a test that uses select with an array (https://github.com/GoogleCloudPlatform/gcloud-node/blob/4a862bd7bd503120cb1e1716054511d1f24c4abc/system-test/datastore.js#L418), and it's working here.

I will close, but please re-open if there's more we can dig into.

[2016-02-29 14:41] #1139 closed

[2016-02-29 15:08] jgeewax commented on #968
/cc @Capstan : Nathan -- any idea what's going on here ? Seems that the gsutil tool can do some things the UI won't do ?

[2016-02-29 16:01] jasonswearingen commented on #1138
here is my repro code:

[code]

and here is my console output:

[code]

[2016-02-29 16:30] stephenplusplus commented on #1138
I ran this test with v0.28, which reports more helpful errors. Try updating just to make the experience a little better-- it will require one change:

[code]

Anyway, because I upgraded and received the better error reporting, what I got was:

[code]

There's a description of what that means here: https://cloud.google.com/appengine/docs/python/datastore/queries#queries_inside_transactions_must_inc

[2016-02-29 17:06] jasonswearingen commented on #1138
ok thanks, i don't know much about ancestors (have deliberately avoided them), so pretty sure none of my data uses them, so it looks like I can't query in transactions in my use-case.   It seems ok though (and probably better):  I worked around this by running my query first, and then run the transaction.

[2016-02-29 17:08] stephenplusplus commented on #1138
Cool! Let me know if there are any other questions or issues with this approach.

[2016-02-29 17:08] #1138 closed

[2016-02-29 17:18] stephenplusplus commented on #1140
Now we get:

[code]

[2016-03-01 14:58] dwsupplee opened #1143 "Resumable upload for BigQuery data import"
It looks as though the bigquery api supports [resumable upload](https://cloud.google.com/bigquery/loading-data-post-request#resumable), but there is only a resumable upload module built for storage.

This may be enough, given that you can import data to bigquery from storage, but I just wanted to check in and see if it made sense to include resumable upload support directly for bigquery as well.

[2016-03-01 18:37] stephenplusplus commented on #551
Alas, a PR! #1142 -- anyone interested, please subscribe there to track our progress. Thanks for all of your input so far!

[2016-03-01 19:21] jasonswearingen commented on #551
@stephenplusplus regarding "no callbacks, only promises".   This is fine with me as I am also "all in" on promises,

but FYI though some opinions here are from capable and influential members of the Node community, the are rather opinionated about supported features.  Some of the more "retro" nodejs users who haven't switched to Promises for whatever reason are going to have greater challenges usi

[2016-03-01 19:23] stephenplusplus commented on #551
I definitely agree, but I don't think our library should support multiple ways to do the same thing. I still think this: https://github.com/GoogleCloudPlatform/gcloud-node/issues/551#issuecomment-153177623

[2016-03-01 19:35] jasonswearingen commented on #551
ok, as a workaround, you can also mention in the docs that people who don't use promises can use the v0.28 version of the api's.

[2016-03-01 21:10] JustinBeckwith opened #1144 "Add Cloud Vision API"
The Google Cloud Vision API recently went to beta.  It would be great to add API support:
https://cloud.google.com/vision/docs/

There's an existing NPM module here:
https://github.com/tejitak/node-cloud-vision-api

[2016-03-01 21:13] stephenplusplus commented on #1144
Check it out! https://github.com/GoogleCloudPlatform/gcloud-node/pull/1136 :)

[2016-03-01 21:16] JustinBeckwith commented on #1144
Great to see this coming along!

[2016-03-02 06:28] rdayal commented on #968
I haven't heard of this before, but I'm not an expert on the storage API. I do know that gsutil can do many things that the UI cannot. I've added Travis and Dan to comment.

@thobrla
@dlorenc

[2016-03-02 11:03] Capstan commented on #968
@jgeewax Yes. Eventual consistency will cause issues like this, there exist long tail issues with index consistency that we are actively pursuing. That said, it shouldn't be forever. Are you also deleting all the archived objects in this versioned bucket?

[2016-03-02 11:42] Capstan commented on #968
And, no, apparently the storage browser doesn't handle versioned objects. :(

[2016-03-02 13:26] AVVS opened #1145 "storage.channel stop request has invalid URL"
channel id is used to construct request URI, and always results in 404 (gsutil has the same bug btw),

ie it should be: `https://www.googleapis.com/storage/v1/channels/stop` instead of `https://www.googleapis.com/storage/v1/channels/channel-name/stop`

this can be temporarily fixed with (since there is only 1 method for .channel, which is `.stop` - there are no checks on the interceptor

[code]

[2016-03-02 14:26] stephenplusplus commented on #1145
Thanks for reporting! Sent a fix in #1146 -- feel free to try it out to make sure it works as intended.

[2016-03-02 14:40] stephenplusplus commented on #968
Thanks for taking a look! Hidden versioned objects never even occurred to me, that makes a lot of sense.  I've put together a PR to delete all of the past versions of a files from each bucket we create before attempting to delete the bucket: #1147

[2016-03-02 15:33] jgeewax opened #1148 "Where's the "edit on github" button for our docs?"
https://googlecloudplatform.github.io/gcloud-node/#/docs/master/datastore Doesn't have the button

However https://googlecloudplatform.github.io/gcloud-node/#/docs/master/guides/authentication does?

[2016-03-02 15:52] callmehiphop commented on #1148
Could be wrong, but I think only markdown driven pages (auth, contrib, etc.) have ever had an "Edit on GitHub" button. @stephenplusplus is that correct?

We do have a link to the "Source code" for every method, however it's not quite as obvious. Should be a fairly small task to support this though.

[2016-03-02 15:58] stephenplusplus commented on #1148
We just have to figure out what makes it easiest for a user to help us catch bugs on the content on that page. There are multiple source types:

- The overview
- The description
- The parameters
- The examples

From a UI stance, what would make the most sense to convey those sections can be edited; and then when clicking on them, what happens?

Ideas:

- The overview -- On hover, show a pencil ico

[2016-03-02 15:59] callmehiphop commented on #1148
Perhaps we should move this to gcloud-common!

[2016-03-02 16:00] stephenplusplus commented on #1148
This issue was moved to GoogleCloudPlatform/gcloud-common#103

[2016-03-02 16:00] #1148 closed

[2016-03-02 16:26] jgeewax commented on #551
Eh. Yikes.

What if we only support one way (cb) but then make bluebird work perfectly
well...? Is that a terrible direction? I can't recall what we said about
that.

[2016-03-02 16:29] kudos commented on #551
@jgeewax I don't want to use Bluebird, my runtimes (node, browser) all have native promises.

[2016-03-02 16:34] jasonswearingen commented on #551
@kudos fyi, most browsers don't have native promises (yet) as that's es6.  Also bluebird is (just) a A+ compatible promise library.  being compatible with bluebird means being compatible with promises in general.

[2016-03-02 16:38] jgeewax commented on #551
:) Thanks @kudos . Just want to make sure we're doing "The Right Thing (TM)".

@jasonswearingen : I really want to get a better understanding of those people who are influential to the community, but don't want "only promises"... Any chance anyone tuned in can help me wrap my head around this one?

I think that the general summary so far is...

- we could make everyone happy by doing both (cb + pr

[2016-03-02 16:39] kudos commented on #551
@jasonswearingen pretty sure Bluebird is being brought up in the context of using its `promisifyAll` method, and then not implementing promises in this library at all.

[2016-03-02 16:42] jgeewax commented on #551
@kudos: Yes, that was what I meant. Do just callbacks, and then let people who want promises use Bluebird. No idea if that's the right way to go, but it is something to discuss. Which @stephenplusplus I think may have already settled... :-x

[2016-03-02 16:44] #1145 closed

[2016-03-02 16:45] kudos commented on #551
@jgeewax the original issue was a clash with the streams API. Here's a quick example of how it could conceivably work from a single API:

[code]

Error handling is left as an exercise for the reader :P

[2016-03-02 16:57] stephenplusplus commented on #551
I'm happy with any solution @callmehiphop thinks will work. I only want what the community wants :)

[2016-03-02 17:13] jasonswearingen commented on #551
@jgeewax the problem with the ideals of "those influencial people" is they tend to be eager adopters of the latest+greatest tech, which really bites the lagers in the butt.  For Promises, nodejs doesn't require (or support) them in the core api's, so it's requirement is a barrier-to-entry for those who don't use/understand promises.

Another example (not related to gcloud-node obviously) is a lot

[2016-03-02 17:38] jgeewax commented on #551
Thanks @jasonswearingen -- really appreciate the context.

To be fair, I have to double check the right flags in cURL for POST requests... :disappointed: But I see the point.

[2016-03-02 17:46] callmehiphop commented on #551
Personally I'm not very into the idea of optimizing our library for Bluebird use. I think with native async functions on the horizon, it would well worth our time to offer Promise support natively from within our library. As @kudos pointed out, the blocking issue here is that it's not currently feasible to differeniate between streams and promises with our current structure. As suggested throughou

[2016-03-02 17:47] #968 closed

[2016-03-02 18:01] jasonswearingen commented on #551
regarding streams, there is also the high quality (and reasonably popular) RxJs observables library, which is basically "Promise+Streams".  However it's enterprise C# roots show, so it might not be something you "go all in on", but worth keeping on your radar.

https://github.com/Reactive-Extensions/RxJS

[2016-03-02 20:22] chrishiestand commented on #551
After some discussion with a pro-callback friend I now think that gcloud-node should provide both callbacks and promises. There are two problems with switching to only promises, as I see it:

1. Promises, without async/await (which *might* be in ES2017), can still be a bit awkward to use. For example, there's no clean way to "return early" from a then() chain.
2. Developers currently use all sorts

[2016-03-03 19:00] callmehiphop opened #1152 "gRPC leak"
Possibly relates to https://github.com/GoogleCloudPlatform/gcloud-node/issues/1140

I received this error locally running Node `v0.12.7`.

[code]

[2016-03-04 14:48] Glenn230593 opened #1153 "zuhuu"
Gzzz

[2016-03-04 15:07] #1153 closed

[2016-03-05 07:45] JamesWangSaiBong opened #1154 "Google Cloud Storage - Error during upload: gcs-resumable-upload.json renaming operation not permitted"
I'm simply trying to follow [this tutorial](https://cloud.google.com/nodejs/getting-started/using-cloud-storage) on how to upload files to gcs with Node and Express. But the following error keep causing my app to crash. Usually, I am able to upload one file without a problem in the first run. But I will get this error after running a few request, even with different file. When I try to upload, say

[2016-03-05 13:04] stephenplusplus commented on #1154
There's probably an issue with writing to the file so many times. The easiest thing to do is to disable resumable uploads. In your code, set `{ resumable: false }` on the `createWriteStream` call.

[2016-03-05 15:14] JamesWangSaiBong commented on #1154
I added that in, but still run into the same problem. I am still unable to upload an array of files at a time. But it helped the single file upload a bit. Before, I would run into this error after 2 requests in a row, now I am able to make 3-5 request in a row with single file upload

[2016-03-05 16:51] stephenplusplus commented on #1154
The config file that is written to is updated periodically throughout a file upload. The same config file will be written to for multiple files. So the clash is likely happening because there are too many simultaneous uploads going on. Can you show the code that uploads an array of files? All we have to do is find the call that needs to switch of `resumable`.

[2016-03-05 18:27] JamesWangSaiBong commented on #1154
In lib/file.js
`     // Express middleware that will handle an array of files. req.files is an array of files received from
	// filemulter.fields([{field: name, maxCount}]) function. This function should handle
	// the upload process of files asychronously
	function sendFilesToGCS(req, res, next) {
		if(!req.files) { return next(); }

		// req.files is passed in as an object (String -> Array) wher

[2016-03-05 18:28] JamesWangSaiBong commented on #1154
In the route
`router.post('/',
		file.multer.fields([
			{name: 'brochure', 			maxCount: 1},
			{name: 'application', 		maxCount: 1},
			{name: 'others', 			maxCount: 1},
			{name: 'featureEN', 		maxCount: 1},
			{name: 'featureTC', 		maxCount: 1},
			{name: 'exclusionsEN', 		maxCount: 1},
			{name: 'exclusionsTC', 		maxCount: 1},
			{name: 'precautionsEN', 	maxCount: 1},
			{name: 'precautionsTC'

[2016-03-05 18:28] stephenplusplus commented on #1154
[code]

[2016-03-05 18:31] JamesWangSaiBong commented on #1154
FML. Thanks so mcuh!

[2016-03-05 18:32] stephenplusplus commented on #1154
Haha, no problem. Glad we found the :bug:!

[2016-03-05 18:32] #1154 closed

[2016-03-05 18:58] JamesWangSaiBong commented on #1154
After I added { resumable : false }, some of the files that is larger than 2mb can't be uploaded. Getting an { [ERROR: ETIMEDOUT] code: 'ETIMEDOUT, connection: false }.

[2016-03-05 19:24] JamesWangSaiBong commented on #1154
Now I am getting a { [ERROR:ETIMEDOUT] code: 'ETIMEDOUT', connection: false } error while trying to upload a file greater than 4mb after resumable is set to false. Other files get uploaded successfully. Setting server.timeout in bin/www doesn't have any effect too. Can you please help?

[2016-03-05 19:44] stephenplusplus commented on #1154
I can't try to reproduce now, but I think a lot of this revolves around the amount of files attempting to be uploaded at once.

[2016-03-07 14:14] stephenplusplus commented on #1154
In my tests so far, I'm not able to reproduce. Can you boil down a test case to the simplest possible components?

The `ETIMEDOUT` comes from [request](http://gitnpm.com/request) and is described here: https://github.com/request/request#timeouts

The server could be exhausted from trying to handle multiple simultaneous uploads. Is it possible to pull back on the amount of files being uploaded at o

[2016-03-07 16:45] #1152 closed

[2016-03-07 20:17] JamesWangSaiBong commented on #1154
It may be a window-specific thing. I found this after more research on similar issue.

In terms of the timeout issue, I am able to upload files that are smaller than ~2.5 mb one by one. But as soon as I try to upload more than 1 files at a time, I start running into that issue files size > ~1500kb. However, it runs perfectly fine if all files are below that limit. I have some files that are up to

[2016-03-07 20:25] stephenplusplus commented on #1154
I think you should post this over on StackOverflow (use our `gcloud-node` tag: http://stackoverflow.com/questions/tagged/gcloud-node). You'll be able to get more eyes on the problem (and Windows users), plus anyone else who might have a similar issue will be able to benefit from your research.

As a general question, maybe @jgeewax or @thobrla can help: any best practices for uploading multiple fi

[2016-03-07 20:49] JamesWangSaiBong commented on #1154
http://stackoverflow.com/questions/35853519/google-cloud-storage-error-during-upload-gcs-resumable-upload-json-renaming-o/35853703#35853703

[2016-03-07 21:56] #1144 closed

[2016-03-07 22:51] thobrla commented on #1154
If gcloud-node is using a single file to track the state of concurrent resumable uploads, it will be bound by lock contention for that file.  Some possible options to get around this problem include:
1. User turns off resumable uploads (which has the problem of making uploads of large files less reliable)
2. gcloud-node improves lock contention around the shared file
3. gcloud-node uses a separate

[2016-03-08 14:54] stephenplusplus opened #1156 "Set systems test account as service account owner"
@jgeewax we have a couple of system tests failing regarding Pub/Sub IAM permissions. (related: https://github.com/GoogleCloudPlatform/gcloud-ruby/pull/569). I fixed the error locally by just setting my service account as an owner of my project. Can you do the same for whichever service account our system tests are using?

https://console.developers.google.com/permissions/projectpermissions?project

[2016-03-08 14:55] stephenplusplus commented on #1156
(After this, we are ready to release v0.29 with support for the Vision API :sunglasses:)

[2016-03-08 15:19] stephenplusplus commented on #1154
Thanks! That will help for the first problem regarding writing to the same file multiple times. However, when resumable uploads are turned off, @JamesWangSaiBong is getting another error about connections timing out: https://github.com/GoogleCloudPlatform/gcloud-node/issues/1154#issuecomment-192712806

Does this sound like normal behavior from the Storage API? Should we advise to simply throttle m

[2016-03-08 15:42] thobrla commented on #1154
No, that is not normal behavior, and the connection timeouts are probably not a service-level issue.  The next step there is to investigate whether the issue is specific to the gcloud-node client or this specific user.

[2016-03-08 17:26] #1140 closed

[2016-03-09 14:07] stephenplusplus commented on #1143
I think the Storage -> BigQuery import is a better alternative here. Resumable uploads come with a lot of overhead in the implementation as well as on the user-- persisting a config file is unexpected.

Anyone feel free to discuss and re-open if this is something we need to support.

[2016-03-09 14:07] #1143 closed

[2016-03-09 14:54] stephenplusplus commented on #1127
I started to work on this and it seemed to be destined for failure from the start. I think the problem is we're trying to spell check tech sentences.

I started by plugging in `write-good`. It's is a great tool, but in practicality, it might be more detailed than we need. So I scaled back the scope and just went for spell checking. I realized quickly that meant we'd need to have an extensive custo

[2016-03-09 18:39] callmehiphop commented on #1127
That sounds good to me

[2016-03-09 18:40] stephenplusplus commented on #1127
:+1:

[2016-03-09 18:40] #1127 closed

[2016-03-11 13:06] phanect opened #1160 "Cloud SQL support"
I want Google Cloud SQL support in Google Cloud Node.js Client.

I know [Google API Client Library supports Cloud SQL API](https://cloud.google.com/sql/docs/admin-api/libraries).
However, if you want to do something to other services supported by Google Cloud Node.js Client (e.g. Compute Engine) you need to authenticate twice and the code gets complex.

I hope if Cloud SQL is supported by Google C

[2016-03-11 13:14] jgeewax commented on #1160
Thanks for the note @phanect !

We have it on our list to cover Cloud SQL sometime this year. Any chance you'd be up for contributing ?

[2016-03-11 13:21] phanect commented on #1160
Great!

Year, I'm considering it too, but not sure I have time and energy to do that :P

[2016-03-11 13:28] stephenplusplus commented on #1160
If you do beat us to it, don't worry about sending an imperfect PR. We're happy to work on these things together :)

[2016-03-11 13:35] phanect commented on #1160
@stephenplusplus Thank you :)

[2016-03-12 05:40] benhk2005 opened #1161 "Not working under strict mode"
home-0 SyntaxError: Delete of an unqualified identifier in strict mode.
home-0     at exports.runInThisContext (vm.js:53:16)
home-0     at Module._compile (module.js:374:25)
home-0     at Object.Module._extensions..js (module.js:417:10)
home-0     at Module.load (module.js:344:32)
home-0     at Function.Module._load (module.js:301:12)
home-0     at Function._load (/node/lib/node_modules/pm2/node_m

[2016-03-12 06:08] JustinBeckwith opened #1162 "Windows maxpath errors"
Greetings folks!
We've had a few people report problems with our getting started guide over here:
https://code.google.com/p/google-cloud-sdk/issues/detail?id=496

Looking at the error:
ERROR: gcloud crashed (WindowsError): [Error 3] The system cannot find the path specified: 'C:\\Users\\miguel\\AppData\\Local\\Google\\Cloud-SDK\\nodejs-getting-started\\2-structured-data\\node_modules\\gcloud\\node

[2016-03-13 00:09] JustinBeckwith opened #1163 "Unhandled stream error in pipe"
**Disclaimer**: this may be a gcloud-node problem or a GCS problem - not really sure.

I'm working on a project where I download a lot of images and then upload them in parallel to GCS.  When the number of simultaneous operations against GCS trend towards 100-200, I get a bunch of random connection reset failures on /some/ requests:

	[Error: Could not authenticate request read ECONNRESET]

When I

[2016-03-13 00:14] JustinBeckwith commented on #1163
Another thing to throw out there - in a more complex scenario where I'm making other calls to pub/sub and cloud vision, I noticed that other connections start to fail too - not just storage.

[2016-03-13 08:05] pierre-b opened #1164 "Cache gRPC connections"
Hello guys,

I use PubSub to pulish thousands of messages and a memory leak crashes my server.

Here is a Passenger screenshot using gcloud:
![gcloud](https://raw.githubusercontent.com/pierre-b/test-leak/master/gcloud.png)

Using request:
![gcloud](https://raw.githubusercontent.com/pierre-b/test-leak/master/request.png)

Here is a simple repo to reproduce it: https://github.com/pierre-b/test-leak

[2016-03-13 08:12] pierre-b commented on #1164
Forgot to mention the request interceptor does'nt work too in my test... if you can explain me how to implement it the right way ?!

[2016-03-14 01:31] pierre-b commented on #1164
the problem seems to come from the request package (see [issue](https://github.com/request/request/issues/1279) with https requests.

I added [Wreck](https://github.com/hapijs/wreck) to my [test-repo](https://github.com/pierre-b/test-leak) and Wreck is so far the best https client. I would recommend to switch to Wreck as long as Request has a leak...

[2016-03-14 13:24] jgeewax commented on #1164
Thanks for the note @pierre-b . @stephenplusplus , thoughts on switching our transport?

[2016-03-14 13:35] jgeewax commented on #1127
Would it be crazy to have it run and trigger just a warning? Or is it just
way too noisy?

[2016-03-14 13:38] stephenplusplus commented on #1164
Unfortunately, wreck is only written for Node v4 and greater. We still need to support v0.12.0.

We switched Pub/Sub to use [gRPC](http://gitnpm.com/grpc) and proto files with our last release. Because that library is used, the request interceptors don't have an impact. I'll make a note of that in the docs.

When I'm trying to test with your repo, I'm running into:

[code]

Is there a quick soluti

[2016-03-14 13:39] stephenplusplus commented on #1161
Can you put together a sample script I can run to see this error?

[2016-03-14 13:42] stephenplusplus commented on #1162
I believe `npm dedupe` even on older versions could provide some aide. We are pretty trapped on this, however. Even if we try to group more of our own code into a single module, we are still victims of what our dependencies choose to do when it comes to *their* dependencies. Windows users are usually pretty aware of this problem from running into it with other libraries, so they're familiar with t

[2016-03-14 14:16] stephenplusplus commented on #1163
Thanks for putting this together. It clearly looks like multiple things become more likely to :boom: after many hundred requests. Do you think there's something we should do, or is this just a matter of not making so many requests at once? We added instructions on how to fight similar errors here (see the last section): https://googlecloudplatform.github.io/gcloud-node/#/docs/v0.29.0/guides/troubl

[2016-03-14 15:02] pierre-b commented on #1164
Thanks you guys for investigating this!

@stephenplusplus  maybe you need to clear your cookies? looks like HAPI tries to parse something on your localhost?!

[2016-03-14 15:24] JustinBeckwith commented on #1163
Thanks for the `async` tip! That's a convenient work around.  My intermittent authentication errors are something that folks can detect and work around.  I'm way more concerned with the outright crash that can happen from time to time if you push things too far.  Would it be possible for us to handle the async request queuing for the user, preventing folks like me from shooting themselves in the f

[2016-03-14 15:24] stephenplusplus commented on #1127
I think I found a way that's not too gross!: #1166

[2016-03-14 15:29] JustinBeckwith commented on #1162
Yeah - this is a pretty common issue with NPM and Windows.  I think this is likely just a documentation issue, but I wanted to check in to see if y'all had a magic solution.  For now I'll just recommend 3 options:

1. Install npm@3 if possible
1. Run `npm dedupe` after installation
1. Move files to `c:\` instead of users directory

[2016-03-14 15:36] stephenplusplus commented on #1163
We do use throttling where we can (such as [`Bucket#deleteFiles`](https://github.com/GoogleCloudPlatform/gcloud-node/blob/862f836ba5011b1849f3d700bb47f3e419148a18/lib/storage/bucket.js#L532)). In that case, we know from the start that what the user wants will require many API requests. In the example case here where multiple File objects are created and immediately written to, I think it would be

[2016-03-14 16:03] stephenplusplus commented on #1162
That sounds right to me. I'll add the same to our Troubleshooting guide.

[2016-03-14 16:39] jgeewax commented on #1162
Is there any way to automate this deduping? Or catch the error and recommend running dedupe?

[2016-03-14 16:41] #1162 closed

[2016-03-14 16:42] stephenplusplus commented on #1162
npm will dedupe by default if you use version 3 or greater. The app will crash before our code can run, so there's nothing we can do to catch it.

[2016-03-14 17:13] stephenplusplus commented on #1164
Thanks, that did it. Can you show the passenger command you're running to see that output?

[2016-03-15 02:59] pierre-b commented on #1164
`sudo watch passenger-status`

[2016-03-15 18:30] stephenplusplus commented on #1164
In your demo, after downgrading to gcloud@0.27.0, the memory hike was negligible. I believe this can be traced to [grpc](https://github.com/grpc/grpc/tree/master/src/node), which was introduced as the Pub/Sub transport in version gcloud@0.28.0.

[2016-03-15 19:54] sespinosa opened #1168 "Datastore API auth depends on being logued with the gcloud CLI (remote)"
This code only works if you are logued using gcloud cli.

I we are using credentials for this (keyFile.json) its kinda weird to also need to log in on the gcloud cli.
[code]

[2016-03-15 20:01] stephenplusplus commented on #1168
Can you show the exact code you run and the error you are getting?

[2016-03-15 22:17] sespinosa commented on #1168
thats the exact code, when i run that on a env with the gcloud cli installed and logued it runs with no problem and adds the blogposts to the db

[2016-03-16 03:28] pierre-b commented on #1164
I confirm 0.27.0 is much better!
115M after 22 requests (each request publishes 100 messages in parallel)

[2016-03-16 03:50] pierre-b commented on #1164
Also, request@2.53.0 used in gcloud@0.27.0 consumes 27% less memory than request@2.69.0.

22 requests (each request publishes 100 messages in parallel):
2.53.0: 124M
2.69.0: 171M

[2016-03-16 12:48] stephenplusplus commented on #1168
Okay, let's narrow the scope to one specific call:

[code]

Here are my results:
[code]

This also works for our integration tests, which runs our Datastore tests on a short-lived, Travis-created Linux VM without the gcloud SDK installed.

Do you have a local Datastore instance running? And what error is being returned when you run this code after `gcloud revoke`?

[2016-03-16 12:49] stephenplusplus commented on #1161
Please report back if you can tell us how to reproduce.

[2016-03-16 12:49] #1161 closed

[2016-03-16 12:53] sespinosa commented on #1168
My env its a VM with gcloud cli not installed, im connecting remotely (im running my app locally and i access the datastore on gae) and im getting "Error: invalid_grant" all the time, but when i run this outside the VM, with gcloud cli installed and logued with a valid session works like a charm.

[2016-03-16 13:02] stephenplusplus commented on #1168
Would you mind showing the output of:

[code]

The `invalid_grant` error is returned when trying to get an authorization token. I'm not sure why that would happen in one environment with the same project ID and key file and not another. Googling around shows that it could be an issue with the VM's time being out of sync with the Google server. Depending on your OS, maybe something like this is wor

[2016-03-16 13:13] sespinosa commented on #1168
man, you are the coolest

running sudo ntpdate ntp.ubuntu.com solve my problem!

im really sorry for wasting your time.

[2016-03-16 13:16] stephenplusplus commented on #1168
Not at all, I'm glad it worked!

[2016-03-16 13:16] #1168 closed

[2016-03-16 16:08] stephenplusplus commented on #1164
@pierre-b would you mind opening an issue on the grpc repo about the high memory usage? I tried digging into it, but no doubt they'd be more efficient.

[2016-03-17 03:30] pierre-b commented on #1164
There is no open issue regarding a memory leak on the grpc nodejs repo, are you sure the problem comes from them and not the pubsub implementation?

As I never implemented the grpc node package I don't feel rightful to open an issue on their repo!

[2016-03-17 19:42] stephenplusplus commented on #1164
I completely understand :)

@murgatroid99 The test @pierre-b put together [instantiates a service](https://github.com/GoogleCloudPlatform/gcloud-node/blob/93621405708c22751a1a708a35fbbdc332cec7a0/lib/common/grpc-service.js#L209) 100x, which hikes the memory usage up by about 100 MB. We don't retain a reference to the object, but it seems to persist in memory. Is this something that will be resolve

[2016-03-17 20:27] murgatroid99 commented on #1164
This usage pattern is not expected or intended to be performant. Each time you instantiate a service object, it creates a channel, which contains a number of things, including a full TCP socket/TLS session/HTTP2 session stack. This has to stay alive at least until the call you make with it is complete.

It would be better to initialize a single client object per server/service combination, and the

[2016-03-17 20:46] stephenplusplus commented on #1164
Thanks, that gives me a lot to think about. I'm still wondering why the memory remains after the service calls have been made, however. Is there an extra step to stop the channel?

Also, regarding caching service connections, it will be difficult to know if a user is making a single call or many. Is there a default amount of time that passes that will close a channel? Would this caching be better

[2016-03-17 21:10] murgatroid99 commented on #1164
To be specific, the sequence of events in that test looks something like this for a single call:

 1. A channel is opened
 2. A call is made on that channel
 3. The channel goes out of scope
 4. The channel gets garbage-collected
 5. The call completes
 6. The call goes out of scope
 7. The call gets garbage collected

The channel can only be closed (and the associated memory released) after steps

[2016-03-18 02:02] jasonswearingen opened #1169 "how to authenticate on a google compute instance?"
From the docs It says that no authentication is needed if running on a google compute instance.

however when I try to access datastore, I get a **401 unauthorized **error.

there isn't any error being output, so the best I can do is a blurb i get output from a promise-wrapped callback:

[code]

in there I see "**invalid_token**" also...    no other really meaningful info is reported unfortunately

[2016-03-18 02:08] stephenplusplus commented on #1169
Is it possible the GCE instance wasn't created with the proper scopes granted? Reference doc: https://googlecloudplatform.github.io/gcloud-node/#/docs/v0.29.0/guides/authentication

[2016-03-18 03:13] jasonswearingen commented on #1169
I used the console gui to choose the scope parameters, selecting "full api access"
that ended up with a gcloud commandline parameter of:
` --scopes 853031807592-compute@developer.gserviceaccount.com="https://www.googleapis.com/auth/cloud-platform" `
I'm not sure what that means, but it matches the "All APIs" scope in the link you sent, and checking the console gui, I see this detail regarding perm

[2016-03-18 09:03] pierre-b commented on #1164
@stephenplusplus the test [/pierre-b/test-leak](https://github.com/pierre-b/test-leak/blob/master/server.js) instantiate the service once (line 168) to send 100 requests.

@murgatroid99 yes the garbage collector released some memory (had to wait a while) but only the half... do you know why it's not clearing everything?

Thx

[2016-03-18 12:46] stephenplusplus commented on #1169
Okay, thanks for checking. I'll try to reproduce.

[2016-03-18 12:49] stephenplusplus commented on #1164
It's actually our own code that creates multiple service objects ("service" being a Protobuf term in this context) each time a `.publish()` is called.

You can play around with [forcing garbage collection](https://simonmcmanus.wordpress.com/2013/01/03/forcing-garbage-collection-with-node-js-and-v8/) to see if that clears up the other half.

[2016-03-18 13:38] jasonswearingen commented on #1169
the problem is still occuring, but in case it helps, here's my full command-line for creating the GCE instance:

FYI I see that there was an update to gcloud gui console, so now instead of explicitly naming the scope account it uses "default".

`gcloud compute --verbosity error --project ""phantomjscloud-20160125"" instances create "deploy-pjsc-dashboard-20160318-3" --machine-type "n1-highcpu-2" -

[2016-03-18 16:04] stephenplusplus commented on #1169
Okay, I've traced down the problem. Datastore requires the `userinfo.email` scope, which isn't included inside `cloud-platform`. If you create the instance with the Cloud Datastore and User info scopes added (you'll have to select it manually), bye bye 401!

[2016-03-18 16:05] stephenplusplus commented on #1169
Related: https://github.com/GoogleCloudPlatform/gcloud-node/issues/815#issuecomment-159006480

[2016-03-18 18:39] #1169 closed

[2016-03-18 19:24] stephenplusplus commented on #1164
In my experience, memory shoots up by about ~100 MB when 100 calls are made. I didn't observe the same release of memory after time that you did, @pierre-b. I tried forcing garbage collection up to 2 minutes after the response was sent. After multiple tests, I only see around 7 MB being freed up.

In the case of this library, I think we'll always need it immediately closed, since we can't predict

[2016-03-18 20:39] jasonswearingen commented on #1169
fyi i tested this, and ```userinfo.email``` scope is not sufficient.  you also need ```datastore``` scope explicitly defined.

as per the following gcloud command line args:
[code]

[2016-03-18 20:51] stephenplusplus commented on #1169
Yes, that's correct. Thanks for bringing this up so we can hopefully avoid the confusion the next time.

[2016-03-19 04:05] pierre-b commented on #1164
Yes that would be great! thanks for your test

[2016-03-20 21:37] eduardo-tenorio-guiabolso commented on #761
I am doing the same thing and running on an AWS instance. However, the error I get is **Error: Could not load the default credentials. Browse to https://developers.google.com/accounts/docs/application-default-credentials for more information.**

What am I doing wrong?

[2016-03-20 22:09] stephenplusplus commented on #761
@ShivanKaul sorry that I forgot to respond to your last comment. I hope you found a solution. If not, please re-open so we can figure it out.

@eduardo-tenorio-guiabolso I wonder if that's a new bug. Could you open a new issue? I'll take a look at it tomorrow.

[2016-03-20 23:49] eduardo-tenorio-guiabolso commented on #761
OK.

[2016-03-21 00:02] eduardo-tenorio-guiabolso opened #1173 "Cannot authenticate using `private_key` and `client_email`"
I am trying to connect my NodeJS application to Pub/Sub. Since the production environment is in an AWS instance, I cannot use the *default credentials approach*. So, my approach is to pass a credentials object with the private key and the client email:

[code]

According to the [docs](https://googlecloudplatform.github.io/gcloud-node/#/docs/v0.29.0/gcloud). This variable is passed as an argument i

[2016-03-21 00:14] eduardo-tenorio-guiabolso commented on #761
@stephenplusplus here it is: https://github.com/GoogleCloudPlatform/gcloud-node/issues/1173

[2016-03-21 04:03] eduardo-tenorio-guiabolso commented on #1173
I guess I found the error. Tomorrow I'll check at the office.

[2016-03-21 09:06] eduardo-tenorio-guiabolso commented on #1173
Changed

[code]

by

[code]

[2016-03-21 09:06] #1173 closed

[2016-03-21 12:55] stephenplusplus commented on #1156
@jgeewax bump.

[2016-03-21 16:43] stephenplusplus opened #1175 ""Available methods" section lists the constructor method"
I notice our method listings show the constructor method. How can we leave that out?

Example:

http://stephenplusplus.github.io/gcloud-node/#/docs/master/compute
<img width="767" alt="screen shot 2016-03-21 at 12 43 24 pm" src="https://cloud.githubusercontent.com/assets/723048/13926398/85c2a0b0-ef62-11e5-8b83-2103c8a5b6f6.png">

[2016-03-21 16:45] callmehiphop commented on #1175
I think we're going to need to add an option to the `manifest.json` that tells the docs app to ignore constructors. Both PHP and Ruby are going to want the constructor to display in the methods list.

[2016-03-21 21:06] JustinBeckwith commented on #952
This came up in the node.js blog post btw:
https://cloudplatform.googleblog.com/2016/03/Node.js-on-Google-App-Engine-goes-beta.html

Also highly sought after in the google api node.js client:
https://github.com/google/google-api-nodejs-client/issues/503

[2016-03-21 21:08] JustinBeckwith commented on #1163
I ended up using `async.parallel` as a work around:
https://github.com/JustinBeckwith/cloudcats/blob/master/worker/analyzer.js#L67

I verified the errors weren't coming from request, rather from the pipe to GCS, sometimes pub/sub, and sometimes the vision API.  I think I'm bumping up against some invisible quota limit.

[2016-03-21 21:32] jakeorr opened #1177 "Storage+BigQuery.import notFound errors"
I am uploading files to Google Cloud Storage and then importing them to Big Query and am seeing an intermittent notFound error during the import job.

Here is a simplified version of how I am streaming files to GCS:
[code]

After file streaming has finished, the next step is importing to Big Query:
[code]

I am seeing the error in the response I get from `job.getMetadata()`:
[code]

`response.stat

[2016-03-22 02:08] stephenplusplus commented on #1177
Thanks for the detailed report. I'm putting together a sample script to try to reproduce.

As a quick thing that likely doesn't relate, I believe you can make the following change to your code:

[code]

The `metadata` property can be removed, and the other values I removed are also the default values.

I'll report back after I have a chance to try to reproduce.

[2016-03-22 02:16] stephenplusplus commented on #1156
Fixed!

[2016-03-22 02:16] #1156 closed

[2016-03-22 04:18] mcdonamp opened #1178 "Be able to set default object ACL on GCS upload"
Currently, there's no way to set the predefined object ACL on an object that is being uploaded (though there is in the [REST API](https://cloud.google.com/storage/docs/json_api/v1/objects/insert)). One can overwrite the metadata with a new ACL, but that is a hard overwrite, and doesn't preserve existing ACLs, unlike add default ACL. It would be neat if we had an API that worked like:

[code]

[2016-03-22 04:25] mcdonamp opened #1179 "Allow byte uploads in upload, not just file uploads."
Currently the `bucket.upload()` API provides uploads from the local file system, and any streaming requests have to happen by opening a writable stream. We should provide an API to allow upload to consume either a path on the file system, or a byte array. Like so:

[code]

Also, I get that byte uploads allow people to do terrible, unscalable things, so we should preface the docs by saying that for

[2016-03-22 12:55] stephenplusplus commented on #1178
Sounds like a good idea to me!

[2016-03-22 13:00] stephenplusplus commented on #1179
I'm cool with this. I think our API would have to change slightly to accommodate this change:

[code]

That's a little bit awkward, so maybe we can add a method on File instead:

[code]

Maybe `save` instead of `write`?

[2016-03-22 16:56] jakeorr commented on #1177
Ah yeah, my mistake on including the `metadata: {}` wrapper. I have not been using it that way, just a copy paste+simplification mistake. I will update my comment. Thanks for the suggestions.

[2016-03-22 17:26] s4lesman opened #1180 "Datastore query filter failing on simple indexes"
Hey,

I am trying to query datastore on a single variable (doc_id) and I always get the following error:

[code]

The piece of code is coffeescript but I dont think that is a problem to anyone here:

[code]

I have already tried to create the index using the CLI but I always get that it is not necessary because its not a complex index and single indexes are automatically created. Does anyone have

[2016-03-22 17:30] stephenplusplus commented on #1180
@pcostell

[2016-03-22 17:37] pcostell commented on #1180
This error occurs in the backend if the query filter's property has `excludeFromIndexes = True`.

 @stephenplusplus any changes to gcloud recently that would set this on query filters?

What's `object._id` in this example?

[2016-03-22 17:38] s4lesman commented on #1180
@pcostell

its an hex string.. the particular case was: "56d9ef9f2764e71200083a73"

[2016-03-22 17:49] stephenplusplus commented on #1180
I don't believe so. We still allow a user to set `excludeFromIndexes` with [`dataset.save`](http://googlecloudplatform.github.io/gcloud-node/#/docs/v0.29.0/datastore/dataset%23save). Did you save data with that option set?

[2016-03-22 17:56] s4lesman commented on #1180
@stephenplusplus no, I did not use any particular option set. I just set the key and store my json document on data.

[2016-03-22 18:02] pcostell commented on #1180
It may be helpful to see the actual proto that is getting sent to Datastore. @stephenplusplus do you have instructions for how to grab this from the query?

[2016-03-22 18:21] stephenplusplus commented on #1180
@s4lesman try running your code against this gcloud:

[code]

It will output the format of the query (pre-protobuf encoding), which you can just copy-paste in here.

[2016-03-22 19:46] s4lesman commented on #1180
`
{"namespace":null,"kinds":["subs"],"filters":[{"name":"doc_id","op":"=","val":"56d9ef9f2764e71200083a73"}],"orders":[],"groupByVal":[],"selectVal":[],"autoPaginateVal":true,"startVal":null,"endVal":null,"limitVal":-1,"offsetVal":-1}
`

and

[code]

[2016-03-22 19:47] s4lesman commented on #1180
@stephenplusplus I see that it is indexed false, maybe thats why.. any idea how I can enforce the index?

[2016-03-22 19:53] stephenplusplus commented on #1180
I'm wondering if `object._id` returns an object that needs to be unpacked for just the value ID value. Maybe try [`object._id.valueOf()`](https://docs.mongodb.org/manual/reference/method/ObjectId.valueOf/#ObjectId.valueOf)?

[2016-03-22 19:56] s4lesman commented on #1180
@stephenplusplus at first I was warned about the not indexed but then that triggered it.. I agree with you, I'm going to play around with the data here. But I am positive thats the issue. Thank you so much. You guys are amazing @stephenplusplus & @pcostell

[2016-03-22 20:02] stephenplusplus commented on #1177
According to [this doc](https://cloud.google.com/storage/docs/consistency), once a file upload is complete, it is immediately available. That would mean the only way BigQuery would get a 404 is if you received a "false finish" from `file.createWriteStream`, or somewhere else in the stack jumped the gun.

I put together a sample repo I've been using to try to reproduce. So far, no errors. Can you [

[2016-03-22 21:03] jakeorr commented on #1177
Thanks for your efforts on this, Stephen. I just solved a bug in my code that was causing the import to happen before all files were finished streaming. From what I was seeing it's possible that the notFound error was happening from something unrelated, but I haven't been able to reproduce it. I will reopen if I run into the issue again. Thanks again!

[2016-03-22 21:03] #1177 closed

[2016-03-22 21:06] #1180 closed

[2016-03-23 00:32] stephenplusplus commented on #1180
Thank you! I'm glad it all worked out. Come back with any other questions.

[2016-03-23 00:33] stephenplusplus commented on #1177
Phew! No problem, glad you found the :bug:

[2016-03-23 15:23] jgeewax opened #1181 "Datastore can return an empty page and still have a next page"
https://github.com/GoogleCloudPlatform/gcloud-node/blob/master/lib/datastore/request.js#L644

I think we need to fix this logic.

[2016-03-24 13:17] stephenplusplus commented on #1181
This will be fixed with #897.

[2016-03-24 13:58] stephenplusplus commented on #1164
@pierre-b I put a PR together with a quick caching implementation: #1182 -- feel free to try it out and let me know how it goes!

[2016-03-24 14:04] stephenplusplus commented on #1084
@callmehiphop is this still relevant? I'm not sure of all that has evolved with the docs since we talked about this. Is it yet just a matter of us writing up some overview sections in MD files, or will this require more changes?

[2016-03-24 14:20] jgeewax commented on #1084
Just to clarify, the Ruby guys did a pretty nice job here:

- Ruby (nice pretty overview): http://googlecloudplatform.github.io/gcloud-ruby/docs/v0.6.2/Gcloud/Bigquery.html
- Node (not quite there yet): https://googlecloudplatform.github.io/gcloud-node/#/docs/v0.29.0/bigquery

I wonder though if we can write a single "article" (markdown) with included snippets where only the language changes... an

[2016-03-26 10:34] pierre-b commented on #1164
Thanks, will try it out ;)

[2016-03-26 17:38] lafama opened #1187 "Unexplained Logs"
Am using the pub/sub example code but after afew idle minutes the process starts logging this on the console
[code]
Any Ideas why

[2016-03-26 17:56] stephenplusplus commented on #1187
Can you open this issue on the grpc repo? https://github.com/grpc/grpc/issues/new

I've observed similar unexplained output before, but the maintainers couldn't produce and it ultimately didn't result in any official resolution. Your testimony might help :)

Please link back after posting.

[2016-03-26 17:56] #1187 closed

[2016-03-28 14:47] #1164 closed

[2016-03-28 15:01] stephenplusplus commented on #1164
Opened an issue on the gRPC library to track the memory leak: https://github.com/grpc/grpc/issues/5970

[2016-03-28 18:09] stephenplusplus opened #1189 "Search API returning 502 Bad Gateway errors"
This is reproducible locally as well as within Travis. All requests, from creating a document to listing indexes, return a 502. I've sent an email to the support team.

[2016-03-28 18:40] stephenplusplus commented on #1163
I'm not sure if we can make any changes to this library that would help. Any ideas?

[2016-03-28 20:48] callmehiphop opened #1190 "Implement rando API"
- [ ] Whitelisting - @jgeewax

We're still waiting for this API to become consumable, however our launch goal is by the end of Q2.

This would also be a good place to start tracking possible ORMs to integrate with:

* [knex](https://github.com/tgriesser/knex) and [bookshelf](https://github.com/tgriesser/bookshelf)
* [waterline](https://github.com/balderdashy/waterline) ([sails](http://sailsjs.org/

[2016-03-30 16:04] stephenplusplus opened #1192 "Implement IAM API"
[IAM](https://cloud.google.com/iam/docs) is currently buried inside of our Pub/Sub code, but should be abstracted to be used with any API that supports it:
- [ ] [Compute](https://cloud.google.com/compute/docs/access/iam)
- [ ] ~~[Logging](https://cloud.google.com/logging/docs/access-control)~~ (not supported)
- [x] [Pub/Sub](https://cloud.google.com/pubsub/access_control)
- [ ] ~~[Resource Manage

[2016-03-30 16:10] dhermes commented on #1192
/cc @tseaver

[2016-04-01 21:11] jmdobry opened #1196 "BigQuery - "dataset.createTable" doesn't support schema as array"
This works:

[code]

Based on the docs:

Shouldn't this work? (It doesn't as far as I can tell, table is created without a schema.)

[code]

Perhaps I missed something.

[2016-04-01 21:18] stephenplusplus commented on #1196
I think it was an oversight on our part. If it's an array, it had to be boxed in as a property "fields", so options.schema.fields = [...]

Our code should look for schema being an array and box it in accordingly.

[2016-04-01 21:30] jmdobry commented on #1196
Ah my mistake then, didn't look closely enough at the Table Resource schema.

[2016-04-02 02:00] flovilmart opened #1197 "Issue with sse4_crc32"
A user reported that the gcloud library was problematic to install over AWS as it depends upon a natively compiled library https://www.npmjs.com/package/sse4_crc32

The dependency tree is:
https://www.npmjs.com/package/gcloud -> https://www.npmjs.com/package/hash-stream-validation -> https://www.npmjs.com/package/fast-crc32c -> https://www.npmjs.com/package/sse4_crc32

Please see:
https://github.c

[2016-04-02 02:16] stephenplusplus commented on #1197
That dependency has caused some trouble. In general, native dependencies for some users will be problematic. We use fast-crc32c because it marks sse4_crc32 as an optional dependency, falling back to a software implementation if the install fails.

We've redirected most issues with the installation process to @anandsuresh, author of sse4 _crc32, who has been greatly helpful. If anyone has such issu

[2016-04-02 02:16] #1197 closed

[2016-04-02 03:36] anandsuresh commented on #1197
@flovilmart Would love to help out any way I can. Can you please post some logs to debug the issue? Also, it seems there are multiple github issues being reported on multiple repositories. Can you please post the link to the open/active thread for this issue?

[2016-04-02 03:40] flovilmart commented on #1197
@anandsuresh Thanks! (for them)
It seems to be mostly related to deployments on CentOS 6 over AWS elastic beanstalk,

https://github.com/ParsePlatform/parse-server/issues/1082

https://github.com/ParsePlatform/parse-server/issues/1050

As you can see, I had to shut down the convo on the last one as it was getting out of control.

[2016-04-02 03:43] anandsuresh commented on #1197
@flovilmart No shit! Some people bear the weight of the world on their shoulders, it seems.

Checking those 2 threads, neither one seems to have any logs for the npm install process. It would help to get some logs to debug the issue.

[2016-04-02 03:49] flovilmart commented on #1197
@anandsuresh surreal right? had to report the guy, that's just unacceptable. Anyhow, I opened another thread, hope that will stay clean, and if we have more reports, I'll ping you.
Thanks for your time! really appreciated.

[2016-04-02 03:58] anandsuresh commented on #1197
No worries @flovilmart. Can you also add me as a follower on the new thread? Also, feel free to open an issue directly at https://github.com/Voxer/sse4_crc32/issues. Being a native dep, this has had some issues on different platforms from time-to-time. I'd love to ensure that this library works on all platforms/systems.

[2016-04-02 03:59] flovilmart commented on #1197
Just quoted you on the thread. If you need more logs just ping me :)

[2016-04-02 04:01] anandsuresh commented on #1197
@flovilmart I checked the gist and didn't see any logs that directly mentioned the SSE4_CRC32 build process. Just a line that says that it failed.

Is there any way we can get more detailed logs that would expose the errors from the build/install process for SSE4_CRC32? Alternately, can you please try running `npm install sse4_crc32` directly and post the logs?

[2016-04-02 04:02] flovilmart commented on #1197
https://gist.github.com/flovilmart/39c9720cc747b63ed2cfd20f3ff25056

[2016-04-02 04:06] flovilmart commented on #1197
wait a sec, that's maybe not you, maybe it's node-gyp that's not found on EB

[2016-04-02 04:08] flovilmart commented on #1197
Dummy me.... http://stackoverflow.com/questions/34084814/npm-error-when-deploying-nodejs-to-elastic-beanstalk

[2016-04-02 05:02] anandsuresh commented on #1197
@flovilmart Looking at the logs, it seems that `node-gyp` could be the missing dependency, but I can't be sure. The `ENOENT` errno returned by the `spawn` call seem to be the key log line to focus on.

[2016-04-02 05:09] flovilmart commented on #1197
Yup... So that don't seem to be on you, I noticed node-gyp and crc32 are as devDependencies, on your repo, that may imply that with NPM_CONFIG_PRODUCTION=true and running npm rebuild we'd miss the dependencies?

[2016-04-02 17:24] anandsuresh commented on #1197
`crc32` is used only for benchmarks. So I wouldn't worry about that. However, `node-gyp` needs to be present for the compilation to work, along with a C++ compiler.

I tested the process locally on my mac with `NPM_CONFIG_PRODUCTION=true` with no `node-gyp` installed, and the install process worked just fine. But then this could be indicative of some difference between our environments as well.

W

[2016-04-02 17:39] flovilmart commented on #1197
We're targeting node 4.3, and the corresponding npm version. The more it goes the more it seems to the Elastic Beanstalk toolchain, specifically with AMi / Centos 6. We don have other issues on heroku, nor Google App Engine and friends

[2016-04-04 18:26] #872 closed

[2016-04-04 18:26] #1049 closed

[2016-04-04 18:26] #1181 closed

[2016-04-04 22:20] stephenplusplus opened #1199 "Datastore + gRPC Travis errors"
We're getting a new error in Travis, but it cannot be reproduced locally:

[code]
https://travis-ci.org/GoogleCloudPlatform/gcloud-node/jobs/120723899#L5784

This is an error from gRPC saying that the object we're giving it is missing a required property from the proto file's Query message schema. The object that it's talking about goes through a few phases before it gets to gRPC, but it is first

[2016-04-04 23:02] mcfarljw opened #1200 "Unable to query more than 300 entities after updating to 0.30.0"
After updating from 0.29.0 to 0.30.0 one of my queries is now capped at returning 300 entities with no cursor. When I revert back to 0.29.0 it properly returns the limit of 1000. Any ideas why this might be happening?

[code]

[2016-04-04 23:05] stephenplusplus commented on #1200
@pcostell [here](https://github.com/GoogleCloudPlatform/gcloud-node/blob/cd0c3e98505c5e29004d063b37a8605b7230a504/lib/datastore/request.js#L458) is our logic for continuing to run queries -- does that look correct?

For reference, [here](https://github.com/GoogleCloudPlatform/gcloud-node/blob/807a61641401e375c72d59b0535eaebe4f8a7e5b/lib/datastore/request.js#L644) is our old logic.

[2016-04-04 23:09] stephenplusplus commented on #1200
Also @mcfarljw, we don't return a third argument to the callback with `runQuery`, it should just be `error` and `entities`, unless you disable autopagination:

[code]

[2016-04-04 23:12] pcostell commented on #1200
@stephenplusplus It looks like your end condition is wrong. It should be "NOT_FINISHED", not "MORE_RESULTS_AFTER_LIMIT"

[2016-04-04 23:13] stephenplusplus commented on #1200
Thanks! PR and patch incoming @mcfarljw -- thanks for reporting!

[2016-04-05 00:38] stephenplusplus commented on #1200
Fix is released under v0.30.1 -- please let me know if it works!

[2016-04-05 02:28] mcfarljw commented on #1200
Thanks for the quick responses! I just loaded up the latest patch v0.30.1, but I'm still not able to all the results that v0.29.0 was returning. _There seems to be something else going on here._

I've done a few more tests directly querying some of my entities with nothing more than a limit of 1000 set. Using v0.29.0 it always returns the requested limit, but when using v0.30.1 it returns a signif

[2016-04-05 02:49] stephenplusplus commented on #1200
I think I've found the problem, but I'll have to take a swing at it tomorrow-- sorry for the delay. I'll send a PR real quick with a rough idea of the solution.

[2016-04-05 10:05] jgeewax commented on #1084
@stephenplusplus Just bumping this back up. I went to the Datastore page on gcloud-node (https://googlecloudplatform.github.io/gcloud-node/#/docs/v0.30.1/datastore) and was sad.

I then went to the page for gcloud-ruby (http://googlecloudplatform.github.io/gcloud-ruby/#/docs/v0.7.2/gcloud/datastore), and was really happy...

Any idea when we can crank this out ?

Maybe @pcostell can help us point

[2016-04-05 10:11] jgeewax opened #1203 "Test docs for dead links"
On http://googlecloudplatform.github.io/gcloud-node/#/docs/v0.30.1/datastore/query

Looks like we moved these up a level (to the datastore instance) rather than defining datasets on their own.

Can we do two things:
1. ~~Fix the dead links?~~
2. Make sure that dead links are caught in the build?

[2016-04-05 10:36] jgeewax opened #1204 "Are we logging debug stuff accidentally?"
I have the following script:

[code]

When I run it I get this: (note there are no `console.log` calls in my script)

[code]

[2016-04-05 10:37] jgeewax commented on #1204
(Also note that this isn't coming from stderr.... it's stdout AFAICT)

[2016-04-05 10:40] jgeewax commented on #1204
I can't seem to find anything in gcloud-node, google-auto-auth, google-auth-library, or grpc/grpc/src/node .... But I'm not as adept at sleuthing as you guys...

[2016-04-05 10:58] stephenplusplus commented on #1204
It's from grpc: https://github.com/grpc/grpc/issues/5967#issuecomment-204460329. We need them to release a new version.

[2016-04-05 11:05] richardkazuomiller commented on #1203
This is in reference to the fact that we used to do it like this right?

[code]

[2016-04-05 11:35] stephenplusplus commented on #1203
Catching dead links would be awesome. I'll fix the Datastore links and switch the focus of this issue to creating a step in our build task that catches these for us.

@richardkazuomiller - it was indeed a breaking change: https://github.com/GoogleCloudPlatform/gcloud-node/releases/tag/v0.30.0, but this issue is just about fixing the links in our docs that point to the old `dataset` object.

[2016-04-05 11:40] stephenplusplus commented on #1084
I think we're just trying to figure out how the do this from a technical standpoint. The quickest resolution would be putting a bunch of HTML in the `@example` for the Datastore constructor.

@callmehiphop [ideas on how to proceed?](https://github.com/GoogleCloudPlatform/gcloud-node/issues/1084#issuecomment-200852112)

[2016-04-05 11:56] richardkazuomiller commented on #1203
Ah, I didn't see that. OK, looks like I have some refactoring to do lol

[2016-04-05 12:09] stephenplusplus commented on #1203
Sorry about that :disappointed: Feel free to tag us if we can help!

[2016-04-05 12:13] richardkazuomiller opened #1205 "Uncaught grpc error"
Not sure what's causing this error which crashes the process.

[code]

@stephenplusplus HALP!

[2016-04-05 12:14] stephenplusplus commented on #1205
I'm here, I'm here! Can you show the gcloud-node code that triggers this?

[2016-04-05 12:33] richardkazuomiller commented on #1205
It's hard to trace because the error stack trace doesn't show any of my code but I think I narrowed it down to this transaction
[code]

[2016-04-05 12:34] richardkazuomiller commented on #1205
This is the key path
[code]
and this is the entity
[code]

[2016-04-05 12:40] stephenplusplus commented on #1205
Reproduced. Working on a fix, I'll ping you when the PR is ready.

[2016-04-05 12:40] richardkazuomiller commented on #1205
Awesome. Thanks!

[2016-04-05 12:51] stephenplusplus commented on #1205
PR sent! #1206

[2016-04-05 13:32] jgeewax commented on #1203
Sorry @richardkazuomiller :( Definitely feel the pain. We're still in the 0.x phase, so things are much more volatile than they otherwise would be.

[2016-04-05 14:17] richardkazuomiller commented on #1203
@jgeewax No worries. I'll remember to check the releases page from now on (^^ゞ

[2016-04-05 14:21] stephenplusplus commented on #1203
@richardkazuomiller make sure your package.json has gcloud saved as a safe range. For example, if you have gcloud saved as "^0.29.0", only 0.29.y releases will be pulled down automatically, which won't contain any breaking changes. You'll have to manually install new 0.x releases, and the release notes will call out the breaking changes so you can be prepared.

[2016-04-05 14:36] richardkazuomiller commented on #1203
@stephenplusplus Thanks for the tip. I always set the exact version number I use without a `^` or `~` and don't change it until I know it won't break in production, so go ahead and break all you like (^_-)-☆

[2016-04-05 15:21] callmehiphop commented on #1084
I believe the ruby team actually just dumps a bunch of HTML in their [description](https://gist.github.com/callmehiphop/9f0ebbd3da466f27d1f2ecd80e5a43f7) tags. So we could definitely follow suit with some thing like this, or else treat all description fields as markdown, etc.

[2016-04-05 16:09] #1200 closed

[2016-04-05 16:11] #1205 closed

[2016-04-05 16:27] stephenplusplus commented on #1200
Assuming we fixed it for real this time, it's released in v0.30.2 :)

[2016-04-05 16:27] stephenplusplus commented on #1205
v0.30.2 released!

[2016-04-05 16:33] mcfarljw commented on #1200
I just tested it out again using `v0.30.2` and was able to query the expected number of entities. Thanks for addressing this in such a timely manner!

[2016-04-05 16:34] stephenplusplus commented on #1200
Phew! Thank you for reporting it, it was a huge oversight on my part.

:man:
:heavy_minus_sign:
:eyeglasses:

[2016-04-06 05:19] elgs opened #1207 "SPF parser bug fixed in package dns-zonefile"
Hello, I'm the maintainer of the package `dns-zonefile`. I saw this package is depending on a specific version (0.1.10) of `dns-zonefile`, which had serious bugs on parsing SPF and TXT records. The latest version has greatly improved the parsers and fixed all known bugs. Now it might be an option for you to update the dependency and move it on to the up to date version. Thanks.

[2016-04-06 11:24] jgeewax commented on #1207
Awesome! Thanks for the heads up @elgs

@stephenplusplus - can we take a look ?

[2016-04-06 16:48] callmehiphop commented on #1207
@elgs thanks for opening an issue about this! I upgraded locally, but the latest version of `dns-zonefile` is breaking [one of our e2e tests](https://github.com/GoogleCloudPlatform/gcloud-node/blob/master/system-test/dns.js#L204).

[code]

It would seem that some of the values we're testing for are being stripped out. Would you be able to provide me with any clues as to why this might be happening

[2016-04-06 17:37] mcfarljw opened #1208 "How are query start cursorTokens used?"
My application is using express and I'm having some troubles getting the latest `~0.30.0` releases to return a cursor value I can pass back to the client for usage. If I recall correctly the previous releases were using a base64 string. What kind of cursorToken should I be passing a start query now?

https://googlecloudplatform.github.io/gcloud-node/#/docs/v0.30.2/datastore/query?method=start

[co

[2016-04-06 18:10] mcfarljw commented on #1208
I've just spent a bit of time looking into the issue and did get it working. Here is what I came up with:

[code]

It might make things a bit more straightforward and easier to work with if the start method would accept both base64 and buffer parameters. It might also be convenient for the `nextQuery` to include a base64 version called endCursorToken and startCursorToken so that it matches up a bi

[2016-04-06 18:34] elgs commented on #1207
@callmehiphop I know what's wrong. That does not mean the old version is anywhere near correct, because in the old version, the `mx` in the SPF record could fool the parse to parse it as a mx record if SPF is parse first. I will fixed and get back here soon. Thanks.

[2016-04-06 19:28] stephenplusplus commented on #1208
I think we should just go back to only accepting base64 strings and skip buffers altogether. Any interest in putting a PR together?

[2016-04-06 19:37] mcfarljw commented on #1208
I'll take a shot at making a PR for this and see what happens.

[2016-04-06 19:38] stephenplusplus commented on #1208
Thanks! Feel free to send it in even if it's not perfect. I can always help with the grunt work (code style, tests, etc).

[2016-04-06 23:09] elgs commented on #1207
@callmehiphop I have released `dns-zonefile v0.1.18', which should have fixed the SPF parser problem. This release introduced a zone file resource record normalizer which eliminated assumptions of record format and sticks to the RFC1035. Would you please help run your test again and let me know if it works. Thanks.

[2016-04-06 23:38] callmehiphop commented on #1207
@elgs that appears to have fixed it, thanks! I'll make a PR to bump the version of `dns-zonefile` shortly. Thanks again for opening this issue and for the quick fix! :+1:

[2016-04-06 23:45] elgs commented on #1207
Sure. Thanks @callmehiphop.

[2016-04-06 23:45] #1207 closed

[2016-04-07 02:37] #1199 closed

[2016-04-07 07:18] idosh opened #1213 "Disable Request Logging"
Every request prints out logs about the request details, service url and the bearer token.
Anyway to disable?

[2016-04-07 08:12] stephenplusplus commented on #1213
Duplicate: #1204

It's coming from a dependency, so no way to disable until they cut a new release, unfortunately.

[2016-04-07 08:12] #1213 closed

[2016-04-07 12:16] stephenplusplus commented on #1208
Fixed via a80ff9b0b98dc5e8d2844dfcf00b65cf3ce87420

[2016-04-07 12:16] #1208 closed

[2016-04-07 15:23] #1196 closed

[2016-04-08 18:48] jmdobry opened #1217 "Support for Node.js v0.10 dropped?"
[0.29.0 introduced grpc support](https://github.com/GoogleCloudPlatform/gcloud-node/commit/1bcc94d83691111c5c98c919071c254a4c070450), and [`grpc` requires Node.js >= 0.12.0](https://github.com/grpc/grpc/blob/master/package.json#L48), so now [gcloud-node doesn't install on Node v0.10](https://travis-ci.org/GoogleCloudPlatform/nodejs-getting-started/jobs/121754662). 😦
Probably best to document this?

[2016-04-08 18:52] susanlinsfu opened #1218 "Read consistency support for Datastore"
It would be great if we could specifiy the read consitency like the java sdk can for google datastore.

[2016-04-08 19:00] stephenplusplus commented on #1217
We should put it in package.json.engines. So far, the versions we support hasn't been explicit or an issue. With 2 other stable releases since 0.12, (4 and 5), it should be safe to abandon 0.10. While 25 may be downloading v0.10, it's not a mirrored representation of the users who `gcloud-node` attracts. Going by the logic it hasn't been reported so far, I don't expect a big shock by standing firm

[2016-04-08 19:01] stephenplusplus commented on #1218
Sounds good to me! Any interest in working on a PR?

[2016-04-08 22:40] jakeorr opened #1219 "Bigquery BOOLEAN data type conversion bug"
I'm running a query on a BigQuery table. The table includes a BOOLEAN field and has records where the field is `false`. Running `bigQuery.query(query)`with this library results in every record having its boolean variable set to `true`. The culprit is [this line](https://github.com/GoogleCloudPlatform/gcloud-node/blob/c38c548240257625b6a62342eeb3606479cd04a5/lib/bigquery/table.js#L225):

[code]

`v

[2016-04-08 22:43] stephenplusplus commented on #1219
Yes! I just caught this today in #1216. We'll do a release after that lands.

[2016-04-08 22:43] jakeorr commented on #1219
Awesome, thanks!

[2016-04-08 23:56] tbetbetbe commented on #91
FYI googleapis folks: @anthm, @vsubramani@, @rok987

[2016-04-09 05:56] susanlinsfu opened #1220 "Local Datastore problems since version 0.30.0"
Using a version prior to version 0.30.0 everything worked. This is how I would insert a record into my local datastore:

[code]

The record would show up in the datastore.

I then updated to version 0.30.0 (tried also the newest and the same issue occurred). When I try to connect and insert/get (any operation) an entity I am unable to. I get the following error from my nodejs console:

The code I

[2016-04-09 12:26] stephenplusplus commented on #1220
See the [Important things](https://github.com/GoogleCloudPlatform/gcloud-node/releases/tag/v0.30.0) section from the release notes.

@pcostell is there any documentation around using the gcd.sh emulator?

[2016-04-09 14:53] dhermes commented on #1220
We just went through this in `gcloud-python`. The issue is the path contains an extra `datastore`. I'm AFK but will try to get you the PR where I fixed it

[2016-04-09 14:53] dhermes commented on #1220
https://github.com/GoogleCloudPlatform/gcloud-python/pull/1709

[2016-04-09 14:57] stephenplusplus commented on #1220
Oh, cool. Thanks! Will this work with the gcloud SDK emulator or is the gcd.sh still required?

[2016-04-09 16:03] pcostell commented on #1220
IIRC, node uses gRPC, right?

gRPC is not built into the emulator that ships with the gcloud command line
tool. I'm working on getting all of this fixed, but until then people can
use a special gRPC only gcd.sh tool:
https://storage.googleapis.com/gcd/tools/gcd-grpc-1.0.0.zip

On Sat, Apr 9, 2016, 7:57 AM Stephen Sawchuk <notifications@github.com>
wrote:

[2016-04-09 16:04] stephenplusplus commented on #1220
We do use gRPC, yes. I was just wondering if there was any documentation that we can point folks to after they download the .sh file.

[2016-04-09 16:06] pcostell commented on #1220
Ah sorry didn't see the important not sections. You still need the special
tool, but you shouldn't have to mess with the path like anyone using
proto-over-http.

Sorry, we are working on either better docs and getting it into gcloud CLI,
but it is moving slower than expected.

On Sat, Apr 9, 2016, 9:03 AM Patrick Costello <pcostello@google.com> wrote:

[2016-04-09 16:08] stephenplusplus commented on #1220
No problem, thanks for clarifying.

@susanlinsfu I'm going to close the issue, but if you run into any issues using the gcd.sh emulator, feel free to ask any questions here.

[2016-04-09 16:08] #1220 closed

[2016-04-09 16:39] susanlinsfu commented on #1220
Thanks. I got it running with gcd.sh tool and it is working now, but noticed there is no admin tool? I ran http://localhost:8080/_ah/admin and nothing was found. Does the admin console exist with this tool?

Cheers

[2016-04-09 16:49] pcostell commented on #1220
Unfortunately it does not yet have an admin page.

If you need it, you *can* turn off gcd then point the version of gcd in the
emulator against your directory and use that viewer. They share the same
underlying data storage system, but you shouldn't run them at the same time
as they will likely try to over we rite each other.

Some technical background: the old gcd.sh tool (and in fact the product

[2016-04-09 16:50] susanlinsfu commented on #1220
Thank you for the explanation!

[2016-04-10 00:17] paulshapiro opened #1221 "Frequent Code 500 "Backend Error""
I've been doing many thousands of uploads of images to Google Cloud Storage and have just now started to get elevated rates of 500 responses (message of "Backend Error". Not sure what's going on. I keep re-running the script and seems to keep failing. It's not clear to me if there's an issue with a specific file I'm attempting to upload (I haven't isolated it to a single file), etc., and I haven't

[2016-04-10 00:23] paulshapiro commented on #1221
Quick update; I have a little shell script set up which re-runs the upload script, and it keeps snagging very early on. Could be some issue on the server?

[2016-04-10 00:33] stephenplusplus commented on #1221
Thanks for reporting. A sample script to reproduce would be helpful. I'll try to throw something together as soon as I can, but feel free to beat me to it.

Is this still an issue on any previous version of gcloud?

It might be worth trying disabling resumable uploads and validation during the upload.

[2016-04-10 00:49] paulshapiro commented on #1221
I'd had validation disabled but hadn't had resumable actually set to false -- looks like that was the ticket! By the way, it was indeed failing on the same image over and over again. I was doing an http.get(…) piping the response directly to the gcloud write stream. The get URL was 'http://www.moma.org/media/W1siZiIsIjExNTEzIl0sWyJwIiwiY29udmVydCIsIi1yZXNpemUgMjAwMHgyMDAwXHUwMDNlIl1d.jpg?sha=ffa3e

[2016-04-11 13:35] stephenplusplus commented on #1221
Yeah, the way we support resumable uploads can cause some trouble in certain scenarios. We persist a file in `~/.config` that records metadata about each resumable upload that is started.

Most of the time, everything just works, but in cases where the same file is being written to frequently, the chance for a mismatch in state between the Storage API and gcloud-node goes up. This could confuse th

[2016-04-11 13:35] #1221 closed

[2016-04-11 14:29] #1217 closed

[2016-04-11 14:49] #1219 closed

[2016-04-11 17:35] callmehiphop commented on #707
It would appear that HBase is not very popular in the Node world, so we've decided that we'll roll our own API instead of leveraging existing libraries.

[2016-04-11 17:35] #707 closed

[2016-04-11 19:38] #1163 closed

[2016-04-12 21:56] susanlinsfu commented on #1218
I don't believe I am a good enough coder to implement this myself.

[2016-04-12 23:02] paulshapiro opened #1225 "Google Cloud deployment issue with gcloud dependency"
Not sure if this is relevant specifically to gcloud, but it looks like it may be, so I figured I would ask here.

We've deployed our app successfully to Google App Engine a number of times already, but recently after adding gcloud as a dependency, deployment does not succeed. It looks like there may be an issue with the available Node version or something similar.

Upon deployment we get an error

[2016-04-12 23:06] stephenplusplus commented on #1225
I usually see that error when I switch node versions, then try to run the app. npm rebuild or removing the node_modules directory and running npm install again ensures any native dependencies are compiled correctly for the active version of Node. Is there a mismatch in versions between your staging and production environments?

[2016-04-12 23:17] paulshapiro commented on #1225
I haven't switched Node versions since our earlier successful attempts... and I didn't think I needed to manage node versions manually on App Engine (thought that was one of the points of it)…… but the package.json we're using has specified the same node version the whole time:

[code]

Could it be that I need to delete some VM or something on the App Engine dashboard and deploy again?

To see if

[2016-04-12 23:22] stephenplusplus commented on #1225
Unfortunately, I'm not very well versed in the App Engine + Node relationship. @jonparrot any insight?

[2016-04-12 23:37] stephenplusplus commented on #1225
Also cc @jmdobry.

[2016-04-12 23:46] jonparrott commented on #1225
Cloud Shell's version is unrelated to the version in the runtime.

I'm not sure about the error. @jmdobry might be able to help.

[2016-04-12 23:46] jmdobry commented on #1225
@paulshapiro Cloud Shell isn't actually a shell into the machine running your App Engine app, it's just a preconfigured environment where can run gcloud commands, so it won't tell what version of node your app is running on. Your app should be running on a version of Node that satisfies `>=5.9.1`.